<span class="status publication-status {{if @item.isPublished "published" "notpublished"}}">
  <span data-test-text>
    {{#if @item.isPublished}}
      {{t "general.finalized"}}
    {{else}}
      {{t "general.draft"}}
    {{/if}}
  </span>
</span>
