<span
  class="status publication-status {{if @item.isFinalized "published" "notpublished"}}"
  data-test-curriculum-inventory-report-publication-status
>
  <span data-test-text>
    {{#if @item.isFinalized}}
      {{t "general.finalized"}}
    {{else}}
      {{t "general.draft"}}
    {{/if}}
  </span>
</span>
