@mixin ilios-heading () {
  color: $header-blue;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@mixin ilios-heading-h1() {
  @include ilios-heading;
  font-size: $h1-font-size;
}

@mixin ilios-heading-h2() {
  @include ilios-heading;
  font-size: $h2-font-size;
}

@mixin ilios-heading-h3() {
  @include ilios-heading;
  font-size: $h3-font-size;
}

@mixin ilios-heading-h4() {
  @include ilios-heading;
  font-size: $h4-font-size;
}

@mixin ilios-heading-h5() {
  @include ilios-heading;
  font-size: $h5-font-size;
}

@mixin ilios-heading-h6() {
  @include ilios-heading;
  font-size: $h6-font-size;
}
