{{#if versionMismatch}}
  {{#modal-dialog
    alignmentTarget="body"
    attachment="middle center"
    overlayClass="api-version-check-warning"
    containerClass="api-version-check-container"
    tetherTarget="body"
    animatable=false
  }}
    <div class="content">
      <h1>{{t "general.apiVersionMismatch"}}</h1>
      <p>{{t "general.apiVersionMismatchDetails"}}</p>
    </div>
  {{/modal-dialog}}
{{/if}}
