<section class='detail-block collapsed'>
  <div class='detail-title clickable'  {{action (action this.attrs.expand)}}>
    {{t 'general.competencies'}} ({{subject.competencies.length}})
  </div>
</section>
