{{#editable-field
  value=title
  save=(perform save)
  close=(action 'revert')
  as |isSaving save close|
}}
  {{one-way-input
    value=title
    update=(action (mut title))
    onenter=save
    onescape=close
    disabled=isSaving
    focusOut=(action 'addErrorDisplayFor' 'title')
  }}
{{/editable-field}}
{{#if (and (v-get this 'title' 'isInvalid') (is-in showErrorsFor 'title'))}}
  <span class="validation-error-message">{{v-get this 'title' 'message'}}</span>
{{/if}}
