<div class='detail-view'>
  <div class='detail-view-main-title'>
    {{curriculum-inventory-report-header report=report}}
  </div>
  <div class='detail-view-details'>
    {{curriculum-inventory-report-overview report=report}}
  </div>
</div>
