{{#if sortedReports.length}}
    <div class='dashboard-block-header'>
        {{t 'dashboard.myReports'}}
        {{expand-collapse-button value=myReportEditorOn action="toggleEditor"}}
    </div>

    <div class='dashboard-block-body'>
        <table>
            <tbody>
            {{#each sortedReports as |report|}}
                <tr class='clickable'>
                  <td>{{fa-icon 'external-link-square'}} {{report.title}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}