{{#if sortedInstructorGroups.length}}
  <h4>{{t 'general.instructorGroups'}}</h4>
  <ul data-test-instructor-groups>
    {{#each sortedInstructorGroups as |instructorGroup|}}
      <li>
        {{instructorGroup.title}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if sortedInstructors.length}}
  <h4>{{t 'general.instructors'}}</h4>
  <ul data-test-instructors>
    {{#each sortedInstructors as |user|}}
      <li>
        {{user.fullName}}
      </li>
    {{/each}}
  </ul>
{{/if}}
