<ul class='inline-list'>
  {{#each sortedLearnerGroups as |learnerGroup|}}
    <li>
      <em>
        {{separated-list icon='angle-right' list=learnerGroup.allParentTitles}}
      </em>
      <strong>
        {{learnerGroup.title}}
      </strong>
    </li>
  {{/each}}
</ul>
