<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.competencies'}} ({{course.competencies.length}})
  </div>
  <div class='detail-content'>
    <ul class='static-list'>
      {{#each domain in course.domains}}
        <li>{{domain.title}}
          <ul>
            {{#each competency in domain.subCompetencies}}
              <li>{{competency.title}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
