<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.mesh'}} ({{terms.length}})
  </div>
  <div class='detail-content'>
    {{mesh-manager add='add' remove='remove' terms=terms}}
  </div>
</section>
