<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.mesh'}} ({{terms.length}})
  </div>
  <div class='detail-content'>
    {{mesh-manager addTerm='add' removeTerm='remove' terms=terms}}
  </div>
</section>
