{{#if sortedInstructorGroups.length}}
  <h3>{{t 'general.instructorGroups'}}</h3>
  <ul class='inline-list'>
    {{#each sortedInstructorGroups as |instructorGroup|}}
      <li>
        {{instructorGroup.title}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if sortedInstructors.length}}
  <h3>{{t 'general.instructors'}}</h3>
  <ul class='inline-list'>
    {{#each sortedInstructors as |user|}}
      <li>
        {{user.fullName}}
      </li>
    {{/each}}
  </ul>
{{/if}}
