<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.competencies'}} ({{course.competencies.length}})
  </div>
  <div class='detail-content'>
    <ul class='static-list'>
      {{#each course.domains as |domain|}}
        <li>{{domain.title}}
          <ul>
            {{#each domain.subCompetencies as |competency|}}
              <li>{{competency.title}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
