{{#if event}}
  <span class='ilios-event-time'>
    <span class='ilios-event-start'>
      {{moment event.startDate 'H:mma'}}
    </span>
    <span class='ilios-event-end'>
      - {{moment event.endDate 'H:mma'}}
    </span>
  </span>
  <span class='ilios-event-location'>
    {{event.location}}:
  </span>
  <span class='ilios-event-name'>
    {{event.name}}
  </span>
{{/if}}
