{{#link-to "dashboard" classNames="logo" title=(t "general.dashboard")}}
  <h1 class="visually-hidden">
    {{t "general.ilios"}}
  </h1>
  <span class="image"></span>
{{/link-to}}
<h1>{{title}}</h1>
<div class="tools">
  {{locale-chooser}}
  {{#if session.isAuthenticated}}
    {{user-menu}}
  {{/if}}
</div>
