{{#if (and event (is-fulfilled courseObjectives) (is-fulfilled courseLearningMaterials) (is-fulfilled sessionObjectives) (is-fulfilled sessionLearningMaterials))}}
  <div class='ilios-event-print-course'>
    {{#if course.isPublishedOrScheduled}}
      {{#link-to 'printCourse' course}}
        <button>{{t 'general.printSummary'}}</button>
      {{/link-to}}
    {{/if}}
  </div>
  {{ilios-calendar-single-event
    courseTitle=(get (await course) 'title')
    sessionTitle=(await sessionTitle)
    description=(await description)
    offeredAtPhrase=(t 'general.offeredAt' date=(moment-format event.startDate 'dddd, MMMM Do YYYY, h:mm a'))
    location=event.location
    taughtByPhrase=taughtBy
    sessionIsPhrase=(await sessionIs)
    courseObjectivesPhrase=(t 'general.courseObjectives')
    courseLearningMaterialsPhrase=(t 'general.courseLearningMaterials')
    courseObjectives=(await courseObjectives)
    courseLearningMaterials=(await courseLearningMaterials)
    sessionObjectivesPhrase=(t 'general.sessionObjectives')
    sessionLearningMaterialsPhrase=(t 'general.sessionLearningMaterials')
    sessionObjectives=(await sessionObjectives)
    sessionLearningMaterials=(await sessionLearningMaterials)
    requiredPhrase=(t 'general.required')
    noContentPhrase=(t 'general.none')
    lastModified=event.lastModified
    attireRequired=(get (await session) 'attireRequired')
    attireRequiredPhrase=(t 'general.specialAttireIs_Required_')
    equipmentRequired=(get (await session) 'equipmentRequired')
    equipmentRequiredPhrase=(t 'general.specialEquipmentIs_Required_')
    attendanceRequired=(get (await session) 'attendanceRequired')
    attendanceRequiredPhrase=(t 'general.attendanceIs_Required_')
    groupByCompetencies=(t 'general.groupByCompetencies')
    listByPriorityPhrase=(t 'general.listByPriority')
  }}
{{else}}
  {{pulse-loader}}
{{/if}}
