{{#if event}}
  <div class='ilios-event-print-course'>
    {{#if course.isPublishedOrScheduled}}
      {{#link-to 'printCourse' course}}
        <button>{{t 'general.printSummary'}}</button>
      {{/link-to}}
    {{/if}}
  </div>
  {{ilios-calendar-single-event
    courseTitle=course.title
    sessionTitle=sessionTitle.content
    description=description.content
    offeredAtPhrase=offeredAt
    taughtByPhrase=taughtBy.content
    sessionIsPhrase=sessionIs.content
    courseObjectivesPhrase=courseObjectivesPhrase
    courseLearningMaterialsPhrase=courseLearningMaterialsPhrase
    courseObjectives=courseObjectives
    courseLearningMaterials=courseLearningMaterials
    sessionObjectivesPhrase=sessionObjectivesPhrase
    sessionLearningMaterialsPhrase=sessionLearningMaterialsPhrase
    sessionObjectives=sessionObjectives
    sessionLearningMaterials=sessionLearningMaterials
    requiredPhrase=requiredPhrase
    noContentPhrase=noContentPhrase
  }}
{{/if}}
