{{#if event}}
  {{#tool-tipster title=toolTipMessage contentAsHTML=true}}
    <span class='ilios-event-time'>
      <span class='ilios-event-start'>
        {{moment-format event.startDate 'h:mma'}}
      </span>
      <span class='ilios-event-end'>
        - {{moment-format event.endDate 'h:mma'}}
      </span>
    </span>
    <span class='ilios-event-location'>
      {{event.location}}:
    </span>
    <span class='ilios-event-name'>
      {{event.name}}
    </span>
  {{/tool-tipster}}
{{/if}}
