<header class="main">
  {{#link-to "dashboard" classNames="logo"}}
      <img src='images/ilios-logo.png' {{translateAttr alt="navigation.logo"}} {{translateAttr title="navigation.dashboard"}} />
  {{/link-to}}
  <div class="tools">
    <div class='user'>
      {{#action-menu title=userName icon='user' classNameBindings=':user-menu'}}
        <li>{{t "navigation.logout"}}</li>
      {{/action-menu}}
    </div>
  </div>
  <h1>{{title}}</h1>
</header>
