<header class="main">
  {{#link-to "dashboard" classNames='logo'}}
    <span class='image' />
    <span class='visually-hidden'>
      {{t 'navigation.dashboard'}}
    </span>
  {{/link-to}}
  <div class="tools">
    {{#if session.isAuthenticated}}
      <div class='user'>
        {{#action-menu title=userName icon='user' classNameBindings=':user-menu'}}
          <li {{action 'logout'}}>{{t "auth.logout"}}</li>
        {{/action-menu}}
      </div>
    {{/if}}
  </div>
  <h1>{{title}}</h1>
</header>
