<section class='detail-block'>
  <div class='detail-title'>
    {{t 'general.learningMaterials'}} ({{materials.length}})
  </div>
  <div class='detail-content'>
    list learning materials
  </div>
  <div class='detail-actions'>
    <button class='add'>{{t 'general.addNew'}}</button>
  </div>
</section>
