<span class='content'>
  <span class='editor'>
    <span {{action 'toggleValue'}} class='control form-data switch yes-no switch-green'>
      <input checked={{workingValue}} type='checkbox' class="switch-input" />
      <span class="switch-label" data-on='{{t 'general.yes'}}' data-off='{{t 'general.no'}}'></span>
      <span class="switch-handle"></span>
    </span>
  </span>
</span>
