{{#each userProxy in proxiedMembers}}
  <div class="form-col-6 learnergroup-username">
    <div class="form-data">{{userProxy.fullName}}</div>
  </div>
  <div class="form-col-6 learnergroup-group-membership">
    <div class="form-data">
      {{inplace-select
        value=userProxy.lowestGroupInTree.id
        options=learnerGroupOptions
        save='changeLearnerGroup'
        condition=userProxy.id
        displayValueOverride=userProxy.groupDisplayValueString
      }}
    </div>
  </div>
{{/each}}
