{{fa-icon 'spinner' spin=true class='spinner'}}
{{! template-lint-disable unused-block-params }}
{{#each (repeat linesMinusOne) as |empty|}}
  <div class="line"></div>
{{/each}}
<div class="line last"></div>
