<div class='detail-view program-detail-view'>
  <div class='detail-view-main-title'>
      {{program-header program=program}}
  </div>
  <div class='detail-view-details'>
    {{program-overview program=program}}
  </div>
</div>
