<ul class='columnar-list'>
  {{#if sortedCompetencies.isFulfilled}}
    {{#each sortedCompetencies as |competency|}}
      <li>{{competency.title}}</li>
    {{/each}}
  {{else}}
    <li>{{fa-icon 'spinner' spin=true}}</li>
  {{/if}}
</ul>
