{{#if domains.length}}
  <ul>
    {{#each (sort-by 'title' domains) as |domain|}}
      <li>
        {{domain.title}}
        <ul>
          {{#each (sort-by 'title' (await domain.children)) as |competency|}}
            <li>{{competency.title}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
{{/if}}
