<div class="session-type-title">{{sessionType.title}}</div>

{{school-session-type-form
  title=(readonly sessionType.title)
  calendarColor=(readonly sessionType.calendarColor)
  assessment=(readonly sessionType.assessment)
  assessmentOption=(readonly (await sessionType.assessmentOption))
  assessmentOptions=(await assessmentOptions)
  canEditTitle=(eq sessionType.sessionCount 0)
  canEditCalendarColor=true
  canEditAssessment=(eq sessionType.sessionCount 0)
  canEditAssessmentOption=(eq sessionType.sessionCount 0)
  save=(perform save)
  close=close
}}
