{{one-way-search
  value=value
  update=(action 'update')
  onenter=(perform searchTask)
  onescape=(action 'clear')
  placeholder=placeholder
}}
<span class="search-icon" onclick={{pipe-action (action "focus") (perform searchTask)}}>
  {{fa-icon 'search'}}
</span>
