{{#each (sort-by 'title' terms) as |term|}}
  <li class="{{if term.isTopLevel 'top-level'}}">
    {{selectable-terms-list-item selectedTerms=selectedTerms term=term add='add' remove='remove'}}
    {{#if term.hasChildren}}
      {{selectable-terms-list selectedTerms=selectedTerms terms=(await term.children) add='add' remove='remove'}}
    {{/if}}
  </li>
{{/each}}
