{{#each vocabularies as |vocab| }}
  {{detail-terms-list
    vocabulary=vocab
    terms=selectedTerms
    canEdit=true
    remove='remove'
  }}
{{/each}}

<select>
{{#each subject.schools as |school|}}
    {{#each school.vocabularies as |vocab|}}
        <option>{{vocab.title}} ({{school.title}})</option>
    {{/each}}
{{/each}}
</select>
