<input class='switch-input' type='checkbox' checked={{switchValue}} />
<span {{action 'click'}} class="switch-label" data-on='{{t onLabel}}' data-off='{{t offLabel}}'></span>
<span class="switch-handle"></span>
