<div id='mycoursesfilter' class="filter">
  <label class='switch switch-green switch-wide' {{action 'toggleMyCourses'}}>
    <input class='switch-input' checked={{isChecked}} type='checkbox' />
    <span class="switch-label" data-on='{{t 'general.myCourses'}}' data-off='{{t 'courses.allCourses'}}'></span>
    <span class="switch-handle"></span>
  </label>
</div>
