<input checked={{yes}} type="checkbox" class="switch-input" disabled="disabled">
<span class="switch-label" data-on="{{t "general.yes"}}" data-off="{{t "general.no"}}"></span>
<span class="switch-handle"></span>
