{{! template-lint-disable attribute-indentation }}
{{#if (or isIcon (gt (get (await vocabulariesWithLinkedTerms) "length") 0))}}
  {{#simple-chart
    name="pie"
    isIcon=isIcon
    data=(await vocabulariesWithLinkedTerms)
    click=(action "donutClick")
    hover=(perform donutHover)
    leave=(perform donutHover)

    as |chart|
  }}
    {{#if tooltipContent}}
      {{#chart.tooltip title=tooltipTitle}}
        {{tooltipContent}}
      {{/chart.tooltip}}
    {{/if}}
  {{/simple-chart}}

{{else}}
  <div class="with-hours">
    <h4>{{fa-icon "meh" class="meh-o"}}</h4>
  </div>
{{/if}}
