<div class="wrapper">
  <div class="text">
    {{#if translationKey}}
      {{t translationKey}} ...
    {{else}}
      &nbsp;
    {{/if}}
  </div>
  <div class='widget'>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
