<div class="wrapper">
  <div class="text">{{t 'general.loading'}} ...</div>
  <div class='widget'>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
