<section id='session-details' class='full-width session-details'>
  <div class="backtolink">{{#link-to 'course' courseController.model}}{{t 'sessions.backToSessionList'}}{{/link-to}}</div>
  {{session-details
    session=model
    course=courseController.model
    programs=courseController.programs
    sessionTypes=sessionController.sessionTypes
  }}
</section>
