<div class='detail-view session-publicationcheck-detail-view'>
  <div class='detail-view-details'>
    {{session-overview
      course=courseController.model
      session=sessionController.model
      showCheckLink=false
      sessionTypes=sessionController.sessionTypes
    }}

    <div class='back-to-session'>
      {{#link-to 'session.index' courseController.model sessionController.model}}
        {{fa-icon 'rotate-left'}} {{t 'general.backToTitle' title=sessionController.model.title}}
      {{/link-to}}
    </div>

    {{session-publicationcheck session=sessionController.model}}
  </div>
</div>
