<div class='detail-view session-publicationcheck-detail-view'>
  <div class='detail-view-details'>
    {{session-overview
      course=(await model.course)
      session=model
      showCheckLink=false
      sessionTypes=(await model.course.school.sessionTypes)
    }}

    <div class='back-to-session'>
      {{#link-to 'session.index' (await model.course) model}}
        {{fa-icon 'rotate-left'}} {{t 'general.backToTitle' title=model.title}}
      {{/link-to}}
    </div>

    {{session-publicationcheck session=model}}
  </div>
</div>
