@mixin admin-blocks () {
  @include for-laptop-and-up {
    @include span-columns(12);
  }

  .small-component,
  .large-component {
    @include fill-parent;
    background-color: $grey;
    border: 1px solid $black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 1em;
    min-height: 5em;
    padding: .25em 2em .75em;

    &.alert {
      background-color: $white;
      border: 3px solid $ilios-yellow;
    }

    h2 {
      @include ilios-heading;
      font-size: 1.25 * $base-font-size;
      margin-bottom: 1em;
    }

    p {
      @include fill-parent;
      clear: both;
      margin-top: 1em;
    }

    button {
      font-size: $base-font-size;
    }

    .title {
      @include fill-parent;
      text-align: center;

      @include for-laptop-and-up {
        text-align: left;
      }
    }

    .actions {
      margin: 1em 0;
      text-align: center;

      @include for-laptop-and-up {
        @include omega();
        margin: 0;
        text-align: right;
      }
    }
  }

  .small-component {
    font-size: .75 * $base-font-size;

    @include for-laptop-and-up {
      @include span-columns(6 of 12);
    }

    &.last {
      @include omega();
    }

    .title {
      @include for-laptop-and-up {
        @include span-columns(3 of 6);
      }
    }

    .actions {
      @include for-laptop-and-up {
        @include span-columns(3 of 6);
        @include omega();
      }
    }
  }

  .large-component {
    @include omega;
    clear: both;

    .title {
      @include fill-parent;
      text-align: center;

      @include for-laptop-and-up {
        @include span-columns(6 of 12);
        text-align: left;
      }
    }

    .actions {
      margin: 1em 0;
      text-align: center;

      @include for-laptop-and-up {
        @include span-columns(6 of 12);
        @include omega();
        margin: 0;
        text-align: right;
      }
    }
  }

  .has-saved {
    background-color: lighten($ilios-green, 30%);
    transition: background-color .5s ease-out;
  }

  .has-not-saved {
    background-color: transparent;
    transition: background-color 1s ease-in;
  }
}
