@mixin admin-blocks () {
  display: grid;
  grid-gap: .5rem;

  @include for-laptop-and-up {
    grid-template-columns: 1fr 1fr;
  }

  .small-component,
  .large-component {
    background-color: $grey;
    border: 1px solid $black;
    border-radius: 5px;
    margin-bottom: 1rem;
    min-height: 5rem;
    padding: .5rem;

    &.alert {
      background-color: $white;
      border: 3px solid $ilios-yellow;
    }

    h2 {
      margin-bottom: 1rem;
    }

    p {
      clear: both;
      margin-top: 1rem;
    }

    button {
      font-size: 1rem;
    }

    .inline-data {
      display: inline;
    }
  }

  .large-component {
    grid-column: 1 / -1;
  }

  .has-saved {
    background-color: lighten($ilios-green, 30%);
    transition: background-color .5s ease-out;
  }

  .has-not-saved {
    background-color: transparent;
    transition: background-color 1s ease-in;
  }
}
