@mixin collapsed-container ($border-color) {
  @include detail-container($border-color);
  display: grid;

  @include for-tablet-and-up {
    grid-row-gap: .5rem;
    grid-template-columns: 1fr 4fr;
  }
}

@mixin collapsed-container-title () {
  color: $text-blue;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

  &::after {
    content: '\25BA';
  }
}

@mixin collapsed-container-content () {
  @include for-laptop-and-up {
    margin: 0;
    padding-top: 0;
  }
}

@mixin collapsed-container-table () {
  @include ilios-table-structure;
  @include ilios-table-colors;
  font-size: .8rem;

  table,
  tr,
  td,
  th {
    margin: 0;
    padding: 0;
  }

  td,
  th {
    padding: 0 0 .5rem .5rem;
    vertical-align: top;
  }

  td:first-of-type,
  th:first-of-type {
    padding-left: 0;
  }

  thead {
    background-color: $header-blue;
    color: $white;
  }

  td:first-of-type {
    color: $ilios-orange;
    font-weight: bold;
  }

  .maybe {
    color: $warning-color;
  }
}
