@mixin collapsed-container ($border-color) {
  @include detail-container($border-color);
}

@mixin collapsed-container-title () {
  @include fill-parent;
  color: $text-blue;
  cursor: pointer;
  font-size: $base-font-size;
  font-weight: bold;

  &::after {
    content: '\25BA';
  }

  @include for-laptop-and-up {
    @include span-columns(3 of 12);
  }
}

@mixin collapsed-container-content () {
  @include fill-parent;
  padding-top: 2em;

  @include for-laptop-and-up {
    @include span-columns(9 of 12);
    @include omega;

    margin: 0;
    padding-top: 0;
  }
}

@mixin collapsed-container-table () {
  @include fill-parent;
  font-size: .8em;

  table,
  tr,
  td,
  th {
    margin: 0;
    padding: 0;
  }

  td,
  th {
    padding: 0 0 .5em .5em;
    vertical-align: top;
  }

  td:first-of-type,
  th:first-of-type {
    padding-left: 0;
  }

  thead {
    background-color: $header-blue;
    color: $white;
  }

  td:first-of-type {
    color: $ilios-orange;
    font-weight: bold;
  }
}
