@mixin dashboard-block () {
  border: 1px solid $ilios-blue;
  margin-top: 1rem;
  width: 100%;

  @include for-laptop-and-up {
    width: 49%;
  }

  .dashboard-block-header {
    align-items: center;
    background-color: $grey;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    h3 {
      @include ilios-heading-h3;
      color: $ilios-orange;
    }
  }

  .dashboard-block-body {
    height: 30rem;
    overflow-y: scroll;
  }
}
