@mixin dashboard-block () {
  @include span-columns(6 of 12);
  border: 1px solid $ilios-blue;
  margin-top: 1em;

  .dashboard-block-actions {
    float: right;
  }

  .dashboard-block-header {
    background-color: $grey;
    color: $ilios-orange;
    font-weight: bold;
    padding: .5em;
  }

  .dashboard-block-body {
    height: 30em;
    overflow-y: scroll;
  }
}
