@mixin dashboard-block () {
  border: 1px solid $blueMunsell;
  flex-grow: 1;

  .dashboard-block-header {
    align-items: center;
    background-color: $culturedGrey;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    h3 {
      @include ilios-heading-h3;
      color: $orange;
    }
  }

  .dashboard-block-body {
    height: 30rem;
    overflow-y: scroll;
  }
}
