@mixin detail-container ($bottom-border-color) {
  border-bottom: 1px dotted $bottom-border-color;
  margin: 0;
  min-height: 2em;
  padding: 1em 0;
}

@mixin detail-container-title-style () {
  color: $text-blue;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  @include for-laptop-and-up {
    text-align: left;
  }


  &.collapsible {
    &::after {
      content: '\25BC';
    }
  }

  &.collapsed {
    &::after {
      content: '\25BA';
    }
  }
}

@mixin detail-container-header () {
  display: flex;
  justify-content: space-between;

  @include for-phone-only {
    flex-wrap: wrap;
  }
}

@mixin detail-container-title () {
  @include detail-container-title-style;
}

@mixin detail-container-actions () {
  display: flex;
  justify-content: space-around;

  & > * {
    margin-right: .5em;
  }

  .bigadd {
    background-color: $ilios-green;
    color: $white;
  }

  .bigcancel {
    background-color: $ilios-red;
    color: $white;
  }
}

@mixin detail-container-content () {
  clear: both;
  margin-top: 2em;
  padding: .5em;
}
