@mixin detail-container () {
  @include fill-parent;
  border-bottom: 1px dotted $ilios-orange;
  display: block;
  margin-left: .8em;
  margin-right: .8em;
  min-height: 2em;
  padding: 1em .8em;
}

@mixin detail-container-title () {
  @include fill-parent;
  color: $text-blue;
  font-size: $base-font-size;
  font-weight: bold;

  @include media($large-screen) {
    @include span-columns(8 of 12);
  }
}

@mixin detail-container-actions () {
  @include fill-parent;
  vertical-align: middle;

  @include media($large-screen) {
    @include span-columns(3 of 12);
    text-align: right;
  }
}

@mixin detail-container-content () {
  @include fill-parent;
  clear: both;
  padding-top: 2em;
}
