@mixin header () {
  $header-height: 60px;

  background-color: $ilios-orange;
  border-bottom: 1px solid darken($ilios-orange, 10);
  height: $header-height;
  min-width: 250px;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
  z-index: 100;

  .logo {
    float: left;
    max-height: $header-height;
    padding-left: 1em;

    .image {
      background-image: url('images/ilios-logo.svg');
      background-repeat: no-repeat;
      display: block;
      height: 42px;
      padding: .8em 0;
      width: 84px;
    }
  }

  h1 {
    color: $white;
    display: inline-block;
    font-size: $base-font-size * .75;
    margin-top: 2em;

    @include media($medium-screen) {
      font-size: $base-font-size * 1.5;
      margin: .5em;
    }
  }

  .pulse-loader {
    margin: 0;
    padding-left: 1em;

    svg {
      height: $header-height;
      opacity: .75;
      width: 1.35 * $header-height;

      path {
        stroke: $white;
      }
    }
  }

  // Elements on the far right
  .tools {
    background: transparent;
    display: block;
    float: right;
    padding-left: .5em;
    padding-right: 1em;

    .user,
    .locales {
      color: $ilios-orange;
      display: inline;
      float: left;
      font-size: $base-font-size * .8;
      font-weight: 800;
      margin-top: 1.2em;
      padding: .4em .5em;

      .button {
        background-color: transparent;
        border: 0;
        border-radius: $base-border-radius;
        color: $white;
        font-weight: normal;
        padding: .5em 2em .5em 1em;
        vertical-align: middle;

        span {
          display: none;

          @include media($medium-screen) {
            display: inline;
          }
        }

        &:hover {
          background-color: $white;
          color: $ilios-orange;
        }


      }
    }
  }
}
