@mixin ilios-form () {
  padding: .5em;

  label {
    @include ilios-label;
    display: block;
    width: 99%;
  }

  input {
    @include ilios-input;
  }

  select {
    @include ilios-select;
  }

  input,
  select {
    display: block;
    width: 90%;
    @include for-tablet-and-up {
      min-width: 33%;
      width: auto;
    }
  }
}

@mixin ilios-form-item () {
  display: block;
  height: 4em;
  width: 99%;

  @include for-laptop-and-up {
    @include span-columns(4);
  }

}

@mixin ilios-form-last-item () {
  display: block;
  width: 99%;

  @include for-laptop-and-up {
    @include span-columns(8);
  }
}

@mixin ilios-form-buttons () {
  clear: both;
  display: block;
  margin-top: 2em;
  padding: 1em 0;
  width: 99%;

  button {
    margin-right: 1em;
  }

}

@mixin ilios-label () {
  font-weight: bold;
  margin-top: 1em;
}
