@mixin ilios-form () {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: .5rem;

  @include for-tablet-and-up {
    grid-row-gap: .5rem;
  }

  label {
    @include ilios-label;
    display: block;
    width: 100%;
  }

  #{$form-input-text-types} {
    @include ilios-input;
  }

  select {
    @include ilios-select;
  }

  textarea {
    @include ilios-textarea;
  }

  #{$form-input-text-types},
  textarea,
  select {
    display: block;
    width: 90%;
    @include for-tablet-and-up {
      min-width: 33%;
    }
  }
}

@mixin ilios-form-item () {
  min-height: 4rem;
  width: 100%;
}

@mixin ilios-form-last-item () {
  display: block;
  grid-column: 1 / -1;
}

@mixin ilios-form-buttons () {
  grid-column: 1 / -1;
  margin-top: 2rem;
  padding: 1rem 0;

  button {
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    margin-right: 1rem;

    &:enabled:hover {
      color: $white;
    }

    &.done {
      border-color: $ilios-green;
      color: $ilios-green;

      &:enabled:hover {
        background-color: $ilios-green;
      }
    }

    &.cancel {
      border-color: $ilios-red;
      color: $ilios-red;

      &:enabled:hover {
        background-color: $ilios-red;
      }
    }
  }

}

@mixin ilios-label () {
  font-weight: bold;
  margin-top: 1rem;
}
