@mixin ilios-table () {
  border-collapse: collapse;
  font-size: $base-font-size * .9;
  margin: ($base-line-height * .5em) 0;
  table-layout: fixed;
  width: 100%;

  thead {
    background-color: $background-grey;
  }

  caption {
    border-bottom: 1px solid darken($base-border-color, 15);
    font-weight: bold;
    padding: ($base-line-height * .5em / 2) 0;
    text-align: center;
  }

  th {
    border-bottom: 1px solid darken($base-border-color, 15);
    font-weight: bold;
    padding: ($base-line-height * .5em / 2) 0;
    text-align: left;
  }

  td {
    border: 0;
    padding: ($base-line-height * .5em / 2) 0;
  }

  tr,
  td,
  th {
    padding: 1em .5em .5em;
    vertical-align: middle;
  }

  &.condensed {
    font-size: .8em;

    tr,
    td,
    th {
      margin: 0;
      padding: 0;
    }
  }

  tbody {
    .confirm-removal {
      background-color: $remove-background-color;

      .confirm-message {
        color: $ilios-remove-color;
        font-weight: bold;
        padding-left: 8em;
        padding-right: 8em;
        text-align: center;
        width: 100%;
      }

      .confirm-buttons {
        padding-bottom: 1.5em;
        padding-top: 1.1em;
      }


      &:hover {
        background-color: $remove-background-color;
      }

      .remove {
        background-color: $white;
        color: $ilios-remove-color;

        &:hover {
          background-color: $ilios-remove-color;
          color: $white;
        }
      }
    }
  }
}
