// sass-lint:disable no-empty-rulesets
@mixin ilios-list () {

}

@mixin ilios-list-badges() {
  @include ilios-removable-list;

  li {
    background-color: $header-grey;
    border-radius: 4px;
    font-weight: bold;
    margin-top: .5rem;
    padding: 1rem;
  }

}

@mixin ilios-list-tree() {
  @include ilios-list-reset;

  li {
    color: $base-font-color;
    margin-left: 20px;

    &.strong {
      font-weight: bold;

      li {
        font-weight: normal;
      }
    }

    &.em {
      font-style: italic;

      li {
        font-style: normal;
      }
    }

    &.disabled {
      color: $dark-grey;
    }
  }
}
