@mixin ilios-form () {
  label {
    @include fill-parent;
    @include ilios-label;
  }

  @include ilios-input;
}

@mixin ilios-form-item () {
  @include fill-parent;
  height: 6em;

  @include for-laptop-and-up {
    @include span-columns(4);
  }

}

@mixin ilios-form-last-item () {
  @include fill-parent;

  @include for-laptop-and-up {
    @include span-columns(8);
  }
}

@mixin ilios-form-buttons () {
  @include fill-parent;
  clear: both;
  margin-top: 2em;
  padding: 1em 0;

  button {
    margin-right: 1em;
  }

}

@mixin ilios-label () {
  font-weight: bold;
  margin-top: 1em;
}

@mixin ilios-input () {
  input {
    @include fill-parent;
    background: $white;
    border: 1px solid $input-box-grey;
    border-radius: $base-border-radius;
  }

  input[type='text'],
  input[type='password'],
  select {
    background-position: right 4px bottom .75em;
    height: 2.5em;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: inline;
    width: 2.5em;
  }
}
