@mixin main-list () {
  display: block;
  margin: 0 .25rem;
  padding: 0 1rem;
}

@mixin main-list-filters () {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  @include for-laptop-and-up {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include for-desktop-and-up {
    justify-content: flex-start;
  }
}

@mixin main-list-filter () {
  padding-bottom: 1rem;
  white-space: nowrap;

  @include for-laptop-and-up {
    padding-bottom: 0;
    width: 25%;
  }

  @include for-desktop-and-up {
    margin-right: 2rem;
    width: auto;
  }

  select {
    @include ilios-select;
    width: 90%;
  }

  input {
    @include ilios-input;
    width: 100%;
  }

}

@mixin main-list-box () {
  border: 2px solid $header-grey;
  display: block;
  width: 100%;
}

@mixin main-list-box-header () {
  background-color: $header-grey;
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
  text-align: center;

  @include for-laptop-and-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

@mixin main-list-box-header-title {
  @include ilios-heading-h5;
  margin-bottom: .5rem;
  @include for-laptop-and-up {
    margin-bottom: 0;
    padding-left: 1rem;
  }
}

@mixin main-list-box-header-actions {
  @include for-laptop-and-up {
    padding-right: 1rem;
    text-align: right;
  }

  @include for-phone-only {
    & > * {
      margin-top: .25em;
    }
  }
}

@mixin main-list-saved-new () {
  border: 1px solid $ilios-green;
  margin: 1rem;
  padding: 1rem;
}

@mixin main-list-box-table () {
  clear: both;
  display: block;
  padding: 1rem;

  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
    @include ilios-removable-table;
    @include ilios-zebra-table;

    thead {
      background-color: $header-grey;
    }
  }
}
