@mixin main-list () {
  display: block;
  margin: 0 .25em;
  padding: 0 1em;
}

@mixin main-list-filters () {
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  @include for-laptop-and-up {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include for-desktop-and-up {
    justify-content: flex-start;
  }
}

@mixin main-list-filter () {
  padding-bottom: 1em;
  white-space: nowrap;

  @include for-laptop-and-up {
    padding-bottom: 0;
    width: 25%;
  }

  @include for-desktop-and-up {
    margin-right: 2em;
    width: auto;
  }

  select {
    @include ilios-select;
    width: 190px;
  }

  input {
    @include ilios-input;
    width: 200px;

    @include for-laptop-and-up {
      width: 98%;
    }
  }

}

@mixin main-list-box () {
  border: 2px solid $header-grey;
  display: block;
  width: 100%;
}

@mixin main-list-box-header () {
  background-color: $header-grey;
  display: flex;
  flex-direction: column;
  padding: .5em 0;
  text-align: center;

  @include for-laptop-and-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

@mixin main-list-box-header-title {
  @include ilios-heading-h5;
  @include for-laptop-and-up {
    padding-left: 1em;
  }
}

@mixin main-list-box-header-actions {
  @include for-laptop-and-up {
    padding-right: 1em;
    text-align: right;
  }
}

@mixin main-list-box-table () {
  clear: both;
  display: block;
  padding: 1em;

  table {
    @include ilios-table;

    thead {
      background-color: $header-grey;
    }
  }
}
