@mixin main-list () {
  @include fill-parent;
  padding: 0 1em;

  @include for-laptop-and-up {
    @include span-columns(12);
  }
}

@mixin main-list-filters () {
  @include fill-parent;
  margin: 1em 0;

  @include for-laptop-and-up {
    @include span-columns(12);
  }

}

@mixin main-list-filter () {
  @include fill-parent;
  padding-bottom: 1em;
  white-space: nowrap;

  @include for-laptop-and-up {
    @include span-columns(3 of 12);
    @include omega(4n);
    padding-bottom: 0;
  }

  select {
    width: 190px;

    @include for-laptop-and-up {
      width: 90%;
    }
  }

  input {
    width: 200px;

    @include for-laptop-and-up {
      width: 100%;
    }
  }

}

@mixin main-list-box () {
  @include fill-parent;
  @include row;

  border: 2px solid $header-grey;

  @include for-laptop-and-up {
    @include span-columns(12);
  }
}

@mixin main-list-box-header () {
  @include fill-parent;
  background-color: $header-grey;
  padding: .5em 0;
  text-align: center;

  @include for-laptop-and-up {
    @include span-columns(12);
    text-align: left;
  }
}

@mixin main-list-box-header-title ($span: 6) {
  @include for-laptop-and-up {
    @include span-columns($span);
    font-size: $base-font-size;
    font-weight: bold;
    padding-left: 1em;
  }
}

@mixin main-list-box-header-actions ($span: 2, $shift: 4) {
  @include for-laptop-and-up {
    @include span-columns($span);
    @include shift($shift);
    @include omega;

    padding-right: 1em;
    text-align: right;
  }
}

@mixin main-list-box-table () {
  @include fill-parent;
  @include row;
  clear: both;

  padding: 1em;

  thead {
    background-color: $header-grey;
  }

  .hide-from-small-screen {
    display: none;

    @include for-laptop-and-up {
      display: table-cell;
    }
  }
}
