@mixin sessions-grid () {
  display: grid;
  grid-template-columns: 1fr 7fr 5fr 1fr 1fr 1fr 5fr 1fr 1fr;

  .expand-collapse-control {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-around;
    margin-left: .25rem;
  }
}
