@mixin sessions-grid () {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 1fr;

  .session-grid-type,
  .session-grid-groups,
  .session-grid-objectives,
  .session-grid-terms,
  .session-grid-first-offering,
  .session-grid-offerings,
   {
    display: none;
  }

  .session-grid-groups,
  .session-grid-objectives,
  .session-grid-terms,
  .session-grid-offerings,
  {
    text-align: center;
  }

  .session-grid-status,
  .session-grid-status.sortable-heading,
  .session-grid-actions {
    padding-right: .5rem;
    text-align: right;
  }

  @include for-tablet-and-up {
    grid-template-columns: 1fr 8fr repeat(5, 3fr) 1fr;
    .session-grid-groups,
    .session-grid-objectives,
    .session-grid-terms,
    .session-grid-offerings,
    {
      display: inline;
    }
  }

  @include for-laptop-and-up {
    grid-template-columns: 1fr 8fr 6fr repeat(3, 3fr) 6fr repeat(2, 3fr) 1fr;
    .session-grid-type,
    .session-grid-first-offering {
      display: inline;
    }

  }

  .expand-collapse-control {
    font-size: 1.2rem;
    margin-left: .25rem;

    &>.active {
      color: $ilios-blue;
      cursor: pointer;
    }

    &>.disabled {
      color: $dark-grey;
    }
  }
}
