@mixin sort-manager () {
  .actions {
    @include fill-parent;
    vertical-align: middle;

    @include for-laptop-and-up {
      @include span-columns(2 of 12);
      @include omega();
      @include shift(10);
      text-align: right;
    }
  }

  .content {
    clear: both;
    padding-top: .5rem;
  }

  .draggable-object {
    @include fill-parent;
    background-color: $header-grey;
    border-radius: 4px;
    cursor: pointer;
    margin-right: .3rem;
    margin-top: 10px;
    padding: .2rem .4rem .2rem .6rem;
    vertical-align: middle;

    .fa {
      vertical-align: top;
    }
  }

  .draggable-object-content {
    display: inline-block;

    .details {
      font-size: smaller;
    }

    .title {
      @include fill-parent;
      display: inline-block;
    }
  }
}


