@use "../ilios-common/colors" as c;

@use "sass:color";

@mixin verification-preview-table() {
  td, th {
    border: 1px solid color.adjust(c.$culturedGrey, $lightness: -15%);
  }

  th {
    vertical-align: top;
  }

  tfoot td {
    font-weight: bold;
  }
}
