@use "../ilios-common/mixins" as cm;

.header-menu {
  margin: 0 0 0 0.5rem;
  position: relative;
  text-align: right;

  button {
    background-color: transparent;
    border: 1px solid light-dark(var(--super-light-grey), var(--grey));
    border-radius: 0;
    color: light-dark(var(--black), var(--white));
    font-weight: 400;
    padding: 0.25rem;
  }

  .menu {
    background-color: light-dark(var(--super-light-grey), var(--grey));
    box-shadow: 0 2px 2px var(--very-transparent-black);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 100;

    > * {
      margin-bottom: 0;
    }

    .header-menu-item {
      border: 2px solid light-dark(var(--super-light-grey), var(--grey));
      background-color: light-dark(var(--super-light-grey), var(--grey));
      color: light-dark(var(--black), var(--white));
      display: block;
      outline: none;
      padding: 0.5rem 0.5rem 0.5rem 1.5rem;
      text-align: right;

      @include cm.for-laptop-and-up {
        padding: 0.5rem;
        text-align: center;
      }

      text-decoration: none;
      white-space: nowrap;

      &:focus {
        border-color: light-dark(var(--grey), var(--dark-grey));
        border-collapse: separate;
      }

      &:hover {
        background-color: light-dark(var(--blue), var(--lighter-grey));
        border-color: light-dark(var(--blue), var(--lighter-grey));
        color: light-dark(var(--white), var(--black));

        &:focus {
          border-color: light-dark(var(--lightest-blue), var(--lightest-blue));
        }
      }

      &[aria-checked="true"],
      &.active {
        background-color: light-dark(var(--green), var(--green));
        border-color: light-dark(var(--green), var(--green));
        color: light-dark(var(--white), var(--white));
        cursor: default;

        &:focus {
          border-color: light-dark(var(--bright-green), var(--bright-green));
        }

        &:hover {
          background-color: light-dark(var(--green), var(--green));
        }
      }
    }
  }

  .toggle {
    background-color: light-dark(var(--super-light-grey), var(--dark-grey));
    color: light-dark(var(--black), var(--white));

    span {
      display: none;

      @include cm.for-laptop-and-up {
        display: inline;
        margin-left: 0.5rem;
      }
    }

    &:hover,
    &[aria-expanded="true"] {
      background-color: light-dark(var(--white), var(--grey));
      color: light-dark(var(--black), var(--white));
    }

    &[aria-expanded="true"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
