@use "../ilios-common/mixins" as m;

.password-validation {
  meter {
    background: none;
    background-color: light-dark(var(--white), var(--black));
    border: 0.5px solid light-dark(var(--black), var(--grey));
    height: 0.75rem;
    margin: 0.25rem 0;
    width: 60%;
  }

  meter[value="0"] {
    width: 40%;
  }

  meter::-webkit-meter-bar {
    background: none;
    background-color: light-dark(var(--white), var(--black));
  }

  meter[value="0"]::-webkit-meter-optimum-value {
    background-color: light-dark(var(--light-red), var(--lighter-red));
  }
  meter[value="1"]::-webkit-meter-optimum-value {
    background-color: light-dark(var(--light-red), var(--lighter-red));
  }
  meter[value="2"]::-webkit-meter-optimum-value {
    background-color: light-dark(var(--orange), var(--orange));
  }
  meter[value="3"]::-webkit-meter-optimum-value {
    background-color: light-dark(var(--dark-yellow), var(--dark-yellow));
  }
  meter[value="4"]::-webkit-meter-optimum-value {
    background-color: light-dark(var(--green), var(--light-green));
  }

  meter[value="0"]:-moz-meter-bar {
    background-color: light-dark(var(--light-red), var(--lighter-red));
  }
  meter[value="1"]:-moz-meter-bar {
    background-color: light-dark(var(--light-red), var(--lighter-red));
  }
  meter[value="2"]:-moz-meter-bar {
    background-color: light-dark(var(--orange), var(--orange));
  }
  meter[value="3"]:-moz-meter-bar {
    background-color: light-dark(var(--dark-yellow), var(--dark-yellow));
  }
  meter[value="4"]:-moz-meter-bar {
    background-color: light-dark(var(--green), var(--light-green));
  }

  .password-strength {
    display: inline-block;
    @include m.font-size("base");
    font-variant: small-caps;
    width: 10%;

    &.strength-0 {
      color: light-dark(var(--light-red), var(--lighter-red));
      width: 20%;
    }

    &.strength-1 {
      color: light-dark(var(--light-red), var(--lighter-red));
    }

    &.strength-2 {
      color: light-dark(var(--orange), var(--orange));
    }

    &.strength-3 {
      color: light-dark(var(--dark-yellow), var(--dark-yellow));
    }

    &.strength-4 {
      color: light-dark(var(--green), var(--light-green));
    }
  }
}
