@use "../mixins/font-size";
@use "../mixins/media";

.user-search-results {
  background-color: light-dark(var(--white), var(--dark-grey));
  border: 1px solid light-dark(var(--white), var(--dark-grey));
  border-radius: 3px;
  box-shadow: 0 2px 2px var(--very-transparent-black);
  color: light-dark(var(--black), var(--white));
  max-height: 23rem;
  overflow-y: scroll;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 100;

  &.hidden {
    display: none;
  }

  li {
    border-bottom: 1px solid light-dark(var(--lightest-grey), var(--grey));
    color: light-dark(var(--light-blue), var(--bright-blue));
    display: block;
    margin: 0.1rem 0;
    padding: 0.2rem;
    width: 100%;

    &.inactive {
      color: light-dark(var(--light-grey), var(--grey));
      font-style: italic;
    }

    &.summary {
      color: light-dark(var(--green), var(--light-green));
    }

    a,
    &.clickable {
      &:hover {
        background-color: light-dark(
          var(--lightest-blue),
          var(--lightest-blue)
        );
      }
    }

    .name,
    .email {
      display: block;
      width: 100%;

      @include media.for-laptop-and-up {
        display: inline;
      }
    }

    .name i {
      @include font-size.font-size("small");
    }

    .email {
      color: light-dark(var(--grey), var(--white));
      font-style: italic;
    }
  }
}
