@use "../../mixins" as m;

.dashboard-courses-calendar-filter {
  .filters {
    position: relative;
  }
  .year {
    .year-title {
      @include m.ilios-heading-h6;
    }

    /*
     * kludge-o-rama: fixes bug where
     * 'Clear Filters' button lost styling
     * [MC 2026/06/29]
    */
    button:not(.filters-clear-filters) {
      @include m.ilios-button-reset;
    }

    ul {
      @include m.ilios-list-reset;

      li {
        margin-left: 0.25em;
      }
    }
  }
}
