.user-container {
  min-height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;

  .user-display-name {
    margin-bottom: 0;
    text-align: center;
  }

  .user-is-student {
    color: $ilios-green;
  }

  .global-search {
    position: absolute;
    right: 0;
  }

  .user-info {
    margin-top: 2em;
    overflow: hidden;

    .form-label {
      @include span-columns(4 of 10);
    }

    .form-data {
      @include span-columns(6 of 10);
    }

    .secondary-cohort {
      font-size: 12px;
    }

    .learner-group {
      font-size: 12px;
    }
  }
}
