.resultslist-header {
  .user-title {
    float: left;
    margin: 0;
  }

  .pagination-top {
    float: right;
  }
}

.pagination-bottom {
  margin-bottom: 2em;
}

.resultslist-list {
  text-align: center;
}
