@use "../../ilios-common/mixins" as m;

.school-competencies-list {
  .headers {
    font-weight: 600;
  }
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-right: 0.5rem;

    .grid-item {
      border-bottom: 1px solid light-dark(var(--grey), var(--grey));
      padding: 0.5rem 0.25rem;

      &.competency {
        padding-left: 2rem;
      }

      ul {
        @include m.ilios-list-reset;

        li {
          padding-bottom: 1rem;

          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }

      .link-button {
        text-align: left;
      }

      .bigadd {
        background-color: light-dark(var(--green), var(--green));
        color: light-dark(var(--white), var(--white));
      }

      .bigcancel {
        background-color: light-dark(var(--red), var(--red));
        color: light-dark(var(--white), var(--white));
        margin-left: 0.5rem;
      }
    }

    &:last-of-type {
      .grid-item {
        border-bottom: 0;
      }
    }
  }

  .competency-row {
    transition: background-color 1s ease-out;

    &.highlight-ok {
      transition: none;
      background-color: light-dark(
        var(--transparent-green),
        var(--transparent-green)
      );
    }

    &.is-managing {
      border: 2px solid light-dark(var(--light-blue), var(--light-blue));
      .grid-item {
        background-color: light-dark(var(--lightest-grey), var(--grey));
        border: 0;
      }
    }

    &.confirm-removal {
      background-color: light-dark(var(--lightest-red), var(--dark-red));

      .grid-item {
        border: 0;
      }

      .confirm-message {
        color: light-dark(var(--light-red), var(--lightest-red));
        grid-column: 1 / -1;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;
      }

      .remove {
        background-color: light-dark(var(--white), var(--dark-red));
        color: light-dark(var(--light-red), var(--lightest-red));

        &:hover {
          background-color: light-dark(var(--light-red), var(--red));
          color: white;
        }
      }
    }
  }
  .actions {
    text-align: right;
  }
}
