@use "../../ilios-common/mixins" as m;

.school-competencies-manager {
  .domain {
    background-color: light-dark(var(--lightest-blue), var(--dark-grey));
    border: 1px solid light-dark(var(--black), var(--grey));
    margin: 1rem;
    padding: 1rem;

    h4 {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    ul {
      @include m.ilios-list-reset;
      margin-left: 2rem;
      margin-top: 0.5rem;
    }

    .block {
      align-items: center;
      display: flex;

      .fa-trash {
        margin-left: 0.25rem;
      }
    }
  }

  .new-domain {
    @include m.ilios-heading-h5;
  }
}
