@use "../../ilios-common/mixins" as m;

.school-emails-editor {
  @include m.detail-container(var(--orange));

  .header {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }
  }

  .content {
    @include m.detail-container-content;

    .form {
      margin-top: 1em;
      @include m.ilios-form;

      @include m.for-laptop-and-up {
        grid-template-columns: 1fr 1fr;
      }
    }

    .validation-error-message {
      color: var(--red);
      display: block;
      @include m.font-size("small");
      font-style: italic;
      margin-top: 0.25rem;
    }
  }
}
