@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

.curriculum-inventory-verification-preview-table2 {
  padding: 0 0.8rem 0 1rem;
  table {
    @include cm.ilios-table-structure;
    @include cm.ilios-table-colors;
    @include m.verification-preview-table;

    td {
      vertical-align: top;
    }

    tfoot {
      td:nth-last-child(1) {
        font-weight: 600;
      }
    }
  }
}
