<div class='detail-view'>
  <div class='detail-view-details'>
    {{session-overview
      course=course
      session=model
      showCheckLink=false
      editable=false
    }}
    {{#link-to 'course.session' course model}}{{t 'general.backToTitle' titleBinding='model.title'}}{{/link-to}}

    {{session-publicationcheck session=model}}
  </div>
</div>
