<section id='session-details' class='full-width'>
  {{session-details
    session=model
    course=course
    availableTopics=course.availableTopics
    programs=course.programs
    sessionTypes=sessionTypes
    collapsed=collapsed
    collapsedState='collapsedState'
  }}
</section>
