<section id='session-details' class='full-width session-details'>
  <div class="backtolink">{{#link-to 'course' course}}{{t 'sessions.backToSessionList'}}{{/link-to}}</div>
  {{session-details
    session=model
    course=course
    availableTopics=course.availableTopics
    programs=course.programs
    sessionTypes=sessionTypes
  }}
</section>
