@use "../ilios-common/mixins" as cm;

@use "sass:color";

.admin-block {
  display: grid;
  gap: 0.5rem;

  @include cm.for-laptop-and-up {
    grid-template-columns: 1fr 1fr;
  }

  .small-component,
  .large-component {
    background-color: var(--lightest-grey);
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    margin-bottom: 1rem;
    min-height: 4rem;
    padding: 0.5rem;

    &.alert {
      background-color: var(--white);
      border: 3px solid var(--dark-yellow);
    }

    p {
      clear: both;
      margin-top: 1rem;
    }

    button {
      @include cm.font-size("base");
    }

    select {
      max-width: 88vw;

      @include cm.for-tablet-and-up {
        max-width: none;
      }
    }

    .inline-data {
      display: inline;
    }
  }

  .large-component {
    grid-column: 1 / -1;
  }

  .has-saved {
    background-color: var(--transparent-green);
    transition: background-color 0.5s ease-out;
  }

  .has-not-saved {
    background-color: transparent;
    transition: background-color 1s ease-in;
  }
}
