@use "../ilios-common/mixins" as cm;

.header-menu {
  margin: 0 0 0 0.5rem;
  position: relative;
  text-align: right;

  button {
    background-color: transparent;
    border: 1px solid var(--super-light-grey);
    border-radius: 0;
    color: var(--black);
    font-weight: 400;
    padding: 0.25rem;
  }

  .menu {
    background-color: var(--super-light-grey);
    box-shadow: 0 2px 2px var(--very-transparent-black);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 100;

    @include cm.for-laptop-and-up {
      width: 100%;
    }

    > * {
      margin-bottom: 0;
    }

    .header-menu-item {
      border: 2px solid var(--super-light-grey);
      background-color: var(--super-light-grey);
      color: var(--black);
      display: block;
      outline: none;
      padding: 0.5rem 0.5rem 0.5rem 1.5rem;
      text-align: right;
      @include cm.for-laptop-and-up {
        padding: 0.5rem;
        text-align: center;
      }
      text-decoration: none;
      white-space: nowrap;

      &[aria-checked="true"],
      &.active {
        background-color: var(--green);
        border-color: var(--green);
        color: var(--white);
        cursor: default;
        &:focus {
          border-color: var(--white);
        }
        &:hover {
          background-color: var(--green);
        }
      }
      &:focus {
        border-color: var(--black);
        border-style: dashed;
        border-collapse: separate;
      }

      &:hover {
        background-color: var(--blue);
        border-color: var(--blue);
        color: var(--white);
        &:focus {
          border-color: var(--white);
        }
      }
    }
  }

  .toggle {
    background-color: var(--super-light-grey);
    span {
      display: none;

      @include cm.for-laptop-and-up {
        display: inline;
        margin-left: 0.5rem;
      }
    }

    &:hover,
    &[aria-expanded="true"] {
      background-color: var(--white);
    }
    &[aria-expanded="true"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
