{
  env: {
    browser: true,
    es6: true,
  },
  extends: "eslint:recommended",
  parserOptions: {
    sourceType: "module",
    ecmaVersion: 8,
  },
  rules: {
    /* Possible Errors http://eslint.org/docs/rules/#possible-errors */
    comma-dangle: [2, "only-multiline"],

    /* Stylistic Issues http://eslint.org/docs/rules/#stylistic-issues */
    indent: [2, 2], /* two-space indentation */
    semi: 2 /* require semi-colons */
  }
}
