# compiled output
/dist/
/tmp/

# dependencies
/node_modules/

# misc
*.local
/.pnp*
/.eslintcache
/coverage/
/build/
/npm-debug.log*
/testem.log
/yarn-error.log

/test-execution-*.json

# broccoli-debug
/DEBUG/

#msw's worker
/public/mockServiceWorker.js
