.dashboard-agenda {
  border: 1px solid $ilios-blue;
  max-height: 15em;
  overflow-y: scroll;
  padding: 0 1em 1em;

  a {
    @include ilios-link;
  }

  table {
    @include ilios-table;
    margin: 0;
    padding: 0;

    .fa-exclamation-circle {
      color: $updated-color;
    }
  }

  .event-date i {
    color: $ilios-orange;
  }

  .ilm-due {
    color: $ilios-orange;
    font-weight: bold;
  }

  h3 {
    @include ilios-heading-h5;
  }
}
