.ilios-calendar-multiday-events {
  border: 1px dotted $ilios-blue;
  margin-top: 1em;
  padding: 1em 0;

  h4 {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0;
  }

  ul {
    margin-left: 1em;
  }
}
