@use "../mixins/media";
@use "sass:color";

.ilios-removable-table {
  tbody {
    .confirm-removal {
      background-color: var(--lightest-red);

      .confirm-message {
        background-color: var(--lightest-red);
        color: var(--red);
        font-weight: 600;
        padding-bottom: 0;
        padding-top: 0.75em;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
        width: 100%;

        @include media.for-tablet-and-up {
          padding-left: 8em;
          padding-right: 8em;
        }
      }

      .confirm-buttons {
        padding-bottom: 1.1em;
        padding-top: 1.1em;
      }

      .remove {
        background-color: var(--white);
        color: var(--red);

        &:hover {
          background-color: var(--light-red);
          color: var(--white);
        }
      }
    }
  }
}
