.loading-shimmer {
  animation: loading-shimmer 2s infinite;
  background: linear-gradient(
    to right,
    light-dark(var(--super-light-grey), var(--black)) 4%,
    light-dark(var(--lightest-grey), var(--dark-grey)) 25%,
    light-dark(var(--super-light-grey), var(--black)) 36%
  );
  background-size: 1000px 100%;

  @media (prefers-reduced-motion: reduce) {
    animation-iteration-count: 0;
  }
}

@keyframes loading-shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
