@use "sass:color";

$slight-white: hsl(0, 0%, 98%);
$raisin-black: hsl(345, 6%, 13%);
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

$orange: hsl(30, 100%, 40%);
$sepia: hsl(30, 100%, 20%);

$russion-green: hsl(103, 23%, 45%);

$gold: hsl(48, 93%, 44%);

$blue-munsell: hsl(195, 53%, 43%);
$teal-blue: hsl(195, 52%, 36%);
$light-blue: hsl(195, 51%, 92%);

$davys-grey: hsl(0, 0%, 32%);
$cultured-grey: hsl(200, 15%, 92%);

$crimson: hsl(346, 82%, 48%);
$piggy-pink: hsl(346, 80%, 92%);
$rosewood: hsl(346, 80%, 20%);


$golden-ratio-small: 38.2%;
$golden-ratio-large: 61.8%;
