:root {
  --white: hsl(0, 0%, 98%);
  --black: hsl(345, 6%, 13%);
  --orange: hsl(30, 100%, 40%);
  --sepia: hsl(30, 100%, 20%);
  --green: hsl(115, 100%, 20%);
  --gold: hsl(48, 93%, 44%);
  --blue: hsl(195, 50%, 35%);
  --light-blue: hsl(195, 50%, 45%);
  --lightest-blue: hsl(195, 50%, 92%);
  --grey: hsl(0, 0%, 30%);
  --lightest-grey: hsl(0, 0%, 90%);
  --red: hsl(0, 100%, 40%);
  --lightest-red: hsl(0, 100%, 97%);
  --darker-red: hsl(0, 100%, 30%);
}
