@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.new-instructor-group {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }

  .form {
    @include m.ilios-form;

    .item {
      @include m.ilios-form-item;
    }

    .buttons {
      @include m.ilios-form-buttons;
    }

    .title input {
      min-width: 400px;
    }
  }
}
