<div class="curriculum-inventory-verification-preview-header" data-test-curriculum-inventory-verification-preview-header ...attributes>
  <div data-test-title class="title">
    <h2>
      {{t "general.verificationPreviewFor" name=this.report.name}}
    </h2>
  </div>
</div>
