<header class="ilios-header" data-test-ilios-header ...attributes>
  <NavigationNarrator
    @navigationText={{t "general.navigationCompleteText"}}
    @skipText={{t "general.skipToMainContent"}}
    @routeChangeValidator={{this.checkRouteChange}}
  />
  <div class="header-content">
    <div class="tools">
      {{#if this.showSearch}}
        <GlobalSearchBox @search={{this.search}} />
      {{/if}}
      <LocaleChooser />
      {{#if this.session.isAuthenticated}}
        <UserMenu />
      {{/if}}
    </div>
  </div>
</header>
