<div data-test-school-competencies-list ...attributes>
  {{#if @domains.length}}
    <ul data-test-domains>
      {{#each (sort-by "title" @domains) as |domain|}}
        <li data-test-domain>
          <span data-test-title>{{domain.title}}</span>
          <ul>
            {{#each (sort-by "title" (await domain.children)) as |competency|}}
              <li data-test-competency>
                {{competency.title}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
