.new-program {
  border: 1px solid $culturedGrey;
  margin: .5rem;
  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }

  .form {
    @include ilios-form;

    .title {
      @include ilios-form-item;
      input {
        min-width: 400px;
      }
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }
}
