@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.new-program {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }

  .form {
    @include m.ilios-form;

    .title {
      @include m.ilios-form-item;
      input {
        min-width: 400px;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
