.api-version-notice {
  @include critical-notice($gold, $raisin-black, 1rem);

  display: none;
  padding: .25rem 1rem;

  &.mismatch {
    display: block;
  }

  .details {
    button {
      background-color: $raisin-black;
      border: 0;
      color: $white;
      display: inline-block;
      height: 100%;
    }
  }


}
