.api-version-notice {
  @include critical-notice($yellow, $text-grey, 1rem);

  display: none;
  padding: .25rem 1rem;

  &.mismatch {
    display: block;
  }

  .details {
    button {
      background-color: $text-grey;
      border: 0;
      color: $white;
      display: inline-block;
      height: 100%;
    }
  }


}
