html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $background-grey;
  color: $text-grey;
  font-family: Nunito, serif;
  margin: 0;
  padding: 0;
}

a,
.link {
  @include ilios-link;
}

button {
  @include ilios-button;
}

h1 {
  @include ilios-heading-h1;
}

h2 {
  @include ilios-heading-h2;
}

h3 {
  @include ilios-heading-h3;
}

h4 {
  @include ilios-heading-h4;
}

h5 {
  @include ilios-heading-h5;
}

h6 {
  @include ilios-heading-h6;
}

select {
  color: $text-grey;
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  li {
    margin-bottom: .5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

p {
  margin-bottom: 1rem;
  @include paragraph-line-height;
  
  a {
    text-decoration: underline;
  }
}

.add,
.yes {
  color: $green;
}

.remove,
.no {
  color: $red;
}

.error,
.is-error {
  color: $red;
}

.warning,
.is-warning {
  color: $yellow;
}

.clickable,
.is-clickable {
  cursor: pointer;
}

.editable,
.is-editable {
  color: $blue;
}

.published {
  color: $green;
}

.notpublished {
  color: $yellow;
}

.scheduled {
  color: $scheduled-brown;
}

.backtolink {
  margin: 1rem 0;
  padding-left: .8rem;
}

.link-button {
  @include ilios-link-button;
}
