@use "../colors" as c;

.click-choice-buttons {
  button {
    background-color: c.$culturedGrey;
    border: 1px outset c.$davysGrey;
    color: c.$raisinBlack;

    &.active {
      background-color: c.$tealBlue;
      border: 1px inset c.$tealBlue;
      color: c.$white;
    }
  }
}
