.click-choice-buttons {
  button {
    background-color: $culturedGrey;
    border: 1px outset $davysGrey;
    color: $raisinBlack;

    &.active {
      background-color: $tealBlue;
      border: 1px inset $tealBlue;
      color: $white;
    }
  }
}
