.course-visualizations {
  padding-left: 1rem;

  h2 {
    @include ilios-heading-h2;
    margin: .5rem;
    text-align: center;
  }

  h3 {
    @include ilios-heading-h3;
    margin-bottom: 1rem;
    text-align: center;
  }

  .visualizations {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 2rem;

    .visualizer-course-instructors,
    .visualizer-course-objectives,
    .visualizer-course-session-types,
    .visualizer-course-vocabularies {
      height: 40vh;
      margin-bottom: 2rem;
      width: 40vw;
    }
  }
}
