.course-visualizations {
  padding-left: 1rem;

  .backtolink {
    margin: 1rem 0;
  }

  .visualizations {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 2rem;

    .visualizer-course-instructors,
    .visualizer-course-objectives,
    .visualizer-course-session-types,
    .visualizer-course-vocabularies {
      height: 40vh;
      margin-bottom: 2rem;
      width: 40vw;
    }
  }
}
