.course-visualizations {
  @include course-visualization;

  .visualizations {
    .visualizer-course-instructors,
    .visualizer-course-objectives,
    .visualizer-course-session-types,
    .visualizer-course-vocabularies {
      height: 40vh;
      margin-bottom: 2rem;
      width: 40vw;
    }
  }
}
