@use "../colors" as c;
@use "../mixins" as m;

.course-overview {
  @include m.course-overview;

  .courseexternalid {
    input {
      max-width: initial;
      min-width: initial;
    }
  }

  .universallocator {
    color: c.$davysGrey;
  }

}
