.course-loading {
  @include loading-text;

  .header {
    @include course-header;
  }
  .overview {
    @include course-overview;

    .title {
      @include loading-text;
    }
  }
}

.course-loading, .course-loader {
  border-top: 0;
  border-width: 0 2px 2px;
  border-color: $header-grey;
  border-style: solid;
  
  .mock-detail-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;

    span {
      background-color: $medium-grey;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: .25rem 4rem;
      color: $medium-grey;

      .expand-collapse-icon {
        margin-left: .5rem;
      }
    }
  }
}
