.course-overview {
  @include ilios-overview($orange);

  .title {
    @include ilios-overview-title;
  }

  .course-overview-header {
    @include ilios-overview-header;
  }

  .course-overview-actions {
    @include ilios-overview-actions;

    a, span {
      @include font-size('medium');
      margin-right: .5rem;
    }

    span {
      color: $blueMunsell;
    }
  }

  .block {
    @include ilios-overview-block;
  }

  .course-overview-content {
    @include ilios-overview-content;
  }

  .courseexternalid {
    input {
      max-width: initial;
      min-width: initial;
    }
  }

  .universallocator {
    color: $davysGrey;
  }
}
