@use "../colors" as c;
@use "../mixins" as m;

.course-materials {
  padding-left: .8rem;

  .material-list {
    border-top: 1px dotted c.$orange;
    padding-top: .5rem;

    table {
      @include m.ilios-table-structure;
      @include m.ilios-table-colors;
    }
  }

  h3 {
    @include m.ilios-heading-h4;
    display: inline;
  }

  .filter-course-lms, .filter-session-lms {
    text-align: right;

    @include m.for-phone-only {
      display: block;
      width: 100%;
    }

    input {
      width: 300px;
    }
  }

  .fa-spinner.orange {
    color: c.$orange;
  }
}
