.daily-calendar-event {
  @include ilios-button-reset;
  cursor: default;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: $text-grey;
  @include font-size('small');
  border: 1px solid $white;
  margin: 1px;
  padding: .25rem;
  text-align: left;
  overflow: hidden;
  z-index: 2;

  &.clickable {
    cursor: pointer;
  }

  .ilios-calendar-event-time {
    color: $dark-red;
    display: block;
    @include font-size('small');
    font-weight: bold;
    padding-bottom: .5em;
  }

  .ilios-calendar-event-location {
    display: inline;
    font-weight: bold;
  }

  &.ilm {
    border-top: 2px dotted $black;
  }
}
