.dashboard-materials {
  max-height: 40em;
  overflow-y: scroll;
  padding: 0 1em 1em;

  .title {
    @include ilios-heading-h4;
  }

  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
  }

  .all-materials {
    display: flex;
    justify-content: flex-end;

    @include for-tablet-and-up {
      float: right;
    }

    a {
      margin-left: .25rem;
    }
  }

  .lm-type-icon {
    color: $dark-grey;
  }

  .timed-release-info {
    @include font-size('small');
  }
}
