.dashboard-view-picker {
  background-color: $header-grey;
  border-bottom: 1px solid $ilios-blue;
  font-size: 3vw;

  margin: 0;
  padding: .5rem .25rem;

  @include for-tablet-and-up {
    font-size: 1rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include for-tablet-and-up {
      justify-content: flex-start;

      li {
        margin-right: 3em;
      }
    }
  }

  button {
    @include ilios-button;
    padding: .25rem .5rem;

    &.active {
      background-color: $ilios-green;
    }

    &:focus {
      outline: 0;
    }
  }
}
