.dashboard-week {
  max-height: 40em;
  overflow-y: scroll;
  padding: 0 1em 1em;

  .weeklylink {
    display: flex;
    justify-content: flex-end;

    @include for-tablet-and-up {
      float: right;
    }

    a {
      @include ilios-link;
    }
  }
}
