.dashboard-materials {
  max-height: 40em;
  overflow-y: scroll;
  padding: 0 1em 1em;

  h3 {
    @include ilios-heading-h5;
  }

  a {
    @include ilios-link;
  }

  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
  }

  .lm-type-icon {
    color: $dark-grey;
  }

  .timed-release-info {
    color: $ilios-red;
    font-size: smaller;
  }
}
