.dashboard-current-materials {
  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
  }

  .all-materials {
    display: flex;
    justify-content: flex-end;

    @include for-tablet-and-up {
      float: right;
    }

    a {
      margin-left: .25rem;
    }
  }

  .lm-type-icon {
    color: $dark-grey;
  }

  .timed-release-info {
    @include font-size('small');
  }
}
