.detail-learnergroups-list {
  .trees {

    display: grid;

    @include for-laptop-and-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  fieldset {
    @include ilios-fieldset;

    ul {
      @include ilios-removable-list;

      .top-level-group {
        background-color: $yellow;
        color: $black;
      }
    }

    .remove-all-subgroups {
      display: flex;
      justify-content: flex-end;

      button {
        @include ilios-button-reset;
      }
    }

    .remove-learnergroup {
      @include ilios-button-reset;
    }
  }
}
