.detail-objectives {
  @include detail-container($orange);

  .detail-objectives-header {
    @include detail-container-header;
  }

  .title {
    @include detail-container-title;
  }

  .detail-objectives-actions {
    @include detail-container-actions;
  }

  .detail-objectives-content {
    @include detail-container-content;
    margin: 0;
  }

  .new-objective {
    border: 1px solid $culturedGrey;
    margin: .5rem;
    padding: 1rem;

    .new-objective-form {
      .buttons {
        @include ilios-form-buttons;
      }
    }
  }
}
