.editinplace {
  .editable {
    color: $blue;
    cursor: pointer;

    &.prompt {
      font-style: italic;
    }
  }

  .editor {
    @include ilios-form-error;
    align-items: center;
    display: flex;

    #{$form-input-text-types} {
      background: $white;
      border: 1px solid $header-grey;
      border-radius: 3px;
      color: $text-grey;
      cursor: pointer;
      display: inline;
      outline: none;
      overflow: show;
      z-index: 100;
    }

    .html-editor {
      #{$form-input-text-types} {
        z-index: 2;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-start;

      button {
        background: transparent;
        margin: 0;
        padding: 0 .2rem;

        &:enabled:hover {
          color: $white;
        }

        &.done {
          color: $green;

          &:enabled:hover {
            background-color: $green;
          }
        }

        &.cancel {
          color: $red;

          &:enabled:hover {
            background-color: $red;
          }
        }
      }
    }
  }

  .fa-pen-to-square {
    @include icon;
  }

  .expand-text-button {
    @include ilios-link-button;
    display: inline;
  }
}
