.flatpickr-months {
  .flatpickr-month,
  .flatpickr-next-month,
  .flatpickr-prev-month {
    color: $white;
    background: $ilios-orange;

    svg {
      fill: $white;
    }
  }

  .flatpickr-monthDropdown-months {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align-last: right;
  }
}

.flatpickr-weekdays,
span.flatpickr-weekday,
.flatpickr-day.selected {
  color: $white;
  background: $ilios-orange;
}

.flatpickr-day.selected {
  border-color: $ilios-orange;
}
