.ilios-tooltip {
  padding: 0 1em;
  z-index: 100;

  .content {
    background: $background-grey;
    padding: .25rem .5rem;
    border: 1px solid $dark-grey;
    border-radius: 4px;
    max-width: 80%;

    .arrow,
    .arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      z-index: -1;
    }

    .arrow::before {
      content: '';
      transform: rotate(45deg);
      background: $dark-grey;
      border: 1px solid $dark-grey;
    }
  }
  &[data-popper-placement^='top'] .arrow {
    bottom: -4px;
  }

  &[data-popper-placement^='bottom'] .arrow {
    top: -4px;
  }

  &[data-popper-placement^='left'] .arrow {
    right: -4px;
  }

  &[data-popper-placement^='right'] .arrow {
    left: -4px;
  }
}
