.ilios-calendar-multiday-events {
  border: 1px dotted $blue;
  margin-top: 1em;
  padding: 1em 0;

  .title {
    @include font-size('medium');
    font-weight: bold;
    margin-top: 0;
    padding-left: 1rem;
  }

  ul {
    @include ilios-list-reset;
    padding: 1rem;
  }
}
