.ilios-calendar-pre-work-events {
  border: 1px dotted $blue;
  margin-top: 1em;
  padding: 1em 0;

  .title {
    @include font-size('medium');
    font-weight: bold;
    margin-top: 0;
    padding-left: 1rem;
  }

  ul {
    margin-left: 1em;
    padding-left: 0;
    list-style-type: none;
  }
}
