.ilios-calendar {
  .ilios-calendar-calendar {
    clear: both;
    position: relative;

    h1 {
      left: 4em;
      opacity: 75;
      position: absolute;
      top: 2em;
      transition: all .5s ease-in-out;

      &.loaded {
        opacity: 0;
        z-index: -1;
      }
    }
  }

  .calendar-view-picker {
    float: right;

    .highlight {
      color: $orange;
      @include font-size('medium');
    }

    .on {
      color: $russianGreen;
    }
  }

  .calendar-time-picker {
    float: left;
  }

  ul {
    &.inline,
    &.inline li {
      display: inline;
      margin-bottom: 1em;
    }

    &.inline li {
      margin-right: 2em;
    }

    a {
      text-decoration: none;
    }
  }

  .ilios-calendar-ics-feed {
    border: 1px dotted $orange;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
    text-align: center;
    width: 90%;

    span {
      display: inline-block;
      margin: 0;
      padding: 0;

      &.yes {
        color: $russianGreen;
      }
    }

    button {
      @include ilios-button;
    }

  }

  .no-content {
    list-style-type: none;
  }
}
