@use "../colors" as c;
@use "../mixins" as m;

.leadership-manager {
  table {
    @include m.ilios-table-structure;
    @include m.ilios-table-colors;

    ul {
      @include m.ilios-list-reset;

      .disabled-user {
        color: c.$davysGrey;
      }
    }
  }

  .user-search {
    clear: both;
    margin: auto;
    position: relative;
    width: 90%;

    input[type='search'] {
      background-color: c.$white;
      border: 1px solid c.$tealBlue;
      border-radius: 3px;
      height: 2rem;
      width: 100%;
    }

    .results {
      @include m.user-search-results;
    }
  }
}
