@use "../colors" as c;
@use "../mixins" as m;

.learning-material-uploader {
  .upload-button {
    background: c.$slightWhite;
    border: 1px solid c.$black;
    border-radius: 3px;
    color: c.$raisinBlack;
    cursor: pointer;
    display: inline-block;
    @include m.font-size('base');
    padding: .3em 1em;
    &:hover {
      background-color: c.$davysGrey;
      color: c.$white;
    }
  }

  .upload-result {
    margin-left: 1rem;
    word-break: break-all;
  }
}
