.learnergroup-selection-manager {

  .cohort-learner-groups {
    border: 1px solid $blueMunsell;

    h5 {
      margin-bottom: .5rem;
      padding: .5rem;
    }

    & > ul {
      @include ilios-list-tree;
      background-color: $white;
      height: 15rem;
      margin-bottom: 1rem;
      overflow-y: scroll;
      padding: .5rem 0;

      ul {
        padding: 0;
      }
    }
  }
}
