.learning-material-uploader {
  .upload-button {
    background: $slight-white;
    border: 1px solid $black;
    border-radius: 3px;
    color: $raisin-black;
    cursor: pointer;
    display: inline-block;
    @include font-size('base');
    padding: .3em 1em;
    &:hover {
      background-color: $davys-grey;
      color: $white;
    }
  }

  .upload-result {
    margin-left: 1rem;
  }
}
