.learningmaterial-manager {
  margin-left: 2rem;
  min-height: 25vh;

  @include ilios-form;

  .item {
    @include ilios-form-item;
  }

  .buttons {
    @include ilios-form-buttons;
  }

  .copy-btn {
    background-color: $russianGreen;
  }

  .notes,
  .description {
    @include ilios-browser-defaults;
  }

  .loading {
    @include ilios-heading-h1;
    display: block;
    padding: 5vh 0;
    text-align: center;
    width: 100%;
  }

  h2 {
    @include ilios-heading;
    color: $raisinBlack;
    @include font-size('base');
    font-weight: bold;
  }

  .mesh-manager {
    margin: 2rem 0;
  }

  .timed-release {
    margin-bottom: 2rem;
    padding-left: 1rem;

    .item {
      margin-top: 1rem;
    }

    p {
      margin: 0;
    }

    button {
      background-color: transparent;
      margin: .5rem 0 0;
    }

    .add-date {
      border: 1px solid $russianGreen;
      color: $russianGreen;
    }

    .remove-date {
      border: 1px solid $crimson;
      color: $crimson;
    }
  }

  .weblink {
    span {
      @include text-wrap;
    }
  }
}
