.mesh-manager {

  .deprecated {
    color: $crimson;
    font-weight: bolder;
  }

  .target-title {
    word-break: break-all;
  }

  .results,
  .mesh-search-results {
    @include ilios-list-reset;
  }

  .mesh-search-results {
    @include ilios-selectable-list;

    background-color: $white;
    border: 1px solid $blueMunsell;
    height: 10rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    width: 80%;

    button {
      @include ilios-button-reset;
      text-align: left;
    }

    .descriptor-name {
      display: block;
      font-weight: bold;
    }

    .descriptor-id {
      display: block;
      @include font-size('small');
    }

    .mesh-concepts {
      color: inherit;
      list-style: disc inside;

      .truncated::after {
        content: ' \2026';
      }
    }
  }

  .selected-terms {
    @include ilios-tag-list;
    margin-bottom: 2rem;

    li {
      display: flex;

      button {
        @include ilios-button-reset;
      }
      .remove {
        margin-left: .5em;
      }
    }


    .term-title {
      font-weight: bold;
    }

    .term-details {
      font-style: italic;
    }
  }

  .mesh-search {
    input[type='search'] {
      @include ilios-input;
    }

    label {
      @include ilios-label;
    }
  }
}
