@use "../colors" as c;
@use "../mixins" as m;

.new-session {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  .title {
    @include m.detail-container-title;
  }

  .new-session-content {
    @include m.ilios-form;

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
