.offering-form {
  .toggle-offering-calendar {
    display: flex;
    justify-content: flex-end;
  }

  .form {
    @include ilios-form;
    grid-template-columns: 1fr;
    margin-top: 1em;

    @include for-laptop-and-up {
      grid-template-columns: 2fr 1fr 1fr;

      .instructor-management,
      .learner-management,
      .scheduling {
        grid-column: 1 / -1;
      }

      .scheduling {
        grid-template-columns: repeat(4, 1fr);
      }

      .make-recurring {
        grid-column: 2 / -1;
      }

      .room {
        grid-column: 1 / 3;
      }

      .url {
        grid-column: 3 / -1;
      }
    }

    .instructor-management,
    .learner-management,
    .scheduling {
      align-items: start;
      display: grid;
      grid-gap: .25rem 1rem;
      margin-bottom: 1rem;
      legend {
        @include ilios-heading;
        padding: 0 .5rem;
      }
    }

    .end-date-time {
      .text {
        padding-top: .5rem;
      }
    }

    .start-date {
      input {
        min-width: initial;
        width: auto;
      }
    }

    .start-time {
      select {
        min-width: initial;
        width: 5rem;
      }
    }

    .timezone {

      .current-timezone {
        padding-top: .5rem;
      }

      .picker {
        display: flex;

        .actions {
          display: flex;
          justify-content: flex-start;

          button.cancel {
            background: transparent;
            color: $ilios-red;
            margin: 0;
            padding: 0 .2rem;

            &:enabled:hover {
              color: $white;
              background-color: $ilios-red;
            }
          }
        }
      }
    }

    .offering-duration {
      .duration-inputs {
        display: flex;
        flex-direction: column;

        @include for-laptop-and-up {
          flex-direction: row;
        }
      }
    }

    .hours,
    .minutes,
    .make-recurring-input-container {
      align-items: center;
      display: flex;

      input {
        margin-right: .5rem;
        min-width: 5rem;
        outline: none;
        width: 5rem;

        &:invalid {
          border: 1px $ilios-red solid;
        }
      }
    }

    .make-recurring-days {
      margin: .5rem 0;

      div {
        align-items: center;
        display: flex;
      }
    }

    .hours {
      margin-right: 40px;

      .hours-container {
        vertical-align: top;
      }
    }

    .minutes {
      .minutes-container {
        vertical-align: top;
      }
    }

    .validation-error-message {
      color: $ilios-red;
      display: block;
      @include font-size('small');
      font-style: italic;
      margin-top: .5rem;
    }

    .instructor-management {
      .instructor-group {

        margin-bottom: 1rem;

        & > button {
          @include ilios-button-reset;
          background-color: $header-grey;
          border-radius: 4px;
          font-weight: bold;
          padding: .2em .4em .2em .6em;
          vertical-align: middle;

          .fa-users {
            margin-right: .5rem;
          }
          .remove {
            margin-left: .5em;
          }
        }
      }

      .instructorgroup-members-list {
        @include ilios-tag-list;

        margin-top: .25rem;

        li {
          margin-top: .25rem;
        }
      }

      .instructors-list {
        @include ilios-removable-list;

        li {
          margin-top: .25rem;
          button {
            @include ilios-button-reset;
          }
        }
      }
    }
    .available-instructors,
    .available-learners,
    .available-learner-groups,
    .instructor-groups,
    .instructors,
    .selected-learner-groups,
    .selected-learners {
      margin-bottom: .5rem;

      label {
        display: inline-block;
        margin-bottom: .5rem;
      }
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }
}

