.offering-manager {
  border-bottom: 1px dotted $dark-grey;
  display: grid;
  @include font-size('small');
  grid-column: 1 / -1;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: .5rem;
  padding-bottom: .5rem;

  .offering-manager-learner-groups {
    grid-column-start: 2;

    ul {
      @include ilios-list-reset;
    }
  }

  .offering-manager-location {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    overflow-wrap: anywhere;
    .copy-btn {
      @include ilios-link-button;

      &.copying {
        color: $ilios-green;
      }
    }
  }

  .offering-manager-instructors {
    grid-column-start: 4;

    ul {
      @include ilios-list-reset;
    }
  }

  .offering-manager-actions {
    grid-column-start: 5;

    .remove {
      padding-left: .5rem;
    }
  }

  &.show-remove-confirmation {
    background-color: $remove-background-color;
    border: 1px solid $ilios-remove-color;
  }

  .confirm-removal {
    background-color: $remove-background-color;
    grid-column: 1 / -1;

    .confirm-message {
      background-color: $remove-background-color;
      color: $ilios-remove-color;
      font-weight: bold;
      margin: 0;
      padding: 1rem 8rem;
      text-align: center;
      width: 100%;
    }

    .confirm-buttons {
      padding-top: 1.1rem;
    }

    &:hover {
      background-color: $remove-background-color;
    }

    .remove {
      background-color: $white;
      color: $ilios-remove-color;
    }
  }

  .fa-trash, .fa-edit {
    @include icon;
  }
}
