.offering-form {
  .toggle-offering-calendar {
    display: flex;
    justify-content: flex-end;
  }

  .form {
    @include ilios-form;
    grid-template-columns: 1fr;
    margin-top: 1em;

    @include for-laptop-and-up {
      grid-template-columns: 1fr 1fr 1fr;

      .end-date-time {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }

    .start-date {
      input {
        min-width: initial;
        width: auto;
      }
    }

    .start-time {
      select {
        min-width: initial;
        width: 5rem;
      }
    }

    .timezone {
      select {
        min-width: initial;
        width: 5rem;
      }
    }

    .offering-duration {
      .duration-inputs {
        display: flex;
        flex-direction: column;

        @include for-laptop-and-up {
          flex-direction: row;
        }
      }
    }

    .hours,
    .minutes,
    .make-recurring-input-container {
      align-items: center;
      display: flex;

      input {
        margin-right: .5rem;
        min-width: 5rem;
        outline: none;
        width: 5rem;

        &:invalid {
          border: 1px $ilios-red solid;
        }
      }

      label {
        margin-top: 0;
        width: auto;
      }
    }

    .make-recurring-days {
      margin: .5rem 0;

      div {
        align-items: center;
        display: flex;

        label {
          margin-top: 0;
          width: auto;
        }
      }
    }

    .hours {
      margin-right: 40px;

      .hours-container {
        vertical-align: top;
        width: 140px;
      }
    }

    .minutes {
      .minutes-container {
        vertical-align: top;
        width: 150px;
      }
    }

    .validation-error-message {
      color: $ilios-red;
      display: block;
      font-size: 12px;
      font-style: italic;
      margin-top: .75rem;
    }

    .instructors {
      grid-column: 1 / 1;
    }

    .learner-groups {
      grid-column: 1 / -1;
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }
}

