.offering-manager {
  @include font-size('small');
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: .5rem;
  padding-bottom: .5rem;

  .offering-manager-learner-groups {
    ul {
      @include ilios-list-reset;
    }
  }

  .offering-manager-location {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    .copy-btn {
      @include ilios-link-button;

      &.copying {
        color: $russianGreen;
      }
    }
  }

  .offering-manager-instructors {
    ul {
      @include ilios-list-reset;
    }
  }

  .offering-manager-actions {
    .remove {
      padding-left: .5rem;
    }
  }

  &.show-remove-confirmation {
    background-color: $lavenderBlush;
    border: 1px solid $crimson;
  }

  .confirm-removal {
    background-color: $lavenderBlush;
    grid-column: 1 / -1;

    .confirm-message {
      background-color: $lavenderBlush;
      color: $crimson;
      font-weight: bold;
      margin: 0;
      padding: 1rem 8rem;
      text-align: center;
      width: 100%;
    }

    .confirm-buttons {
      padding-top: 1.1rem;
    }

    &:hover {
      background-color: $lavenderBlush;
    }

    .remove {
      background-color: $white;
      color: $crimson;
    }
  }

  .fa-trash, .fa-pen-to-square {
    @include icon;
  }
}
