.pagedlist-controls {
  float: right;

  .fa-backward,
  .fa-forward,
  .fa-play {
    @include icon;
  }

  .forward {
    padding-right: .75rem;
  }

  .backward {
    padding-left: .75rem;
  }

  select {
    margin-left: .75rem;
  }

}
