@use "../mixins" as m;

.pagedlist-controls {
  float: right;

  .fa-backward-fast,
  .fa-fast-forward,
  .fa-play {
    @include m.icon;
  }

  .forward {
    padding-right: 0.75rem;
  }

  .backward {
    padding-left: 0.75rem;
  }

  select {
    margin-left: 0.75rem;
  }
}
