@use "../colors" as c;
@use "../mixins" as m;

.print-course {
  .header {
    background-color: c.$culturedGrey;
    padding: 0 1rem;
    width: 100%;

    h2 {
      @include m.ilios-heading-h2;
      display: inline-block;
    }

    h4 {
      @include m.ilios-heading-h4;
      display: inline-block;
      margin-left: 1rem;
    }

    .publication-status {
      display: inline-block;
      margin: 0 5rem;
    }
  }


  .block {
    @include m.detail-container(c.$orange);
    background-color: c.$white;
    padding: 0 1rem;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }

    .content {
      @include m.detail-container-content;
    }

    .static-list {
      @include m.ilios-static-list;
    }
  }

  .offering-instructors {
    @include m.ilios-list-reset;
  }
}
