.publication-menu {
  margin: 0 .5rem;
  position: relative;
  text-align: right;

  button {
    background-color: transparent;
    border-radius: .2rem;
    font-weight: normal;
    padding: .25rem .5rem;
  }

  .menu {
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 1px 0 0 0;
    padding: 0;
    position: absolute;
    top: 1.6rem;
    right: 0;
    z-index: 100;

    button {
      border: 0;
      background-color: $white;
      color: $raisinBlack;
      display: block;
      outline: none;
      padding: .5rem 1rem;
      text-align: right;
      text-decoration: none;
      white-space: nowrap;

      &.danger {
        &:hover,
        &:focus {
          background-color: $crimson;
          color: $white;
        }
      }

      &.good {
        &:hover,
        &:focus {
          background-color: $russianGreen;
          color: $white;
        }
      }
    }
  }

  .toggle {
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    color: $white;
    position: relative;
    &::after {
      content: '\25BE';
    }

    &[aria-expanded='true'] {
      border-width: 1px 1px 0 1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius:  0;
      margin-bottom: 1px;
      z-index: 101;
    }
  }

  &.published {
    .toggle, .menu {
      border-color: $russianGreen;
      color: $russianGreen;
    }
  }

  &.notpublished {
    .toggle, .menu {
      border-color: $gold;
      color: $gold;
    }
  }

  &.scheduled {
    .toggle, .menu {
      border-color: $sepia;
      color: $sepia;
    }
  }
}
