.selectable-terms-list-item {
  @include ilios-button-reset;
  border: 1px $cultured-grey solid;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  padding: .2em .4em .2em .6em;
  text-align: left;
  vertical-align: middle;
  width: 100%;

  &.selected {
    background-color: $cultured-grey;
  }

  .actions {
    float: right;
  }

  &.top-level {
    margin-left: 0;
  }
}
