.sessions-grid {
  .no-results {
    margin: .5rem 0;
    padding: .25rem 0;
    text-align: center;
  }

  .session {
    &:nth-of-type(even) {
      background-color: $grey;
    }

    &.is-expanded {
      border: 1px solid $blue;
      background-color: $light-blue;
      margin: .5rem 0;
    }

    .session-row {
      @include sessions-grid;
      padding: .25rem 0;
    }

    .session-grid-status {
      display: flex;
      justify-content: flex-end;

      .instructional-notes,
      .prerequisites {
        color: $green;
        margin-right: .25rem;
      }
    }

    .confirm-removal {
      background-color: $remove-background-color;
      color: $red;
      font-weight: bold;
      margin: 0;
      padding: 1rem 8rem;
      text-align: center;
      width: 100%;

      .confirm-buttons {
        @include ilios-form-buttons;
        padding-top: 1rem;
      }
    }
  }

  .fa-trash {
    @include icon;
  }
}
