.sessions-grid-header {
  @include sessions-grid;
  background-color: $teal-blue;
  border-bottom: 1px solid $davys-grey;
  color: $white;
  @include font-size('small');
  font-weight: normal;
  position: sticky;
  top: 0;

  .sortable-heading {
    padding: .5rem 0;
  }

  .expand-collapse-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
