.session-header {

  background-color: $cultured-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8em;

  @include for-tablet-and-up {
    flex-direction: row;
  }

  .session-publication {
    @include for-laptop-and-up {
      text-align: right;
    }
  }

  .title {
    @include ilios-heading-h5;
    flex-grow: 2;

    input {
      width: 90%;
    }
  }
}

.session-overview {
  @include ilios-overview($teal-blue);
  border-bottom: 1px dotted $teal-blue;

  .last-update {
    color: $davys-grey;
    margin-right: 1rem;
    text-align: right;
  }

  .session-overview-header {
    @include ilios-overview-header;

    .title {
      @include ilios-overview-title;

    }

    .session-overview-actions {

      @include ilios-overview-actions;

      a {
        @include font-size('medium');
        margin-right: .5rem;
      }
    }
  }

  .session-overview-content {
    @include ilios-overview-content;
  }

  .block {
    @include ilios-overview-block;
  }

  .sessiontype {
    grid-column: 1 / -1;

    select {
      max-width: 80%;
      @include for-phone-only {
        max-width: 125px;
      }
    }
  }

  .independentlearningcontrol,
  .prerequisites,
  .postrequisite,
  .session-overview-ilm-duedate {
    grid-column: 1/-1;
  }

  hr {
    background: 0;
    grid-column: 1 / -1;
    height: 0;
    margin: 1rem;
  }

  .sessiondescription,
  .instructional-notes {
    @include ilios-browser-defaults;
    grid-column: 1 / -1;
    margin-top: 1em;
  }

  .sessionassociatedgroups {
    grid-column: 1 / -1;
  }

  .fa-copy {
    color: $russion-green;
  }

  .post-requisite-edit {
    @include ilios-link-button;
  }

  @include for-desktop-and-up {
    .session-overview-ilm-duedate {
      grid-column: 2 / -1;
    }
  }
}
