.sessions-grid-loading {
  div {
    @include sessions-grid;

    &:nth-child(even) {
      background-color: $grey;
    }
  }
  span {
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  }
}
