@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-header {
  @include m.sessions-grid;
  background-color: c.$tealBlue;
  border-bottom: 1px solid c.$davysGrey;
  color: c.$white;
  @include m.font-size('small');
  font-weight: normal;
  position: sticky;
  top: 0;

  .sortable-heading {
    padding: .5rem 0;
  }

  .expand-collapse-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
