.session-publicationcheck {
  background-color: $lightBlue;
  border-color: $culturedGrey;
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;
  padding-left: .8rem;

  .back-to-session {
    border-top: 1px solid $orange;
    padding: 1rem 0;
  }

  .results {
    background-color: $lightBlue;
    @include detail-container($orange);

    .title {
      @include detail-container-title;
    }

    .session-publicationcheck-content {
      @include detail-container-content;

      thead {
        background-color: $blueMunsell;
        color: $white;
      }
    }
  }

  .fa-link-slash {
    color: $black;
    @include font-size('small');
  }
}
