.session-postrequisite-editor {
  .table-wrapper {
    max-height: 20rem;
    overflow: auto;
    table {
      @include ilios-table-structure;
      @include ilios-zebra-table;
      margin: 0;
      position: relative;
      th {
        background-color: $teal-blue;
        color: $white;
        position: sticky;
        top: 0;
      }
      th,td {
        padding: .25rem;
      }

      tbody tr {
        &.active {
          background-color: $russian-green;
          color: $white;
        }
        &:hover {
          outline: 1px solid $russian-green;
        }

        button {
          @include ilios-button-reset;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
  button.remove {
    @include ilios-link-button;
    color: $crimson;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;

    @include for-tablet-and-up {
      flex-direction: row;
      justify-content: space-between;

      span {
        width: $golden-ratio-large;
      }
      input {
        width: $golden-ratio-small;
      }
    }


  }
  .buttons {
    @include ilios-form-buttons;
  }
}
