.session-postrequisite-editor {
  .table-wrapper {
    max-height: 20rem;
    overflow: auto;
    table {
      @include ilios-table-structure;
      @include ilios-zebra-table;
      position: relative;
      th {
        position: sticky;
        top: 0;
        background-color: $text-blue;
        color: $white;
      }
    }
  }
  button.remove {
    background: transparent;
    color: $ilios-remove-color;
    padding: 0;
  }
  .info {
    display: flex;
    flex-direction: column;

    @include for-tablet-and-up {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .buttons {
    @include ilios-form-buttons;
  }
}
