.session-publicationcheck {
  background-color: $light-blue;

  .back-to-session {
    border-top: 1px solid $orange;
    padding: 1rem 0;
  }

  .results {
    background-color: $light-blue;
    @include detail-container($orange);

    .title {
      @include detail-container-title;
    }

    .session-publicationcheck-content {
      @include detail-container-content;

      thead {
        background-color: $blue-munsell;
        color: $white;
      }
    }
  }

  .fa-link-slash {
    color: $black;
    @include font-size('small');
  }
}
