@use "../colors" as c;
@use "../mixins" as m;

.single-event-learningmaterial-list {
  .static-list {
    @include m.ilios-static-list;
    padding: .25rem;
    margin: 0;

    li:last-of-type {
      margin-bottom: .25rem;
    }

    &.prework {
      border-bottom: 0;

      li > li {
        margin-left: 1.5rem;
      }

      li:last-of-type {
        li:last-of-type {
          border-bottom: 1px dashed c.$davysGrey;
          padding-bottom: .25rem;
        }
      }
    }
  }

  .single-event-learningmaterial-item-timing-info {
    @include m.font-size('small');
    font-weight: normal;

  }
  .single-event-learningmaterial-item-notes {
    @include m.font-size('small');
    .fa-icon {
      margin-right: 5px;
    }

    p {
      display: inline;
    }
  }

  .single-event-learningmaterial-item-description > p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .single-event-learningmaterial-item-title {
    display: flex;
    align-items: center;
  }
}
