.single-event-objective-list {

  button {
    &.active {
      background-color: $russion-green;
    }
    &.disabled {
      cursor: default;
      background-color: $davys-grey;
    }
  }

  .title {
    cursor: pointer;

    .expanded {
      @include ilios-button-reset;
      &::after {
        content: '\25BC';
      }
    }

    .expandable {
      @include ilios-button-reset;
      &::after {
        content: '\25BA';
      }
    }
  }

  .list-in-order {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      padding-bottom: .5rem;

      > div, p {
        margin: 0;
        padding: .5rem 0;
      }
    }

    .details {
      @include font-size('small');
      font-weight: bold;
    }
  }

  .tree {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      font-weight: bold;

      > ul {
        list-style-type: none;
        margin: 0 0 .5rem 1rem;
        padding: 0;

        > li {
          font-weight: normal;

          > div, p {
            margin: 0;
            padding: .5rem 0;
          }
        }
      }
    }
  }

  .objective {
    border-bottom: 1px dotted $orange;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}
