.single-event-objective-list {

  button {
    &.active {
      background-color: $ilios-green;
    }
  }

  .title {
    cursor: pointer;

    .expanded {
      @include ilios-button-reset;
      &::after {
        content: '\25BC';
      }
    }

    .expandable {
      @include ilios-button-reset;
      &::after {
        content: '\25BA';
      }
    }
  }

  .list-in-order {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      padding-bottom: .5em;
    }

    .details {
      font-size: smaller;
      font-weight: bold;
    }
  }

  .tree {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      font-weight: bold;

      > ul {
        list-style-type: none;
        margin: 0 0 0 1em;
        padding: 0;

        > li {
          font-weight: normal;
        }
      }
    }
  }
}
