.single-event {
  display: grid;
  margin-left: 1em;

  h2 {
    @include ilios-heading-h4;
    margin: 1em 0;

    .fa-box-archive {
      @include font-size('base');
    }
  }

  fieldset {
    border: 0;
    border-left: 3px solid $cultured-grey;

    caption {
      color: $blue-munsell;
      font-weight: bold;
    }
  }

  .pre-work {
    h2 {
      @include ilios-heading-h5;
      margin: 0;
    }
  }

  .single-event-summary {
    grid-column: 1 / -1;

    h1 {
      font-weight: normal;

      em {
        font-style: normal;
        font-weight: bold;
      }

      .recently-updated-icon {
        color: $rosewood;
        position: absolute;
        right: 2px;
        top: 2px;
      }

      .recently-updated-icon-event {
        color: $rosewood;
      }
    }

    .single-event-location {
      display: flex;

      .offering-url-display {
        margin-right: 1rem;
      }
    }
  }

  .single-event-offered-at {
    font-weight: bold;
  }

  .single-event-instructors {
    font-style: italic;
  }

  .single-event-learningmaterial-list {
    .expanded {
      @include ilios-button-reset;
      &::after {
        content: '\25BC';
      }
    }

    .expandable {
      @include ilios-button-reset;
      &::after {
        content: '\25BA';
      }
    }
  }

  .single-event-learningmaterial-filesize {
    @include font-size('small');
    font-style: italic;
  }
}
