@use "../colors" as c;
@use "../mixins" as m;

.taxonomy-manager {
  .selected-terms {
    border: 1px solid c.$davysGrey;
    padding: 10px;
  }

  .vocabulary-picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;

    @include m.for-laptop-and-up {
      flex-direction: row;
    }

    label {
      @include m.ilios-label;
    }

    input {
      @include m.ilios-input;
      margin: 1rem 0 .5rem;
      min-width: 25rem;

      @include m.for-laptop-and-up {
        margin: 0;
      }
    }
  }

  .terms-picker {
    max-height: 300px;
    overflow-x: scroll;

    & > ul {
      @include m.ilios-list-reset;
      margin-bottom: 1rem;
    }
  }
}
