.user-search {
  position: relative;

  .results {
    @include ilios-list-reset;
    background: $white;
    border: 1px solid $background-grey;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize($black, .8);
    color: $base-font-color;
    left: 0;
    max-height: 15rem;
    overflow: scroll;
    top: 2rem;
    transition: all .2s ease-in-out;
    z-index: 100;

    li {
      border-bottom: 1px solid $base-border-color;
      padding: .6rem;
      padding-left: 1rem;

      &.active:hover {
        background-color: lighten($base-link-color, 50);
        cursor: pointer;
      }

      &.inactive {
        color: darken($header-grey, 20);
        cursor: default;
        font-style: italic;
      }

      &.results-count {
        color: $ilios-green;
      }
    }

    .email {
      color: $medium-grey;
      font-style: italic;
      padding-right: .2rem;
    }
  }
}
