@use "sass:color";
.week-glance {
  .title {
    @include ilios-heading-h3;
    margin-bottom: 1em;

    &.collapsible {
      @include ilios-button-reset;
      @include font-size('xl');
      &.collapsed {
        &::after {
          content: '\25BA';
          @include font-size('medium');
        }
      }

      &.expanded {
        &::after {
          content: '\25BC';
          @include font-size('medium');
        }
      }
    }
  }

  .event {
    margin-bottom: .25rem;

    &:nth-of-type(even) {
      background-color: color.adjust($culturedGrey, $lightness: 4%);
    }

    p {
      margin: 0;
      padding: 0;
    }

    .event-title {
      @include ilios-heading-h5;
      font-weight: bolder;
      margin-bottom: 0;

      .date {
        font-weight: normal;
      }
    }

    .sessiontype,
    .location {
      font-style: italic;
    }

    .url {
      display: block;
      margin-left: 2em;
    }

    .instructors {
      label {
        font-weight: bold;
      }
    }
  }
}
