.weekly-events {
  .year {
    text-align: center;

    h2 {
      @include ilios-heading-h2;

      i {
        cursor: pointer;
        margin: 0 1em;
      }
    }
  }

  .clickable {
    cursor: pointer;
  }

  .week-glance {
    border-bottom: 1px solid $ilios-orange;
    margin-bottom: 1em;
  }
}
