.weekly-calendar {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1.5rem 1fr;
  margin: .5rem 1rem;
  height: 100vh;

  .week-of-year {
    @include ilios-heading-h4;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin: 0 0 .25rem 0;
    padding: 0;
  }

  .week-of-year,
  .day-headings {
    .long {
      display: none;
    }

    @include for-tablet-and-up {
      .long {
        display: inline;
      }
      .short {
        display: none;
      }
    }
  }

  .calendar {
    align-self: start;
    display: grid;
    grid-row: 3;
    grid-column: 1;
    grid-template-columns: 5rem repeat(7, 1fr);
    grid-template-rows: repeat((24 * 60), .25rem);
    max-height: 100vh;
    overflow-y: scroll;

    .weekly-calendar-event {
      @for $minute from 1 through (24 * 60) {
        &.start-minute-#{$minute} {
          grid-row-start: $minute;
        }
        &.total-minutes-#{$minute} {
          grid-row-end: span $minute;
        }
      }
    }

    .hour {
      align-self: start;
      border-top: 1px solid $grey;
      padding: 0;
      @for $hour from 0 through 23 {
        &.hour-#{$hour} {
          grid-column: 1;
          grid-row: ($hour * 60) + 2;
        }
      }
    }

    .day {
      grid-row: 1;
    }

    .day-name {
      @include visually-hidden;
    }
  }

  .calendar .weekly-calendar-event,
  .day-heading {
    @for $day from 1 through 7 {
      &.day-#{$day} {
        grid-column: ($day + 1);
      }
    }
  }

  .day-headings {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    grid-template-columns: 5rem repeat(7, 1fr);
    grid-template-rows: 1fr;
    .day-heading {
      align-self: center;
      justify-self: center;
      @include ilios-link-button;
    }
  }
}
