.weekly-events {
  @include main-section;
  
  .year {
    text-align: center;

    h2 {
      @include ilios-heading-h2;

      i {
        cursor: pointer;
        margin: 0 1em;
      }
    }
  }

  .clickable {
    cursor: pointer;
  }

  .week-glance {
    border-bottom: 1px solid $orange;
    margin: 0 0 1rem 1rem;
  }
}
