@use "../ilios-common/mixins" as m;

.course-director-manager {
  .actions {
    display: flex;
    justify-content: flex-end;

    .bigadd {
      background-color: light-dark(var(--green), var(--green));
      color: light-dark(var(--white), var(--white));
      margin-right: 0.25rem;
    }

    .bigcancel {
      background-color: light-dark(var(--red), var(--red));
      color: light-dark(var(--white), var(--white));
    }
  }

  .selected-directors {
    padding-bottom: 0.5rem;

    ul {
      @include m.ilios-removable-list;
    }
  }
}
