@use "../ilios-common/mixins" as m;

.course-director-manager {
  .actions {
    display: flex;
    justify-content: flex-end;

    .bigadd {
      margin-right: 0.25rem;
    }
  }

  .selected-directors {
    padding-bottom: 0.5rem;

    ul {
      @include m.ilios-removable-list;
    }
  }
}
