@use "../ilios-common/mixins" as m;

.download-dropdown {
  position: relative;

  .menu {
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;

    > * {
      margin-bottom: 0;
    }

    .dropdown-item {
      border: 2px solid light-dark(var(--super-light-grey), var(--dark-grey));
      background-color: light-dark(var(--super-light-grey), var(--dark-grey));
      color: light-dark(var(--black), var(--white));
      display: block;
      outline: none;
      padding: 0.3rem 1rem;
      width: 100%;

      @include m.for-laptop-and-up {
        padding: 0.5rem;
        text-align: center;
      }

      text-decoration: none;
      white-space: nowrap;

      &:focus {
        border-color: light-dark(var(--grey), var(--light-grey));
        border-collapse: separate;
      }

      &:hover {
        background-color: light-dark(var(--blue), var(--bright-blue));
        border-color: light-dark(var(--blue), var(--bright-blue));
        color: light-dark(var(--white), var(--black));

        &:focus {
          border-color: light-dark(var(--lightest-blue), var(--blue));
        }
      }
    }
  }
}
