@use "../ilios-common/colors" as c;

@use "sass:color";

.flash-messages {
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  @mixin flash($color) {
    background-color: $color;
    color: var(--white);
    display: block;
    opacity: 1;
    padding: 0.5rem;
    text-align: center;
    transition: all 2s linear;

    a {
      color: hsl(from $color h s calc(l + 40));
      text-decoration: underline;

      //Support for Safari < 18.x
      @supports (color: hsl(from orange h s calc(l + 15%))) {
        color: hsl(from $color h s calc(l + 40%));
      }

      &:focus,
      &:hover {
        color: hsl(from $color h s calc(l + 90));

        //Support for Safari < 18.x
        @supports (color: hsl(from orange h s calc(l + 15%))) {
          color: hsl(from $color h s calc(l + 90));
        }
      }
    }

    &.exiting {
      opacity: 0;
    }
  }

  .alert-success {
    @include flash(var(--green));
  }

  .alert-warning {
    @include flash(var(--dark-yellow));
  }

  .alert-info {
    @include flash(var(--light-blue));
  }

  .alert-alert {
    @include flash(var(--light-red));
  }

  .alert:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
