@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.global-search {
  display: grid;
  grid-template-areas:
    "search"
    "did-you-mean"
    "filters"
    "results";

  @include m.for-tablet-and-up {
    grid-template-areas:
      "search search"
      "did-you-mean filters"
      "results filters";
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1rem 1fr;
  }

  .global-search-box {
    grid-area: search;
    margin: 0.75rem 0 0.5rem 10%;
    width: 80%;
    border: 1px solid var(--light-grey);

    &:focus-within {
      border-color: transparent;
    }
  }

  .filters {
    grid-area: filters;

    @include m.for-tablet-and-up {
      border: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      padding: 0 0 0 0.5rem;
    }

    h2 {
      @include m.ilios-heading-h6;
      margin-top: 1rem;
    }

    .school-filters,
    .year-filters {
      display: flex;
      justify-content: flex-start;
      margin: 0.5rem 1rem;
      flex-direction: column;

      .filter {
        white-space: nowrap;
      }

      label {
        margin: 0 1rem 0 0.1rem;
        white-space: nowrap;
      }
    }
  }

  .results {
    border-right: 1px solid var(--black);
    grid-area: results;
    list-style-type: none;
    padding: 0 2rem;

    .searching,
    .no-results {
      text-align: center;
      text-transform: capitalize;

      .fa-spinner.orange {
        color: var(--orange);
      }
    }
  }

  .did-you-mean {
    grid-area: did-you-mean;
    text-align: center;
    .original {
      font-weight: 600;
    }

    .highlight {
      font-style: italic;
    }
  }
}
