@use "../ilios-common/mixins" as cm;

@use "sass:color";

.ilios-footer {
  background-color: var(--orange);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 100%;

  .version {
    align-items: center;
    background-color: var(--super-light-grey);
    border: 1px solid var(--super-light-grey);
    border-radius: 0.2rem;
    color: var(--black);
    display: flex;
    @include cm.font-size("smallest");
    font-weight: 200;
    justify-content: center;
    margin: 0.25rem;
    padding: 0.25rem;

    @media only percy {
      visibility: hidden;
    }
  }
}
