@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.ilios-header {
  background-color: var(--orange);
  display: grid;
  align-content: center;

  h1 {
    @include m.visually-hidden;
  }

  // Elements on the far right
  .tools {
    @media print {
      display: none;
    }

    align-items: center;
    background: transparent;
    grid-area: tools;
    margin-right: 0.25rem;
    padding: 0.25rem 0;
    display: grid;
    justify-content: end;
    grid-template-rows: 1fr min-content;
    row-gap: 0.25rem;

    @include m.for-tablet-and-up {
      grid-template-rows: 1fr;
      padding: 0;
    }

    .locale-chooser,
    .user-menu,
    .user-guide-link {
      button {
        @include m.for-laptop-and-up {
          padding: 4px;
          /* stylelint-disable property-disallowed-list */
          font-size: 16px;
        }
      }
    }

    .locale-chooser {
      grid-row: 1;
      grid-column: 2;
    }
    .user-menu {
      grid-row: 1;
      grid-column: 3;
    }
    .user-guide-link {
      display: flex;
      grid-row: 1;
      grid-column: 4;
    }

    .global-search-box {
      height: 100%;
      grid-row: 2;
      grid-column: 1 / span 4;
      @include m.for-tablet-and-up {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}
