@use "../ilios-common/constants";
@use "../ilios-common/mixins" as m;

.ilios-logo {
  background-color: var(--orange);
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    width: 100%;
    height: 100%;

    @include m.for-phone-and-up {
      justify-content: end;
    }

    img {
      max-width: 7rem;
    }
  }
}
