@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.ilios-header {
  background-color: var(--orange);
  display: grid;

  h1 {
    @include m.visually-hidden;
  }

  // Elements on the far right
  .tools {
    @media print {
      display: none;
    }

    align-items: center;
    background: transparent;
    grid-area: tools;
    margin-right: 0.25rem;
    padding: 0;
    display: grid;
    justify-content: end;
    grid-template-areas:
      ". locale user guide"
      "search search search search";
    row-gap: 0.25rem;

    @include m.for-phone-and-up {
      padding: 0.2rem 0 0;
    }

    .global-search-box,
    .locale-chooser,
    .user-menu,
    .user-guide-link {
      & button,
      & input {
        @include m.for-laptop-and-up {
          /* stylelint-disable property-disallowed-list */
          font-size: 16px;
        }
      }
    }

    .locale-chooser,
    .user-menu,
    .user-guide-link {
      button {
        @include m.for-laptop-and-up {
          padding: 4px;
        }
      }
    }

    .locale-chooser {
      grid-area: locale;
    }
    .user-menu {
      grid-area: user;
    }
    .user-guide-link {
      display: flex;
      grid-area: guide;
    }

    .global-search-box {
      grid-area: search;
      height: 100%;

      @include m.for-phone-only {
        width: 10rem;
      }

      .autocomplete {
        width: 25rem;

        @include m.for-smaller-than-laptop {
          right: 0rem;
        }

        @media screen and (max-width: 550px) {
          left: -7rem;
          right: auto;
        }
      }

      input[type="search"] {
        border: 1px solid var(--white);
      }
    }
  }
}
