@use "../ilios-common/colors" as c;
@use "../ilios-common/constants";
@use "../ilios-common/mixins" as m;

.ilios-logo {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: start;

  img {
    display: block;
    height: 95%;
    aspect-ratio: 1359.52 / 770.26; //from ilios-logo.svg
    width: auto;

    @include m.for-tablet-and-up {
      max-height: 42px;
    }

    @include m.for-laptop-and-up {
      max-height: 4rem;
    }
  }
}
