@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.ilios-header {
  background-color: var(--orange);
  display: grid;
  align-content: center;

  h1 {
    @include m.visually-hidden;
  }

  // Elements on the far right
  .tools {
    @media print {
      display: none;
    }

    align-items: center;
    background: transparent;
    grid-area: tools;
    margin-right: 0.25rem;
    padding: 0 0 0.25rem 0;
    display: grid;
    justify-content: end;
    grid-template-areas:
      ". locale user guide"
      "search search search search";
    grid-template-rows: 1fr min-content;
    gap: 0.25rem;

    @include m.for-tablet-and-up {
      grid-template-areas: "search locale user guide";
      grid-template-rows: 1fr;
      padding: 0;
    }

    .locale-chooser,
    .user-menu,
    .user-guide-link {
      button {
        @include m.for-laptop-and-up {
          padding: 4px;
          /* stylelint-disable property-disallowed-list */
          font-size: 16px;
        }
      }
    }

    .locale-chooser {
      grid-area: locale;
    }
    .user-menu {
      grid-area: user;
    }
    .user-guide-link {
      display: flex;
      grid-area: guide;
    }

    .global-search-box {
      grid-area: search;
      height: 100%;
    }
  }
}
