@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.new-user {
  background-color: var(--white);
  border: 1px solid var(--lightest-grey);
  margin: 0.5rem 0;
  padding: 1rem;

  & > .title {
    @include m.ilios-heading-h4;
  }

  .new-user-form {
    @include m.ilios-form;

    .choose-form-type {
      align-items: baseline;
      display: flex;
      grid-column: 1 / -1;
      justify-content: flex-end;

      label {
        margin-right: 0.5rem;
      }
    }

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
