@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;
@use "../ilios-common/constants";

.programyear-overview {
  @include m.ilios-overview(var(--orange));
  background: var(--white);
  border-top: 1px dotted var(--orange);
  border-bottom: 0;
  margin: 0 1.5rem;
  padding: 0 0.8rem 1rem 0.8rem;

  .programyear-overview-header {
    @include m.ilios-overview-header;

    h4 {
      @include m.ilios-overview-title;
    }

    .programyear-overview-actions {
      @include m.ilios-overview-actions;

      a {
        color: var(--light-blue);
        @include m.font-size("medium");
      }
    }
  }

  .programyear-overview-content {
    @include m.ilios-overview-content;
    align-items: start;
    padding-top: 1rem;

    .removable-directors {
      @include m.ilios-removable-list;

      margin-bottom: 0.5rem;
    }

    .directors {
      @include m.ilios-tag-list;

      margin-bottom: 0.5rem;
    }
  }
}
