@use "../ilios-common/mixins" as m;

.programyear-overview {
  background-color: light-dark(var(--white), var(--black));
  border-top: 1px dotted var(--orange);
  border-bottom: 0;
  margin: 0 0.5rem;
  padding: 0;

  .actions {
    a {
      color: light-dark(var(--light-blue), var(--blue));
      @include m.font-size("medium");
    }
  }
}
