@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.school-session-type-form {
  .form {
    @include m.ilios-form;
    background-color: c.$slightWhite;
    border: 1px solid c.$culturedGrey;
    margin: 0.5rem 0;
    padding: 1rem;

    .item {
      @include m.ilios-form-item;
      height: 4rem;

      label {
        display: block;
      }
    }

    .calendar-color {
      input {
        width: 3rem;
      }

      .box {
        border: 1px solid c.$black;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
      padding-top: 2rem;
    }
  }
}
