@use "../ilios-common/mixins" as m;

.school-vocabulary-new-term {
  @include m.ilios-form;
  @include m.ilios-form-error;

  display: flex;
  margin-bottom: 0.5rem;

  button {
    margin-left: 0.5rem;
  }
}
