@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.school-vocabularies-expanded {
  @include m.detail-container(c.$orange);

  .school-vocabularies-expanded-header {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }
  }

  .school-vocabularies-expanded-content {
    @include m.detail-container-content;

    .hierarchical-list {
      background-color: c.$culturedGrey;
      border: 1px solid c.$black;
      margin: 1rem;
      padding: 1rem;

      h4 {
        font-weight: bold;
        margin-bottom: 1rem;
        width: 100%;
      }

      ul {
        @include m.ilios-list-reset;
        margin-left: 2rem;
      }
    }
  }
}
