@use "../ilios-common/mixins" as m;

.school-competencies-manager {
  .domain {
    background-color: var(--lightest-blue);
    border: 1px solid var(--black);
    margin: 1rem;
    padding: 1rem;

    h4 {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    ul {
      @include m.ilios-list-reset;
      margin-left: 2rem;
    }

    .block {
      display: flex;

      .remove {
        margin-left: 0.5rem;
      }
    }
  }

  .new-domain {
    @include m.ilios-heading-h5;
  }
}
