@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

@use "sass:color";

.school-competencies-list {
  .headers {
    font-weight: bold;
  }
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-right: 0.5rem;

    .grid-item {
      border-bottom: 1px solid var(--davys-grey);
      padding: 0.5rem 0.25rem;

      &.competency {
        padding-left: 2rem;
      }

      ul {
        @include m.ilios-list-reset;

        li {
          padding-bottom: 1rem;

          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }

      .link-button {
        text-align: left;
      }

      .bigadd {
        background-color: var(--fern-green);
        color: var(--white);
      }

      .bigcancel {
        background-color: var(--crimson);
        color: var(--white);
        margin-left: 0.5rem;
      }
    }

    &:last-of-type {
      .grid-item {
        border-bottom: 0;
      }
    }
  }

  .competency-row {
    transition: background-color 1s ease-out;

    &.highlight-ok {
      transition: none;
      background-color: hsl(from var(--fern-green) h s calc(l + 60));
    }

    &.is-managing {
      border: 2px solid var(--blue-munsell);
      .grid-item {
        background-color: var(--cultured-grey);
        border: 0;
      }
    }

    &.confirm-removal {
      background-color: var(--lavender-blush);

      .grid-item {
        border: 0;
      }

      .confirm-message {
        color: var(--crimson);
        grid-column: 1 / -1;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }

      .remove {
        background-color: var(--white);
        color: var(--crimson);

        &:hover {
          background-color: var(--crimson);
          color: white;
        }
      }
    }
  }
  .actions {
    text-align: right;
  }
}
