@use "../ilios-common/mixins" as m;

.update-notification {
  button {
    @include m.font-size("large");
  }

  &.critical-notice {
    background-color: var(--blue);

    button {
      color: var(--white);
      min-height: 3rem;
    }
  }
}
