@use "../ilios-common/mixins" as cm;
@use "../mixins" as m;

.user-profile-loading {
  padding: 1rem;

  h1 {
    color: transparent;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  }

  .blocks {
    @include m.admin-blocks;

    .loading {
      @include cm.loading-box;
      animation-duration: 4s;
      height: 25rem;
    }
  }
}
