@use "../ilios-common/mixins" as cm;
@use "../ilios-common/colors" as c;
@use "../mixins" as m;

.user-guide-link {
  @include m.header-menu;

  @include cm.for-tablet-and-up {
    margin-left: 0;
    margin-right: 0.5rem;
  }

  @include cm.for-phone-only {
    /* stylelint-disable property-disallowed-list */
    font-size: 3.5vw;
  }

  a {
    svg {
      align-items: center;
      color: c.$white;
      display: flex;
      height: 1.85em;
      width: 1.85em;
    }
  }
}
