@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as cm;
@use "../mixins" as m;

.user-profile {
  @include cm.main-section;

  h1 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .user-profile-actions {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  .blocks {
    @include m.admin-blocks;
  }

  .user-roles {
    text-align: center;

    .user-is-student {
      color: var(--green);
    }
  }
}

.user-profile-learnergroups {
  h2.title {
    @include cm.ilios-heading-h3;
  }

  p {
    margin-bottom: 2rem;
  }

  ul {
    @include cm.ilios-list-reset;
  }
}

.user-profile-ics {
  p {
    margin-bottom: 2rem;
  }

  .refresh-key {
    background-color: var(--green);
  }
}
