@use "../ilios-common/mixins" as m;

.user-profile-calendar {
  border: 1px solid var(--black);
  border-radius: 5px;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  min-height: 5rem;
  overflow-x: scroll;
  padding: 1rem;
  position: relative;

  .calendar-time-picker {
    @include m.ilios-list-reset;

    margin-bottom: 0.5rem;
    text-align: center;

    li {
      display: inline;
      margin-right: 2em;
    }
  }
}
