@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.user-profile-schools {
  label {
    @include m.ilios-label;
  }

  .user-profile-schools-header {
    @include m.detail-container-header;

    .actions {
      @include m.detail-container-actions;
    }
  }

  table {
    @include m.ilios-table-structure;
    @include m.ilios-table-colors;
  }

  .primary-school {
    @include m.font-size("medium");
  }

  .more-permissions-notice {
    color: var(--black);
    font-style: italic;
    font-weight: 600;
    text-align: center;
  }
}
