@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

@use "sass:color";

.user-profile-bio {
  label {
    @include m.ilios-label;
  }

  .actions {
    @include m.detail-container-actions;
  }

  .error {
    text-align: center;
  }

  .primary-school {
    @include m.font-size("medium");
    padding: 0 0.5rem;
  }

  .form {
    @include m.ilios-form;
    grid-template-columns: 1fr;

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;
      }

      &.synced-from-directory input {
        background-color: var(--transparent-green);
        transition: background-color 500ms ease;
      }
    }
  }

  .campus-id-controls {
    display: flex;

    button {
      background-color: var(--light-blue);
      height: 2rem;
      margin-bottom: 0.25rem;
      margin-left: 0.5rem;
    }
  }

  .cancel-password-field {
    display: inline-block;
    text-align: left;
    width: 20%;
  }

  meter {
    background: none;
    background-color: var(--white);
    border: 0.5px solid var(--black);
    height: 0.75rem;
    margin: 0.25rem 0;
    width: 60%;
  }

  meter[value="0"] {
    width: 40%;
  }

  meter::-webkit-meter-bar {
    background: none;
    background-color: var(--white);
  }

  meter[value="0"]::-webkit-meter-optimum-value {
    background: var(--light-red);
  }
  meter[value="1"]::-webkit-meter-optimum-value {
    background: var(--light-red);
  }
  meter[value="2"]::-webkit-meter-optimum-value {
    background: var(--orange);
  }
  meter[value="3"]::-webkit-meter-optimum-value {
    background: var(--dark-yellow);
  }
  meter[value="4"]::-webkit-meter-optimum-value {
    background: var(--green);
  }

  meter[value="0"]:-moz-meter-bar {
    background: var(--light-red);
  }
  meter[value="1"]:-moz-meter-bar {
    background: var(--light-red);
  }
  meter[value="2"]:-moz-meter-bar {
    background: var(--orange);
  }
  meter[value="3"]:-moz-meter-bar {
    background: var(--dark-yellow);
  }
  meter[value="4"]:-moz-meter-bar {
    background: var(--green);
  }

  .password-strength {
    display: inline-block;
    @include m.font-size("base");
    font-variant: small-caps;
    text-align: right;
    width: 10%;

    &.strength-0 {
      color: var(--light-red);
      width: 20%;
    }

    &.strength-1 {
      color: var(--light-red);
    }

    &.strength-2 {
      color: var(--orange);
    }

    &.strength-3 {
      color: var(--dark-yellow);
    }

    &.strength-4 {
      color: var(--green);
    }
  }
}
