@use "../../ilios-common/mixins" as cm;

.reports-curriculum-header {
  margin: 0 0.8rem 0.25rem 0;
  padding-bottom: 0.25rem;
  min-height: 2rem;

  @include cm.for-tablet-and-up {
    @include cm.font-size("medium");
    display: flex;
    justify-content: space-between;
  }

  .type-and-summary {
    margin: 0;

    label {
      display: inline-block;
      margin-bottom: 0.5em;
    }

    @include cm.for-tablet-and-up {
      display: flex;
      flex-basis: min-content;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 0;
    }
  }

  .input-buttons {
    margin: 0.5rem 0 0;
    min-width: 0;
    width: 100%;

    .tagged-terms-mode {
      align-items: center;
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.25rem;
    }

    @include cm.for-tablet-and-up {
      align-items: flex-start;
      display: inline-flex;
      flex-basis: content;
      flex-direction: row;
      flex-grow: 0;
      flex-shrink: 1;
      gap: 0.5em;
      justify-content: flex-end;
      margin: 0;
    }

    button,
    div {
      display: block;
      margin-bottom: 0.25rem;

      &.download-dropdown {
        display: inline-block;
      }

      &.toggle {
        margin-bottom: 0;
      }

      &:disabled {
        cursor: default;
        background-color: var(--grey);
      }
    }
    .loading-results {
      @include cm.ilios-button {
        cursor: default;
      }
    }
  }
}
