@use "../../ilios-common/mixins" as cm;

.reports-curriculum {
  @include cm.main-section;

  table {
    margin: 1rem 0;
    width: 100%;
    caption {
      @include cm.ilios-heading-h5;
    }
    th,
    td {
      text-align: left;
    }
  }

  .progress-container {
    display: flex;
    height: 1rem;
    justify-content: end;
  }
}
