@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;
@use "sass:color";

.reports-curriculum {
  margin: 0.5rem 0;
  padding: 1rem 1rem 3rem;

  .title {
    @include m.ilios-heading-h5;
    margin-bottom: 0.5rem;
  }

  .input-buttons {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    justify-content: flex-end;
    button {
      margin-left: 0.5rem;
    }
  }

  table {
    width: 100%;
    th,
    td {
      text-align: left;
    }
  }
}
