@use "../../ilios-common/mixins" as cm;
@use "../../ilios-common/colors" as c;

.reports-curriculum-header {
  .run {
    @include cm.font-size("medium");
    min-height: 2rem;
  }

  .input-buttons {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    justify-content: flex-end;
    button,
    div {
      margin-left: 0.5rem;

      &:disabled {
        cursor: default;
        background-color: var(--grey);
      }
    }
    .loading-results {
      @include cm.ilios-button {
        cursor: default;
      }
    }
  }
}
