@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;
@use "sass:color";

.reports-new-subject {
  background-color: var(--white);
  border: 1px solid var(--cultured-grey);
  margin: 0.5rem 0;
  padding: 1rem 1rem 3rem;

  .title {
    @include m.ilios-heading-h4;
    margin-bottom: 1rem;
  }

  .new-subject-content {
    @include m.ilios-form-error;

    .validation-error-message {
      margin-right: 0.25rem;
    }

    p {
      display: grid;
      grid-gap: 0.25rem;
      grid-template-columns: 1fr 4fr;

      label {
        @include m.ilios-label;
        text-align: right;
      }

      select,
      input {
        width: 100%;
      }

      select.error {
        border: 1px solid var(--crimson);
        outline-color: var(--crimson);
      }

      .mesh-search {
        label {
          display: none;
        }
      }
    }

    button {
      &.disabled {
        background-color: var(--davys-grey);
        cursor: default;
      }

      &:disabled {
        background-color: var(--cultured-grey);
        border-color: var(--davys-grey);
        color: var(--white);
        cursor: default;
      }
    }

    .new-subject-search {
      p {
        margin-bottom: 0;
      }

      .results {
        @include m.ilios-list-reset;
        margin-top: -0.25rem;
        grid-column: 2;
        background: var(--white);
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: var(--white);
        box-shadow: 0 2px 2px hsl(from var(--black) h s l / 0.2);
        color: var(--black);
        max-height: 15rem;
        overflow-y: scroll;
        transition: all 0.2s ease-in-out;

        li {
          border-bottom: 1px solid var(--cultured-grey);
          width: 100%;

          button {
            height: 100%;
            width: 100%;
            padding: 0.6rem 0 0 1rem;

            &:hover {
              background-color: var(--cultured-grey);
            }
          }

          &:last-of-type {
            border: 0;
          }

          &.results-count {
            color: var(--fern-green);
          }
        }
      }
    }

    .selected-instructor,
    .selected-mesh-term {
      @include m.ilios-tag-list;
      .remove {
        margin-left: 0.5rem;
      }
    }

    .term-title {
      font-weight: bold;
    }

    .term-details {
      font-style: italic;
    }

    .input-buttons {
      margin-top: 0.5rem;
      float: right;
    }
  }
}
