@use "../../ilios-common/mixins" as cm;

.reports-subject {
  @include cm.main-section;

  .content-container {
    .report-results {
      @include cm.ilios-list-reset;

      li {
        margin-bottom: 0;
        padding: 0.25rem 0.1rem;
      }

      @include cm.ilios-zebra-list;

      span.school {
        display: inline-block;
        min-width: 80px;
      }
    }
  }
}
