@use "../../ilios-common/mixins" as cm;
@use "../../ilios-common/colors" as c;

.report-results {
  &.limited {
    border-bottom: 1px dotted c.$orange;
    margin-bottom: 0;

    & + .detail-collapsed-control {
      $collapse-control-shadow-grey: #e2e2e2;
      $collapse-control-shadow-black: rgba(0, 0, 0, 0.34);

      display: flex;
      justify-content: center;
      width: 100%;

      button {
        @include cm.ilios-button-reset;
        background-color: c.$orange;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow:
          0 2px $collapse-control-shadow-grey,
          inset 0 1px 2px $collapse-control-shadow-black;
        color: c.$white;
        cursor: pointer;
        padding: 0.25rem 4rem;

        .expand-collapse-icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
