@use "../../ilios-common/mixins" as cm;
@use "../../ilios-common/colors" as c;

.reports-switcher {
  display: flex;
  justify-content: center;
  margin: 1em;
  a {
    @include cm.ilios-link-button;
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--very-transparent-black);
    @include cm.font-size("medium");
    font-weight: 600;
    padding: 0.25em 0.5em;
    text-align: center;
    text-shadow: none;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}
