@use "../../colors" as c;
@use "../../mixins" as m;

.course-manage-objective-parents {
  margin: 1em 2em;
  grid-column: 1 / -1;

  .parent-picker {
    @include m.ilios-list-reset;
    height: auto;

    .competency {
      border-left: 10px solid transparent;

      .competency-title {
        @include m.ilios-heading-h4;
        margin: 0.5rem 0 0 0.5rem;
        padding: 0;

        .domain-title {
          @include m.ilios-heading-h5;
        }
      }

      &.selected {
        border-left: 10px solid var(--orange);

        .competency-title {
          color: var(--fern-green);
          font-weight: bold;
        }
      }
    }

    li {
      margin: 0;
      padding: 0;

      ul {
        padding-left: 0.5rem;

        .selected {
          font-weight: bold;
        }
      }
    }
  }

  .no-cohorts {
    color: var(--sepia);
    font-weight: bold;
  }
}
