@use "../../mixins" as m;

.course-overview {
  @include m.ilios-form-error;

  .courseexternalid {
    input {
      max-width: initial;
      min-width: initial;
    }
  }

  .overview-block {
    align-items: center;
  }

  .universallocator {
    color: var(--grey);
  }
}
