@use "../../mixins" as m;

.course-publicationcheck {
  .course-publicationcheck-details {
    @include m.detail-container(var(--orange));

    .title {
      @include m.detail-container-title;
    }

    .sub-title {
      @include m.ilios-heading-h6;
    }

    .course-publicationcheck-content {
      @include m.detail-container-content;
    }

    .fa-link-slash {
      color: var(--black);
      @include m.font-size("small");
    }

    button:disabled {
      background-color: var(--grey);
      border-color: var(--grey);
      cursor: default;
    }
  }
}
