@use "../../mixins" as m;

.course-publicationcheck {
  .course-publicationcheck-details {
    @include m.detail-container(var(--orange));

    .title {
      @include m.detail-container-title;
    }

    .sub-title {
      @include m.ilios-heading-h6;
    }

    .course-publicationcheck-content {
      @include m.detail-container-content;
    }

    .fa-link-slash {
      color: light-dark(var(--black), var(--white));
      @include m.font-size("small");
    }

    button:disabled {
      background-color: light-dark(var(--grey), var(--light-grey));
      border-color: light-dark(var(--grey), var(--light-grey));
      cursor: default;
    }
  }
}
