@use "../../mixins" as m;

.course-summary-header {
  padding-left: 0.8rem;

  h2.overview-title {
    @include m.ilios-heading-h3;
  }

  .overview-actions {
    margin-top: 0;
    text-align: right;

    a {
      @include m.font-size("medium");
      margin-right: 0.5rem;
    }
  }
}
