@use "../../colors" as c;
@use "../../mixins" as m;

.course-visualize-term-graph {
  display: inline-block;
  height: 1rem;
  width: 1rem;

  .data-table {
    grid-column: -1/1;
    padding-top: 2rem;

    table {
      @include m.ilios-table-structure;
      @include m.ilios-table-colors;
      @include m.ilios-removable-table;
      @include m.ilios-zebra-table;

      thead {
        background-color: c.$culturedGrey;
      }

      td {
        vertical-align: top;
      }
    }
  }

  &.not-icon {
    display: grid;
    height: auto;
    width: auto;

    .simple-chart {
      height: 80vh;
    }

    .simple-chart-tooltip {
      .title {
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
