@use "../../mixins" as m;

.course-visualize-objectives-graph {
  .with-hours {
    .fa-face-meh {
      @include m.font-size("huge");
      margin-top: 10px;
    }
  }

  .objective-row {
    p {
      margin: 0;
    }
  }

  .zero-hours {
    h4 {
      @include m.ilios-heading-h4;
    }

    p {
      margin-top: 0.5rem;
    }

    li {
      list-style-type: disc;
      margin-left: 1rem;
      padding-bottom: 0.5rem;

      p {
        margin: 0;
      }
    }
  }

  &.not-icon {
    grid-template-columns: 2fr 1fr;
  }
}
