@use "../../mixins" as m;

.course-visualizations {
  .visualizations {
    margin-bottom: 1rem;
    @include m.for-tablet-and-up {
      grid-template-columns: repeat(2, 1fr);
    }

    .course-visualize-instructors-graph,
    .course-visualize-objectives-graph,
    .course-visualize-session-types-graph,
    .course-visualize-vocabularies-graph {
      display: inline-block;
      height: 100%;
      text-align: center;
      width: 100%;

      .simple-chart {
        height: 250px;
        width: 250px;
      }
    }
  }
}
