$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-padding: 1em;
$dropdown-distance-from-menu: $dropdown-padding * 2;

.action-menu {
  display: inline-block;
  position: relative;

  .button {
    background: #ffffff;
    cursor: pointer;
    font-size: $base-font-size * 0.7;
    padding: $dropdown-padding / 3 ($dropdown-padding * 1.5) $dropdown-padding / 3 ($dropdown-padding / 2);
    position: relative;
    color: $base-font-color;
    border: 1px solid $header-grey;
    line-height: 1.1em;
    @include media($large-screen) {
      font-size: $base-font-size;
    }
  }

  .button:hover{
    background-color: $dropdown-background-hover;
  }

  .button:after {
    content: "\25BE";
    display: block;
    position: absolute;
    right: $dropdown-padding / 2;
    top: $dropdown-padding / 3;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background: #FFF;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, .8);
    color: $base-font-color;
    cursor: pointer;
    z-index: 99999;
    overflow: visible;
    white-space:nowrap;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    padding: 4px 0;
    margin: 5px 0 0;
  }

  .dropdown-menu li {
    a {
      color: $base-font-color;
    }
    color: $base-font-color;
    padding: $dropdown-padding / 2 $dropdown-padding;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }
}
