.admin-container {
  min-height: 500px;

  .global-search {
    position: absolute;
    right: 0;
  }

  .summaries {
    margin-top: 2em;

    .summary-block {
      @include span-columns(5 of 12);
      background-color: $grey;
      border: 1px solid $black;
      border-radius: 5px;
      clear: left;
      margin: 1em;
      min-height: 13em;
      padding: 0 2em .75em;

      &.alert {
        background-color: $white;
        border: 3px solid $ilios-yellow;
      }
    }
  }

}
