@mixin press-button {
  background: $super-light-grey;
  box-shadow: inset 0 0 0 1px $black;
  color: $black;
  float: left;
  font-weight: bold;
  height: 30px;
  outline: none;
  width: 140px;
}

@mixin active-button {
  background: $ilios-green;
  box-shadow: inset 0 0 0 1px darken($ilios-green, 30);
  color: $white;
}

.first-button {
  @include press-button;
  border-radius: 5px 0 0 5px;

  &.active {
    @include active-button;
  }
}

.second-button {
  @include press-button;
  border-radius: 0 5px 5px 0;

  &.active {
    @include active-button;
  }
}
