$light-blue: #add8e6;
$blue-grey: #27496d;
$very-dark-blue: #193047;

@mixin press-button {
  background: $light-blue;
  box-shadow: inset 0 0 0 1px $blue-grey;
  color: $white;
  float: left;
  font-weight: bold;
  height: 30px;
  outline: none;
  width: 140px;
}

@mixin active-button {
  box-shadow: inset 0 0 0 1px $blue-grey, inset 1px 1px 11px $very-dark-blue;
}

.first-button {
  @include press-button;
  border-radius: 5px 0 0 5px;

  &.active {
    @include active-button;
  }
}

.second-button {
  @include press-button;
  border-radius: 0 5px 5px 0;

  &.active {
    @include active-button;
  }
}
