$super-light-grey: #f6f6f6;
$moderate-grey: #939393;
$session-type: #d6ebf2;
$course-level: #ffd27f;
$cohort: #cfc;
$course: #ddd1e7;
$updated-color: #945c58;

.dashboard {

  .calendar-controls {
    color: $ilios-blue;
    overflow: hidden;

    .calendar-options-control {
      float: left;
      margin: 1em 1em 1em 0;
    }

    .calendar-clear-filters {
      cursor: pointer;
      float: left;
      font-size: 14px;
      margin-top: 18px;
    }

    .calendar-filters {
      @include span-columns(12 of 12);
      clear: both;
    }

    .calendar-school-picker,
    .calendar-year-picker {
      float: right;
      margin-right: 5em;
    }

    .calendar-filter-list {
      @include span-columns(3 of 12);
      border: 1px solid $ilios-blue;
      float: left;
      font-size: $base-font-size * .8;
      height: 15em;
      margin-bottom: 1em;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-bottom: 1em;

      h5 {
        font-weight: bold;
        margin: 0 0 .5em;
      }

      &.small-filter-list {
        @include span-columns(2 of 12);
      }

      &.large-filter-list {
        @include span-columns(4 of 12);
      }

      .clickable {
        position: relative;
      }

      .checkbox {
        position: absolute;
      }

      .list-indentation {
        display: inline-block;
        padding-left: 20px;
        width: 100%;
      }
    }
  }

  .dashboard-block {
    @include span-columns(6 of 12);
    border: 1px solid $ilios-blue;
    margin-top: 1em;


    .dashboard-block-actions {
      float: right;
    }

    .dashboard-block-header {
      background-color: $grey;
      padding: .5em;
    }

    .form-title {
      margin-bottom: .5em;
    }

    .form-label {
      font-size: .9em;
      font-weight: bold;
      text-align: left;

      &.sub-label {
        font-size: .8em;
        font-style: italic;
        font-weight: normal;
      }
    }

    .input-buttons {
      float: right;
    }

    .form-data input {
      width: 100%;
    }

    .dashboard-block-header,
    .form-title {
      color: $ilios-orange;
      font-weight: bold;
    }

    .dashboard-block-body {
      height: 20em;
      overflow-y: scroll;
    }

    &.dashboard-double-block .dashboard-block-body {
      height: 40em;
    }

    .form-container {
      border: $header-grey 2px solid;
      margin: 10px;
      padding: 10px;
    }
  }

  .dashboard-my-courses {
    .dashboard-block-body {
      table {
        width: auto;
      }
    }
  }

  .ilios-calendar-container {
    min-height: 25em;
  }

  .filters-list {
    background: $super-light-grey;
    margin-bottom: 1em;
    padding: 5px;

    .filters-header {
      border-bottom: 1px solid $moderate-grey;
      color: $moderate-grey;
      font-size: 10px;
    }

    .filter-tags {
      .filter-tag {
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        font-size: 10px;
        padding: 2px 5px;
      }

      .fa-close {
        color: $moderate-grey;
      }

      .tag-session-type {
        background: $session-type;
      }

      .tag-course-level {
        background: $course-level;
      }

      .tag-cohort {
        background: $cohort;
      }

      .tag-course {
        background: $course;
      }

      .filters-clear-filters {
        color: $ilios-blue;
        cursor: pointer;
        font-size: 10px;
      }
    }
  }

  .recently-updated-display {
    i {
      color: $updated-color;
    }
  }
}

.ilios-event {
  .ilios-event-print-course {
    float: right;
    margin-top: 1em;
  }
}
