$collapse-control-shadow-grey: #e2e2e2;
$collapse-control-shadow-black: rgba(0, 0, 0, .34);

.detail-view {
  background-color: $background-grey;
  border-color: $header-grey;
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;
  font-size: $base-font-size;
  margin-top: -4px;

  //for the entire sessions section, we want to distinguish it with a different bg-color
  &.sessions-list {
    background-color: $active-background-color;
  }

  // detail view defaults should go below here
  section {
    @include clearfix;
    border: 0;
    margin: 10px 10px 0;
    text-align: left;

    &.detail-overview {
      margin-top: $base-font-size * 2;

      label {
        display: inline-block;
        font-weight: bold;
        margin-right: $base-font-size * 5;

        > * {
          font-weight: normal;
        }
      }
    }

    &.detail-block {
      border-bottom: 1px dotted $ilios-orange;
      margin-left: .8em;
      margin-right: .8em;
      padding-left: .8em;
      padding-right: .8em;

      // special handling for the detail-blocks that contain a filter element
      &.filter-detail-block {
        .detail-title {
          @include span-columns(4);
        }

        .filter-tools {
          @include shift(3);
          @include span-columns(3);
          @include pad(0);
          margin-top: .1em;
        }

        .detail-actions {
          @include span-columns(2);
          @include omega();
        }
      }

      .detail-title {
        @include span-columns(9 of 12);
        color: $text-blue;
        font-size: $base-font-size;
        font-weight: bold;
        margin-top: 1em;

        &.sessions {
          color: $text-blue;
        }
      }

      .detail-actions {
        @include span-columns(3 of 12);
        @include omega;
        margin-top: 1em;
        padding-right: .3em;
        text-align: right;
        vertical-align: middle;
      }

      .detail-content {
        @include span-columns(12 of 12);
        margin-bottom: .8em;
        margin-left: .5em;
        margin-top: $base-font-size;
        padding-right: .8em;
        position: relative;

        .detail-overlay {
          @include position(absolute, 0);
          background: $white;
          content: '\A';
          cursor: default;
          height: 100%;
          opacity: 0;
          width: 100%;
          z-index: -5;

          &.show-overlay {
            opacity: .9;
            z-index: 5;
          }
        }
      }

      &.collapsed {
        .detail-title {
          @include span-columns(3 of 12);

          &::after {
            content: '\25BA';
          }
        }

        .detail-content {
          @include span-columns(9 of 12);
          margin: 0;
        }
      }

      &.collapsible {
        .detail-title::after {
          content: '\25BC';
        }
      }
    }
  }

  .detail-header {
    @include span-columns(12 of 12);
    background-color: $header-grey;
    margin: 0;
    padding: .8em;

    .title {
      @include span-columns(8 of 12);

      h2,
      h4 {
        display: inline;
      }

      input {
        @include span-columns(6 of 8);
      }
    }

    .header-actions,
    .info {
      @include span-columns(3 of 12);
      text-align: right;
    }
  }

  .detail-collapsed-control {
    margin-bottom: $base-font-size;
    text-align: center;
    width: 100%;

    span {
      @include padding(.25em 4em .5em 5em);
      @include border-bottom-radius(5px);
      background-color: $ilios-orange;
      box-shadow: 0 2px $collapse-control-shadow-grey, inset 0 1px 2px $collapse-control-shadow-black;
      color: $white;
      cursor: pointer;

      > .fa {
        padding-left: 1em;
      }
    }
  }

  .active-background,
  .active-background:hover {
    background-color: $active-background-color;

    tbody .confirm-removal {
      background-color: $remove-background-color;
    }
  }

  .publish-all-sessions-review {
    border: 1px solid $published-green;
    font-size: 1.5 * $base-font-size;
    margin: 2.5em;
    padding: 1em;
    text-align: center;

    p {
      color: $published-green;
      font-weight: bold;
      margin: 0;
      margin-bottom: 1em;
    }

    button {
      background: $publish-button-color;
      color: $white;
    }

  }

  .summary-highlight {
    color: $ilios-orange;
    font-weight: bold;
  }
}

tbody .confirm-removal {
  background-color: $remove-background-color;

  .confirm-message {
    color: $ilios-remove-color;
    font-weight: bold;
    padding-left: 8em;
    padding-right: 8em;
    text-align: center;
    width: 100%;
  }

  .confirm-buttons {
    padding-bottom: 1.5em;
    padding-top: 1.1em;
  }


  &:hover {
    background-color: $remove-background-color;
  }

  .remove {
    background-color: $white;
    color: $ilios-remove-color;

    &:hover {
      background-color: $ilios-remove-color;
      color: $white;
    }
  }
}

.print-detail-view {
  ul {
    list-style-type: disc;
  }
}

.learningmaterial-search {
  .livesearch-user-email {
    color: $medium-grey;
    font-style: italic;
    padding-right: .2em;
  }
}
