.detail-container {
  position: relative;

  &.padding-top {
    padding-top: 4em;
  }

  .detail-title-absolute {
    color: $ilios-orange;
    font-weight: bold;
    margin-top: 1em;
    position: absolute;
    top: 0;
  }

  .detail-actions-absolute {
    margin-top: 1em;
    padding-right: .3em;
    position: absolute;
    right: .8em;
    top: 0;
  }
}
