$collapse-control-shadow-grey: #e2e2e2;

// scss-lint:disable SelectorDepth NestingDepth
.detail-view {
  background-color: $background-grey;
  border-color: $header-grey;
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;
  font-size: $base-font-size;
  margin-top: -4px;

  
  // Because certain sections are styled differently from others (ie, some headers have toggles and others do not,
  // put the non-default, detail-view type-specific styling here, put the defaults below
  
  //sessions
  &.session-detail-view {
    background-color: $active-background-color;
    
    .detail-block {
      border-bottom: 1px dotted $text-blue;
      
      .detail-title {
        color: $text-blue;
      }
      
      table thead {
        background-color: $text-blue;
        color: $white;
      }
    }
  }

  

  //for the entire sessions section, we want to distinguish it with a different bg-color
  &.sessions-list {
    background-color: $active-background-color;
  }

  // session-offerings section
  .session-offerings {

    section {

      &.detail-block {

        .detail-title {
          @include span-columns(2 of 12);
        }

        .detail-actions {
          @include shift(8 of 12);
          @include span-columns(2 of 12);
          @include omega();
        }

        .detail-content {
          .detail-content-header {

            background-color: $header-grey;
            height: 42px;

            div {
              @include span-columns (12 / 5);
              @include pad(10px default default default);

              label {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }



  // detail view defaults should go below here
  section {
    @include clearfix;
    border: 0;
    margin: 10px 10px 0;
    text-align: left;

    &.detail-overview {
      margin-top: $base-font-size * 2;

      label {
        display: inline-block;
        font-weight: bold;
        margin-right: $base-font-size * 5;

        > * {
          font-weight: normal;
        }
      }
    }

    &.detail-block {
      border-bottom: 1px dotted $ilios-orange;
      margin-left: .8em;
      margin-right: .8em;
      padding-left: .8em;
      padding-right: .8em;
      
      &.collapsed .detail-title::after {
        content: '\25BA';
      }
      
      &.collapsible .detail-title::after {
        content: '\25BC';
      }

      // special handling for the detail-blocks that contain a filter element
      &.filter-detail-block {
        .detail-title {
          @include span-columns(4);
        }

        .filter-tools {
          @include shift(3);
          @include span-columns(3);
          @include pad(0);
          margin-top: .1em;
        }

        .detail-actions {
          @include span-columns(2);
          @include omega();
        }
      }

      .detail-title {
        @include span-columns(9 of 12);
        color: $ilios-orange;
        font-size: $base-font-size;
        font-weight: bold;
        margin-top: 1em;

        &.sessions {
          color: $text-blue;
        }
      }

      .detail-actions {
        @include span-columns(3 of 12);
        @include omega;
        margin-top: 1em;
        padding-right: .3em;
        text-align: right;
        vertical-align: middle;
      }

      .detail-content {
        @include span-columns(12 of 12);
        margin-bottom: .8em;
        margin-left: .5em;
        margin-top: $base-font-size;
        padding-right: .8em;
        position: relative;

        .detail-overlay {
          @include position(absolute, 0);
          background: $white;
          content: '\A';
          cursor: default;
          height: 100%;
          opacity: 0;
          width: 100%;
          z-index: -5;

          &.show-overlay {
            opacity: .9;
            z-index: 5;
          }
        }
      }
    }
  }

  .removable-list {
    margin-bottom: $base-font-size;

    ul,
    li {
      display: inline-block;
    }

    li {
      background-color: $header-grey;
      border-radius: 4px;
      cursor: pointer;
      margin-right: .3em;
      margin-top: 10px;
      padding: .2em .4em .2em .6em;
      vertical-align: middle;
    }
  }

  .inline-list {
    margin-bottom: $base-font-size;

    ul,
    li {
      display: inline-block;
    }

    li {
      margin-right: .3em;
      vertical-align: middle;
    }
  }

  .columnar-list {
    @include media($medium-screen) {
      @include column-count(3);
    }

    @include media($large-screen) {
      @include column-count(4);
    }
  }

  .removex {
    display: inline;
    margin: 0;
    padding: 0 .4em;
  }

  .selectable-list {
    @include position(relative);
    @include clearfix;
    margin-bottom: $base-font-size;
    width: 80%;

    ul {
      @include padding(.5em 1em .5em .5em);
      background-color: $white;
      border: 1px solid $base-link-color;
      height: 10em;
      overflow-y: scroll;
      width: 80%;

      ul {
        background-color: transparent;
        border: 0;
        height: auto;
        margin-left: 2em;
        overflow-y: visible;
        padding: 0;
        width: auto;
      }

      li {
        color: $base-link-color;
        cursor: pointer;

        &.static {
          color: $base-font-color;
          cursor: arrow;
        }

        &.disabled {
          color: lighten($base-font-color, 40);
          cursor: arrow;
        }
      }
    }

  }

  .detail-header {
    @include span-columns(12 of 12);
    background-color: $header-grey;
    margin: 0;
    padding: .8em;

    .title {
      @include span-columns(8 of 12);
      h2,
      h4 {
        display: inline;
      }

      input {
        @include span-columns(6 of 8);
      }
    }

    .header-actions,
    .info {
      @include span-columns(2 of 12);
      @include shift(1);
      text-align: right;
    }
  }

  .detail-collapsed-control {
    margin-bottom: $base-font-size;
    text-align: center;
    width: 100%;

    span {
      @include padding(.25em 4em .5em 5em);
      @include border-bottom-radius(5px);
      background-color: $ilios-orange;
      box-shadow: 0 2px $collapse-control-shadow-grey, inset 0 1px 2px rgba(0, 0, 0, .34);
      color: $white;
      cursor: pointer;

      > .fa {
        padding-left: 1em;
      }
    }
  }

  .static-list {
    background-color: $white;
    border: 1px solid $input-box-grey;
    border-radius: $base-border-radius;
    padding: 1em 2em;
    width: 80%;

    li {
      font-weight: bold;
    }

    ul {
      margin-left: 1em;

      li {
        font-weight: normal;
      }
    }
  }

  .active-background,
  .active-background:hover {
    background-color: $active-background-color;
    
    tbody .confirm-removal {
      background-color: $remove-background-color;
    }
  }
  
  .publish-all-sessions-review {
    border: 1px solid $published-green;
    font-size: 1.5 * $base-font-size;
    margin: 2.5em;
    padding: 1em;
    text-align: center;
    
    p {
      color: $published-green;
      font-weight: bold;
      margin: 0;
      margin-bottom: 1em;
    }
    
    button {
      background: $publish-button-color;
      color: $white;
    }
    
  }
}

tbody .confirm-removal {
  background-color: $remove-background-color;

  .confirm-message {
    color: $ilios-remove-color;
    font-weight: bold;
    padding-left: 8em;
    padding-right: 8em;
    text-align: center;
    width: 100%;
  }

  .confirm-buttons {
    padding-bottom: 1.5em;
    padding-top: 1.1em;
  }


  &:hover {
    background-color: $remove-background-color;
  }

  .remove {
    background-color: $white;
    color: $ilios-remove-color;

    &:hover {
      background-color: $ilios-remove-color;
      color: $white;
    }
  }
}

.print-detail-view {
  ul {
    list-style-type: disc;
  }
}

.learningmaterial-search {
  display: inline-block;
  float: right;
  margin-top: 1em;
  position: relative;
  
  input {
    height: 2em;
    width: 200px;
  }

  .results {
    @include transition (all .2s ease-in-out);
    background: $white;
    border: 1px solid $background-grey;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize($black, .8);
    color: $base-font-color;
    cursor: pointer;
    left: 0;
    max-height: 400px;
    overflow-x: visible;
    overflow-y: auto;
    //this should be absolute, but first we have to move the .global-search
    //out of the grid.
    position: relative;
    top: 0;
    width: 300px;
    z-index: 100;

    li {
      border-bottom: 1px solid $base-border-color;
      padding: $base-font-size * .6;
      padding-left: 1em;

      &.active:hover {
        background-color: $background-grey;
        cursor: pointer;
      }

      &.inactive {
        color: darken($header-grey, 20);
        font-style: italic;
      }
    }
  }
  
  .livesearch-user-email {
    color: $medium-grey;
    font-style: italic;
    padding-right: .2em;
  }
}
