.detail-container {
  position: relative;

  &.padding-top {
    padding-top: 4em;
  }

  .detail-title-absolute {
    color: $text-blue;
    font-weight: bold;
    margin-top: 1em;
    position: absolute;
    top: 0;
  }

  .detail-actions-absolute {
    margin-top: 1em;
    padding-right: .3em;
    position: absolute;
    right: .8em;
    top: 0;
  }
}

/* @see https://github.com/ilios/frontend/issues/1118 */
.detail-learningmaterials-content {
  tbody td {
    vertical-align: top;
  }
}

.learningmaterial-manager {
  .downloadurl,
  .weblink {
    button {
      background: 0;
      color: $ilios-blue;
      font-size: .8 * $base-font-size;
      margin: 0 .5em;
      padding: 0;
    }
  }
}
