//course, session, etc detail view
.detail-view {
  border: 2px solid $background-grey;
  section {
    text-align: left;
    @include clearfix;
    button {
      font-size: $base-font-size * 0.75;
    }

    &.detail-overview {
      margin-top: $base-font-size * 2;

      label {
        display: inline-block;
        margin-right: $base-font-size * 5;

        & > * {
          font-weight: normal;
        }
      }
    }

    &.detail-block {
      border-bottom: 1px dotted $ilios-orange;
      margin-top: 1em;

      .detail-title {
        color: $ilios-orange;
        font-size: $base-font-size;
        font-weight: bold;
        @include span-columns(2 of 12);
      }

      .detail-actions {
        @include span-columns(2 of 12);
        button {
          width: $base-font-size * 8;
        }
      }

      .detail-content {
        @include span-columns(8 of 12);
      }

      .detail-content-wide {
        @include span-columns(10 of 12);
      }
    }
  }

  .removable-list{
    margin-bottom: $base-font-size;
    ul,li {
      display: inline;
    }
    li {
      margin-right: $base-font-size;
      background-color: $background-grey;
      cursor: pointer;
    }
  }

  .detail-header {
    @include clearfix;
    display: block;
    width: 100%;
    background-color: $background-grey;
    padding: .5em;
    h2 {
      float: left;
      margin-right: 1em;
    }
    .actions {
      float: right;
    }

    .status {
      margin-left: 1em;
      h3 {
        display: inline;
      }
    }
  }

  .detailCollapsedControl {
    width: 100%;
    text-align: center;
    border-top: $base-font-size solid $ilios-orange;
    margin-bottom: $base-font-size;
    span {
      color: white;
      @include padding(.25em 5em .5em 5em);
      background-color: $ilios-orange;
      @include border-bottom-radius(5px);
      cursor: pointer;
      &:after {
        padding-left: 2em;
        @include triangle(12px, gray, down);
      }

      &.is-expanded:after {
        @include triangle(1em, white, up);
      }
    }
  }

  table {
    margin-top: 0;
  }

  ul.static-list {
    background-color: white;
    padding: 1em 2em;
    border: 2px solid $background-grey;
    li {
      font-weight: bold;
    }
    ul {
      margin-left: 1em;
      li {
        font-weight: normal;
      }
    }
  }
}
