.detail-taxonomies {
  .selected-taxonomy-terms {
    .content {
      display: inline-block;

      .term-title {
        display: block;
      }

      .term-vocabulary {
        display: block;
        font-size: smaller;
      }
    }

    .fa {
      vertical-align: top;
    }
  }
}
