.editinplace {
  display: inline;

  .content {
    display: inline;
  }

  .editable {
    color: $ilios-blue;
    cursor: pointer;
  }

  .editor {
    input {
      background: $white;
      border: 1px solid $header-grey;
      border-radius: $base-border-radius;
      color: $base-font-color;
      cursor: pointer;
      display: inline;
      outline: none;
      overflow: show;
      padding: 4px;
      z-index: 100;

      &.has-error {
        border-color: $ilios-red;
      }
    }

    .error {
      display: block;
      font-size: 10px;
    }

    .actions {
      display: inline;

      button {
        margin: 0;
        padding: 0 .2em;
      }
    }
  }
}
