.editinplace {
  display: inline;

  .content {
    display: inline;
  }

  .editable {
    color: $ilios-blue;
    cursor: pointer;
  }

  .editor {
    input {
      background: $white;
      border: 1px solid $header-grey;
      border-radius: $base-border-radius;
      color: $base-font-color;
      cursor: pointer;
      display: inline;
      overflow: show;
      padding: 4px;
      z-index: 100;
    }

    .actions {
      display: inline;

      button {
        background: transparent;
        margin: 0;
        padding: 0 .2em;
      }
    }
  }
}
