.error-main {
  margin-bottom: 25px;
  margin-left: 1em;

  .error-detail-action {
    color: $text-blue;
    cursor: pointer;
  }

  .clear-errors {
    margin: 2em;

    button {
      font-weight: bold;
    }
  }

  .timestamp {
    @include fill-parent();
    font-size: smaller;
    padding-top: 1em;
    text-align: right;
  }
}

.error-detail {
  border: 1px solid $ilios-orange;
  overflow: auto;
  padding: 25px;

  .error-total {
    color: $dark-grey;
    margin: 0;
  }

  .error-main-message {
    color: $ilios-red;
    margin: 10px 0;
  }

  .error-status-code {
    display: block;
    font-size: 14px;
  }

  .error-message {
    display: block;
    font-size: 14px;
  }

  .error-stack {
    font-size: 12px;
  }
}
