$expander-arrow-width: 5px;
$expander-toggle-size: 1em;
$expander-toggle-arrow-size: $expander-toggle-size * .75;
$expander-toggle-margin: 1em;
$expander-border: 1px solid $light-gray;
$expander-button-background: lighten($light-gray, 10);

.expander {
  .expander-toggle {
    @include user-select(none);
    border-bottom: $expander-border;
    display: block;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;

    a {
      cursor: pointer;
      font-size: $expander-toggle-size;
    }
    &:before {
      content: '\25BA';
      font-size: $expander-toggle-arrow-size;
      margin-right: 1em;
    }

    &.is-expanded:before {
      content: '\25BC';
      margin-right: .95em;
    }

    &.is-expanded {
      border: none;
    }

    .tools {
      display: block;
      float: right;

      button {
        @include button(pill, $expander-button-background);
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;
        font-size: $expander-toggle-size * 0.8;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
        }
      }
    }
  }

  .expander-content {
    margin-left: $expander-toggle-margin * 2;
  }

  &.is-expanded {
    border: $expander-border;
  }
}
