//In order to enforce table-like alignment using divs, from
.form-container {
  @include outer-container;

  //set the styling for the 100% width column by specifying '12' columns in the class
  .form-col-12 {
    @include span-columns(10 of 10);
    //background-color: orange;

    .form-label {
      @include span-columns(3 of 10);
    }

    .form-data {
      @include span-columns(7 of 10);
      @include omega();

      //enforce a default width of 500px for text input on 100% width ro
      // scss-lint:disable QualifyingElement
      input[type='text'],
      textarea {
        width: 75%;
      }

      //handle the paragraph text width (eg, copyrightAgreement)
      p {
        width: 90%;
      }

      //for smaller select dropdowns (eg, years), set a minimum width, so it looks nicer
      select {
        min-width: 33%;
      }
    }

    //handle a the submit button alignment for a  100%-wide 1-column form or 50%-wide 2 column form
    &.form-data-submit {
      @include shift(1 of 10);
      @include span-columns(8 of 10);
      margin-top: .2em;
      text-align: right;
    }
  }

  //Set the styling for the 50% width columns by specifying '6' columns in the class
  .form-col-6 {
    @include span-columns(5 of 10);
    @include omega(2n);
    display: table;

    &.multi-row {
      @include clearfix;
      display: table;

      .form-label {
        @include span-columns(2 of 5);
        display: table;
      }

      .form-data {
        @include span-columns(3 of 5);
        @include omega();
        display: table;
      }
    }

    .form-label {
      @include span-columns(3 of 5);
      display: table;
    }

    .form-data {
      @include span-columns(2 of 5);
      @include omega();
      display: table;
      white-space: nowrap;
    }

    &.form-data-submit {
      @include shift(1);
      @include span-columns(4);
      margin-top: 1em;
      text-align: right;
    }
  }

  //set the styling of the 33% width columns by specifying 4 columns in the class
  .form-col-4 {
    @include span-columns(2 of 10);
    @include omega();

    .form-label,
    .form-data {
      @include span-columns(1 of 2);
      @include omega();
    }

    .form-data {

      // scss-lint:disable SelectorDepth
      .editinplace .editor .actions {
        display: block;
        text-align: right;
        width: 90px;
      }
    }

    // scss-lint:disable QualifyingElement
    .editinplace .editor,
    .form-data input[type='text'] {
      //explicitly override the default min-width of text input fields
      max-width: 90px;
      min-width: 90px;
      width: 90px;
    }

    &.form-col-4-middle .form-label,
    &.form-col-4-right .form-label {
      margin-right: 15px;
    }
  }

  .form-col-4-left {
    @include span-columns(4 of 10);

    .form-label {
      @include span-columns(3 of 4);
    }
  }

  .form-col-radiogroup {
    @include span-columns(10 of 10);

    .form-label {
      @include span-columns(6 of 10);
      @include omega();
    }

    .form-data {
      @include span-columns(7 of 10);
      @include shift(3);
      @include omega();
    }
  }
}

//put the universal (non parent-dependent) styles below here
.form-label,
.form-data,
.form-data-submit {
  margin-bottom: .4em;
}

.search-widget {
  //fix the half-line that is cut off
  margin-left: 1px;
}

.form-label,
.search-widget-label {
  font-weight: bold;
}

.form-label {
  text-align: right;
  white-space: nowrap;
}

.form-data {
  font-weight: normal;
  text-align: left;

  &.switch,
  &.form-data-checkbox {

    //this width should match what is in _toggles.scss
    &.on-off,
    &.yes-no {
      width: 55px;
    }
  }
}
