.add {
  color: $ilios-add-color;
}
.remove {
  color: $ilios-remove-color;
}
.disabled {
  color: lighten($base-font-color, 40);
}
.enabled {
  color: $base-font-color;
}
.hidden {
  display: none;
}
.visible {
  display: '';
}
.dirty, .is-dirty {
  color: $base-accent-color;
}
.clickable {
  cursor: pointer;
}
