.add {
  color: $ilios-add-color;
}
.remove {
  color: $ilios-remove-color;
}
.disabled {
  color: lighten($base-font-color, 40);
}
.enabled {
  color: $base-font-color;
}
.hidden {
  display: none;
}
.visible {
  display: '';
}
.dirty, .is-dirty {
  color: $base-accent-color;
}
.clickable {
  cursor: pointer;
}
.page-title {
  color: $base-accent-color;
  text-align: center;
  padding: 1em;
}
ul.inline, ul.inline li {
  display: inline;
  margin-right: 2em;
}
button {
  &.add, &.remove {
    color: white;
  }
  &.add {
    background-color: $ilios-blue;
  }
  &.remove {
    background-color: $ilios-remove-color;
  }
  &.un {
    border-radius: $base-border-radius;
    color: $ilios-blue;
    border: 1px solid $ilios-blue;
    background-color: white;
  }
  &.publish, &.unpublish {
    background-color: $ilios-green;
  }
}
h1 {
  font-weight: normal;
}
h2 {
  font-size: $base-font-size * 1.5;
  font-weight: normal;
}
h4 {
  font-weight: normal;
  margin-left: 10px;
   color: #666;
   font-size: $base-font-size * 1.15;
}
.textarea {
  display: inline;
}
#site-container {
  margin: 0 auto;
  padding-left: 30px;
}
.main-border {
  border-top: 0px;
  margin-top: 0px;
}

/* creates an inline block grouping a label on top and its corresponding data below */
.inline-label-data-block {
  display: inline-block;
}

/* set individual items to be inline as needed */
.inline-label, .inline-data {
  display: inline-block;
}

.published {
  color: $published-green;
}
.notpublished {
  color:$notpublished-amber;
}
.scheduled {
 color: $scheduled-brown;
}

