// sass-lint:disable no-ids
#initialpageloader,
.full-screen-error {
  p {
    background-color: $background-grey;
    border: 2px dashed $ilios-orange;
    color: $ilios-orange;
    font-weight: bold;
    margin: 2em;
    padding: 2em;
    text-align: center;
  }
}

#initialpageloader {
  h1 {
    color: $ilios-orange;
    margin-top: 12%;
    text-align: center;
  }
}
