.removable-list {
  li {
    cursor: pointer;

    .removex {
      display: inline;
      margin: 0;
      padding: 0 .4em;
    }
  }
}

.tag-list {
  margin-bottom: $base-font-size;

  ul,
  li {
    display: inline-block;
  }

  li {
    background-color: $header-grey;
    border-radius: 4px;
    margin-right: .3em;
    margin-top: 10px;
    padding: .2em .4em .2em .6em;
    vertical-align: middle;
  }
}

.tag-tree {
  margin-bottom: $base-font-size;

  li {
    margin-left: 20px;

    div {
      background-color: $white;
      border: 1px $header-grey solid;
      border-radius: 4px;
      margin-top: 5px;
      padding: .2em .4em .2em .6em;
      vertical-align: middle;

      &.selected {
        background-color: $header-grey;
      }
    }

    .actions {
      float: right;
    }

    &.top-level {
      margin-left: 0;
    }
  }

}

.inline-list {
  margin-bottom: $base-font-size;

  ul,
  li {
    display: inline-block;
  }

  li {
    margin-right: .3em;
    vertical-align: middle;
  }
}

.columnar-list {
  @include media($medium-screen) {
    column-count: 3;
  }

  @include media($large-screen) {
    column-count: 4;
  }
}


.selectable-list {
  @include position(relative);
  @include clearfix;
  background-color: $white;
  border: 1px solid $base-link-color;
  height: 10em;
  margin-bottom: $base-font-size;
  overflow-y: scroll;
  width: 80%;

  ul {
    @include padding(.5em 1em .5em .5em);


    ul {
      background-color: transparent;
      border: 0;
      height: auto;
      margin-left: 2em;
      overflow-y: visible;
      padding: 0;
      width: auto;
    }

    li {
      color: $base-link-color;
      cursor: pointer;

      &.static {
        color: $base-font-color;
        cursor: arrow;
      }

      &.disabled {
        color: lighten($base-font-color, 40);
        cursor: arrow;
      }
    }
  }

  .selectable-list-form {
    margin: .5em;
  }

}

.selectable-list-header {
  font-size: 1.1 * $base-font-size;
  font-weight: bold;
  margin-bottom: .25em;
}

.static-list {
  background-color: $white;
  border: 1px solid $input-box-grey;
  border-radius: $base-border-radius;
  padding: 1em 2em;
  width: 80%;

  li {
    font-weight: bold;
  }

  ul {
    margin-left: 1em;

    li {
      font-weight: normal;
    }
  }
}

.details-list {
  li {
    .content {
      display: inline-block;

      .title {
        display: block;
      }

      .details {
        display: block;
        font-size: smaller;
      }
    }

    .fa {
      vertical-align: top;
    }
  }
}
