.live-search {

  position: relative;
  display: inline-block;

  .results {
    
 @include transition (all 0.2s ease-in-out);
    background: #FFF;
    border: 1px solid $light-gray;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, .8);
    color: $base-font-color;
    cursor: pointer;
    z-index: 99999;
    overflow: show;
    // position: absolute;
    left: 0;
    top: $dropdown-distance-from-menu;
    min-width: 191px;
    z-index: 100;
    
    li{
      padding: $base-font-size * .6;
      padding-left: 1em;
      border-bottom: 1px solid $base-border-color;

      &.active:hover{
        background-color: $background-grey;
        cursor: pointer;
      }

      &.inactive{
        color: darken($header-grey, 20);
        font-style: italic;
      }
    }
  }
}
