.live-search {

  position: relative;
  display: inline-block;

  .results {
    position: absolute;
    background-color: white;
    margin-left: 31px;
    width: 100%;
    border: 2px solid $base-border-color;
    box-shadow: $base-border-color 2px 2px 1px;
    li{
      padding: $base-font-size * .5;
      border-bottom: 1px solid $base-border-color;

      &.active:hover{
        background-color: $background-grey;
        cursor: pointer;
      }

      &.inactive{
        color: darken($header-grey, 20);
        font-style: italic;
      }
    }
  }
}
