.mesh-manager {
  .deprecated {
    color: $ilios-red;
    font-weight: bolder;
  }

  .mesh-search-results {
    .descriptor-name {
      display: block;
      font-weight: bold;
    }

    .descriptor-id {
      display: block;
      font-size: smaller;
    }

    .mesh-concepts {
      color: inherit;
      list-style: disc inside;

      .truncated::after {
        content: ' \2026';
      }
    }
  }
}
