$navigation-shadow-1: rgba(0, 0, 0, .19);
$navigation-shadow-2: rgba(0, 0, 0, .34);
$sliding-menu-border-color: $base-border-color;
$sliding-menu-background: $background-grey;
$sliding-menu-color: $ilios-orange;
$sliding-menu-border: 1px solid darken($sliding-menu-border-color, 5);
$sliding-menu-background-hover: darken($sliding-menu-background, 5);
$sliding-menu-color-hover: #fff;

.sliding-navigation {
  @media print {
    display: none;
  }

  .sliding-menu-button {
    @include position(fixed, 105px 0 0 -45px);

    background-color: $sliding-menu-background;
    border-color: $ilios-orange;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px 1px 0;
    box-shadow: 2px 1px 3px $navigation-shadow-1, inset 1px 0 2px $navigation-shadow-2;
    color: $sliding-menu-color;
    display: inline-block;
    font-size: $base-font-size * .9;
    height: 45px;
    margin-bottom: $base-line-height;
    margin-top: 10px;
    outline: none;
    padding-top: .4em;
    text-align: center;
    transform: rotate(90deg);
    transition: all .25s linear;
    width: 120px;
    z-index: 201;

    @include media($giant-screen) {
      display: none;
    }

    i {
      margin-right: 10px;
      transform: rotate(-90deg);
    }

    &.is-menu-visible {
      transform: translateX(180px) rotate(90deg);
    }
  }

  .sliding-menu-content {
    @include position(fixed, 60px auto 0 0);
    @include size(180px 100%);
    background: $sliding-menu-background;
    border-right: 1px solid $header-grey;
    box-shadow: 2px 1px 3px $navigation-shadow-1, inset 1px 0 2px $navigation-shadow-2;
    color: $sliding-menu-color;
    padding-top: 2em;
    transform: translateX(-190px);
    transition: all .25s linear;
    z-index: 201;

    @include media($giant-screen) {
      transform: translateX(0);
    }

    li {
      a {
        border-bottom: $sliding-menu-border;
        color: $sliding-menu-color;
        display: inline-block;
        padding: .5em;
        padding-left: 20px;
        width: 100%;
      }

      &:hover {
        background-color: $sliding-menu-background-hover;
        color: $sliding-menu-color-hover;
      }
    }

    .loading-indicator {
      font-size: 2em;
      text-align: center;
      width: 100%;
    }

    &.is-menu-visible {
      transform: translateX(0);
    }
  }

  .menu-screen {
    @include position(fixed, 0 0 0 0);
    background: $sliding-menu-background;
    opacity: 0;
    visibility: hidden;
    z-index: 200;

    &.is-menu-visible {
      visibility: visible;

      @include media($giant-screen) {
        visibility: hidden;
      }
    }
  }
}

// modals go above navigation menu
.ember-modal-overlay {
  z-index: 300;
}

.ember-modal-dialog {
  z-index: 300;
}
