.objective-manager {
  h2 {
    padding: .5em;
    margin-bottom: 1em;
    background-color: $background-grey;
  }
  .selected {
    color: white;
    background-color: $ilios-orange;
  }
  .parent-picker {

   ul{
    line-height: 1.3em;
    height: auto;
  }

  li {
    margin-left: 1.5em;
    margin-right: 1.5em;
    list-style-position: outside;
    padding: .2em 0 .3em 1.5em;
    text-indent: -1.2em;

  }
}
.no-group {
  font-weight: bold;
  color: $ilios-orange;
}

h5 {
  background-color: $header-grey;
  padding: .2em .5em;
  margin-left: .8em;
  margin-right: .8em;
  font-size: .9em;
  font-weight: bold;
}
}
