.objective-manager {

  h2 {
    background-color: $background-grey;
    margin-bottom: 1em;
    padding: .5em;
  }

  .selected {
    background-color: $ilios-orange;
    color: $white;
  }

  .parent-picker {
    ul {
      height: auto;
      line-height: 1.3em;
    }

    li {
      list-style-position: outside;
      margin-left: 1.5em;
      margin-right: 1.5em;
      padding: .2em 0 .3em 1.5em;
      text-indent: -1.2em;
    }
  }

  .no-group {
    color: $ilios-orange;
    font-weight: bold;
  }

  h5 {
    background-color: $header-grey;
    font-size: .9em;
    font-weight: bold;
    margin-left: .8em;
    margin-right: .8em;
    padding: .2em .5em;
  }
}
