.offering-block {
     font-size: .9em;
  @include span-columns(12 of 12);
  .offering-block-date{
    @include span-columns(12 of 12);
    @include omega();
    .offering-block-date-dayofweek,  {
      width: 100%;
      display: block;
        color: #cc6600;
        font-size: $base-font-size * 1.2;
        font-weight: bold;
    }
      .offering-block-date-dayofmonth{
          color: $medium-grey;
         
         
      
      }
  }
  .offering-block-time {
    margin-top: 1em;
      margin-bottom: 2em;
    @include span-columns(12 of 12);
    @include fill-parent();
    .offering-block-time-time {
      @include span-columns(3 of 12);

      .offering-block-time-time-starttime, .offering-block-time-time-endtime {
        display: block;
           color: $medium-grey;
          
      }
    }
    .offering-block-time-offerings {
        
      @include span-columns(8 of 12);
      @include shift(1);
      .offering-block-time-offering {
        .offering-detail-box{
           padding: .8em;
          @include span-columns(2 of 8);
          @include omega(4n);
        }
      }
    }

    .multiday-offering-block-time-time {
      @include span-columns(12 of 12);
      @include omega();
    }
    .multiday-offering-block-time-offerings {
      @include span-columns(8 of 12);
      @include shift(4);
      .offering-block-time-offering {
        .offering-detail-box{
          @include span-columns(2 of 8);
          @include omega(4n);
        }
      }
    }
  }
}
