.offering-block {
  @include span-columns(12 of 12);
  font-size: .9em;

  .offering-block-date {
    @include span-columns(12 of 12);
    @include omega();

    .offering-block-date-dayofweek {
      color: $ilios_orange;
      display: block;
      font-size: $base-font-size * 1.2;
      font-weight: bold;
      width: 100%;
    }

    .offering-block-date-dayofmonth {
      color: $medium-grey;
      }
    }

  .offering-block-time {
    @include span-columns(12 of 12);
    @include fill-parent();
    margin-bottom: 2em;
    margin-top: 1em;

    .offering-block-time-time {
      @include span-columns(3 of 12);
    }

    .offering-block-time-time-starttime,
    .offering-block-time-time-endtime {
      color: $medium-grey;
      display: block;
      font-weight: bold;
    }

    .offering-block-time-time-starttime-label,
    .offering-block-time-time-endtime-label {
      font-weight: normal;
    }

    .offering-block-time-offerings {

      @include span-columns(8 of 12);
      @include shift(1);
    }

    .offering-block-time-offering {
      .offering-detail-box {
        padding: .8em;
        @include span-columns(2 of 8);
        @include omega(4n);
      }
    }

    .multiday-offering-block-time-time {
      @include span-columns(12 of 12);
      @include omega();
    }

    .multiday-offering-block-time-offerings {
      @include span-columns(8 of 12);
      @include shift(4);
    }

    .offering-block-time-offering {
      .offering-detail-box{
        @include span-columns(2 of 8);
        @include omega(4n);
      }
    }
  }
}
