.programyear-select-container {
  margin: 1em auto 0;
  width: 320px;

  .programyear-select {
    display: inline-block;

    .ff-select-field {
      background: $white;
      border: 2px solid $learner-group-grey;
      border-radius: 0;
      color: $black;
      height: 35px;
      outline: none;
      overflow-x: hidden;
      position: relative;
      width: 230px;

      &::after {
        color: $learner-group-grey;
        content: '\f0d7';
        font-family: FontAwesome;
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 7px;
      }
    }

    .ff-option-list {
      position: relative;
      width: 230px;

      .ff-option {
        background: $white;
        border-bottom: 1px solid $learner-group-grey;
        box-sizing: content-box;
        outline: none;
        text-align: center;
        width: 230px;
      }

      .ff-option:hover {
        background: $learner-group-grey;
      }
    }
  }

  .programyear-action {
    display: inline-block;
    vertical-align: top;

    button {
      color: $white;
      height: 35px;
      outline: none;
      width: 40px;
    }

    .programyear-save {
      background: $ilios-green;

      &:hover {
        background: $learner-group-grey;
        color: $ilios-green;
      }
    }

    .programyear-cancel {
      background: $ilios-red;

      &:hover {
        background: $learner-group-grey;
        color: $ilios-red;
      }
    }
  }
}

.programyear-list {
  .program-year-link {
    color: $black;
  }

  .confirm-removal {
    background: $remove-background-color;
  }

  .trash {
    color: $ilios-remove-color;
  }

  .resultslist {
    min-height: 340px;

    .default-message {
      display: block;
      margin-top: 35px;
    }
  }
}
