.publication-menu {
  .button,
  .button:hover {
    background-color: $white;
    border: 1px solid transparent;
  }

  &.published button {
    border: 1px solid $published-green;
    color: $published-green;
  }

  &.notpublished button {
    border: 1px solid $notpublished-amber;
    color: $notpublished-amber;
  }

  &.scheduled button {
    border: 1px solid $scheduled-brown;
    color: $scheduled-brown;
  }

  .dropdown-menu li {
    &.danger:hover {
      background-color: $ilios-red;
      color: $white;
    }

    &.good:hover {
      background-color: $ilios-green;
      color: $white;
    }
  }
}
