.pulseloader {
  margin-left: 150px;
  margin-top: 50px;

  @keyframes pulse {
    0% {
      stroke-dashoffset: 691;
     }

    100% {
      stroke-dashoffset: 0;
    }
  }

  .text {
    color: $ilios-orange;
    font-weight: bold;
    line-height: 1;
  }

  &.is-full-size {
    align-items: center;
    display: flex;
    min-height: 100px;
  }

  .path {
    animation: pulse 2.2s infinite ease-in-out;
  }
}
