body {
  background-color: $white;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-size: $h1-font-size;
  font-weight: normal;
}

h2 {
  font-size: $h2-font-size;
  font-weight: normal;
}

h3 {
  font-size: $h3-font-size;
  font-weight: normal;
}

h4 {
  font-size: $h4-font-size;
  font-weight: normal;
}

h5 {
  font-size: $h5-font-size;
  font-weight: normal;
}

h6 {
  font-size: $h6-font-size;
  font-weight: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    margin-bottom: $base-line-height * .5em;
    padding-left: $base-line-height * 1em;
  }

  &%default-ol {
    margin-bottom: $base-line-height * .5em;
    padding-left: $base-line-height * 1em;
  }
}

dl {
  margin-bottom: $base-line-height * .5em;

  dt {
    margin-bottom: $base-line-height * .5em;
  }

  dd {
    margin: 0;
  }
}

hr {
  border: 0;
}

input {
  font-size: 1em;
  line-height: 1em;
}
