$active-list-tr-background: rgba(239, 251, 255, .8);

.resultslist {
  @include span-columns(12 of 12);
  border-color: $header-grey;
  border-style: solid;
  border-width: 0 2px 2px;
  margin-top: 0;

  .resultslist-header {
    @include span-columns(12 of 12);
    background-color: $header-grey;
    padding: .4em;

    .resultslist-title {
      @include span-columns(4 of 12);

      h2 {
        font-size: $base-font-size;
        margin: .3em 1em;
        text-align: left;
        width: 100%;
      }
    }
  }

  .resultslist-list {
    @include span-columns(12 of 12);
    @include pad();

    //fix for the action menus breakign at the bottom of a list
    table {
      margin-bottom: 76px;
    }

    tbody tr {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;

      &:hover,
      &:hover td {
        border-bottom: 1px solid $hover-border;
        border-top: 1px solid $hover-border;
      }

      &.donthover {
        border-bottom: 0;
        border-top: 0;
      }

      &.highlighted {
        background-color: lighten($ilios-green, 30%);
      }
    }

    thead tr {
      background-color: $header-grey;
    }

    thead th {
      border: 0;
    }

    .active-background {
      tbody tr {
        background-color: $active-list-tr-background;
      }

      thead tr {
        background-color: $text-blue;
      }

      thead th {
        color: $white;
      }
    }

    .sortable {
      cursor: pointer;
    }
  }

  .resultslist-actions {
    @include span-columns(2 of 12);
    @include shift(6);
    text-align: right;
  }

  .add {
    margin-left: 5em;
    margin-top: .2em;
  }

  .resultslist-new,
  .resultslist-save {
    clear: both;
    padding: 0 1em;

    .new-result {
      border: 1px solid $header-grey;
      margin: 1em 0;
      padding: 1em;

      button {
        display: inline;
        margin-right: 1em;
      }
    }

    .new-result-title {
      color: $ilios-orange;
      font-size: $base-font-size;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }

  .resultslist-save {
    padding-top: 2em;
  }
}

.saved-result {
  border: 1px solid $ilios-green;
  margin: 1em 0;
  overflow: hidden;
  padding: 1em;
}
