// scss-lint:disable SelectorDepth NestingDepth
.resultslist {
  @include span-columns(12 of 12);
  border-color: $header-grey;
  border-style: solid;
  border-width: 0 2px 2px;
  margin-top: 0;

  .resultslist-header {
    @include span-columns(12 of 12);
    background-color: $header-grey;
    padding: .4em;

    .resultslist-title {
      @include span-columns(1 of 12);
      h2 {
        font-size: $base-font-size;
        margin: .3em 1em;
        text-align: left;
        width: 100%;
      }
    }
  }

  .resultslist-list {
    @include span-columns(12 of 12);
    @include pad();
    tbody tr {

      &:hover {
        background-color: rgba(239, 251, 255, .8);
      }

      &.active-background,
      &.active-background:hover {
        background-color: rgba(239, 251, 255, .8);
      }
    }
     

    thead tr {
      background-color: $header-grey;  
    }

    thead th {
      border: 0;
    }

    &.sessions {
      thead tr {
        background-color: $text-blue;
      }

      thead th {
        color: $white;
      }

      tbody tr {
        cursor: pointer;
        
        &:hover {
          border-top:1px dotted $header-blue;
             border-bottom:1px dotted $header-blue;
        }
      }  
     
    }
  }

  .resultslist-actions {
    @include span-columns(2 of 12);
    @include shift(9);
  }

  tbody .confirm-removal {
    background-color: $remove-background-color;

    .confirm-message {
      color: $ilios-remove-color;
      font-weight: bold;
      padding-left: 8em;
      padding-right: 8em;
      text-align: center;
      width: 100%;
    }

    .confirm-buttons {
      padding-bottom: 1.5em;
      padding-top: 1.1em;
    }


    &:hover {
      background-color: $remove-background-color;
    }

    .remove {
      background-color: $white;
      color: $ilios-remove-color;
    }
  }

  .add {
    margin-left: 5em;
    margin-top: .2em;
  }

  .newcourse {
    border: 1px solid $header-grey;
    margin: 4.5em 1em 0;
    padding: 1em;

    table {
      margin: 0 auto;
      width: 70%;

      label {
        font-weight: bold;
      }

      input {
        display: inline-block;
        margin-right: 1em;
        width: 100%;
      }

      td {
        vertical-align: bottom;
      }
    }
  }

  .newcourse-title {
    color: $ilios-orange;
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: 1em;
  }

}
.sessions-hover:hover {
            background-size: cover;
            -mix-blend-mode: multiply;
            background-color: rgba(183, 211, 220, 1);
  
        }   