.resultslist {
  @include span-columns(12 of 12);
  border-style: solid;
  border-color: $header-grey;
  border-width: 0 2px 2px;
  margin-top:0;
  .resultslist-header {
    background-color: $header-grey;
    padding: .4em;
    @include span-columns(12 of 12);
    .resultslist-title {
      @include span-columns(1 of 12);
      h2 {
        width: 100%;
        font-size: $base-font-size;
        text-align: left;
        margin: .3em 1em;
      }
    }
  }
  .resultslist-list {
    @include span-columns(12 of 12);
    @include pad();
    tbody tr {
      cursor: pointer;
      &:hover {
        background-color: $background-grey;
      }
    }
  }
  .resultslist-actions {
    @include span-columns(2 of 12);
    @include shift(9);
  }
  tbody tr.confirm-removal {
    .confirm-message {
      text-align: center;
      font-weight: bold;
      color: $ilios-remove-color;
      width: 100%;
      padding-left: 8em;
      padding-right: 8em;
    }
    .confirm-buttons{
      padding-top: 1.1em;
      padding-bottom: 1.5em;
    }
    background-color: $remove-background-color;
    &:hover {
      background-color: $remove-background-color;
    }
    button.remove {
      background-color: white;
      color: $ilios-remove-color;
    }
  }
  .add {margin-left: 5em;
    margin-top: .2em
  }
  
  .newcourse {
    border: 1px solid $header-grey;
    margin: 4.5em 1em 0em 1em;
    padding: 1em;

    table {
      width: 70%;
      margin: 0 auto;

      label {
        font-weight: bold;
      }
      input {
        display: inline-block;
        margin-right: 1em;
        width: 100%;
      }
      td {
        vertical-align: bottom;
      }
    }
  }
  .newcourse-title {
    color: $ilios-orange;
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: 1em;
  }

}
