table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
  font-size: .9em;
  thead {
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  }


  th {
    border-bottom: 1px solid darken($base-border-color, 15);
    font-weight: bold;
    padding: ($base-spacing / 2) 0;
    text-align: left;
  }

  td {
    border: none;
    padding: ($base-spacing / 2) 0;
  }

  tr,
  td,
  th {
    vertical-align: middle;
    padding: .5em;
  }
}
