.taxonomy-manager {
  .selected-terms {
    border: 1px solid $dark-grey;
    padding: 10px;
  }

  .vocabulary-picker {
    margin: 20px 0 15px;
  }

  .terms-picker {
    max-height: 300px;
    overflow-x: scroll;
  }
}
