.tree-list {
  border: 1px solid $base-link-color;
  padding: $base-font-size;

  li {
    color: $base-link-color;
    cursor: pointer;

    ul {
      margin-left: 2em;
    }
  }

  &.removable {
    background-color: $header-grey;
  }

  &.selectable {
    background-color: $white;
  }
}
