.tree-list {
  border: 1px solid $base-link-color;
  padding: $base-font-size;

  li {
    color: $base-link-color;
    cursor: pointer;
    font-weight: bold;

    ul {
      margin-left: 2em;

      li {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  &.removable {
    background-color: $header-grey;
    max-height: 380px;
    overflow: auto;
  }

  &.selectable {
    background-color: $white;
    max-height: 380px;
    overflow: auto;
  }
}
