.users {
  .resultslist-header {
    @include span-columns(12);
    .resultslist-title {
      @include span-columns(4 of 12);
    }

    .resultslist-actions {
      @include span-columns(8 of 12);
      @include shift(0);
      @include omega;
      text-align: right;
    }

    .pagination-top {
      float: right;
    }
  }

  .pagination-bottom {
    margin-bottom: 2em;
  }

  .resultslist-list {
    text-align: center;
  }
}
