.user-profile {
  min-height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;

  .user-display-name {
    margin: 1.5em 0 0;
    text-align: center;
  }

  .user-is-student {
    color: $ilios-green;
    text-align: center;
  }

  .global-search {
    position: absolute;
    right: 0;
  }

  // override for secondary cohorts picker
  .secondary-cohorts {
    .removable-list {
      white-space: normal;

      li {
        white-space: nowrap;
      }
    }

    .selectable-list {
      overflow-x: scroll;
      width: 100%;
    }
  }

  .user-profile-details {
    @include span-columns(12 of 12);

    margin-top: 2em;

    .user-permissions {
      @include span-columns(3 of 12);
      background: $header-grey;
      border-radius: 1em;
      min-height: 300px;
      padding: 1em;
      text-align: center;
      vertical-align: top;

      .user-permissions-header {
        font-size: 1.5em;
        margin: 0 0 1em;
        text-align: center;
      }

      .user-permissions-body {
        display: inline-block;
        text-align: left;
      }

      .disable-actions {
        pointer-events: none;
      }

      hr {
        border: 1px solid $moderate-grey;
        margin: 1em 0;
      }
    }

    .user-info {
      @include shift(1 of 12);
      @include span-columns(8 of 12);
    }

    //override form styles since we are in smaller space
    .form-col-6 {
      @include span-columns(6 of 8);



      &.form-data-submit {
        @include shift(1);
        @include span-columns(5 of 8);
      }
    }
  }
}
