.validation-error-message {
  clear: both;
  color: $ilios-red;
  display: block;
  font-size: 10px;
}

.editinplace {
  .editor {
    .has-error {
      border-color: $ilios-red;
      outline: none;
    }
  }
}

.new-session {
  input {
    outline: none;
  }

  .has-error {
    border-color: $ilios-red;
  }
}

.new-course {
  input {
    outline: none;
  }

  .has-error {
    border-color: $ilios-red;
  }
}

.new-program {
  input {
    outline: none;
  }

  .has-error {
    border-color: $ilios-red;
  }
}

.newlearningmaterial {
  input {
    outline: none;
  }

  .has-error {
    border-color: $ilios-red;
  }
}

.new-learnergroup {
  input {
    outline: none;
  }

  .has-error {
    border-color: $ilios-red;
  }
}

input {
  &.has-error {
    border-color: $ilios-red;
  }
}
