$ilios_orange: #CC6600;

$ilios_light_blue: #45598e;
$ilios_green: #009828;
$blue: #102B8A;
$light-yellow: #FFC94D;
$light-green: #11B93E;
$light-blue: #4259ae;

$base-accent-color: $light-blue;

$visual-grid: true;
