// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$base-line-height: 1.5;
$base-border-radius: 3px;

$ilios_orange: #CC6600;

$background-grey: #f7f7f7;
$light-grey: #fefefe;
$header-grey: #edecec;
$text-grey: #333333;
$medium-grey: #666666;

$ilios-red: #d9360b;
$ilios-green: #84c444;
$ilios-blue: #009ccc;
$published-green: $ilios-green;
$notpublished-amber: #ffc339;
$scheduled-brown: #8C4600;


$ilios-accent-color: $ilios-blue;
$ilios-add-color: $ilios-green;
$ilios-publish-color: $ilios-green;
$ilios-remove-color: $ilios-red;

$visual-grid: false;

$publish-button-color: $ilios-green;

$base-accent-color: $ilios-accent-color;
$base-font-color: $text-grey;
$base-border-color: $background-grey;
$base-background-color: $background-grey;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
