.waveloader {
  &.is-full-size {
    align-items: center;
    display: flex;
    min-height: 100px;
  }

  .wrapper {
    height: 60px;

    .text {
      color: $ilios-orange;
      font-weight: bold;
      line-height: 1;
    }

    .widget {
      margin: 0 0 0 120px;
      position: relative;

      span {
        animation: wave 2s infinite ease-in-out;
        background: $ilios-orange;
        bottom: 0;
        display: block;
        height: 10px;
        position: absolute;
        width: 9px;
      }
    }

    @for $i from 0 to 8 {
      $delay: $i * 2 / 10 + s;

      .widget span:nth-child(#{$i + 1}) {
        animation-delay: $delay;
        left: $i * 11px;
      }
    }
  }
}

@keyframes wave {
  0% {
    background: $ilios-orange;
    height: 10px;
    transform: translateY(0);
  }

  25% {
    background: $wave-loader-yellow;
    height: 60px;
    transform: translateY(30px);
  }

  50% {
    background: $ilios-orange;
    height: 10px;
    transform: translateY(0);
  }

  100% {
    background: $ilios-orange;
    height: 10px;
    transform: translateY(0);
  }
}
