.action-menu {

  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3);
  $dropdown-padding: 1rem;
  $dropdown-distance-from-menu: $dropdown-padding * 2;

  display: inline-block;
  position: relative;

  .button {
    background: $white;
    border: 1px solid $header-grey;
    color: $base-font-color;
    cursor: pointer;
    font-size: .7rem;
    line-height: 1.1rem;
    padding: $dropdown-padding / 3 ($dropdown-padding * 1.5) $dropdown-padding / 3 ($dropdown-padding / 2);
    position: relative;

    @include for-laptop-and-up {
      font-size: 1rem;
    }

    &:hover {
      background-color: $dropdown-background-hover;
    }

    &::after {
      content: '\25BE';
      display: block;
      position: absolute;
      right: $dropdown-padding / 2;
      top: $dropdown-padding / 3;
    }

  }

  &.blend-button .button {
    background-color: $base-link-color;
    border-radius: $base-border-radius;
    color: $white;
    font-size: .85rem;
    padding: .5rem 2rem .5rem 1rem;
    vertical-align: middle;

    &:hover {
      background-color: darken($base-link-color, 3);
    }
  }

  .dropdown-menu {
    background-color: $white;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize($black, .8);
    color: $base-font-color;
    cursor: pointer;
    left: 0;
    list-style-type: none;
    margin: 5px 0 0;
    overflow: visible;
    padding: 4px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    z-index: 100;

    a,
    a:visited {
      color: $base-font-color;
    }

    li {
      padding: $dropdown-padding / 2 $dropdown-padding;

      &:hover {
        background: $dropdown-background-hover;
      }

      &:first-child {
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:last-child {
        border: 0;
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  &.right-edge .dropdown-menu {
    left: auto;
    right: 0;
  }
}
