.api-version-check-warning {
  background-color: rgba($ilios-orange, .95);
}

.api-version-check-container {
  width: 80%;

  .content {
    padding: 2rem;

    h1 {
      @include ilios-heading-h1;
    }

    p {
      width: 80%;
    }
  }
}
