@use "../ilios-common/mixins" as cm;
@use "../mixins" as m;

.assign-students {
  @include cm.main-section;

  .filters {
    @include m.main-list-filters;

    .schoolsfilter,
    .titlefilter {
      @include m.main-list-filter;
    }
  }

  .students {
    @include m.main-list-box;

    .header {
      @include m.main-list-box-header;

      h2 {
        @include cm.ilios-heading;
      }

      .title {
        @include m.main-list-box-header-title;
      }
    }

    .form {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      padding: .5rem;

      @include cm.for-laptop-and-up {
        flex-direction: row;
      }

      label {
        @include cm.ilios-label;
        margin-right: .5rem;
      }
    }
  }

  .list {
    @include m.main-list-box-table;
  }
}
