.bulk-new-users {
  .new-user-form {
    @include ilios-form;
    @include fill-parent;
    display: block;

    .click-choice-buttons {
      @include fill-parent;
      @include clearfix;
      display: block;
      margin-bottom: .5em;
      min-height: 1em;
    }

    .upload-users {
      margin: 1em 0;

      input {
        width: 15em;
      }
    }

    .item {
      @include ilios-form-item;
    }

    .buttons {
      @include ilios-form-buttons;
    }

    .proposed-new-users {
      max-height: 25em;
      overflow-y: scroll;

      .error {
        border: 1px solid $alert-color;
        color: $alert-color;
      }
    }
  }

  .file-is-loading {
    @include fill-parent;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .saving-user-errors,
  .saving-authentication-errors {
    border: 1px solid $alert-color;
    border-top: 10px solid $alert-color;
    margin: 1em 4em;
    padding: 0 1em 1em;

    p {
      color: $alert-color;
    }

    li {
      list-style-type: disc;
      margin-left: 2em;
    }

  }
}
