@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.bulk-new-users {
  padding: 1rem;

  h3 {
    margin: .5rem;
  }

  .new-user-form {
    @include m.ilios-form;

    .choose-form-type {
      align-items: baseline;
      display: flex;
      grid-column: 1 / -1;
      justify-content: flex-end;

      label {
        margin-right: .5rem;
      }
    }

    .upload-users {
      margin: 1rem 0;

      input {
        width: 15rem;
      }
    }

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;

        select {
          width: auto;
        }
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }

    .proposed-new-users {
      grid-column: 1 / -1;
      max-height: 25rem;
      overflow-y: scroll;

      .error {
        border: 1px solid c.$crimson;
        color: c.$crimson;
      }

      table {
        @include m.ilios-table-structure;
        @include m.ilios-table-colors;
      }
    }
  }

  .file-is-loading {
    display: flex;
    @include m.font-size('xxxl');
    font-weight: bold;
    justify-content: center;
  }

  .saving-user-errors,
  .saving-authentication-errors {
    border: 1px solid c.$crimson;
    border-top: 10px solid c.$crimson;
    margin: 1rem 4rem;
    padding: 0 1rem 1rem;

    p {
      color: c.$crimson;
    }

    li {
      list-style-type: disc;
      margin-left: 2rem;
    }

  }
}
