@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.course-director-manager {
  .actions {
    display: flex;
    justify-content: flex-end;

    .bigadd {
      background-color: c.$fernGreen;
      color: c.$white;
      margin-right: .25rem;
    }

    .bigcancel {
      background-color: c.$crimson;
      color: c.$white;
    }
  }

  .selected-directors {
    padding-bottom: .5rem;

    ul {
      @include m.ilios-removable-list;
    }
  }


}
