.course-search-result {
  max-width: 40rem;
  padding: .5rem 0;

  .course-flag {
    background: $orange;
    border-radius: 2px;
    bottom: 2px;
    color: $white;
    display: inline-block;
    @include font-size('smallest');
    padding: 2px 3px 1px;
    position: relative;
  }

  .school-flag {
    background: $orange;
    border-radius: 2px;
    bottom: 2px;
    color: $white;
    display: inline-block;
    @include font-size('smallest');
    padding: 2px 3px 1px;
    position: relative;
  }

  ul {
    list-style-type: none;
    padding: .25rem .75rem 0;

    .sessions {
      color: $davysGrey;
      @include font-size('small');
    }
  }

  .session-title-link {
    @include font-size('small');
  }

  .show-more {
    @include font-size('small');
    text-transform: capitalize;

    .fa-angle-down {
      @include font-size('base');
      margin-right: .125rem;
      position: relative;
      top: 2px;
    }
  }

  .global-search-tags {
    margin: .125rem 0;
    overflow: hidden;

    .global-search-tag {
      background: $slightWhite;
      border: 1px solid $davysGrey;
      border-radius: .125rem;
      color: $raisinBlack;
      display: inline-block;
      float: left;
      @include font-size('smallest');
      margin-right: .375rem;
      padding: .125rem;
    }
  }
}
