.course-objective-manager {
  .course-objective-title {
    @include ilios-browser-defaults;
    margin-bottom: 1em;
  }

  label {
    font-size: .85em;

    .choose-cohort-title {
      font-weight: bold;
    }
  }

  .parent-picker ul {
    @include ilios-list-reset;
  }
}
