.course-materials {
  .material-list {
    border-bottom: 1px dotted $ilios-orange;
    margin-bottom: 2em;
    padding-bottom: 1em;

    table {
      @include ilios-table;
    }
  }

  h3 {
    @include ilios-heading-h4;
    display: inline;
  }

  .filter-session-lms {
    text-align: right;

    @include for-phone-only {
      display: block;
      width: 100%;
    }

    input {
      width: 300px;
    }
  }
}
