.course-summary-header {
  @include ilios-overview($ilios-orange);
  @include fill-parent;

  h2 {
    @include ilios-heading-h3;
    @include span-columns(7 of 12);

    margin-bottom: 1em;

  }

  .course-summary-actions {
    @include ilios-overview-actions;
    @include span-columns(4 of 12);
    @include shift(1);
    @include omega;
    margin-top: 0;
    text-align: right;

    a {
      color: $header-blue;
      font-size: 1.2 * $base-font-size;
      margin-right: .5em;
    }
  }

  .course-summary-content {
    @include fill-parent;

    .block {
      @include ilios-overview-block;
    }
  }


}
