.course-details {
  $collapse-control-shadow-grey: #e2e2e2;
  $collapse-control-shadow-black: rgba(0, 0, 0, .34);

  background-color: $background-grey;
  border-color: $header-grey;
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  .detail-collapsed-control {
    margin-bottom: $base-font-size;
    text-align: center;
    width: 100%;

    span {
      @include padding(.25em 4em .5em 5em);
      @include border-bottom-radius(5px);
      background-color: $ilios-orange;
      box-shadow: 0 2px $collapse-control-shadow-grey, inset 0 1px 2px $collapse-control-shadow-black;
      color: $white;
      cursor: pointer;

      > .fa {
        padding-left: 1em;
      }
    }
  }

  .back-to-courses-list {
    margin: .5em 0;
  }
}
