.course-sessions {
  @include detail-container($ilios-orange);

  background-color: $active-background-color;

  .course-sessions-header {
    @include detail-container-header;
  }

  .title {
    @include detail-container-title;
  }

  .actions {
    @include detail-container-actions;
  }

  .save-result {
    @include fill-parent;
    border: 1px solid $ilios-green;
    clear: both;
    margin-top: 1em;
    padding: .75em;
  }

  .course-sessions-content {
    @include detail-container-content;
  }
}
