.course-search-result {
  margin-bottom: 1rem;
  max-width: 40rem;

  .show-more {
    font-size: .75rem;
  }

  .global-search-tags {
    margin: .125rem 0;
    overflow: hidden;

    .global-search-tag {
      background: lighten($grey, 15%);
      border: 1px solid lighten($dark-grey, 10%);
      border-radius: .125rem;
      color: $text-grey;
      display: inline-block;
      float: left;
      font-size: .5rem;
      margin-right: .375rem;
      padding: .125rem;
    }
  }
}
