.curriculum-inventory-sequence-block-header {
  background-color: $header-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem;

  .title {
    @include detail-container-title;
  }
}
