.curriculum-inventory-verification-preview-table-2 {
  padding-bottom: 1em;

  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
    @include verification-preview-table;

    td {
      vertical-align: top;
    }

    td:nth-last-child(1) {
      font-weight: bold;
    }
  }
}
