.curriculum-inventory-report-details {
  @include detail-container($ilios-orange);

  .title {
    @include detail-container-title;
  }

  .confirm-finalize {
    background-color: $remove-background-color;

    .confirm-message {
      color: $ilios-remove-color;
      font-weight: bold;
      padding: 1rem 10%;
      text-align: center;
    }

    .confirm-buttons {
      padding-top: 1.1rem;
    }


    &:hover {
      background-color: $remove-background-color;
    }

    .finalize {
      background-color: $white;
      color: $ilios-remove-color;
    }
  }
}
