.curriculum-inventory-report-overview {
  @include ilios-overview($ilios-orange);
  @include fill-parent;
  border-bottom: 1px dotted $ilios-orange;
  display: block;

  .title {
    @include ilios-overview-title;
    @include span-columns(5 of 12);
  }

  .report-overview-actions {
    @include ilios-overview-actions;
    @include span-columns(6 of 12);
    @include shift(1);
    @include omega;
    text-align: right;

    a {
      color: $header-blue;
      font-size: 1.2 * $base-font-size;
      margin-right: .5em;
    }
  }

  .block {
    @include ilios-overview-block;
  }

  .curriculum-inventory-report-overview-content {
    @include ilios-overview-content;
  }

  .description {
    @include span-columns(10);
    margin-bottom: 2em;
  }
}
