.curriculum-inventory-report-header {
  background-color: $header-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem;

  @include for-tablet-and-up {
    flex-direction: row;
  }

  .title {
    display: flex;
    flex-direction: column;

    @include for-tablet-and-up {
      flex-direction: row;
    }

    .editable {
      display: block;
      font-size: 1.5rem;

      @include for-laptop-and-up {
        display: inline;
      }
    }
  }
}
