.curriculum-inventory-sequence-block-dates-duration-editor {
  @include ilios-form;
  clear: both;
  display: block;
  margin-top: 2rem;
  padding: 2rem 0;

  .item {
    @include ilios-form-item;

    &.last {
      @include ilios-form-last-item;
    }
  }

  .buttons {
    @include ilios-form-buttons;
  }
}
