.curriculum-inventory-sequence-block-overview {
  @include ilios-overview($ilios-orange);
  @include fill-parent;
  border-bottom: 1px dotted $ilios-orange;
  display: block;

  .academic-level {
    padding-top: .5rem;
  }

  .block {
    @include ilios-overview-block;
  }

  .course {
    @include span-columns(10);

    .details {
      display: block;
      font-size: smaller;
      padding-bottom: 1rem;
    }
  }

  .curriculum-inventory-sequence-block-overview-content {
    @include ilios-overview-content;
  }

  .description {
    @include span-columns(10);
    margin-bottom: 1rem;
  }

  .duration {
    @include span-columns(10);
  }

  .selective {
    @include span-columns(10);
    font-style: italic;
    padding-top: .5rem;

  }

  .sessions {
    @include fill-parent;
    padding-top: 1rem;

    .actions {
      float: right;
      padding-right: 1rem;
    }
  }

  .sessions-list {
    @include fill-parent;
  }

  .title {
    @include ilios-overview-title;
  }
}
