@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.dashboard-loading {
  .box {
    @include m.loading-box;
  }

  .main-box {
    .controls {
      border-bottom: 1px dotted c.$davysGrey;
      height: 2rem;
      padding: .25rem;
    }

    .content {
      height: 10rem;
    }
  }

  .report-box,
  .courses-box {
    height: 10rem;
    margin-top: 1rem;

    @include m.for-laptop-and-up {
      width: 49%;
    }
  }

  .report-box {
    animation-duration: 2s;
    float: left;
  }

  .courses-box {
    animation-duration: 3s;
    float: right;
  }
}
