.dashboard-loading {
  .box {
    @include loading-box;
  }

  .main-box {
    .controls {
      border-bottom: 1px dotted $dark-grey;
      height: 2em;
      padding: .25em;
    }

    .content {
      height: 10em;
    }
  }

  .report-box,
  .courses-box {
    height: 10em;
    margin-top: 1em;

    @include for-laptop-and-up {
      width: 49%;
    }
  }

  .report-box {
    animation-duration: 2s;
    float: left;
  }

  .courses-box {
    animation-duration: 3s;
    float: right;
  }
}
