.dashboard-myreports {
  @include dashboard-block;

  @include for-laptop-and-up() {
    grid-column: 1 / 2;
  }

  .saved-reports {
    @include ilios-list-reset;
    margin: .5rem;

    li {
      display: flex;
      justify-content: space-between;

      button {
        @include ilios-link-button;
        font-weight: 600;
        margin-right: .5rem;
        text-align: left;
      }
    }
  }

  .form-title {
    color: $orange;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .form-label {
    @include font-size('small');
    font-weight: bold;
    text-align: left;

    &.sub-label {
      @include font-size('small');
      font-style: italic;
      font-weight: normal;
    }
  }

  .input-buttons {
    float: right;
  }

  .form-data input {
    width: 100%;
  }

  .form-container {
    border: $culturedGrey 2px solid;
    margin: 10px;
    padding: 10px;
  }

  .years-filter {
    margin: .5rem 0 1rem;
    padding-right: .5rem;
    text-align: right;
    width: 100%;
  }

  .fa-trash {
    @include icon;
  }

  .report-title {
    padding-left: 1rem;
  }

  .report-results {
    @include ilios-list-reset;
    margin-left: 1rem;
  }
}
