.detail-learningmaterials {
  @include detail-container($ilios-orange);

  .title {
    @include fill-parent;
    color: $text-blue;
    font-size: $base-font-size;
    font-weight: bold;

    @include for-laptop-and-up {
      @include span-columns(3 of 12);
    }
  }

  .detail-learningmaterials-actions {
    @include fill-parent;
    vertical-align: middle;

    @include for-laptop-and-up {
      @include span-columns(2 of 12);
      @include omega();
      @include shift(7);
      text-align: right;
    }
  }

  &.display-search-box {
    .detail-learningmaterials-actions {
      @include for-laptop-and-up {
        @include shift(0);
      }
    }
  }

  .learningmaterial-search {
    @include fill-parent;
    overflow: hidden;

    @include for-laptop-and-up {
      @include span-columns(7 of 12);
    }


    input[type='search'] {
      @include span-columns(7 of 7);
    }

    .selectable-list {
      @include span-columns(7 of 7);
    }

    .lm-search-results {
      @include span-columns(7 of 7);

      li {
        border-bottom: 1px solid $header-grey;
        min-height: 3.25em;
        position: relative;

        &.disabled {
          cursor: default;
        }

        &:hover {
          background: $super-light-grey;
        }
      }

      .learning-material-title {
        color: inherit;
        display: block;
        margin: 0;
      }

      .learning-material-description {
        color: $dark-grey;
        display: block;
        font-size: .75em;
      }

      .learning-material-status {
        color: $ilios-red;
        font-size: .75em;
        position: absolute;
        right: 5px;
        top: 0;
      }
    }

    .learning-material-properties {

      li {
        border: 0;
        color: $darker-grey;
        cursor: inherit;
        display: list-item;
        font-size: .75em;
        margin: 0;
        min-height: 0;
        padding: 0 0 0 .75em;
      }
    }
  }

  .detail-learningmaterials-content {
    @include detail-container-content;
  }
}
