.detail-steward-manager {
  .remove-list,
  .add-list {
    @include fill-parent;

    border: 1px solid $base-link-color;
    height: 380px;
    overflow: scroll;
    padding: 1rem;

    @include for-laptop-and-up {
      @include span-columns(5);
    }
  }

  .remove-list {
    background-color: $header-grey;
  }

  .add-list {
    background-color: $white;
  }

  li {
    color: $base-link-color;
    cursor: pointer;
    font-weight: 500;

    ul {
      margin-left: 2rem;

      li {
        font-weight: 300;
      }
    }
  }

  .loading {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }
}
