.detail-cohort-manager {
  .selected-cohorts {
    @include ilios-removable-list;
  }

  .selectable-cohorts {
    @include ilios-selectable-list;
    background-color: $white;
    border: 1px solid $base-link-color;
    height: 10em;
    margin-bottom: $base-font-size;
    overflow-y: scroll;
    width: 80%;
  }
}
