.editinplace {
  display: inline;

  .content {
    display: inline;
  }

  .editable {
    color: $ilios-blue;
    cursor: pointer;

    &.prompt {
      font-style: italic;
    }
  }

  .editor {
    input[type='text'],
    input[type='url'],
    input[type='tel'],
    input[type='number'],
    input[type='color'],
    input[type='email'] {
      background: $white;
      border: 1px solid $header-grey;
      border-radius: $base-border-radius;
      color: $base-font-color;
      cursor: pointer;
      display: inline;
      outline: none;
      overflow: show;
      padding: 4px;
      z-index: 100;
    }

    .actions {
      display: inline;

      button {
        margin: 0;
        padding: 0 .2em;
      }
    }
  }
}
