.flash-messages {
  @include position(fixed, 0 0 null 0);
  z-index: 500;

  @mixin flash($color) {
    background-color: $color;
    color: $white;
    display: block;
    opacity: .75;
    padding: $base-font-size / 2;
    text-align: center;
    transition: all 2s linear;

    a {
      color: darken($color, 40%);
      text-decoration: underline;

      &:focus,
      &:hover {
        color: darken($color, 90%);
      }
    }

    &.exiting {
      opacity: 0;
    }
  }

  .alert-success {
    @include flash($success-color);
  }

  .alert-warning {
    @include flash($warning-color);
  }

  .alert-info {
    @include flash($info-color);
  }

  .alert-alert {
    @include flash($alert-color);
  }

  .alert:first-of-type {
    margin-top: 60px;
  }

  .alert:last-of-type {
    @include border-bottom-radius(5px);
    margin-bottom: $base-font-size / 2;
  }

}
