.global-search {
  .global-search-box {
    margin: .75rem 0 1rem 10%;
    width: 80%;
  }

  .filters {
    margin: 0 0 1rem 10%;
    width: 80%;

    select {
      margin-left: .25rem;
      outline: none;
      width: 4.75rem;
    }
  }

  hr {
    background: $base-border-color;
  }

  .results {
    list-style-type: none;
    margin: 1rem 10% auto;
    max-width: 40rem;
    padding: 0;
    width: 80%;

    .searching, .no-results {
      text-align: center;
      text-transform: capitalize;

      .fa-spinner.orange {
        color: $ilios-orange;
      }
    }
  }
}
