.global-search {
  position: relative;
  width: 15rem;

  input[type='search'] {
    background-color: $white;
    border: 1px solid $text-blue;
    border-radius: 3px;
    height: 2rem;
    width: 100%;

    &.has-results {
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  .results {
    @include ilios-list-reset;
    background: $white;
    border: 1px solid $text-blue;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    box-shadow: 0 2px 2px transparentize($black, .8);
    color: $base-font-color;
    max-height: 23rem;
    overflow-y: scroll;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    z-index: 100;

    &.hidden {
      display: none;
    }

    li {
      border-bottom: 1px solid $base-border-color;
      padding-left: 1rem;

      &.inactive {
        color: darken($header-grey, 20);
        font-style: italic;
      }

      &.summary {
        color: $ilios-green;
      }

      a,
      &.clickable {
        display: block;
        padding: .1rem;
        width: 100%;

        &:hover {
          background-color: lighten($base-link-color, 50);
        }
      }
    }
  }
}
