@use "sass:color";

.global-search-box {
  display: inline-block;
  height: calc(2rem - 3px);
  max-width: 40rem;
  position: relative;

  input[type='search'] {
    background-color: $white;
    border: 1px solid $text-blue;
    border-radius: 3px;
    height: 100%;
    padding: 0 .5rem 0 1.5rem;
    width: 100%;

    &.has-results {
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  .search-icon {
    color: $ilios-blue;
    cursor: pointer;
    display: inline-block;
    left: 0;
    margin-right: 2px;
    padding-left: 6px;
    position: absolute;
    top: .5rem;
  }

  .autocomplete {
    @include ilios-list-reset;
    background: $white;
    border: 1px solid $text-blue;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 2px color.adjust($black, $alpha: .8);
    color: $base-font-color;
    cursor: pointer;
    max-height: 23rem;
    max-width: 40rem;
    overflow-y: scroll;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    z-index: 100;

    &.hidden {
      display: none;
    }

    li {
      padding: .25rem .375rem;

      .fa-search {
        bottom: .125rem;
        display: inline-block;
        @include font-size('small');
        margin-right: .125rem;
        position: relative;
      }

      .result-text {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 1.5rem);
      }

      &.inactive {
        color: color.adjust($header-grey, $lightness: -20%);
        font-style: italic;
      }

      &.summary {
        color: $ilios-green;
      }

      a,
      &.clickable {
        display: block;
        padding: .1rem;
        width: 100%;

        &:hover {
          background-color: color.adjust($base-link-color, $lightness: 50%);
        }
      }

      &.active,
      &:hover {
        background: $grey;
      }
    }
  }
}
