.ilios-logo {
    background-color: $orange;
    .image {
        background-image: url('images/ilios-logo.svg');
        background-repeat: no-repeat;
        display: block;
        height: 95%;
    }

    .visually-hidden {
      @include visually-hidden;
    }
}