@use "../ilios-common/colors" as c;
@use "../ilios-common/constants";
@use "../ilios-common/mixins" as m;

.ilios-logo {
    background-color: c.$orange;
    
    @include m.for-laptop-and-up {
      padding-bottom: calc(constants.$golden-ratio-small * 1rem);
    }

    img {
        display: block;
        height: 95%;
        max-height: 4rem;
    }
}