.ilios-users {
  @include main-list;

  .filters {
    @include main-list-filters;

    .filter {
      @include main-list-filter;
    }
  }

  .users {
    @include main-list-box;

    .header {
      @include main-list-box-header;

      h2 {
        @include ilios-heading;
      }

      .title {
        @include main-list-box-header-title;
      }

      .actions {
        @include main-list-box-header-actions;
      }
    }
  }

  .list {
    @include main-list-box-table;

    i {
      margin-left: .5rem;
    }

    .disabled-user-account {
      font-style: italic;
    }
  }

  .pagedlist-controls {
    float: right;
  }
}
