.ilios-logo {
    background-color: $orange;
    
    @include for-laptop-and-up {
      padding-bottom: calc($golden-ratio-small * 1rem);
    }

    img {
        display: block;
        height: 95%;
    }
}