.ilios-header {
  align-items: center;
  background-color: $ilios-orange;
  display: grid;
  grid-template-areas: 'logo tools';
  height: 45px;
  grid-template-columns: 100px auto;


  @media print {
    display: none;
  }

  .logo {
    grid-area: logo;

    .image {
      background-image: url('images/ilios-logo.svg');
      background-repeat: no-repeat;
      display: block;
      height: 42px;
    }
  }

  // Elements on the far right
  .tools {
    background: transparent;
    display: flex;
    grid-area: tools;
    justify-self: end;
    margin-right: 1rem;

    .global-search-box {
      margin-right: .5rem;
      width: 13rem;

      @include for-phone-only {
        width: 10rem;
      }

      .autocomplete {
        width: 25rem;

        @include for-smaller-than-laptop {
          right: 0rem;
        }

        @media screen and (max-width: 550px) {
          left: -7rem;
          right: auto;
        }
      }
    }
  }

  .visually-hidden {
    @include visually-hidden;
  }
}
