.ilios-dashboard {
  .dashboard-blocks {
    @include main-section;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: .5rem;

    @include for-laptop-and-up() {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
