.instructorgroup-details {

  .backtolink {
    margin: .5rem;
  }

  .instructorgroup-overview {
    @include ilios-overview($header-grey);
    background: $background-grey;
    border: 1px dotted $header-grey;
    padding: 0 2rem 1rem;

    h2 {
      @include ilios-overview-title;
    }

    .instructorgroup-users {
      @include ilios-tag-list;
      margin-bottom: .5rem;

      li {
        display: flex;

        .remove {
          margin-left: .5em;
        }
      }
    }
  }

  .instructorgroup-loading {
    display: block;
    font-size: 1.75rem;
    margin: auto;
    text-align: center;
  }
}
