.instructorgroup-header {
  @include fill-parent;

  background-color: $header-grey;
  padding: .8em;

  @include for-laptop-and-up {
    @include span-columns(12);
  }

  .title {
    @include fill-parent;

    @include for-laptop-and-up {
      @include span-columns(8 of 12);
    }

    .editable,
    h4 {
      display: block;
      font-size: 1.5 * $base-font-size;

      @include for-laptop-and-up {
        display: inline;
      }
    }

    h4 {
      @include ilios-heading;
    }
  }

  .info {
    @include fill-parent;

    @include for-laptop-and-up {
      @include span-columns(3 of 12);
      @include shift(1);
      @include omega;
      text-align: right;
    }
  }
}
