.learningmaterial-manager {
  margin-left: 2em;
  min-height: 25vh;

  @include ilios-form;

  .item {
    @include ilios-form-item;
  }

  .buttons {
    @include ilios-form-buttons;
  }

  .notes,
  .description {
    @include ilios-browser-defaults;
  }

  .loading {
    @include ilios-heading-h1;
    display: block;
    padding: 5vh 0;
    text-align: center;
    width: 100%;
  }

  h2 {
    @include ilios-heading;
    color: $text-grey;
    font-size: 1rem;
    font-weight: bold;
  }

  .mesh-manager {
    margin: 2em 0;
  }

  .timed-release-schedule {
    font-style: italic;
    margin: 1em .5em;
  }

  .timed-release {
    margin-bottom: 2em;
    padding-left: 1em;

    .item {
      margin-top: 1em;
    }

    p {
      margin: 0;
    }

    button {
      background-color: transparent;
      margin: .5em 0 0;
    }

    .add-date {
      border: 1px solid $ilios-green;
      color: $ilios-green;
    }

    .remove-date {
      border: 1px solid $ilios-red;
      color: $ilios-red;
    }

  }
}
