.learnergroup-summary {
  .learnergroup-overview {
    @include ilios-overview($ilios-orange);

    .block {
      @include ilios-overview-block;

      > span {
        flex-grow: 1;
      }

      input {
        width: 100%;
      }
    }

    .learnergroup-overview-actions {
      margin-top: .25rem;
      padding-top: .5rem;
      text-align: right;
    }
  }

  .cohortmembers {
    .cohortmembers-loading {
      display: block;
      @include font-size('xxl');
      margin: auto;
      text-align: center;
    }
  }

  .associatedcourses {
    margin-bottom: .5rem;
    margin-top: .3rem;
    display: flex;

    label {
      white-space: nowrap;
    }
    ul {
      @include ilios-tag-list;
      margin: -8px 0 0 1rem;
    }
  }
}
