.learnergroup-subgroup-list {
  @include detail-container($tealBlue);
  border-bottom: 0;
  border-top: 1px dotted $orange;

  .learnergroup-subgroup-list-header {
    @include detail-container-header;

    .title {
      @include detail-container-title;
    }

    .learnergroup-subgroup-list-actions {
      input {
        @include ilios-input;
      }
    }
  }

  .learnergroup-subgroup-list-content {
    @include detail-container-content;

    .saved-result {
      border: 1px solid $fernGreen;
      margin: 1rem;
      padding: .5rem;
    }

    .learnergroup-subgroup-list-list {
      @include main-list-box-table;
    }
  }

  .fa-copy, .fa-trash {
    @include icon;
  }
}
