.learnergroup-selection-manager {

  h4 {
    @include ilios-heading-h4;
    @include fill-parent;
    @include for-laptop-and-up {
      @include span-columns(6);
    }
  }

  .selected-learner-groups {
    @include span-columns(12);

    p {
      @include fill-parent;
      clear: left;
      text-align: left;
    }

    ul {
      @include fill-parent;
      @include ilios-list-badges();
    }

    .lowest-leaf {
      background: $ilios-green;
      border: 1px solid $ilios-green;
    }
  }

  .available-learner-groups {
    @include span-columns(12);
    margin-top: 1rem;

    .search-box {
      @include fill-parent;
      @include for-laptop-and-up {
        @include span-columns(6);
        @include omega();
        clear: left;
      }
    }

    .cohort-learner-groups {
      @include span-columns(12);

      border: 1px solid $ilios-blue;
      padding: 1rem;

      @include for-laptop-and-up {
        @include span-columns(6);
        @include omega(2n);
      }

      .cohort-title {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    .tree-groups-list {
      @include ilios-list-tree();
    }

  }

  .learnergroups-list {
    padding: 0;

    fieldset {
      border: 1px solid $ilios-blue;
      border-radius: 10px;
      margin-top: 1rem;

      legend {
        font-weight: bold;
      }
    }

    ul {
      @include ilios-list-badges();

      .top-level-group {
        background-color: $ilios-yellow;
        color: $black;
      }
    }

    .remove-all-subgroups {
      @include fill-parent;
      text-align: right;
    }
  }
}
