@use "sass:color";

.learnergroup-bulk-assignment {
  border-bottom: 1px solid $orange;
  margin-bottom: 2rem;
  padding: 1rem;

  .learnergroup-upload-data {
    .loading-file {
      padding: 1rem;
      text-align: center;
      width: 100%;

      i {
        color: $blueMunsell;
        @include font-size('xxl');
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }

    .issue {
      color: $davysGrey;
      margin-left: 1rem;
    }
  }

  .group-matcher {
    border: 1px solid $davysGrey;

    th:nth-child(1),
    td:nth-child(1) {
      width: 60%;

      span {
        padding-right: 2rem;
      }
    }

    .learnergroup-bulk-group-matcher {
      border: 1px solid $davysGrey;

      select {
        width: 100%;
      }

      &.matched {
        background-color: color.adjust($fernGreen, $lightness: 15%);
      }

      &.not-matched {
        background-color: color.adjust($gold, $lightness: 15%);
      }
    }
  }

  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
  }
}
