.learnergroup-cohort-user-manager {
  @include detail-container($text-blue);

  .title {
    @include detail-container-title-style;
  }

  .actions {
    @include fill-parent;
    @include ilios-input;
    text-align: right;

    input {
      width: 15rem;
    }
  }

  .learnergroup-cohort-user-manager-content {
    @include detail-container-content;

    .list {
      @include main-list-box-table;
      max-height: 360px;
      overflow: auto;
    }
  }
}
