.learnergroup-summary {
  padding: .5rem .25rem;
  border: 1px solid $ilios-blue;
  border-radius: 5px;
  
  .learnergroup-overview {
    @include ilios-overview($ilios-orange);

    .block {
      @include ilios-overview-block;

      &.associatedcourses {
        align-items: flex-start;
        margin-bottom: .5rem;
        margin-top: .3rem;

        label {
          white-space: nowrap;
        }
        ul {
          @include ilios-tag-list;

          li {
            margin-top: 0;
          }
        }
      }

      > span {
        flex-grow: 1;
      }

      input {
        width: 100%;
      }
    }

    .learnergroup-overview-actions {
      margin-top: .25rem;
      padding-top: .5rem;
      text-align: right;
    }
  }

  .cohortmembers {
    .cohortmembers-loading {
      display: block;
      @include font-size('xxl');
      margin: auto;
      text-align: center;
    }
  }
}
