.live-search {
  display: inline-block;
  position: relative;

  .results {
    background: $white;
    border: 1px solid $background-grey;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize($black, .8);
    color: $base-font-color;
    cursor: pointer;
    left: 0;
    min-width: 191px;
    overflow: visible;
    top: 2em;
    transition: all .2s ease-in-out;
    z-index: 100;

    li {
      border-bottom: 1px solid $base-border-color;
      padding: .6rem;
      padding-left: 1em;

      &.active:hover {
        background-color: $background-grey;
        cursor: pointer;
      }

      &.inactive {
        color: darken($header-grey, 20);
        font-style: italic;
      }

      &.results-count {
        color: $ilios-green;
        cursor: default;
      }
    }
  }

  .livesearch-user-email {
    color: $medium-grey;
    font-style: italic;
    padding-right: .2em;
  }
}
