.loading-bar {
  height: .5em;
  margin-bottom: .25em;
  text-align: left;
  width: 100%;

  // get out of the way of the navigation block when it is present
  @include for-desktop-and-up {
    padding-left: 200px;
  }

  @include for-laptop-and-up {
    padding-left: 240px;
  }

  .bar {
    background-color: $ilios-blue;
    border: 0;
    border-bottom-right-radius: 20px;
    border-right-color: $ilios-blue;
    border-top-right-radius: 20px;

    display: block;
    height: 100%;
    opacity: .75;
    transition: width .25s linear;

    &[value='0'] {
      opacity: 0;
      transition: none;
    }

    &[value='100'] {
      transition: none;
    }
  }
}
