.manage-users-summary {
  margin-bottom: 3rem;
  min-height: 6rem;

  .user-search {
    clear: both;
    margin: auto;
    position: relative;
    width: 90%;

    input[type='search'] {
      background-color: $white;
      border: 1px solid $text-blue;
      border-radius: 3px;
      height: 2rem;
      width: 100%;
    }

    .results {
      @include user-search-results;
    }
  }
}
