.my-materials {
  @include fill-parent;

  .material-list {
    border-bottom: 1px dotted $ilios-orange;
    margin-bottom: 2em;
    padding-bottom: 1em;
  }

  .course-filter {
    @include fill-parent;

    @include media($large-screen) {
      @include span-columns(6);
    }
  }

  .filter {
    @include fill-parent;
    text-align: right;

    @include media($large-screen) {
      @include shift(2);
      @include span-columns(4);
      @include omega;
    }
  }

  .course-filter,
  .filter {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .lm-type-icon {
    color: $dark-grey;
  }

  .timed-release-info {
    color: $ilios-red;
    font-size: smaller;
  }
}
