.my-profile {
  .name {
    margin: 1.5rem 0 0;
    text-align: center;
  }

  .is-student {
    color: $ilios-green;
    display: block;
    text-align: center;
    width: 100%;

    h2 {
      font-weight: bold;
      margin: 0;
    }
  }

  .blocks {
    @include admin-blocks;
    margin-top: 1rem;

    label {
      @include ilios-label;
    }

    ul {
      @include ilios-list-reset;
      margin-left: 1rem;
    }
  }

  .token-maintenance {

    border-top: 1px dotted $ilios-orange;
    font-size: .8rem;
    margin-top: 1rem;
    padding: 1rem;

    h3 {
      margin: 0;
      padding: 0;
    }

    label {
      @include ilios-label;
    }

    .new-token-form {
      input {
        min-width: 0;
        width: 7rem;
      }
    }

    .new-token-result {
      h3 {
        display: inline;
        margin-right: .5rem;
      }

      input {
        height: 2rem;
        width: 15rem;
      }
    }
  }
}
