.my-profile {
  @include profile;

  .token-maintenance {
    @include shift(1);
    @include span-columns(7);

    border-top: 1px dotted $ilios-orange;
    font-size: .8rem;
    margin-top: 1rem;
    padding: 1rem;

    h3 {
      margin: 0;
      padding: 0;
    }

    label {
      @include ilios-label;
    }

    .new-token-form {
      input {
        min-width: 0;
        width: 7rem;
      }
    }

    .new-token-result {
      h3 {
        display: inline;
        margin-right: .5rem;
      }

      input {
        height: 2rem;
        width: 15rem;
      }
    }
  }
}
