.new-course {
  @include ilios-form;
  border: 1px solid $header-grey;
  margin: .5em;

  h4 {
    margin-bottom: 1em;
  }

  .item {
    @include ilios-form-item;

    &.last {
      @include ilios-form-last-item;
    }
  }

  .buttons {
    @include ilios-form-buttons;
  }
}
