@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.new-user {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  .new-user-form {
    @include m.ilios-form;

    .choose-form-type {
      align-items: baseline;
      display: flex;
      grid-column: 1 / -1;
      justify-content: flex-end;

      label {
        margin-right: .5rem;
      }
    }

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
