.new-learningmaterial {
  @include fill-parent;

  margin-left: 2rem;
  min-height: 25vh;

  .item {
    margin-bottom: .5rem;

    label {
      @include ilios-label;
      margin-right: .5rem;
    }
  }

  .notes,
  .description {
    @include ilios-browser-defaults;
  }
}
