.new-curriculum-inventory-sequence-block {
  @include ilios-form;
  @include fill-parent;
  @include clearfix;
  clear: both;
  display: block;
  margin-top: 2rem;

  .item {
    @include ilios-form-item;

    &.last {
      @include ilios-form-last-item;
    }
  }

  .course {
    @include for-laptop-and-up {
      @include span-columns(8);
    }

    .details {
      font-size: smaller;
    }
  }

  .description {
    min-height: 10rem;

    @include for-laptop-and-up {
      @include span-columns(8);
    }

  }

  .duration,
  .order-in-sequence {
    @include for-laptop-and-up {
      @include span-columns(3);
    }
  }

  .clear-dates {
    @include fill-parent;
    height: 4rem;
  }

  .title {
    @include for-laptop-and-up {
      @include span-columns(8);
    }
  }

  .buttons {
    @include ilios-form-buttons;
  }

  .selective {
    @include fill-parent;
    height: 2rem;

    label {
      font-style: italic;
    };
  }
}
