.new-instructorgroup {
  border: 1px solid $header-grey;
  margin: .5rem;
  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }

  .form {
    @include ilios-form;

    .item {
      @include ilios-form-item;
    }

    .buttons {
      @include ilios-form-buttons;
    }

    .newinstructorgroup-title input {
      min-width: 400px;
    }
  }
}
