.objective-manager {

  .objectivetitle {
    @include ilios-browser-defaults;
  }

  h2 {
    background-color: $background-grey;
    margin-bottom: 1rem;
    padding: .5rem;
  }

  .selected {
    background-color: $ilios-orange;
    color: $white;
  }

  .parent-picker {
    ul {
      height: auto;
      line-height: 1.3rem;
    }

    li {
      list-style-position: outside;
      padding: .2rem 0 .3rem 1.5rem;

      ul {
        margin-left: 1.5rem;
      }
    }
  }

  .no-group {
    color: $ilios-orange;
    font-weight: bold;
  }

  h5 {
    font-size: .9rem;
    font-weight: bold;
    margin: .8rem;
    padding: .2rem .5rem;
  }
}
