.offering-form {
  .form {
    @include ilios-form;
    @include fill-parent;
    @include clearfix;
    clear: both;
    display: block;
    margin-top: 2rem;

    .item {
      @include ilios-form-item;
    }

    .start-time {
      select {
        width: 4rem;
      }
    }

    .offering-duration {

      input {
        min-width: 3rem;
        width: 3rem;
      }

      .hours,
      .minutes {
        display: inline-block;
        padding-right: 1rem;
      }
    }

    .end-date-time .text {
      color: $darker-grey;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: bold;
    }

    .make-recurring {
      height: 100%;
    }

    .make-recurring-options {
      .make-recurring-days {
        div {
          clear: both;
        }

        input,
        label {
          float: left;
          margin: 0;
          width: 2rem;
        }

        label {
          width: 40%;
        }
      }

      .make-recurring-input-container {
        @include fill-parent;
        clear: left;
        padding-top: .5rem;

        input {
          float: left;
          min-width: 3rem;
          width: 3rem;
        }

        label {
          display: inline-block;
          margin: .5rem 0 0 .5rem;
          width: 5rem;
        }
      }
    }

    .learner-groups {
      @include fill-parent;
      @include clearfix;
      clear: both;
      padding-top: 1rem;
    }

    .instructors {
      @include fill-parent;
      clear: both;
      padding-top: 1rem;
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }

  .toggle-offering-calendar {
    @include fill-parent;
    margin-bottom: 1rem;
    overflow: auto;

    .toggle-buttons {
      float: right;
    }
  }

  .timezone {
    color: $darker-grey;
    font-size: .8rem;
    margin-left: 1rem;
  }
}
