.offering-block {
  @include span-columns(12 of 12);
  font-size: .9rem;

  .offering-block-date {
    @include span-columns(12 of 12);
    @include omega();

    .offering-block-date-dayofweek {
      color: $ilios-orange;
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      width: 100%;
    }

    .offering-block-date-dayofmonth {
      color: $medium-grey;
      }
    }

  .offering-block-time {
    @include span-columns(12 of 12);
    @include fill-parent();
    margin-bottom: 2rem;
    margin-top: 1rem;

    .offering-block-time-time {
      @include span-columns(2 of 12);
    }

    .offering-block-time-time-starttime,
    .offering-block-time-time-endtime {
      color: $medium-grey;
      display: block;
      font-weight: bold;
    }

    .offering-block-time-time-starttime-label,
    .offering-block-time-time-endtime-label {
      font-weight: normal;
    }

    .offering-block-time-offerings {
      @include span-columns(10 of 12);
    }

    .offering-block-time-offering {
      @include span-columns(10 of 10);

      &.offering-confirm-removal {
        border: 1px solid $remove-background-color;
      }

      .offering-detail-box {
        @include span-columns(2 of 8);
        @include omega(4n);
        padding: .8rem;
      }
    }

    .confirm-removal {
      @include span-columns(8 of 8);
      background-color: $remove-background-color;

      .confirm-message {
        color: $ilios-remove-color;
        font-weight: bold;
        padding-left: 8rem;
        padding-right: 8rem;
        text-align: center;
        width: 100%;
      }

      .confirm-buttons {
        padding-bottom: 1.5rem;
        padding-top: 1.1rem;
      }


      &:hover {
        background-color: $remove-background-color;
      }

      .remove {
        background-color: $white;
        color: $ilios-remove-color;
      }
    }

    .multiday-offering-block-time-time {
      @include span-columns(12 of 12);
      @include omega();
    }

    .multiday-offering-block-time-offerings {
      @include span-columns(10 of 12);
      @include shift(2);
    }
  }
}
