@use "../mixins" as m;

.pagedlist-controls {
  align-items: center;
  display: flex;
  float: right;
  gap: 5px;

  .forward {
    padding-right: 0.75rem;
  }

  .backward {
    padding-left: 0.75rem;
  }

  select {
    margin-left: 0.75rem;
  }
}
