@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.pagination-links {
  color: c.$raisinBlack;
  margin: 2rem 0;
  text-align: center;

  .link-button {
    @include m.ilios-link-button;
    text-transform: uppercase;

    &:disabled {
      color: c.$davysGrey;
      cursor: default;
    }

    &:enabled {
      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      @include m.font-size('medium');
      margin-left: .25rem;
      position: relative;
      top: 2px;
    }

    &.prev-link {
      margin-right: 1rem;
    }

    &.next-link {
      margin-left: 1rem;
    }
  }

  .page-button {
    background: c.$slightWhite;
    border: 1px solid c.$davysGrey;
    color: c.$davysGrey;
    display: inline-block;
    min-width: 2rem;
    outline: none;
    padding: .125rem 0;

    &:hover {
      background: c.$orange;
      border: 1px solid c.$orange;
      color: c.$white;
    }

    @include m.for-phone-only {
      display: none;
    }

    &:disabled {
      background: c.$white;
      border: none;
      color: c.$raisinBlack;
      cursor: default;
    }
  }
}
