@use "../ilios-common/mixins" as m;

.pagination-links {
  color: light-dark(var(--black), var(--white));
  margin: 2rem 0;
  text-align: center;

  .link-button {
    text-transform: uppercase;

    &:disabled {
      color: light-dark(var(--grey), var(--light-grey));
      cursor: default;
    }

    &:enabled {
      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      @include m.font-size("medium");
      margin-left: 0.25rem;
      position: relative;
      top: 2px;
    }

    &.prev-link {
      margin-right: 1rem;
    }

    &.next-link {
      margin-left: 1rem;
    }
  }

  .page-button {
    background-color: light-dark(var(--white), var(--dark-grey));
    border: 1px solid light-dark(var(--grey), var(--grey));
    color: light-dark(var(--grey), var(--white));
    display: inline-block;
    min-width: 2rem;
    outline: none;
    padding: 0.125rem 0;

    &:hover {
      background-color: light-dark(var(--orange), var(--orange));
      border: 1px solid light-dark(var(--orange), var(--orange));
      color: light-dark(var(--white), var(--white));
    }

    @include m.for-phone-only {
      display: none;
    }

    &:disabled {
      background-color: light-dark(var(--white), var(--grey));
      border: none;
      color: light-dark(var(--black), var(--white));
      cursor: default;
    }
  }
}
