.pre-fill {
  background-color: $light-grey;
  border-radius: 5px;
  color: $dark-grey;
  padding: 10px;
  position: relative;

  .line {
    background-color: $dark-grey;
    border-radius: 2px;
    height: 8px;
    margin-bottom: 5px;

    &.last {
      width: 70%;
    }
  }

  .spinner {
    bottom: 15%;
    position: absolute;
    right: 20%;
  }

}
