.programyear-overview {
  @include ilios-overview($ilios-orange);
  background: $background-grey;
  border: 1px dotted $header-grey;
  border-bottom: 1px dotted $ilios-orange;
  padding: 0 2em 1em;

  h5 {
    @include ilios-overview-title;
  }

  .programyear-overview-content {
    @include ilios-overview-content;
  }
}
