.program-year-visualizations {
  @include main-section;
  margin-bottom: 1rem;

  .content {
    margin: 0 .8rem;

    .visualizations {
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      margin-top: 2rem;

      .visualizer-program-year-competencies {
        height: 40vh;
        margin-bottom: 2rem;
        width: 40vw;
      }
    }
  }
}
