.programyear-overview {
  @include ilios-overview($orange);
  background: $slightWhite;
  border: 1px dotted $culturedGrey;
  border-bottom: 1px dotted $orange;
  padding: 0 2rem 1rem;

  .programyear-overview-header {
    @include ilios-overview-header;

    h5 {
      @include ilios-overview-title;
      margin-top: .5rem;
    }

    .programyear-overview-actions {
      @include ilios-overview-actions;

      a {
        color: $blueMunsell;
        @include font-size('medium');
        margin-right: .5rem;
      }
    }
  }

  .programyear-overview-content {
    @include ilios-overview-content;
    align-items: start;
    padding-top: 1rem;

    .removable-directors {
      @include ilios-removable-list;

      margin-bottom: .5rem;
    }

    .directors {
      @include ilios-tag-list;

      margin-bottom: .5rem;
    }
  }
}
