@use "../ilios-common/constants";
@use "../ilios-common/mixins" as m;

.programyear-header {
  .backtolink {
    margin: .5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(constants.$golden-ratio-large * 1rem) 0 calc(constants.$golden-ratio-small * 1rem) 0;
    margin: 0 .8rem 0 1.3rem;

    @include m.for-tablet-and-up {
      flex-direction: row;
    }



    .title {
      display: flex;
      flex-direction: column;

      @include m.for-tablet-and-up {
        flex-direction: row;
      }

      .editable,
      h5 {
        display: block;
        @include m.font-size('large');

        @include m.for-laptop-and-up {
          display: inline;
        }
      }

      @include m.for-tablet-and-up {
        h5 {
          margin-left: 1rem;
        }
      }
    }

    .programyear-publication {
      @include m.for-laptop-and-up {
        text-align: right;
      }
    }
  }
}
