@use "../mixins" as m;

.publish-all-sessions {
  background-color: light-dark(var(--white), var(--dark-grey));
  border: 1px solid light-dark(var(--lightest-grey), var(--grey));
  margin-top: 0.5em;
  padding: 0 1rem 1rem 1rem;

  .publish-all-sessions-header {
    padding: 1rem 0 0.5rem;
    @include m.detail-container-header;
  }

  .title {
    @include m.detail-container-title;
    @include m.ilios-heading-h4;
  }

  section {
    @include m.detail-container(var(--orange));

    .title {
      @include m.detail-container-title;
      background-color: light-dark(var(--white), var(--black));
      height: 2.1rem;
      padding: 0.35em 0;
      position: sticky;
      text-align: left;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    .content {
      @include m.detail-container-content;

      thead {
        th {
          padding-top: 0.5em;
          top: 1.75em;
          z-index: 2;
        }
      }

      tbody {
        td {
          vertical-align: top;

          fieldset {
            border: none;
            padding: 0;

            label {
              display: block;
              padding-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  .publish-all-sessions-unpublishable,
  .publish-all-sessions-published {
    .title {
      cursor: pointer;
    }

    h3 {
      @include m.ilios-heading-h5;
    }
  }

  .publish-all-sessions-overridable {
    border-bottom: none;
    padding-bottom: 0;

    fieldset {
      border: none;
      padding: 0;

      label {
        padding-right: 0.5em;
      }
    }
  }

  .publish-all-sessions-review {
    border: 1px solid light-dark(var(--green), var(--lighter-green));
    clear: both;
    @include m.font-size("large");
    padding: 1rem;
    text-align: center;

    .unlinked-warning {
      color: light-dark(var(--dark-orange), var(--dark-orange));
      @include m.font-size("base");
    }

    .fa-chart-column {
      color: light-dark(var(--light-blue), var(--blue));
      @include m.font-size("small");
    }

    p {
      color: light-dark(var(--green), var(--lighter-green));
      font-weight: 600;
      margin: 0;
      margin-bottom: 1rem;
    }

    button {
      &.save {
        background-color: light-dark(var(--green), var(--lighter-green));
        color: light-dark(var(--white), var(--black));
      }
      &.cancel {
        background-color: light-dark(var(--light-red), var(--lighter-red));
        color: light-dark(var(--white), var(--black));
      }
    }
  }

  .fa-link-slash {
    color: light-dark(var(--black), var(--white));
    @include m.font-size("small");
  }
}
