$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-padding: 1em;
$dropdown-distance-from-menu: $dropdown-padding * 2;

.publish-menu {
  display: inline-block;
  position: relative;

  .rl-dropdown-toggle {
    background-color: $white;
    border: 1px solid transparent;
    color: $base-font-color;
    cursor: pointer;
    font-size: $base-font-size * .7;
    line-height: 1.1em;
    padding: $dropdown-padding / 3 ($dropdown-padding * 1.5) $dropdown-padding / 3 ($dropdown-padding / 2);
    position: relative;

    @include for-laptop-and-up {
      font-size: $base-font-size;
    }

    &:hover {
      background-color: $dropdown-background-hover;
    }

    &::after {
      content: '\25BE';
      display: block;
      position: absolute;
      right: $dropdown-padding / 2;
      top: $dropdown-padding / 3;
    }
  }

  &.published .rl-dropdown-toggle {
    border: 1px solid $published-green;
    color: $published-green;
  }

  &.notpublished .rl-dropdown-toggle {
    border: 1px solid $notpublished-amber;
    color: $notpublished-amber;
  }

  &.scheduled .rl-dropdown-toggle {
    border: 1px solid $scheduled-brown;
    color: $scheduled-brown;
  }

  .rl-dropdown {
    background-color: $white;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize($black, .8);
    cursor: pointer;
    left: 0;
    margin: 5px 0 0;
    overflow: visible;
    padding: 4px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    z-index: 100;

    @include for-laptop-and-up {
      left: auto;
      right: 0;
    }

    button {
      background: 0;
      border: 0;
      border-radius: 0;
      color: $base-font-color;
      display: block;
      height: 100%;
      padding: $dropdown-padding / 2 $dropdown-padding;
      text-align: left;
      width: 100%;

      &:hover {
        background: $dropdown-background-hover;
      }

      &:first-child {
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:last-child {
        border: 0;
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }

      &.danger:hover {
        background-color: $ilios-red;
        color: $white;
      }

      &.good:hover {
        background-color: $ilios-green;
        color: $white;
      }
    }
  }
}
