.publish-all-sessions {
  background-color: $background-grey;
  border: 1px solid $header-grey;
  padding-left: 1rem;

  section {
    @include detail-container($ilios-orange);

    .title {
      @include detail-container-title;
      text-align: left;
    }

    .content {
      @include detail-container-content;
    }
  }

  .publish-all-sessions-unpublishable,
  .publish-all-sessions-publishable, {
    .title {
      cursor: pointer;
    }
  }

  .publish-all-sessions-overridable {
    margin-bottom: 2rem;
  }

  .publish-all-sessions-review {
    border: 1px solid $ilios-green;
    clear: both;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;

    p {
      color: $ilios-green;
      font-weight: bold;
      margin: 0;
      margin-bottom: 1rem;
    }

    button {
      background: $ilios-green;
      color: $white;
    }

  }
}


