@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.school-session-types-list-item {
  .calendar-color {
    .box {
      border: 1px solid c.$black;
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .fa-chart-column, .fa-pen-to-square, .fa-trash {
    @include m.icon;
  }

  .link-button {
    text-align: left;
  }
}
