.school-vocabularies-expanded {
  @include detail-container($orange);

  .school-vocabularies-expanded-header {
    @include detail-container-header;

    .title {
      @include detail-container-title;
    }

    .actions {
      @include detail-container-actions;
    }
  }

  .school-vocabularies-expanded-content {
    @include detail-container-content;

    .hierarchical-list {
      background-color: $culturedGrey;
      border: 1px solid $black;
      margin: 1rem;
      padding: 1rem;

      h4 {
        font-weight: bold;
        margin-bottom: 1rem;
        width: 100%;
      }

      ul {
        @include ilios-list-reset;
        margin-left: 2rem;
      }
    }
  }
}
