.school-vocabulary-manager {

  .form {
    @include ilios-form;
    @include fill-parent;
    display: block;

    .item {
      @include ilios-form-item;
      @include for-laptop-and-up {
        @include fill-parent;
      }

      label {
        @include fill-parent;
        display: block;
      }

      &.is-active {
        height: 5rem;
      }
    }
  }
}
