@use "../ilios-common/mixins" as m;

.school-vocabulary-new-term {
  @include m.ilios-form;
  display: flex;
  margin-bottom: .5rem;

  .item {
    @include m.ilios-form-item;
  }

  button {
    margin-left: .5rem;
  }
}
