@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.school-vocabulary-manager {

  .school-vocabulary-manager-title {
    align-items: baseline;
    display: flex;
    margin-bottom: 1rem;

    label {
      @include m.ilios-label;
      @include m.ilios-heading-h4;
    }

    .editinplace {
      @include m.ilios-heading-h4;
      margin-left: .5rem;
    }

    .term-totals {
      padding-left: .5rem;
    }
  }

  .terms {
    background-color: c.$white;
    border: 1px solid c.$blueMunsell;
    height: 10rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding: .5rem;
    width: 80%;

    .saved-result {
      border: 1px solid c.$fernGreen;
      margin: 1rem;
      padding: 1rem;

      @include m.for-laptop-and-up {
        width: 40%;
      }
    }

    ul {
      @include m.ilios-selectable-list;

      em {
        color: c.$crimson;
      }
    }
  }

}
