@use "sass:color";

.school-competencies-list {

  .headers {
    font-weight: bold;
  }
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-right: .5rem;

    .grid-item {
      border-bottom: 1px solid $davysGrey;
      padding: .5rem .25rem;

      &.competency {
        padding-left: 2rem;
      }

      ul {
        @include ilios-list-reset;

        li {
          padding-bottom: 1rem;

          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }

      .link-button {
        text-align: left;
      }

      .bigadd {
        background-color: $fernGreen;
        color: $white;
      }

      .bigcancel {
        background-color: $crimson;
        color: $white;
        margin-left: .5rem;
      }

    }

    &:last-of-type {
      .grid-item {
        border-bottom: 0;
      }
    }
  }

  .competency-row {
    transition: background-color 1s ease-out;

    &.highlight-ok {
      transition: none;
      background-color: color.adjust($fernGreen, $lightness: 60%);
    }

    &.is-managing {
      border: 2px solid $blueMunsell;
      .grid-item {
        background-color: $culturedGrey;
        border: 0;
      }
    }

    &.confirm-removal {
      background-color: $lavenderBlush;

      .grid-item {
        border: 0;
      }

      .confirm-message {
        color: $crimson;
        grid-column: 1 / -1;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }

      .remove {
        background-color: $white;
        color: $crimson;

        &:hover {
          background-color: $crimson;
          color: white;
        }
      }
    }
  }
  .actions {
    text-align: right;
  }
}
