.school-vocabulary-term-manager {

  .form {
    @include ilios-form;
    @include fill-parent;

    .item {
      @include ilios-form-item;
      @include for-laptop-and-up {
        @include fill-parent;
      }

      label {
        @include fill-parent;
        display: block;
      }

      &.term-description {
        height: 10em;

        textarea {
          min-height: 6em;
        }
      }
    }
  }
}
