@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as cm;
@use "../mixins" as m;

.school-list {
  @include cm.main-section;

  .schools {
    @include m.main-list-box;

    .header {
      @include m.main-list-box-header;

      h2 {
        @include cm.ilios-heading;
      }

      .title {
        @include m.main-list-box-header-title;
      }
    }
  }

  .new {
    border: 1px solid c.$culturedGrey;
    padding: 1rem;

    @include cm.for-laptop-and-up {
      margin-left: 1rem;
    }

    .new-result-title {
      @include cm.ilios-heading-h4;
    }

    .form {
      @include cm.ilios-form;

      .item {
        @include cm.ilios-form-item;
      }

      .buttons {
        @include cm.ilios-form-buttons;
      }
    }
  }

  .savedschool {
    @include m.main-list-saved-new;
  }

  .list {
    @include m.main-list-box-table;
  }
}
