.school-list {
  @include main-section;

  .schools {
    @include main-list-box;

    .header {
      @include main-list-box-header;

      h2 {
        @include ilios-heading;
      }

      .title {
        @include main-list-box-header-title;
      }
    }
  }

  .new {
    border: 1px solid $culturedGrey;
    padding: 1rem;

    @include for-laptop-and-up {
      margin-left: 1rem;
    }

    .new-result-title {
      @include ilios-heading-h4;
    }

    .form {
      @include ilios-form;

      .item {
        @include ilios-form-item;
      }

      .buttons {
        @include ilios-form-buttons;
      }
    }
  }

  .savedschool {
    @include main-list-saved-new;
  }

  .list {
    @include main-list-box-table;
  }
}
