@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.school-curriculum-inventory-institution-manager {
  @include m.detail-container(c.$orange);

  .school-curriculum-inventory-institution-manager-header {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }
  }

  .school-curriculum-inventory-institution-manager-content {
    @include m.detail-container-content;

    .form {
      @include m.ilios-form;
      grid-template-columns: 1fr;
      margin-top: 1em;

      @include m.for-laptop-and-up {
        grid-template-columns: 1fr 1fr;
      }
    }

    .validation-error-message {
      color: c.$crimson;
      display: block;
      @include m.font-size('small');
      font-style: italic;
      margin-top: .25rem;
    }
  }
}
