.school-vocabulary-manager {

  .school-vocabulary-manager-title {
    align-items: baseline;
    display: flex;
    margin-bottom: 1rem;

    .editinplace {
      @include ilios-heading-h4;
      margin-left: .5rem;
    }
  }

  .terms {
    background-color: $white;
    border: 1px solid $base-link-color;
    height: 10rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding: .5rem;
    width: 80%;

    .saved-result {
      border: 1px solid $ilios-green;
      margin: 1rem;
      padding: 1rem;

      @include for-laptop-and-up {
        width: 40%;
      }
    }

    .form {
      display: flex;
      margin-bottom: .5rem;

      .item {
        @include ilios-form-item;
      }

      button {
        margin-left: .5rem;
      }
    }

    ul {
      @include ilios-selectable-list;

      em {
        color: $ilios-red;
      }
    }
  }

}
