.school-competencies-pcrs-mapper {
  margin: 1em 2em;
  grid-column: 1 / -1;

  label {
    display: block;
  }

  ul {
    @include ilios-list-reset;

    li {
      padding-bottom: 1rem;
    }
    
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
