.school-manager {
  padding: .5rem .25rem;

  .school-overview {
    border-bottom: 1px dotted $culturedGrey;

    h2 {
      @include ilios-heading-h4;
    }
  }

  .school-manager-content {
    margin-left: .5rem;
  }
}
