@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.school-vocabularies-list {
  .school-vocabularies-list-header {
    background-color: c.$culturedGrey;
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1rem;
  }

  .school-vocabularies-list-new {
    .form {
      @include m.ilios-form;

      .item {
        @include m.ilios-form-item;
      }

      .buttons {
        @include m.ilios-form-buttons;
      }
    }

    .savedvocabulary {
      border: 1px solid c.$fernGreen;
      margin: 1rem;
      padding: 1rem;
    }
  }

  .school-vocabularies-list-list {
    table {
      @include m.ilios-table-structure;
      @include m.ilios-table-colors;
    }
  }
}
