.search-box {
  @include clearfix;
  @include position(relative, null);
  display: block;
  height: 1.6rem;
  margin-bottom: 10px;

  input {
    @include margin(0);
    @include padding(0 0 0 28px);
    background: $white;
    border: 1px solid $input-box-grey;
    border-radius: $base-border-radius;
    color: $base-font-color;
    cursor: pointer;
    font-style: italic;
    height: 1.6rem;
    min-width: 220px;
    overflow: show;
    width: auto;
    z-index: 200;
  }

  .search-icon {
    @include position(absolute, 0);
    color: $base-link-color;
    display: inline-block;
    margin-right: 2px;
    padding-left: 6px;
    width: 20px;
  }
}
