.selectable-terms-list-item {
  border: 1px $header-grey solid;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  padding: .2em .4em .2em .6em;
  vertical-align: middle;

  &.selected {
    background-color: $header-grey;
  }

  .actions {
    float: right;
  }

  &.top-level {
    margin-left: 0;
  }

  .tooltip-description {
    z-index: 101;
  }
}
