.session-overview {
  @include ilios-overview($text-blue);
  border-bottom: 1px dotted $text-blue;

  .session-overview-header {
    @include ilios-overview-header;

    .title {
      @include ilios-overview-title;
  
    }
  
    .session-overview-actions {
      @include ilios-overview-actions;
  
      a {
        color: $header-blue;
        font-size: 1.2rem;
        margin-right: .5rem;
      }
    }
  }

  

  .session-overview-content {
    @include ilios-overview-content;
  }

  .block {
    @include ilios-overview-block;
  }

  .sessiontype {
    grid-column: 1 / -1;

    select {
      max-width: 80%;
      @include for-phone-only {
        max-width: 125px;
      }
    }
  }

  .independentlearningcontrol {
    grid-column: 1 / -1;
  }

  hr {
    background: 0;
    grid-column: 1 / -1;
    height: 0;
    margin: 1rem;
  }

  .sessiondescription {
    @include ilios-browser-defaults;
    grid-column: 1 / -1;
    margin-top: 1em;
  }

  .sessionassociatedgroups {
    grid-column: 1 / -1;
  }
}

.session-header {

  background-color: $header-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8em;

  @include for-tablet-and-up {
    flex-direction: row;
  }

  .title {
    @include ilios-heading-h5;

    input {
      width: 90%;
    }
  }
}
