@use "../mixins" as m;

.sessions-grid-session-row {
  padding: 0.25rem 0;

  .expand-collapse-control {
    justify-content: flex-start;
  }

  &.confirm {
    background-color: light-dark(var(--lightest-red), var(--dark-red));
  }

  .session-grid-status {
    display: flex;
    justify-content: flex-end;

    .instructional-notes,
    .prerequisites {
      color: light-dark(var(--green), var(--green));
      margin-right: 0.25rem;
    }
  }

  .session-grid-title {
    padding-right: 0.5rem;
  }
}
