.session-table {
  margin-bottom: 2em;
  padding: 1em;

  .filter {
    display: block;
    vertical-align: middle;
    width: 100%;

    @include for-laptop-and-up {
      text-align: right;
    }

    input {
      width: 90%;
      @include for-laptop-and-up {
        width: 300px;
      }
    }
  }

  table {
    @include ilios-table;
    tr {
      padding: .25em .5em;

      td {
        padding: .25em .5em;
      }

      &.lt-expanded-row,
      &.is-expanded {
        margin: 0;
        padding: 0;

        td {
          padding: 0;
        }
      }


    }



    .lt-head {
      background-color: $header-blue;
      color: $white;
    }

    tbody {
      .session-table-expand {
        i {
          font-size: 1.5em;
        }
      }

      .session-table-actions {
        .fa-trash {
          color: $ilios-red;
          cursor: pointer;
        }
      }

      .confirm-removal {
        background-color: $remove-background-color;

        p {
          color: $ilios-remove-color;
          font-weight: bold;
          margin: 0;
          padding: 0 8em;
          text-align: center;
          width: 100%;
        }

        .confirm-buttons {
          padding-bottom: 1.5em;
          padding-top: 1.1em;
        }
      }
    }
  }

}
