.session-offerings {
  @include detail-container($text-blue);

  .offering-section-top {
    @include detail-container-header;

    .title {
      @include detail-container-title;
    }

    .actions {
      @include detail-container-actions;
    }
  }



  .session-offerings-content {
    @include detail-container-content;
  }

  .session-offerings-header {
    background-color: $header-grey;
    display: grid;
    font-weight: bold;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 42px;
  }
}
