.session-overview {
  @include ilios-overview($text-blue);
  @include fill-parent;
  border-bottom: 1px dotted $text-blue;

  .title {
    @include ilios-overview-title;
    @include span-columns(6 of 12);
  }

  .session-overview-actions {
    @include ilios-overview-actions;
    @include span-columns(2 of 12);
    @include shift(4);
    @include omega;
    text-align: right;

    a {
      color: $header-blue;
      font-size: 1.2 * $base-font-size;
      margin-right: .5rem;
    }
  }

  .session-overview-content {
    @include ilios-overview-content;
  }

  .block {
    @include ilios-overview-block;
  }

  .switch-block {
    @include fill-parent;
    height: 2rem;

    @include for-laptop-and-up {
      @include span-columns(5);
    }

    label {
      @include span-columns(4 of 5);
      margin: 0;
    }
  }

  .independentlearningcontrol {
    clear: both;
    @include for-laptop-and-up {
      @include span-columns(4);

      label {
        @include span-columns(3 of 4);
      }
    }
  }

  .independentlearningcontrol-value {
    @include for-laptop-and-up {
      @include span-columns(1);
    }
  }

  .sessionilmhours,
  .sessionilmduedate {
    @include for-laptop-and-up {
      @include span-columns(4);

      label {
        @include span-columns(2 of 4);
        margin: 0 1rem 0 0;
        text-align: right;
      }
    }
  }

  hr {
    @include fill-parent;
    background: 0;
    height: 0;
    margin: 1rem;
  }

  .sessionilmduedate {
    @include omega;
  }

  .sessiontype {
    @include fill-parent;
    display: block;
    height: 2rem;
  }

  .session-overview-options {
    @include fill-parent;
    @include row;
  }

  .sessiondescription {
    @include fill-parent;
    @include row;
    @include ilios-browser-defaults;
  }

  .sessionassociatedgroups {
    @include fill-parent;
    @include row;
  }
}

.session-header {
  @include fill-parent;

  background-color: $header-grey;
  padding: .8rem;

  @include for-laptop-and-up {
    @include span-columns(12);
  }

  .title {
    @include fill-parent;

    @include for-laptop-and-up {
      @include span-columns(8 of 12);
    }

    input {
      width: 75%;
    }
  }

  .session-publication {
    @include fill-parent;

    @include for-laptop-and-up {
      @include span-columns(3 of 12);
      @include shift(1);
      @include omega;
      text-align: right;
    }
  }
}
