.sessions-grid-offering-table {
  @include ilios-table-structure;
  @include ilios-table-colors;

  thead {
    position: sticky;
    top: 2rem;
  }

  th,
  td {
    padding: .2rem .5rem;
  }

  .offering-block {
    border-top: 1px solid $ilios-blue;

    &>td {
      padding-top: .5rem;
    }
  }

  .offering-block-date {
    border-top: 1px solid $grey;
    font-weight: bold;
  }

  .sessions-grid-offering {
    &.even {
      background-color: $grey;
    }
  }

  .offering-block-time-time {
    background-color: $white;
  }

  .first-row td {
    padding-top: 2rem;
  }

  .offering-block + .first-row td {
    padding-top: 0;
  }

  .offering-form {
    border: 1px solid $grey;
    margin-left: 2rem;
    padding: .5rem;
  }
}
