.sessions-grid {
  .session {
    &:nth-of-type(even) {
      background-color: $grey;
    }

    &.is-expanded {
      border: 1px solid $ilios-blue;
      background-color: $active-background-color;
      margin: .5rem 0;
    }
    .session-row {
      @include sessions-grid;
      padding: .25rem 0;
    }

    .session-grid-status {
      display: flex;
      justify-content: right;

      .instructional-notes {
        color: $ilios-green;
        margin-right: .25rem;
      }
    }

    .confirm-removal {
      background-color: $remove-background-color;
      color: $ilios-remove-color;
      font-weight: bold;
      margin: 0;
      padding: 1rem 8rem;
      text-align: center;
      width: 100%;

      .confirm-buttons {
        @include ilios-form-buttons;
        padding-top: 1rem;
      }
    }
  }


}
