.session-offerings {
  @include detail-container($text-blue);

  .offering-section-top {
    @include detail-container-header;

    .title {
      @include detail-container-title;
    }

    .actions {
      @include detail-container-actions;
    }
  }

  

  .session-offerings-content {
    @include detail-container-content;
  }

  .session-offerings-header {
    background-color: $header-grey;
    height: 42px;

    div {
      @include span-columns (12 / 5);
      padding: 10px 0 0;

      label {
        font-weight: bold;
      }
    }
  }
}
