.sessions-grid {
  .session-row {
    @include sessions-grid;
    &:nth-child(even).not-expanded {
      background-color: $grey;
    }
    &.is-expanded {
      background-color: $active-background-color;
      border-left: 1px solid $ilios-blue;
      border-right: 1px solid $ilios-blue;
    }
    &:nth-child(even).is-expanded {
      background-color: darken($active-background-color, 5);
    }
  }
  .confirm-removal {
    background-color: $remove-background-color;
    color: $ilios-remove-color;
    font-weight: bold;
    margin: 0;
    padding: 0 8rem;
    text-align: center;
    width: 100%;

    .confirm-buttons {
      @include ilios-form-buttons;
      padding-bottom: 1.5rem;
      padding-top: 1.1rem;
    }
  }
}
