@use "../mixins" as m;

.session-publicationcheck {
  background-color: light-dark(var(--lightest-blue), var(--dark-grey));
  border-color: light-dark(var(--lightest-grey), var(--grey));
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  .display-text-wrapper {
    display: block;
  }

  .back-to-session {
    padding: 1rem 0 1rem 0.5rem;
  }

  .results {
    background-color: light-dark(var(--lightest-blue), var(--dark-grey));
    @include m.detail-container(var(--orange));
    padding: 0 0.5rem;

    .title {
      @include m.detail-container-title;
      @include m.ilios-heading-h5;
    }

    .sub-title {
      @include m.ilios-heading-h6;
    }

    .session-publicationcheck-content {
      @include m.detail-container-content;

      thead {
        background-color: light-dark(var(--lightest-grey), var(--grey));
      }
    }

    button {
      margin-bottom: 0.5em;

      &:disabled {
        background-color: light-dark(var(--grey), var(--light-grey));
        border-color: light-dark(var(--grey), var(--light-grey));
        cursor: default;
      }
    }
  }

  .fa-link-slash {
    color: light-dark(var(--black), var(--white));
    @include m.font-size("small");
  }
}
