.session-copy {
  h3 {
    @include ilios-heading-h3;
    margin-bottom: 1rem;
  }

  .rollover-form {
    @include ilios-form;
    @include fill-parent;
    border: 1px solid $ilios-blue;
    display: block;
    margin-top: 1rem;
    padding: 1rem;

    .item {
      @include ilios-form-item;
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }

  .rollover-summary {
    font-weight: 400;
    margin: 0 1rem 2rem;

    @include for-laptop-and-up {
      padding: .5rem 6rem 0 4rem;
    }
  }

  .included {

    .title {
      @include fill-parent;
      display: block;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .include {
      line-height: 1rem;
      margin-left: 1rem;

      input {
        display: inline;
        margin: 0;
        width: 1rem;
      }
    }
  }
}
