.session-details {
  background-color: $active-background-color;
  border-color: $header-grey;
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  table thead {
    background-color: $text-blue;
    color: $white;
  }
}
