@use "../mixins" as m;

.taxonomy-manager-terms-list-item-button {
  @include m.ilios-button-reset;

  &:focus,
  &:hover {
    background-color: light-dark(var(--bright-green), var(--dark-green));
    border: 1px light-dark(var(--green), var(--light-green)) solid;
    outline-color: light-dark(var(--green), var(--light-green));
  }

  &.selected {
    background-color: light-dark(var(--lightest-grey), var(--grey));

    &:focus,
    &:hover {
      background-color: light-dark(var(--lightest-red), var(--dark-red));
      border-color: light-dark(var(--red), var(--light-red));
      outline-color: light-dark(var(--red), var(--light-red));
    }
  }

  .actions {
    float: right;
  }
}

.taxonomy-manager-terms-list-item {
  border: 1px var(--lightest-grey) solid;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  padding: 0.2em 0.4em 0.2em 0.6em;
  text-align: left;
  width: 100%;

  &:not(.taxonomy-manager-terms-list-item-button) {
    color: light-dark(var(--grey), var(--grey));
  }

  .inactive {
    color: light-dark(var(--red), var(--red));
  }

  &.top-level {
    margin-left: 0;
  }
}
