.taxonomy-manager {
  .selected-terms {
    border: 1px solid $dark-grey;
    padding: 10px;
  }

  .vocabulary-picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-laptop-and-up {
      flex-direction: row;
    }

    label {
      @include ilios-label;
    }

    input {
      @include ilios-input;
      margin: 1rem 0 .5rem;
      min-width: 25rem;

      @include for-laptop-and-up {
        margin: 0;
      }
    }
  }

  .terms-picker {
    max-height: 300px;
    overflow-x: scroll;

    & > ul {
      @include ilios-tag-tree-list;
    }
  }
}
