@use "../ilios-common/mixins" as m;

.update-notification {
  button {
    @include m.font-size("large");
  }

  &.critical-notice {
    background-color: light-dark(var(--blue), var(--bright-blue));

    button {
      color: light-dark(var(--white), var(--black));
      min-height: 3rem;
    }
  }
}
