@use "../ilios-common/mixins" as m;

.user-profile-bio {
  label {
    @include m.ilios-label;
  }

  .actions {
    @include m.detail-container-actions;
  }

  .error {
    text-align: center;
  }

  .primary-school {
    @include m.font-size("medium");
    padding: 0;
  }

  .form {
    @include m.ilios-form;

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;
      }

      &.synced-from-directory input {
        background-color: light-dark(
          var(--transparent-green),
          var(--transparent-green)
        );
        transition: background-color 500ms ease;
      }
    }
  }

  .campus-id-controls {
    display: flex;

    button {
      background-color: light-dark(var(--light-blue), var(--blue));
      height: 2rem;
      margin-bottom: 0.25rem;
      margin-left: 0.5rem;
    }
  }

  .cancel-password-field {
    display: inline-block;
    text-align: left;
    width: 20%;
  }
}
