.user-profile {
  @include fill-parent;
  @include admin-blocks;

  padding: 1em;

  h1 {
    @include ilios-heading-h1;
    text-align: center;
  }

  h2 {
    @include ilios-heading-h2;
  }

  .small-component,
  .large-component {
    font-size: $base-font-size;
  }

  .user-roles {
    text-align: center;

    .user-is-student {
      color: $ilios-green;
    }
  }

  label {
    @include ilios-label;
  }
}

// sass-lint:disable no-vendor-prefixes
.user-profile-bio {
  @include ilios-form;

  label {
    @include ilios-label;
    display: block;
    margin-top: 0;
  }

  .directory-sync {
    background-color: $ilios-blue;
  }

  .directory-sync-complete {
    background-color: transparent;
    border: 1px solid $ilios-green;
    color: $ilios-green;
    outline: 1px solid $ilios-green;
  }

  .item {
    &.synced-from-directory input {
      background-color: lighten($ilios-green, 40%);
    }
  }

  .campus-id {
    input {
      clear: left;
      width: 80%;
    }

    button {
      height: 2.5em;
      margin-bottom: .25em;
      margin-left: .5em;
    }
  }

  .cancel-password-field {
    display: inline-block;
    text-align: left;
    width: 20%;
  }

  meter {
    background: none;
    background-color: $white;
    border: .5px solid $text-grey;
    height: .75em;
    margin: .25em 0;
    width: 60%;
  }

  meter[value='0'] {
    width: 40%;
  }

  meter::-webkit-meter-bar {
    background: none;
    background-color: $white;
  }

  meter[value='0']::-webkit-meter-optimum-value { background: $ilios-red; }
  meter[value='1']::-webkit-meter-optimum-value { background: $ilios-red; }
  meter[value='2']::-webkit-meter-optimum-value { background: $ilios-orange; }
  meter[value='3']::-webkit-meter-optimum-value { background: $ilios-yellow; }
  meter[value='4']::-webkit-meter-optimum-value { background: $ilios-green; }

  meter[value='0']:-moz-meter-bar { background: $ilios-red; }
  meter[value='1']:-moz-meter-bar { background: $ilios-red; }
  meter[value='2']:-moz-meter-bar { background: $ilios-orange; }
  meter[value='3']:-moz-meter-bar { background: $ilios-yellow; }
  meter[value='4']:-moz-meter-bar { background: $ilios-green; }

  .password-strength {
    display: inline-block;
    font-size: 1em;
    font-variant: small-caps;
    line-height: .75em;
    text-align: right;
    width: 10%;

    &.strength-0 {
      color: $ilios-red;
      width: 20%;
    }

    &.strength-1 {
      color: $ilios-red;
    }

    &.strength-2 {
      color: $ilios-orange;
    }

    &.strength-3 {
      color: $ilios-yellow;
    }

    &.strength-4 {
      color: $ilios-green;
    }
  }
}

.user-profile-roles {
  @include ilios-form;

  hr {
    border-top: .5px solid $text-grey;
  }
}

.user-profile-cohorts {
  p {
    margin-bottom: 2em;
  }

  h4 {
    @include ilios-heading;
    font-size: 1.1 * $base-font-size;
    font-weight: bold;
  }

  ul {
    @include fill-parent;
  }

  i {
    margin-right: .3em;
  }

  .select-available-cohort {
    h4 {
      float: left;
    }

    ul {
      clear: both;
      padding-top: .75em;
    }

    .schoolsfilter {
      float: left;
      margin-left: 3em;
    }
  }
}

.user-profile-learnergroups {
  p {
    margin-bottom: 2em;
  }

  h4 {
    @include ilios-heading;
    font-size: 1.1 * $base-font-size;
    font-weight: bold;
  }

  ul {
    @include fill-parent;
  }
}

.user-profile-ics {
  p {
    margin-bottom: 2em;
  }

  .refresh-key {
    background-color: $ilios-green;
  }
}

.user-profile-schools {
  .primary-school {
    font-size: $base-font-size * 1.25;
  }

  h4 {
    @include ilios-heading-h4;
  }

  .more-permissions-notice {
    color: $text-grey;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
}
