@use "sass:color";

.user-profile-bio {
  .actions {
    @include detail-container-actions;
  }

  .error {
    text-align: center;
  }

  .primary-school {
    @include font-size('medium');
    padding: 0 .5rem;
  }

  .form {
    @include ilios-form;
    grid-template-columns: 1fr;

    .item {
      @include ilios-form-item;

      &.last {
        @include ilios-form-last-item;
      }

      &.synced-from-directory input {
        background-color: color.adjust($fernGreen, $lightness: 40%);
        transition: background-color 500ms ease;
      }
    }
  }

  .campus-id-controls {
    display: flex;

    button {
      background-color: $blueMunsell;
      height: 2rem;
      margin-bottom: .25rem;
      margin-left: .5rem;
    }
  }

  .cancel-password-field {
    display: inline-block;
    text-align: left;
    width: 20%;
  }

  meter {
    background: none;
    background-color: $white;
    border: .5px solid $raisinBlack;
    height: .75rem;
    margin: .25rem 0;
    width: 60%;
  }

  meter[value='0'] {
    width: 40%;
  }

  meter::-webkit-meter-bar {
    background: none;
    background-color: $white;
  }

  meter[value='0']::-webkit-meter-optimum-value { background: $crimson; }
  meter[value='1']::-webkit-meter-optimum-value { background: $crimson; }
  meter[value='2']::-webkit-meter-optimum-value { background: $orange; }
  meter[value='3']::-webkit-meter-optimum-value { background: $gold; }
  meter[value='4']::-webkit-meter-optimum-value { background: $fernGreen; }

  meter[value='0']:-moz-meter-bar { background: $crimson; }
  meter[value='1']:-moz-meter-bar { background: $crimson; }
  meter[value='2']:-moz-meter-bar { background: $orange; }
  meter[value='3']:-moz-meter-bar { background: $gold; }
  meter[value='4']:-moz-meter-bar { background: $fernGreen; }

  .password-strength {
    display: inline-block;
    @include font-size('base');
    font-variant: small-caps;
    text-align: right;
    width: 10%;

    &.strength-0 {
      color: $crimson;
      width: 20%;
    }

    &.strength-1 {
      color: $crimson;
    }

    &.strength-2 {
      color: $orange;
    }

    &.strength-3 {
      color: $gold;
    }

    &.strength-4 {
      color: $fernGreen;
    }
  }
}
