@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.user-profile-roles {

  hr {
    border-top: .5px solid c.$raisinBlack;
  }

  .actions {
    @include m.detail-container-actions;
  }

  .form {
    grid-template-columns: 1fr;

    .item {
      min-height: auto;
    }

  }

}
