.user-profile-roles {

  hr {
    border-top: .5px solid $text-grey;
  }

  .actions {
    @include detail-container-actions;
  }

  .form {
    grid-template-columns: 1fr;

    .item {
      min-height: auto;
    }

  }

}
