@use "../mixins" as m;

.user-search {
  position: relative;

  .results {
    @include m.ilios-list-reset;
    background-color: light-dark(var(--white), var(--dark-grey));
    border: 1px solid light-dark(var(--white), var(--grey));
    border-radius: 3px;
    box-shadow: 0 2px 2px var(--very-transparent-black);
    color: light-dark(var(--black), var(--white));
    left: 0;
    max-height: 33dvh;
    overflow: scroll;
    top: 2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;

    li {
      border-bottom: 1px solid light-dark(var(--lightest-grey), var(--grey));

      &.active,
      &:hover {
        background-color: light-dark(var(--lightest-blue), var(--dark-grey));
        cursor: pointer;
      }

      &.inactive {
        color: light-dark(var(--grey), var(--lighter-grey));
        cursor: default;
        font-style: italic;

        &:hover {
          background-color: light-dark(var(--white), var(--dark-grey));
        }
      }

      &.results-count {
        color: light-dark(var(--green), var(--light-green));
      }
    }

    .email {
      color: light-dark(var(--grey), var(--lighter-grey));
      font-style: italic;
      padding-right: 0.2rem;
    }
  }
}
