@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

.user-profile-schools {

  .user-profile-schools-header {
    @include m.detail-container-header;

    .actions {
      @include m.detail-container-actions;
    }
  }

  table {
    @include m.ilios-table-structure;
    @include m.ilios-table-colors;
  }

  .primary-school {
    @include m.font-size('medium');
  }

  .more-permissions-notice {
    color: c.$raisinBlack;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
}
