.visualizer-course-objectives {
  display: inline-block;
  height: 1em;
  margin: .2em 0;
  width: 1em;

  .zero-hours {
    p {
      margin-top: .5em;
    }

    h4 {
      @include ilios-heading-h4;
    }

    li {
      list-style-type: disc;
      margin-left: 1em;
      padding-bottom: .5em;

      p {
        margin: 0;
      }
    }
  }

  .with-hours {
    p {
      margin-top: .5em;
    }

    @media phone {
      .meh-o {
        font-size: 15rem;
      }
    }

    @include for-tablet-and-up {
      .meh-o {
        font-size: 25rem;
      }
    }

    @include for-laptop-and-up {
      .meh-o {
        font-size: 30rem;
      }
    }
  }

  &.not-icon {
    @include fill-parent;

    .simple-chart {
      height: 25em;
      @include for-laptop-and-up {
        @include span-columns(5);
      }
    }

    .simple-chart-tooltip {
      .title {
        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    .zero-hours,
    .with-hours {
      @include fill-parent;
      @include for-laptop-and-up {
        @include span-columns(6);
      }
    }
  }
}
