@use "../../ilios-common/mixins" as cm;

.courses-loading {
  .toggle-mycourses .toggle-buttons label {
    cursor: default;
    background-color: var(--lightest-grey);
    color: transparent;
    text-shadow: var(--very-transparent-black) 0 0 10px;
  }

  select {
    cursor: default;
  }
}
