/* nunito-200normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("fonts/nunito/nunito-latin-200.woff2") format("woff2");
}

/* nunito-200italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url("fonts/nunito/nunito-latin-200italic.woff2") format("woff2");
}

/* nunito-400normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/nunito/nunito-latin-400.woff2") format("woff2");
}

/* nunito-400italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/nunito/nunito-latin-400italic.woff2") format("woff2");
}

/* nunito-600normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("fonts/nunito/nunito-latin-600.woff2") format("woff2");
}

/* nunito-600italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url("fonts/nunito/nunito-latin-600italic.woff2") format("woff2");
}
