/* stylelint-disable scales/font-weights */

/* nunito-200-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("fonts/nunito/nunito-latin-200-normal.woff2") format("woff2");
}

/* nunito-200-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url("fonts/nunito/nunito-latin-200-italic.woff2") format("woff2");
}

/* nunito-300-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("fonts/nunito/nunito-latin-300-normal.woff2") format("woff2");
}

/* nunito-300-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url("fonts/nunito/nunito-latin-300-italic.woff2") format("woff2");
}

/* nunito-400-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/nunito/nunito-latin-400-normal.woff2") format("woff2");
}

/* nunito-400-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/nunito/nunito-latin-400-italic.woff2") format("woff2");
}

/* nunito-600-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("fonts/nunito/nunito-latin-600-normal.woff2") format("woff2");
}

/* nunito-600-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url("fonts/nunito/nunito-latin-600-italic.woff2") format("woff2");
}

/* nunito-700-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("fonts/nunito/nunito-latin-700-normal.woff2") format("woff2");
}

/* nunito-700-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("fonts/nunito/nunito-latin-700-italic.woff2") format("woff2");
}

/* nunito-800-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("fonts/nunito/nunito-latin-800-normal.woff2") format("woff2");
}

/* nunito-800-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url("fonts/nunito/nunito-latin-800-italic.woff2") format("woff2");
}

/* nunito-900-normal - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("fonts/nunito/nunito-latin-900-normal.woff2") format("woff2");
}

/* nunito-900-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url("fonts/nunito/nunito-latin-900-italic.woff2") format("woff2");
}
