@use "../../mixins" as m;

.school-new-vocabulary-form {
  background-color: light-dark(var(--white), var(--dark-grey));
  border: 1px solid light-dark(var(--lightest-grey), var(--grey));
  padding: 1rem;

  .title h3 {
    @include m.ilios-heading-h5;
  }

  .form {
    width: 80%;

    @include m.ilios-form {
      display: block;
    }

    .item {
      @include m.ilios-form-item;
      height: 4rem;

      label {
        display: block;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
