@use "../../mixins" as m;

.school-vocabulary-manager {
  .back-to-vocabularies {
    margin-bottom: 1em;
  }

  .school-vocabulary-header {
    align-items: baseline;
    display: flex;

    .editinplace {
      @include m.ilios-heading-h5;
    }
  }

  .school-vocabulary-terms-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .title {
      @include m.ilios-heading-h5;
    }

    .actions {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .terms-filter {
        @include m.ilios-input;
        margin: 0.5rem 0;
      }
    }
  }

  .saved-result {
    border: 1px solid light-dark(var(--green), var(--green));
    display: flex;
    gap: 0.25rem;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
  }

  .terms {
    max-height: 35rem;
    overflow-y: scroll;
  }
}
