@use "../../ilios-common/mixins" as m;

.instructor-group-instructor-manager {
  @include m.detail-container-content;
  @include m.ilios-form;
  grid-template-columns: 1fr;

  .instructor-list {
    @include m.ilios-removable-list;
  }

  .available-instructors,
  .selected-instructors {
    grid-column: 1 / -1;

    label {
      display: inline-block;
      margin-bottom: .5rem;
    }
  }

  .selected-instructors {
    margin-bottom: .5rem;
  }
}
