@use "../../constants";
@use "../font-size";
@use "../ilios-heading";
@use "../ilios-input";
@use "../media";

@mixin course-header {
  border-bottom: 1px solid var(--lightest-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: calc(constants.$golden-ratio-small * 1rem);

  @content;

  @include media.for-tablet-and-up {
    flex-direction: row;
    align-items: center;
    height: 2rem;
  }

  h2 {
    @include ilios-heading.ilios-heading-h4;

    .fa-lock {
      margin-right: 0.5rem;
    }
  }

  .academic-year {
    margin-top: 0.5rem;
    @include media.for-tablet-and-up {
      margin-left: 0.5rem;
      margin-top: 0;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    @include media.for-tablet-and-up {
      flex-direction: row;
    }

    .editinplace {
      @include ilios-heading.ilios-heading-h4;

      &.is-editing {
        @include media.for-laptop-and-up {
          flex-grow: 2;
        }

        .content,
        input {
          width: 100%;
        }

        input {
          @include ilios-input.ilios-input;
        }
      }
    }
  }

  .course-publication {
    @include media.for-laptop-and-up {
      text-align: right;
    }
  }
}
