@use "../../colors" as c;
@use "../font-size";
@use "../ilios-overview";
@use "../ilios-form";

@mixin course-overview() {
  @include ilios-overview.ilios-overview(var(--orange));
  padding: 0.5rem 0;
  @include ilios-form.ilios-form-error;

  .title {
    @include ilios-overview.ilios-overview-title;
  }

  .course-overview-header {
    @include ilios-overview.ilios-overview-header;

    &:last-child {
      margin-right: 0;
    }
  }

  .course-overview-actions {
    @include ilios-overview.ilios-overview-actions;

    span {
      color: var(--light-blue);
    }

    a,
    span {
      @include font-size.font-size("medium");
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .block {
    @include ilios-overview.ilios-overview-block;
  }

  .course-overview-content {
    @include ilios-overview.ilios-overview-content;
  }
}
