@use "sass:color";

.dashboard-calendar {
  @include dashboard-component;

  .dashboard-calendar-content {
    padding: .5em;

    .calendar-controls {
      .calendar-options-control {
        float: left;
        margin: 1em 1em 1em 0;
      }

      .calendar-clear-filters {
        @include ilios-link;
        float: left;
        margin-top: 1.5em;
      }

      .calendar-filters {
        clear: both;
        float: left;
        width: 100%;
      }

      .calendar-school-picker {
        float: right;
        margin-right: 5em;

        select {
          @include ilios-select;
        }
      }

      .calendar-filter-list {
        border: 1px solid $blue-munsell;
        float: left;
        @include font-size('small');
        margin-bottom: 1em;
        width: 33%;

        h5 {
          @include ilios-heading-h5;
          display: block;
          background-color: $cultured-grey;
          border-bottom: .5px solid $davys-grey;
          padding: .25em;
          width: 100%;
        }

        h6 {
          @include ilios-heading-h6;
          padding-bottom: .25em;
        }

        ul {
          @include ilios-list-reset;

          li {
            color: $blue-munsell;
            cursor: pointer;
          }
        }

        .filters {
          height: 14em;
          overflow-x: hidden;
          overflow-y: scroll;
          padding-bottom: 1em;
        }

        &.small-filter-list {
          width: 15%;
        }

        &.large-filter-list {
          width: 33%;
        }

        .clickable {
          position: relative;
        }

        .checkbox {
          position: absolute;
        }

        .list-indentation {
          display: inline-block;
          padding-left: 20px;
          width: 100%;
        }
      }
    }

    .filters-list {
      background: $cultured-grey;
      clear: both;
      margin-bottom: 1em;
      padding: 5px;

      .filters-header {
        border-bottom: 1px solid $davys-grey;
        @include font-size('small');
      }

      .filter-tags {
        .filter-tag {
          @include ilios-button-reset;
          @include font-size('small');
          border-radius: 3px;
          display: inline-block;
          padding: 2px 5px;
        }

        .fa-close {
          color: $cultured-grey;
        }

        .tag-session-type {
          background-color: color.adjust($blue-munsell, $lightness: 30%);
        }

        .tag-course-level {
          background-color: color.adjust($blue-munsell, $lightness: 40%);
        }

        .tag-cohort {
          background-color: color.adjust($blue-munsell, $lightness: 50%);
        }

        .tag-course {
          background-color: color.adjust($blue-munsell, $lightness: 60%);
        }

        .tag-term {
          background-color: color.adjust($blue-munsell, $lightness: 40%);
        }

        .filters-clear-filters {
          @include ilios-button-reset;
          @include font-size('small');
          color: $blue-munsell;
        }
      }
    }
  }
}
