.dashboard-materials {
  @include dashboard-component;

  .title {
    @include ilios-heading-h3;
    margin-top: .5rem;
    text-align: center;
  }
  .dashboard-materials-content {
    padding: .5rem;

    .header {
      margin: 0 1em 1em 0;
    }

    .material-list {
      border-bottom: 1px dotted $orange;
      display: grid;
      margin-bottom: 2rem;
      padding-bottom: 1rem;

      @include for-tablet-and-up {
        grid-template-columns: 1fr 1fr;
      }
    }

    .course-filter,
    .filter {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .filter input {
      width: 100%;
    }

    .lm-type-icon {
      color: $davysGrey;
    }

    .timed-release-info {
      @include font-size('small');
    }

    table {
      @include ilios-table-structure;
      @include ilios-table-colors;
      @include ilios-zebra-table;
      grid-column: 1 / -1;

      .no-results {
        text-align: center;
      }
    }

    .fa-spinner.orange {
      color: $orange;
    }

    .paginator {
      grid-column: 1 / -1;
      text-align: right;
    }
  }
}
