.dashboard-view-picker {
  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include for-tablet-and-up {
      justify-content: flex-start;

      li {
        margin-right: 3em;
      }
    }
  }

  a {
    @include ilios-button;
    padding: .25rem .5rem;

    &:active,
    &:hover,
    &:link,
    &:visited {
      text-decoration: none;
    }

    &.active {
      background-color: $fernGreen;
    }
  }
}
