@use "../colors" as c;
@use "../mixins" as m;

.api-version-notice {
  @include m.critical-notice(var(--gold), var(--black), 1rem);

  display: none;
  padding: 0.25rem 1rem;

  &.mismatch {
    display: block;
  }

  .details {
    button {
      background-color: var(--black);
      border: 0;
      color: var(--white);
      display: inline-block;
      height: 100%;
    }
  }
}
