@use "../mixins" as m;

.api-version-notice {
  display: none;
  padding: 0.25rem 1rem;

  &.critical-notice {
    background-color: var(--dark-yellow);
    color: var(--black);
    min-height: 2.5rem;
  }

  &.mismatch {
    display: block;
  }

  .details {
    button {
      background-color: var(--black);
      border: 0;
      color: var(--white);
      display: inline-block;
      height: 100%;
    }
  }
}
