/*!
 * Copied and Modified from https://fontawesome.com/license/free [MIT]
 */

.awesome-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1; /* stylelint-disable-line property-disallowed-list */
  text-rendering: auto;

  &.enabled {
    color: var(--light-blue);
    cursor: pointer;
  }

  &.disabled {
    color: var(--grey);
  }

  &.spin {
    animation-name: awesome-spin;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @media (prefers-reduced-motion: reduce) {
      animation-delay: -1ms;
      animation-duration: 1ms;
      animation-iteration-count: 1;
      transition-delay: 0s;
      transition-duration: 0s;
    }
  }

  &.fixed-width {
    text-align: center;
    width: 1.25em;
  }

  &.list-item {
    left: calc(var(--fa-li-width, 2em) * -1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width, 2em);
    line-height: inherit; /* stylelint-disable-line property-disallowed-list */
  }

  &.flip-horizontal {
    transform: scale(-1, 1);
  }

  &.flip-vertical {
    transform: scale(1, -1);
  }

  @keyframes awesome-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
