button {
  &.bigadd {
    background-color: light-dark(var(--green), var(--green));
    color: light-dark(var(--white), var(--white));
    margin-right: 0.5em;

    &:hover {
      background-color: var(--light-green);
    }

    &:disabled {
      background-color: light-dark(var(--grey), var(--grey));
      cursor: default;

      &:hover {
        background-color: var(--grey);
      }
    }
  }

  &.bigcancel {
    background-color: light-dark(var(--red), var(--red));
    color: light-dark(var(--white), var(--white));

    &:hover {
      background-color: light-dark(var(--light-red), var(--light-red));
    }
  }
}
