@use "../colors" as c;
@use "../mixins" as m;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Nunito, serif;
  margin: 0;
  padding: 0;
}

a,
.link {
  @include m.ilios-link;
}

button {
  @include m.ilios-button;
}

h1 {
  @include m.ilios-heading-h1;
}

h2 {
  @include m.ilios-heading-h2;
}

h3 {
  @include m.ilios-heading-h3;
}

h4 {
  @include m.ilios-heading-h4;
}

h5 {
  @include m.ilios-heading-h5;
}

h6 {
  @include m.ilios-heading-h6;
}

select {
  color: var(--black);
  font-family: "Nunito Sans", sans-serif;
}

ul {
  li {
    margin-bottom: 0.5rem;
  }
}

p {
  margin-bottom: 1rem;
  @include m.paragraph-line-height;

  a {
    text-decoration: underline;
  }
}

.add,
.yes {
  color: var(--fern-green);
}

.remove,
.no {
  color: var(--rosewood);
}

.error,
.is-error {
  color: var(--rosewood);
}

.warning,
.is-warning {
  color: var(--gold);
}

.clickable,
.is-clickable {
  cursor: pointer;
}

.editable,
.is-editable {
  color: var(--blue);
}

.published {
  color: var(--fern-green);
}

.notpublished {
  color: var(--davys-grey);
}

.scheduled {
  color: var(--sepia);
}

.backtolink {
  margin: 0.5rem;
}

.link-button {
  @include m.ilios-link-button;
}

.hide-from-small-screen {
  @include m.hide-from-small-screen;
}

.hide-from-large-screen {
  @include m.hide-from-large-screen;
}
