@use "../colors" as c;
@use "../mixins" as m;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Nunito Variable", sans-serif;
  margin: 0;
  padding: 0;
}

a,
.link {
  @include m.ilios-link;
}

button {
  @include m.ilios-button;
}

input {
  accent-color: var(--blue);
}

h1 {
  @include m.ilios-heading-h1;
}

h2 {
  @include m.ilios-heading-h2;
}

h3 {
  @include m.ilios-heading-h3;
}

h4 {
  @include m.ilios-heading-h4;
}

h5 {
  @include m.ilios-heading-h5;
}

h6 {
  @include m.ilios-heading-h6;
}

select {
  color: var(--black);
  font-family: "Nunito Variable", sans-serif;
}

ul {
  li {
    margin-bottom: 0.5rem;
  }
}

p {
  margin-bottom: 1rem;
  /* stylelint-disable-next-line property-disallowed-list */
  line-height: calc(1px + 3ex);

  a {
    text-decoration: underline;
  }
}

strong,
b {
  font-weight: 600;
}

.add,
.yes {
  color: var(--green);
}

.remove,
.no {
  color: var(--red);
}

.error,
.is-error {
  color: var(--red);
}

.warning,
.is-warning {
  color: var(--yellow);
}

.clickable,
.is-clickable {
  cursor: pointer;
}

.editable,
.is-editable {
  color: var(--blue);
}

.published {
  color: var(--green);
}

.notpublished {
  color: var(--grey);
}

.scheduled {
  color: var(--dark-orange);
}

.backtolink {
  margin: 0.5rem;
}

.hide-from-small-screen {
  @include m.hide-from-small-screen;
}

.hide-from-large-screen {
  @include m.hide-from-large-screen;
}
