@use "sass:math";

.breadcrumbs {
  $border: 1px solid var(--blue);
  $height: 2rem;
  $h2: math.div($height, 2);
  $h4: math.div($height, 4);

  display: inline-block;
  margin: 0.8rem;
  text-align: left;

  /* stylelint-disable property-disallowed-list, declaration-property-value-disallowed-list */
  .crumb {
    background-color: var(--white);
    border: $border;
    border-left: 0;
    color: var(--blue);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    line-height: $height;
    margin-bottom: 2px;
    margin-right: 0;
    padding: 0 $h4 0 $h2;
    position: relative;
    text-decoration: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      border-left: $h4 solid transparent;
      border-top: $h2 solid transparent;
      border-bottom: $h2 solid transparent;
      width: $h4;
    }

    &::before {
      // outer arrow
      border-left-color: var(--blue);
      left: 100%;
      margin-left: 1px;
      z-index: 1;
    }
    &::after {
      // inner arrow
      border-left-color: var(--white);
      left: 100%;
      z-index: 2;
    }

    &:first-child {
      border-left: $border;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      padding-left: $h2;
    }
    &:last-child {
      background-color: inherit;
      border-color: var(--lighter-grey);
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      color: var(--black);
      cursor: default;
      font-weight: 600;
      padding-right: $h2;

      &::before,
      &::after {
        border: 0;
      }
    }
  }

  a.crumb {
    display: block;

    &:hover,
    &:focus {
      background-color: var(--blue);
      color: var(--white);

      &::after {
        border-left-color: var(--blue);
      }
    }
  }
}
