@use "sass:math";

.breadcrumbs {
  $breadcrumb-border-color: var(--blue);
  $breadcrumb-border: 1px solid $breadcrumb-border-color;
  $breadcrumb-height: 2rem;
  $breadcrumb-arrow-color: $breadcrumb-border-color;
  $breadcrumb-background: var(--white);
  $breadcrumb-color: var(--blue);
  $breadcrumb-link-color-hover: var(--white);

  display: inline-block;
  margin: 0.8rem;
  text-align: left;

  a {
    &:focus,
    &:hover {
      color: $breadcrumb-link-color-hover;
      text-decoration: none;
    }
  }

  /* stylelint-disable property-disallowed-list */
  span {
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    border-left: 0;
    color: $breadcrumb-color;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    line-height: $breadcrumb-height;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 math.div($breadcrumb-height, 4) 0 math.div($breadcrumb-height, 2);
    position: relative;
    text-decoration: none;

    &::after,
    &::before {
      bottom: 0;
      border-bottom: math.div($breadcrumb-height, 2) solid transparent;
      border-left: math.div($breadcrumb-height, 4) solid transparent;
      border-top: math.div($breadcrumb-height, 2) solid transparent;
      content: "";
      display: block;
      left: 100%;
      margin: auto;
      position: absolute;
      right: auto;
      top: 0;
      z-index: 2;
    }

    &::before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }

    &::after {
      border-left-color: $breadcrumb-background;
    }

    &:hover {
      background-color: $breadcrumb-border-color;
      color: $breadcrumb-link-color-hover;

      a,
      button {
        color: $breadcrumb-link-color-hover;
      }

      &::after {
        border-left-color: $breadcrumb-border-color;
      }
    }

    &:first-child {
      border-bottom-left-radius: 3px;
      border-left: $breadcrumb-border;
      border-top-left-radius: 3px;
      padding-left: math.div($breadcrumb-height, 2);
    }

    &:last-child {
      background-color: inherit;
      border-color: var(--lighter-grey);
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      color: var(--black);
      cursor: default;
      /* stylelint-disable scales/font-weights */
      font-weight: 700;
      padding-right: math.div($breadcrumb-height, 2);
    }

    &:last-child::after,
    &:last-child::before {
      border: 0;
    }
  }
}
