@use "../colors" as c;

.click-choice-buttons {
  button {
    background-color: var(--cultured-grey);
    border: 1px outset var(--grey);
    color: var(--black);

    &.active {
      background-color: var(--blue);
      border: 1px inset var(--blue);
      color: var(--white);
    }
  }
}
