@use "../mixins" as m;

.course-visualize-instructor {
  @include m.data-visualization;

  .visualizations {
    .visualizer-course-instructor-session-type,
    .visualizer-course-instructor-term {
      height: 80vh;
      width: 80vw;

      @include m.for-laptop-and-up {
        height: 40vh;
        width: 40vw;
      }
    }
  }
}
