@use "../mixins" as m;
@use "../constants" as constants;

.detail-terms-list {
  margin-bottom: 1rem;

  .inactive {
    color: light-dark(var(--red), var(--lightest-red));
  }

  .selected-taxonomy-terms {
    @include m.ilios-tag-list;

    button {
      background-color: light-dark(var(--lightest-grey), var(--dark-grey));
      color: light-dark(var(--black), var(--white));
      padding: calc(constants.$golden-ratio-small * 0.5rem)
        calc(constants.$golden-ratio-large * 0.5rem);
    }

    &.removable-list {
      @include m.ilios-removable-list;

      li {
        padding: 0;
      }
    }

    .muted {
      color: light-dark(var(--grey), var(--lightest-grey));
    }
  }
}
