@use "../colors" as c;
@use "../mixins" as m;
@use "../constants" as constants;

@use "sass:color";

.detail-terms-list {
  margin-bottom: 1rem;

  .inactive {
    color: var(--rosewood);
  }

  .selected-taxonomy-terms {
    @include m.ilios-tag-list;

    button {
      background-color: var(--cultured-grey);
      color: var(--raisin-black);
      padding: calc(constants.$golden-ratio-small * 0.5rem)
        calc(constants.$golden-ratio-large * 0.5rem);
    }

    &.removable-list {
      @include m.ilios-removable-list;

      li {
        padding: 0;
      }
    }

    .muted {
      color: hsl(from var(--raisin-black) h s calc(l + 30));
    }
  }
}
