@use "../colors" as c;
@use "../mixins" as m;

@use "sass:color";

.detail-terms-list {
  margin-bottom: 1rem;

  .inactive {
    color: c.$rosewood;
  }

  .selected-taxonomy-terms {
    @include m.ilios-tag-list;

    button {
      background-color: c.$culturedGrey;
      color: c.$raisinBlack;
    }

    &.removable-list {
      @include m.ilios-removable-list;
    }

    .muted {
      color: color.adjust(c.$raisinBlack, $lightness: 30%);
    }
  }
}
