@use "../mixins" as m;

.detail-mesh {
  @include m.detail-container(var(--orange));

  .detail-mesh-header {
    @include m.detail-container-header;
  }

  .title {
    @include m.detail-container-title;
  }

  .actions {
    @include m.detail-container-actions;
  }

  .content {
    @include m.detail-container-content;

    &.empty {
      padding: 0 0.5em;
    }

    .mesh-manager {
      padding: 0 0.5em;
    }

    .selected-mesh-terms {
      @include m.ilios-tag-list;
      padding: 0 0.5em;

      .term-title {
        font-weight: 600;
      }

      .term-details {
        font-style: italic;
      }
    }
  }
}
