@use "../colors" as c;
@use "../mixins" as m;

.detail-learningmaterials {
  @include m.detail-container(var(--orange));

  .detail-learningmaterials-header {
    @include m.detail-container-header;
  }

  .title {
    @include m.detail-container-title;
  }

  .detail-learningmaterials-actions {
    @include m.detail-container-actions;
  }

  .learningmaterial-search {
    flex-grow: 2;
    margin: 0 0.5rem;

    input {
      width: 100%;
    }

    .search-box {
      margin-bottom: 0;
    }

    .lm-search-results {
      @include m.ilios-selectable-list;
      background-color: var(--white);
      border: 1px solid var(--light-blue);
      margin: 0;
      max-height: 15rem;
      overflow-y: scroll;
      position: absolute;
      z-index: 10;

      li {
        border-bottom: 1px solid var(--cultured-grey);
        min-height: 3.25rem;
        position: relative;

        button.result {
          @include m.ilios-button-reset;
          text-align: left;
        }

        &:hover {
          background: var(--cultured-grey);
        }

        &:last-of-type {
          border-bottom: none;
          min-height: auto;
        }
      }

      .learning-material-title {
        @include m.ilios-heading-h5;
        color: inherit;
        display: inline-flex;
        gap: 5px;
        margin: 0;

        span {
          padding-right: 2em;
        }
      }

      .learning-material-description {
        color: var(--grey);
        display: block;
        @include m.font-size("small");
        margin-left: 1.9em;
      }

      .learning-material-status {
        color: var(--red);
        @include m.font-size("small");
        position: absolute;
        right: 5px;
        top: 0;
      }

      .learning-material-properties {
        margin-left: 1.6em;

        li {
          border: 0;
          color: var(--grey);
          cursor: inherit;
          display: list-item;
          @include m.font-size("small");
          margin: 0;
          min-height: 0;
          padding: 0;
        }
      }
    }
  }

  .detail-learningmaterials-content {
    @include m.detail-container-content;
    padding: 0.5rem;

    table {
      td {
        ul {
          @include m.ilios-list-reset;
        }
      }
      .lm-title {
        @include m.ilios-link-button;
        @include m.text-wrap;
      }
    }

    .icon-button {
      @include m.ilios-button-reset;
      color: var(--light-blue);
      &.remove {
        color: var(--red);
      }
    }
  }
}
