@use "../mixins" as m;

.detail-learnergroups-list {
  .trees {
    display: grid;
  }

  fieldset {
    @include m.ilios-fieldset;
    margin-top: 1em;

    ul {
      @include m.ilios-removable-list;

      .top-level-group {
        background-color: light-dark(var(--dark-yellow), var(--dark-yellow));
        color: light-dark(var(--black), var(--black));
      }
    }

    .remove-all-subgroups {
      display: flex;
      justify-content: flex-end;

      button {
        @include m.ilios-button-reset;
      }
    }

    .remove-learnergroup {
      @include m.ilios-button-reset;
    }
  }
}
