@use "../mixins" as m;

.editinplace {
  .editor {
    @include m.ilios-form-error;
    align-items: center;
    display: flex;

    #{m.$form-input-text-types} {
      background-color: light-dark(var(--bright-white), var(--dark-grey));
      border: 1px solid light-dark(var(--lightest-grey), var(--grey));
      border-radius: 3px;
      color: light-dark(var(--black), var(--white));
      cursor: pointer;
      display: inline;
      outline: none;
      overflow: show;
      z-index: 100;
    }

    .html-editor {
      #{m.$form-input-text-types} {
        z-index: 2;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-start;

      button {
        background: transparent;
        display: flex;
        margin: 0;
        padding: 0 0.2rem;

        &:enabled:hover {
          color: light-dark(var(--white), var(--white));
        }

        &.done {
          color: light-dark(var(--green), var(--lighter-green));

          &:enabled:hover {
            background-color: light-dark(var(--green), var(--lighter-green));
          }
        }

        &.cancel {
          color: light-dark(var(--red), var(--lighter-red));

          &:enabled:hover {
            background-color: light-dark(var(--red), var(--lighter-red));
          }
        }
      }
    }
  }
}
