@use "../mixins" as m;

.editinplace {
  .editor {
    @include m.ilios-form-error;
    align-items: center;
    display: flex;

    #{m.$form-input-text-types} {
      background: var(--bright-white);
      border: 1px solid var(--lightest-grey);
      border-radius: 3px;
      color: var(--black);
      cursor: pointer;
      display: inline;
      outline: none;
      overflow: show;
      z-index: 100;
    }

    .html-editor {
      #{m.$form-input-text-types} {
        z-index: 2;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-start;

      button {
        background: transparent;
        margin: 0;
        padding: 0 0.2rem;

        &:enabled:hover {
          color: var(--white);
        }

        &.done {
          color: var(--green);

          &:enabled:hover {
            background-color: var(--green);
          }
        }

        &.cancel {
          color: var(--red);

          &:enabled:hover {
            background-color: var(--red);
          }
        }
      }
    }
  }

  .fa-pen-to-square {
    @include m.icon;
  }
}
