@use "../colors" as c;
@use "../mixins" as m;

.editinplace {
  .editor {
    @include m.ilios-form-error;
    align-items: center;
    display: flex;

    #{m.$form-input-text-types} {
      background: var(--white);
      border: 1px solid var(--cultured-grey);
      border-radius: 3px;
      color: var(--raisin-black);
      cursor: pointer;
      display: inline;
      outline: none;
      overflow: show;
      z-index: 100;
    }

    .html-editor {
      #{m.$form-input-text-types} {
        z-index: 2;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-start;

      button {
        background: transparent;
        margin: 0;
        padding: 0 0.2rem;

        &:enabled:hover {
          color: var(--white);
        }

        &.done {
          color: var(--fern-green);

          &:enabled:hover {
            background-color: var(--fern-green);
          }
        }

        &.cancel {
          color: var(--crimson);

          &:enabled:hover {
            background-color: var(--crimson);
          }
        }
      }
    }
  }

  .fa-pen-to-square {
    @include m.icon;
  }

  .expand-text-button,
  .collapse-text-button {
    @include m.ilios-link-button;
    display: inline;
  }
}
