@use "../colors" as c;

.fade-text {
  .display-text-wrapper {
    &.is-faded {
      max-height: 200px;
      overflow: hidden;
      position: relative;
    }
  }

  .fade-text-control {
    bottom: 140px;
    height: 130px;
    padding-top: 140px;
    position: relative;
  }
}

.course-objective-list {
  .fade-text-control {
    background-image: linear-gradient(to bottom, transparent, c.$white);
  }
}

.session-objective-list {
  .fade-text-control {
    background-image: linear-gradient(to bottom, transparent, c.$lightBlue);
  }
}

.objective-sort-manager {
  span {
    &.draggable-object-content {
      .fade-text-control {
        background-image: linear-gradient(
          to bottom,
          transparent,
          c.$culturedGrey
        );
      }
    }
  }
}
