@use "../colors" as c;
@use "../mixins" as m;

.fade-text {
  .display-text-wrapper {
    display: inline-block;

    &.faded {
      max-height: 200px;
      overflow: hidden;
      position: relative;
    }
  }

  button {
    &.expand-text-button,
    &.collapse-text-button {
      @include m.ilios-link-button;
      display: block;
    }
  }

  .fade-text-control {
    bottom: 105px;
    cursor: pointer;
    height: 110px;
    padding: 0;
    position: relative;

    button {
      @include m.ilios-link-button;
      position: relative;
      top: 110px;
    }
  }
}
