@use "../colors" as c;

.fade-text {
  .display-text-wrapper {
    &.is-faded {
      max-height: 200px;
      overflow: hidden;
      position: relative;
    }
  }

  .fade-text-control {
    border: 1px dotted red;
    bottom: 100px;
    cursor: pointer;
    height: 100px;
    padding: 0;
    position: relative;

    button {
      position: relative;
      top: 100px;
    }
  }
}
