@use "../colors" as c;
@use "../mixins" as m;

.flatpickr-months {
  .flatpickr-month,
  .flatpickr-next-month,
  .flatpickr-prev-month {
    color: var(--white);
    background: var(--orange);

    svg {
      fill: var(--white);
    }
  }

  .flatpickr-current-month {
    align-items: center;
    display: flex;
    @include m.font-size("medium");
    justify-content: center;
    .flatpickr-monthDropdown-months {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      font-weight: 400;
      margin: 0;
      text-align-last: right;

      option {
        color: var(--raisin-black);
      }
    }

    .numInputWrapper {
      width: 40%;
      input {
        font-weight: 400;
      }
    }
  }
}

.flatpickr-weekdays,
span.flatpickr-weekday,
.flatpickr-day.selected {
  color: var(--white);
  background: var(--orange);
}

.flatpickr-day.selected {
  border-color: var(--orange);
}
