@use "../colors" as c;
@use "../mixins" as m;

.ilios-calendar {
  .ilios-calendar-pickers {
    align-items: center;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include m.for-tablet-and-up {
      flex-direction: row;
    }
  }

  .ilios-calendar-calendar {
    clear: both;
    position: relative;

    h1 {
      left: 4em;
      opacity: 75;
      position: absolute;
      top: 2em;
      transition: all 0.5s ease-in-out;
    }
  }

  .calendar-view-picker {
    float: right;

    .highlight {
      color: var(--orange);
      @include m.font-size("medium");
    }

    .on {
      color: var(--fern-green);
    }
  }

  .calendar-time-picker {
    float: left;
  }

  ul {
    &.inline,
    &.inline li {
      display: inline;
      margin-bottom: 1em;
    }

    &.inline li {
      margin-right: 2em;
    }

    a {
      text-decoration: none;
    }
  }

  .no-content {
    list-style-type: none;
  }
}
