@use "../mixins" as m;

.leadership-manager {
  table {
    ul {
      @include m.ilios-list-reset;
    }
  }

  .user-search {
    clear: both;
    position: relative;
    width: 90%;

    input[type="search"] {
      background-color: light-dark(var(--white), var(--dark-grey));
      border: 1px solid light-dark(var(--blue), var(--bright-blue));
      border-radius: 3px;
      height: 2rem;
      width: 100%;
    }
  }
}
