@use "../colors" as c;
@use "../mixins" as m;

.leadership-manager {
  table {
    @include m.ilios-table-structure;
    @include m.ilios-table-colors;

    ul {
      @include m.ilios-list-reset;
    }
  }

  .user-search {
    clear: both;
    position: relative;
    width: 90%;

    input[type="search"] {
      background-color: var(--white);
      border: 1px solid c.$tealBlue;
      border-radius: 3px;
      height: 2rem;
      width: 100%;
    }

    .results {
      @include m.user-search-results;
    }
  }
}
