@use "../mixins" as m;

.mesh-manager {
  .deprecated {
    color: var(--red);
    font-weight: 600;
  }

  .results,
  .mesh-search-results {
    @include m.ilios-list-reset;
  }

  .mesh-search-results {
    @include m.ilios-selectable-list;

    background-color: var(--white);
    border: 1px solid var(--light-blue);
    height: 10rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    width: 80%;

    button {
      @include m.ilios-button-reset;
      text-align: left;
    }

    .descriptor-name {
      display: block;
      font-weight: 600;
    }

    .descriptor-id {
      display: block;
      @include m.font-size("small");
    }

    .mesh-concepts {
      color: inherit;
      list-style: disc inside;

      .truncated::after {
        content: " \2026";
      }
    }
  }

  .selected-terms {
    @include m.ilios-tag-list;
    margin-bottom: 2rem;

    li {
      display: flex;

      button {
        @include m.ilios-button-reset;
      }
      .remove {
        margin-left: 0.5em;
      }
    }

    .term-title {
      font-weight: 600;
    }

    .term-details {
      font-style: italic;
    }
  }

  .mesh-search {
    padding-bottom: 0.5rem;

    input[type="search"] {
      @include m.ilios-input;

      &.error {
        border: 1px solid var(--light-red);
        outline-color: var(--light-red);
      }
    }

    label {
      @include m.ilios-label;
    }
  }
}
