@use "../colors" as c;
@use "../mixins" as m;

.new-session {
  background-color: var(--slight-white);
  border: 1px solid c.$culturedGrey;
  margin: 0.5rem 0;
  padding: 1rem;

  .new-session-title {
    @include m.detail-container-title;
    margin-bottom: 1rem;
  }

  .new-session-content {
    @include m.ilios-form;

    .item {
      @include m.ilios-form-item;

      &.last {
        @include m.ilios-form-last-item;
      }
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
