@use "../mixins" as m;

.new-learningmaterial {
  margin-left: 0;
  min-height: 25vh;
  @include m.ilios-form;

  .item {
    @include m.ilios-form-item;

    &.status.owner {
      display: flex;
      flex-direction: row;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    &.copyright {
      #lm-copyright-permissions-text {
        margin: 0;
      }
    }
  }

  .buttons {
    @include m.ilios-form-buttons;
  }

  input,
  textarea {
    &.error {
      border: 1px solid var(--red);
      outline-color: var(--red);
    }
  }
}
