@use "../mixins" as m;

.offering-url-display {
  .copy-btn {
    margin-left: 0.25em;

    &.copying {
      color: light-dark(var(--green), var(--light-green));
    }
  }
}

// tooltips are outside the document flow so have to be styled outside the component
.offering-url-display-success-message-tooltip {
  padding: 0;
  .arrow {
    display: none;
  }
  .content {
    background-color: light-dark(var(--green), var(--dark-green));
    color: light-dark(var(--white), var(--white));
  }
}
