@use "../mixins" as m;

.print-course {
  .header {
    background-color: var(--lightest-grey);
    @include m.course-header {
      padding: 0.5rem;
    }
  }

  .block {
    @include m.detail-container(var(--orange));
    background-color: var(--white);
    padding: 0.5rem;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }

    .content {
      @include m.detail-container-content;
      .inline-label-data-block {
        display: flex;

        label {
          font-weight: 600;
          margin-right: 0.25rem;
        }
      }

      * {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .static-list {
      @include m.ilios-static-list;
    }
  }

  .print-course-session {
    .session-objective-list {
      .grid-row {
        .grid-item {
          &:has(.faded) {
            max-height: none;
          }
        }
      }
    }
  }

  .offering-instructors {
    @include m.ilios-list-reset;

    ul {
      margin-left: 0;
    }
  }

  .fade-text {
    .display-text-wrapper {
      &.faded {
        max-height: none;
        overflow: visible;
        mask-image: none;
      }
    }

    button {
      &.collapse-text-button,
      &.expand-text-button {
        display: none;
      }
    }
  }
}
