@use "../colors" as c;
@use "../mixins" as m;

.print-course {
  .header {
    @include m.course-header;
    background-color: var(--cultured-grey);
    padding: 0.5rem;
  }

  .block {
    @include m.detail-container(var(--orange));
    background-color: var(--white);
    padding: 0.5rem;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }

    .content {
      @include m.detail-container-content;
    }

    .static-list {
      @include m.ilios-static-list;
    }
  }

  .print-course-session {
    .session-objective-list {
      .grid-row {
        .grid-item {
          &:has(.faded) {
            max-height: none;
          }
        }
      }
    }
  }

  .offering-instructors {
    @include m.ilios-list-reset;
  }

  .fade-text {
    .fade-text-control {
      height: auto;
    }

    .display-text-wrapper {
      &.faded {
        max-height: none;
        overflow: visible;
      }
    }

    button {
      &.expand-text-button {
        display: none;
      }
    }
  }
}
