@use "../colors" as c;

@use "sass:color";
@use "sass:math";

.progress-bar {
  background-color: var(--super-light-grey);
  border: 1px solid var(--lightest-grey);
  border-radius: 3px;
  box-shadow: inset 0 0 3px 0 var(--very-transparent-black);
  margin: 0 auto;
  width: 100%;

  > .meter {
    background-color: var(--orange);
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border: 1px solid hsl(from var(--orange) h s calc(l - 15));
    border-radius: math.div(3px, 1.5);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    color: var(--white);
    margin: 0;
    padding: 0.1rem 0.5rem;
    text-shadow: 0 0 1px var(--black);
  }
}
