@use "../mixins" as m;

.publish-all-sessions {
  background-color: var(--white);
  border: 1px solid var(--lightest-grey);
  margin-top: 0.5em;
  padding: 0 1rem 1rem 1rem;

  section {
    @include m.detail-container(var(--orange));

    .title {
      @include m.detail-container-title;
      text-align: left;
    }

    .content {
      @include m.detail-container-content;

      tbody {
        td {
          vertical-align: top;
        }
      }
    }
  }

  .publish-all-sessions-unpublishable,
  .publish-all-sessions-publishable {
    .title {
      cursor: pointer;
    }
  }

  .publish-all-sessions-overridable {
    margin-bottom: 2rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .publish-all-sessions-review {
    border: 1px solid var(--green);
    clear: both;
    padding: 1rem;
    text-align: center;

    .unlinked-warning {
      color: var(--dark-orange);
    }

    .fa-chart-column {
      color: var(--light-blue);
    }

    p {
      color: var(--green);
      font-weight: 600;
      margin: 0;
      margin-bottom: 1rem;
    }

    button {
      background: var(--green);
      color: var(--white);
    }
  }

  .fa-link-slash {
    color: var(--black);
  }
}
