@use "../colors" as c;
@use "../mixins" as m;

.selectable-terms-list-item {
  @include m.ilios-button-reset;
  border: 1px var(--lightest-grey) solid;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  padding: 0.2em 0.4em 0.2em 0.6em;
  text-align: left;
  vertical-align: middle;
  width: 100%;

  &:focus,
  &:hover {
    background-color: var(--lightest-grey);
    border: 1px var(--black) solid;
  }

  &.selected {
    background-color: var(--lightest-grey);
  }

  .actions {
    float: right;
  }

  &.top-level {
    margin-left: 0;
  }
}
