@use "../colors" as c;
@use "../mixins" as m;

.session-publicationcheck {
  background-color: c.$lightBlue;
  border-color: c.$culturedGrey;
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;
  padding-left: 0.8rem;

  .back-to-session {
    border-top: 1px solid var(--orange);
    padding: 1rem 0;
  }

  .results {
    background-color: c.$lightBlue;
    @include m.detail-container(var(--orange));

    .title {
      @include m.detail-container-title;
    }

    .session-publicationcheck-content {
      @include m.detail-container-content;

      thead {
        background-color: c.$culturedGrey;
      }
    }
  }

  .fa-link-slash {
    color: var(--black);
    @include m.font-size("small");
  }
}
