.back-to-session {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;

  .course-and-status {
    display: flex;
    gap: 5px;

    .status {
      display: flex;
    }
  }
}

.session-details {
  background-color: var(--lightest-blue);
  border-color: var(--lightest-grey);
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  table {
    thead,
    th {
      background-color: var(--blue);
      color: var(--white);
    }
  }

  .leadership-collapsed,
  .leadership-expanded-header,
  .leadership-expanded-content,
  .session-collapsed-objectives,
  .session-objectives,
  .detail-learningmaterials-header,
  .detail-learningmaterials-content,
  .collapsed-taxonomies,
  .detail-taxonomies,
  .detail-mesh-header,
  .session-offerings {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  & > {
    section {
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
