.back-to-session {
  margin-bottom: 1rem;
}

.session-details {
  background-color: light-dark(var(--lightest-blue), var(--dark-grey));
  border-color: light-dark(var(--lightest-grey), var(--grey));
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  table {
    thead,
    th {
      background-color: light-dark(var(--blue), var(--bright-blue));
      color: light-dark(var(--white), var(--black));
    }
  }

  .leadership-collapsed,
  .leadership-expanded-header,
  .leadership-expanded-content,
  .session-collapsed-objectives,
  .session-objectives,
  .detail-learningmaterials-header,
  .detail-learningmaterials-content,
  .collapsed-taxonomies,
  .detail-taxonomies,
  .detail-mesh-header,
  .session-offerings {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  & > {
    section {
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
