@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-header {
  background-color: var(--blue);
  border-bottom: 1px solid var(--grey);
  color: var(--white);
  font-weight: 400;
  top: 0;
  z-index: 1;
  @include m.font-size("small");
  @include m.sessions-grid;

  &.locked {
    position: sticky;
  }

  .sortable-heading {
    padding: 0.5rem 0;
  }

  .expand-collapse-control {
    button {
      color: var(--white);
    }
  }
}
