@use "../constants";
@use "../mixins" as m;

.session-header {
  border-top: 1px solid var(--lightest-grey);
  border-bottom: 1px solid var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(constants.$golden-ratio-large * 1rem)
    calc(constants.$golden-ratio-small * 1rem);

  @include m.for-tablet-and-up {
    flex-direction: row;
  }

  .session-publication {
    @include m.for-laptop-and-up {
      text-align: right;
    }
  }

  .title {
    @include m.ilios-heading-h5;
    flex-grow: 2;

    input {
      width: 90%;
    }
  }
}

.session-overview {
  @include m.ilios-overview(var(--orange));

  .last-update {
    color: var(--grey);
    margin-right: 1rem;
    text-align: right;
  }

  .session-overview-header {
    @include m.ilios-overview-header;
    padding-left: 0.5rem;

    .title {
      @include m.ilios-overview-title;
    }

    .session-overview-actions {
      @include m.ilios-overview-actions;

      a {
        @include m.font-size("medium");
        margin-right: 0.5rem;
      }
    }
  }

  .session-overview-content {
    padding-left: 0.5rem;
    @include m.ilios-overview-content;

    .session-attributes {
      @include m.ilios-fieldset;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0.25rem 0.5rem 0.25rem 0;

      @include m.for-tablet-and-up {
        grid-template-columns: 1fr 1fr;
      }

      @include m.for-laptop-and-up {
        display: flex;
        justify-content: space-around;
      }

      &.hidden {
        display: none;
      }

      label {
        white-space: nowrap;
        @include m.for-laptop-and-up {
          margin-right: 1.5rem;
        }
      }
    }
  }

  .block {
    @include m.ilios-overview-block;
  }

  .sessiontype {
    grid-column: 1 / -1;

    select {
      max-width: 80%;
      @include m.for-phone-only {
        max-width: 125px;
      }
    }
  }

  .session-ilm,
  .prerequisites,
  .postrequisite,
  .session-overview-ilm-duedate {
    grid-column: 1/-1;
  }

  .sessiondescription,
  .instructional-notes {
    grid-column: 1 / -1;
  }

  .sessionassociatedgroups {
    grid-column: 1 / -1;
  }

  .fa-copy {
    color: var(--green);
  }
}
