@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-loading {
  div {
    @include m.sessions-grid;

    &:nth-child(even) {
      background-color: var(--lightest-grey);
    }
  }
  span {
    color: transparent;
    text-shadow: var(--very-transparent-black) 0px 0px 10px;
  }
}
