@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-row {
  @include m.sessions-grid;
  padding: 0.25rem 0;

  .session-grid-status {
    display: flex;
    justify-content: flex-end;

    .instructional-notes,
    .prerequisites {
      color: var(--fern-green);
      margin-right: 0.25rem;
    }

    .publication-status {
      .text {
        display: none;
      }
    }
  }

  .session-grid-title {
    padding-right: 0.5rem;
  }
}
