@use "../colors" as c;

.back-to-session {
  margin-bottom: 1rem;
}

.session-details {
  background-color: var(--lightest-blue);
  border-color: var(--cultured-grey);
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  table {
    thead,
    th {
      background-color: var(--blue);
      color: var(--white);
    }
  }

  .leadership-collapsed,
  .leadership-expanded-header,
  .leadership-expanded-content,
  .session-collapsed-objectives,
  .session-objectives,
  .detail-learningmaterials-header,
  .collapsed-taxonomies,
  .detail-taxonomies,
  .detail-mesh-header,
  .session-offerings {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
