@use "../colors" as c;
@use "../mixins" as m;

.session-offerings {
  @include m.detail-container("transparent");

  .offering-section-top {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }
  }

  .session-offerings-content {
    @include m.detail-container-content;
  }

  .session-offerings-header {
    background-color: var(--lightest-grey);
    display: grid;
    font-weight: bold;
    grid-template-columns: repeat(5, 1fr);

    div {
      background-color: var(--blue);
      border-right: 1px solid var(--white);
      color: var(--white);
      overflow: hidden;
      padding: 0.5rem 0.25rem;
      white-space: nowrap;

      @include m.for-tablet-and-up {
        padding: 0.5rem;
      }
    }
  }
}
