@use "../mixins" as m;

.session-publicationcheck {
  background-color: var(--lightest-blue);
  border-color: var(--lightest-grey);
  border-style: solid;
  border-top: 0;
  border-width: 0 2px 2px;

  .display-text-wrapper {
    display: block;
  }

  .back-to-session {
    padding: 1rem 0 1rem 0.5rem;
  }

  .results {
    background-color: var(--lightest-blue);
    @include m.detail-container(var(--orange));
    padding: 0 0.5rem;

    .title {
      @include m.detail-container-title;
      @include m.ilios-heading-h5;
      padding-bottom: 1rem;
    }

    .sub-title {
      @include m.ilios-heading-h5;
    }

    .session-publicationcheck-content {
      @include m.detail-container-content;

      thead {
        background-color: var(--lightest-grey);
      }
    }
  }

  .fa-link-slash {
    color: var(--black);
    @include m.font-size("small");
  }
}
