@use "../colors" as c;
@use "../constants";
@use "../mixins" as m;

.session-header {
  border-top: 1px solid c.$culturedGrey;
  border-bottom: 1px solid var(--teal-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(constants.$golden-ratio-large * 1rem)
    calc(constants.$golden-ratio-small * 1rem);

  @include m.for-tablet-and-up {
    flex-direction: row;
  }

  .session-publication {
    @include m.for-laptop-and-up {
      text-align: right;
    }
  }

  .title {
    @include m.ilios-heading-h5;
    flex-grow: 2;

    input {
      width: 90%;
    }
  }
}

.session-overview {
  @include m.ilios-overview(var(--teal-blue));
  border-bottom: 1px dotted var(--orange);

  .last-update {
    color: c.$davysGrey;
    margin-right: 1rem;
    text-align: right;
  }

  .session-overview-header {
    @include m.ilios-overview-header;
    padding-left: 0.5rem;

    .title {
      @include m.ilios-overview-title;
    }

    .session-overview-actions {
      @include m.ilios-overview-actions;

      a {
        @include m.font-size("medium");
        margin-right: 0.5rem;
      }
    }
  }

  .session-overview-content {
    @include m.ilios-overview-content;
    padding-left: 0.5rem;
  }

  .block {
    @include m.ilios-overview-block;
  }

  .sessiontype {
    grid-column: 1 / -1;

    select {
      max-width: 80%;
      @include m.for-phone-only {
        max-width: 125px;
      }
    }
  }

  .session-ilm,
  .prerequisites,
  .postrequisite,
  .session-overview-ilm-duedate {
    grid-column: 1/-1;
  }

  hr {
    background: 0;
    grid-column: 1 / -1;
    height: 0;
    margin: 1rem;
  }

  .sessiondescription,
  .instructional-notes {
    @include m.ilios-browser-defaults;
    grid-column: 1 / -1;
    margin-top: 1em;

    .fade-text-control {
      background-image: linear-gradient(
        to bottom,
        transparent,
        var(--light-blue)
      );
    }
  }

  .sessionassociatedgroups {
    grid-column: 1 / -1;
  }

  .fa-copy {
    color: var(--fern-green);
  }

  .post-requisite-edit {
    @include m.ilios-link-button;
  }

  @include m.for-desktop-and-up {
    .session-overview-ilm-duedate {
      grid-column: 2 / -1;
    }
  }
}
