@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-header {
  @include m.sessions-grid;
  background-color: c.$tealBlue;
  border-bottom: 1px solid c.$davysGrey;
  color: c.$white;
  @include m.font-size("small");
  font-weight: normal;
  top: 0;
  z-index: 1;

  &.locked {
    position: sticky;
  }

  .sortable-heading {
    padding: 0.5rem 0;
  }

  .expand-collapse-control {
    button {
      color: c.$white;
    }
  }
}
