@use "../colors" as c;

.session-offerings-time-block-offerings {
  grid-column: 2 / -1;

  .offering-manager {
    border-bottom: 1px dotted var(--davys-grey);
    &:last-of-type {
      border-bottom: 0;
    }
  }
}
