@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-row {
  padding: 0.25rem 0;
  @include m.sessions-grid;

  .session-grid-status {
    display: flex;
    justify-content: flex-end;

    .instructional-notes,
    .prerequisites {
      color: var(--green);
      margin-right: 0.25rem;
    }
  }

  .session-grid-title {
    padding-right: 0.5rem;
  }
}
