@use "../mixins" as m;

.session-copy {
  h3 {
    @include m.ilios-heading-h3;
    margin-bottom: 1rem;
  }

  .copy-form {
    border: 1px solid var(--light-blue);
    margin-top: 1rem;

    @include m.ilios-form {
      display: block;
      padding: 1rem;
    }

    .item {
      @include m.ilios-form-item;
    }

    .buttons {
      @include m.ilios-form-buttons;

      button:disabled {
        background-color: var(--grey);
        border-color: var(--grey);
        color: var(--white);
        cursor: default;
      }
    }
  }

  .rollover-summary {
    font-weight: 400;
    margin: 0 0 1rem;

    @include m.for-laptop-and-up {
      padding: 0.5rem 6rem 0 4rem;
    }
  }

  .included {
    .title {
      display: block;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .include {
      margin-left: 1rem;

      input {
        display: inline;
        margin: 0;
        width: 1rem;
      }
    }
  }

  &.loading {
    select {
      @include m.loading-text;
      cursor: default;
    }
  }
}
