@use "../colors" as c;
@use "../mixins" as m;

@use "sass:color";

.sessions-grid-offering-table {
  @include m.ilios-table-structure;
  @include m.ilios-table-colors();

  margin: auto;
  width: 95%;

  thead {
    top: 2rem;

    &.locked {
      position: sticky;
    }

    th {
      @include m.font-size("small");
      font-weight: normal;
      padding: 0.2rem 0.5rem;
    }
  }

  td {
    padding: 0.2rem 0.5rem;

    &.expanded-offering-manager {
      background-color: var(--lightest-blue);
      padding: 0;
    }

    .change-room {
      max-width: 75%;
    }

    .actions {
      z-index: 10;
    }
  }

  .offering-block {
    & > td {
      padding-top: 0.5rem;
    }
  }

  .offering-block-date {
    border-top: 1px solid var(--cultured-grey);
    font-weight: bold;
  }

  .sessions-grid-offering {
    transition: background-color 0.5s ease-out;
    &.even {
      background-color: hsl(from var(--lightest-blue) h s calc(l - 10));
    }
    &.was-updated {
      background-color: hsl(from var(--fern-green) h s calc(l + 30));
    }
    .room {
      overflow-wrap: anywhere;
    }
  }

  .first-row td {
    padding-top: 2rem;
  }

  .offering-block + .first-row td {
    padding-top: 0;
  }

  .offering-form {
    background-color: var(--white);
    border: 1px solid var(--cultured-grey);
    padding: 0.5rem;
  }
}
