@use "../colors" as c;
@use "../mixins" as m;

.sessions-grid-loading {
  div {
    @include m.sessions-grid;

    &:nth-child(even) {
      background-color: var(--lightest-grey);
    }
  }
  span {
    color: transparent;
    text-shadow: hsl(from var(--black) h s l / 0.3) 0px 0px 10px;
  }
}
