@use "../mixins" as m;

.session-offerings {
  @include m.detail-container(var(--blue));

  .offering-section-top {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }
  }

  .session-offerings-content {
    @include m.detail-container-content;

    p {
      margin: 0;
    }
  }

  .session-offerings-header {
    background-color: var(--lightest-grey);
    display: grid;
    font-weight: 600;
    grid-template-columns: 1.5fr repeat(3, 2fr) 1fr;

    div {
      background-color: var(--blue);
      border-right: 1px solid var(--white);
      color: var(--white);
      overflow: hidden;
      padding: 0.5rem 0.25rem;
      white-space: nowrap;

      @include m.for-tablet-and-up {
        padding: 0.5rem;
      }
    }
  }
}
