@use "../mixins" as m;

@use "sass:color";

.user-search {
  position: relative;

  .results {
    @include m.ilios-list-reset;
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 3px;
    box-shadow: 0 2px 2px var(--very-transparent-black);
    color: var(--black);
    left: 0;
    max-height: 15rem;
    overflow: scroll;
    top: 2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;

    li {
      border-bottom: 1px solid var(--lightest-grey);
      padding: 0.6rem;
      padding-left: 1rem;

      &.active,
      &:hover {
        background-color: var(--lightest-blue);
        cursor: pointer;
      }

      &.inactive {
        color: var(--grey);
        cursor: default;
        font-style: italic;

        &:hover {
          background-color: var(--white);
        }
      }

      &.results-count {
        color: var(--green);
      }
    }

    .email {
      color: var(--grey);
      font-style: italic;
      padding-right: 0.2rem;
    }
  }
}
