.visualizer-course-term {
  display: inline-block;
  height: 1rem;
  width: 1rem;

  &.not-icon {
    height: 75vh;
    width: 75vw;

    .simple-chart-tooltip {
      .title {
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
