.wait-saving {
  z-index: 102;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: light-dark(
    var(--slightly-transparent-black),
    var(--slightly-transparent-black)
  );
  display: grid;
  justify-content: center;
  align-content: center;

  .content {
    background-color: light-dark(var(--white), var(--black));
    padding: 2em;
    border-radius: 1em;

    &:focus {
      outline: 0;
    }
  }
}
