@use "../mixins" as m;

.weekly-calendar-event {
  @include m.ilios-button-reset;
  cursor: default;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  @include m.font-size("small");
  border: 1px solid var(--white);
  margin: 1px;
  padding: 0.25rem;
  text-align: left;
  overflow: hidden;
  z-index: 2;

  &.clickable {
    cursor: pointer;
  }

  .ilios-calendar-event-time {
    display: block;
    @include m.font-size("small");
    font-weight: 600;
    padding-bottom: 0.5em;
  }

  .ilios-calendar-event-location {
    display: inline;
    font-weight: 600;
  }

  &.ilm {
    border-top: 2px dotted var(--black);
  }
}
