@use "../colors" as c;
@use "../mixins" as m;

@use "sass:color";
.week-glance {
  .title {
    @include m.ilios-heading-h3;
    margin-bottom: 1em;

    &.collapsible {
      @include m.ilios-button-reset;
      @include m.font-size("xl");
    }
  }

  .events-by-date {
    border-top: 1px dotted var(--orange);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .day {
      @include m.ilios-heading-h4;
      align-self: flex-start;
      position: sticky;
      top: 0.25rem;

      @include m.for-phone-only {
        &.narrow {
          display: block;
        }
        &.long,
        &.short {
          display: none;
        }
      }

      @include m.for-phone-and-up {
        &.short {
          display: block;
        }
        &.long,
        &.narrow {
          display: none;
        }
      }

      @include m.for-tablet-and-up {
        &.long {
          display: block;
        }
        &.short,
        &.narrow {
          display: none;
        }
      }
    }

    ul {
      @include m.ilios-list-reset;
      margin-top: 0.25rem;
    }
  }

  .event {
    padding: 0 0.25rem;
    margin: 1rem 0;
    border-left: 3px solid var(--lightest-blue);

    &:nth-of-type(even) {
      border-left: 3px solid var(--lightest-red);
    }

    &:first-of-type {
      margin-top: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .event-title {
      @include m.ilios-heading-h5;
      font-weight: 600;
      margin-bottom: 0;

      .date {
        font-weight: 400;
      }
    }

    .sessiontype,
    .location {
      font-style: italic;
    }

    .url {
      display: block;
      margin-left: 2em;
    }

    .instructors {
      label {
        font-weight: 600;
      }
    }

    .description {
      strong,
      b {
        /* stylelint-disable scales/font-weights */
        font-weight: 700;
      }
    }
  }
}
