<section class="publishall">
  <LinkTo @route="course" @model={{@model}} data-test-back-to-course>
    {{t "general.backToTitle" title=@model.title}}
  </LinkTo>
  <PublishAllSessions
    @course={{@model}}
    @saved={{this.returnToList}}
  />
</section>
