<ul class="detail-learner-list" data-test-detail-learner-list>
  {{#each (sort-by "fullName" @learners) as |user|}}
    {{#if @isManaging}}
      <li>
        <button
          type="button"
          {{on "click" (fn @remove user)}}
        >
          <UserNameInfo @user={{user}} />
          <FaIcon @icon="times" class="remove" />
        </button>
      </li>
    {{else}}
      <li>
        <UserNameInfo @user={{user}} />
      </li>
    {{/if}}
  {{/each}}
</ul>
