<ul class="detail-learner-list" data-test-detail-learner-list>
  {{#each (sort-by "fullName" @learners) as |user|}}
    {{#if @isManaging}}
      <li role="button" {{on "click" (fn @remove user)}}>
        <span data-test-user-name>{{user.fullName}}</span>
        <FaIcon @icon="times" class="remove" />
      </li>
    {{else}}
      <li role="button">
        <span data-test-user-name>{{user.fullName}}</span>
      </li>
    {{/if}}
  {{/each}}
</ul>
