{{#if @events.length}}
  <div class="ilios-calendar-pre-work-events">
    <h3 class="title">
      {{t "general.preWork"}}
    </h3>
    <ul>
      {{#each @events as |event|}}
        <IliosCalendarPreWorkEvent
          @event={{event}}
          @areEventsSelectable={{or @areEventsSelectable false}}
        />
      {{/each}}
    </ul>
  </div>
{{/if}}
