{{#in-element this.applicationElement insertBefore=null}}
  <div
    class="ilios-tooltip"
    {{did-insert this.setup}}
  >
    <div class="content">
      <div class="arrow" data-popper-arrow></div>
      {{#if @title}}
        <div class="title">
          {{@title}}
        </div>
      {{/if}}
      <div class="body">
        {{yield}}
      </div>
    </div>
  </div>
{{/in-element}}
