{{#if @events.length}}
  <div class="ilios-calendar-multiday-events">
    <h4 data-test-title>
      {{t "general.multidayEvents"}}
    </h4>
    <ul>
      {{#each @events as |event|}}
        <IliosCalendarMultidayEvent
          @isEventSelectable={{@areEventsSelectable}}
          @selectEvent={{@selectEvent}}
          @event={{event}}
        />
      {{/each}}
    </ul>
  </div>
{{/if}}
