<p data-test-not-found>
  {{t "general.notFoundMessage"}}
  <br>
  {{#if (has-route "dashboard")}}
    <LinkTo @route="dashboard" data-test-back-to-dashboard>
      {{t "general.backToDashboard"}}
    </LinkTo>
  {{/if}}
</p>
