<div class="single-event-learningmaterial-list">
  {{#if @learningMaterials.length}}
    <ul class="static-list fa-ul">
      {{#each @learningMaterials as |lm|}}
        <SingleEventLearningmaterialListItem @learningMaterial={{lm}} />
      {{/each}}
    </ul>
  {{else}}
    <p class="no-content">
      {{t "general.none"}}
    </p>
  {{/if}}
</div>
