@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-new-report {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }

  .form {
    @include m.ilios-form;
    grid-template-columns: repeat(2, 1fr);

    .item {
      @include m.ilios-form-item;
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
