@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-new-sequence-block {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  .form {
    @include m.ilios-form;
  }

  .item {
    @include m.ilios-form-item;

    &.last {
      @include m.ilios-form-last-item;
    }
  }

  .course {
    .details {
      @include m.font-size('small');
    }
  }

  .description {
    grid-column: 1 / -1;
    min-height: 10rem;
  }

  .clear-dates {
    grid-column: 1 / -1;

    button {
      max-width: 20rem;
    }
  }

  .buttons {
    @include m.ilios-form-buttons;
  }

  .selective {
    grid-column: 1 / -1;
    height: 2rem;

    span {
      font-style: italic;
    }
  }
}
