.curriculum-inventory-report-header {
  background-color: $culturedGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem;

  @include for-tablet-and-up {
    flex-direction: row;
  }

  button:disabled {
    cursor: default;
    background-color: $davysGrey;
  }

  .actions {
    .download {
      @include ilios-button;
    }
  }

  h2 {
    @include ilios-heading-h4;
  }

  .title {
    @include ilios-heading-h4;
    flex-grow: 2;

    input {
      width: 90%;
    }
  }
}
