@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-report-overview {
  @include m.ilios-overview(c.$orange);
  border-bottom: 1px dotted c.$orange;
  display: block;

  .report-overview-header {
    @include m.ilios-overview-header;

    .title {
      @include m.ilios-overview-title;
    }

    .report-overview-actions {
      @include m.ilios-overview-actions;

      a, span {
        color: c.$blueMunsell;
        @include m.font-size('medium');
        margin-right: .5rem;
      }
    }
  }

  .block {
    @include m.ilios-overview-block;
  }

  .curriculum-inventory-report-overview-content {
    @include m.ilios-overview-content;
  }

  .description {
    grid-column: 1 / -1;
    margin-bottom: 2rem;

    textarea {
      @include m.ilios-textarea;
    }
  }
}
