@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-report-details {
  @include m.detail-container(c.$orange);
  margin: 0 .8rem;

  .title {
    @include m.detail-container-title;
  }

  .confirm-finalize {
    background-color: c.$lavenderBlush;

    .confirm-message {
      color: c.$crimson;
      font-weight: bold;
      padding: 1rem 10%;
      text-align: center;
    }

    .confirm-buttons {
      padding-top: 1.1rem;
    }


    &:hover {
      background-color: c.$lavenderBlush;
    }

    .finalize {
      background-color: c.$white;
      color: c.$crimson;
    }
  }
}
