@use "../../ilios-common/colors" as c;
@use "../../ilios-common/constants";
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-report-header {
  border-bottom: 1px solid c.$culturedGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(constants.$golden-ratio-large * 1rem) 0 calc(constants.$golden-ratio-small * 1rem) 0;

  @include m.for-tablet-and-up {
    flex-direction: row;
  }

  button:disabled {
    cursor: default;
    background-color: c.$davysGrey;
  }

  .actions {
    .download {
      @include m.ilios-button;
    }
  }

  h2 {
    @include m.ilios-heading-h4;
  }

  .title {
    @include m.ilios-heading-h4;
    flex-grow: 2;

    input {
      width: 90%;
    }
  }
}
