.curriculum-inventory-sequence-block-overview {
  .curriculum-inventory-sequence-block-overview-wrapper {
    @include ilios-overview($orange);

    .block {
      @include ilios-overview-block;

      &.academic-level {
        padding-top: .5rem;
      }

      &.course {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;

        span {
          display: flex;
        }

        .details {
          @include font-size('small');
        }
      }

      &.description {
        align-items: flex-start;
        grid-column: 1 / -1;
        margin-bottom: 1rem;

        textarea {
          @include ilios-textarea;
        }
      }

      &.is-selective {
        font-style: italic;
        grid-column: 1 / -1;
        padding-top: .5rem;

        &.hidden {
          visibility: hidden;
        }
      }

      &.sessions {
        grid-column: 1 / -1;
      }

      &.title {
        @include ilios-overview-title;
      }
    }

    .curriculum-inventory-sequence-block-overview-content {
      @include ilios-overview-content;
    }
  }

  .curriculum-inventory-sequence-block-session-list {
    grid-column: 1 / -1;
    padding-top: 1rem;

    .sessions-list {
      .sessions {
        display: flex;
        justify-content: space-between;
      }

      table {
        @include ilios-table-structure;
        @include ilios-table-colors;
        @include ilios-zebra-table;
      }
    }
  }

  .curriculum-inventory-sequence-block-session-manager {
    grid-column: 1 / -1;

  }

  .curriculum-inventory-sequence-block-dates-duration-editor,
  .curriculum-inventory-sequence-block-min-max-editor {
    @include ilios-form;
    grid-column: 1 / -1;
    margin-top: 2rem;

    .item {
      @include ilios-form-item;

      &.last {
        @include ilios-form-last-item;
      }
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }
}
