@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-sequence-block-header {
  background-color: c.$culturedGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem;

  @include m.for-tablet-and-up {
    flex-direction: row;
  }

  h2 {
    @include m.ilios-heading-h4;
  }

  .title {
    @include m.ilios-heading-h4;
    flex-grow: 2;

    input {
      width: 90%;
    }
  }
}
