@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

.curriculum-inventory-sequence-block-list {
  @include cm.main-section;

  .header {
    @include m.main-list-box-header;

    h2 {
      @include cm.ilios-heading;
    }

    .title {
      @include m.main-list-box-header-title;
    }

    .actions {
      @include m.main-list-box-header-actions;
    }
  }

  .list {
    @include m.main-list-box-table;

    i {
      margin-left: .25rem;
    }
  }
  .default-message {
    margin: 1rem;
  }

  .saved-result {
    border: 1px solid c.$fernGreen;
    margin: 1rem;
    padding: .75rem;
  }
}
