.curriculum-inventory-verification-preview-header {
  background-color: $culturedGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem;

  @include for-tablet-and-up {
    flex-direction: row;
  }

  .title {
    display: flex;
    flex-direction: column;

    @include for-tablet-and-up {
      flex-direction: row;
    }
  }
}
