@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.curriculum-inventory-verification-preview-header {
  background-color: c.$culturedGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem;

  @include m.for-tablet-and-up {
    flex-direction: row;
  }

  .title {
    display: flex;
    flex-direction: column;

    @include m.for-tablet-and-up {
      flex-direction: row;
    }
  }
}
