.curriculum-inventory-verification-preview-table1 {
  padding: 0 .8rem;
  table {
    @include ilios-table-structure;
    @include ilios-table-colors;
    @include verification-preview-table;


    td {
      vertical-align: top;

      &:nth-child(3) ul {
        margin: 0;
      }
    }
  }
}
