<section id='selected-competencies' class='halfwidth'>
<h3>{{t "programs.programYear.competencies.selected"}}</h3>
<ul>
  {{#each}}
    {{render 'programyear/competency/selected' this}}
  {{/each}}
</ul>
</section>
<section id='available-competencies' class='halfwidth'>
<h3>{{t "programs.programYear.competencies.available"}}</h3>
<ul>
  {{#each}}
    {{render 'programyear/competency/all' this}}
  {{/each}}
</ul>
</section>
