@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

@use "sass:color";

.learner-groups-root {
  @include cm.main-section;

  .filters {
    @include m.main-list-filters;

    .filter {
      @include m.main-list-filter;
    }
  }

  .new .saved-result {
    @include m.main-list-saved-new;
  }

  .main-list {
    @include m.main-list-box;

    .header {
      @include m.main-list-box-header;

      h2 {
        @include cm.ilios-heading;
      }

      .title {
        @include m.main-list-box-header-title;
      }

      .actions {
        @include m.main-list-box-header-actions;
      }
    }

    .list {
      @include m.main-list-box-table;

      .confirm-copy,
      .confirm-copy:nth-child(even),
      .confirm-copy:nth-child(odd)
      {
        background-color: color.adjust(c.$blueMunsell, $lightness: 60%);
        border: 2px solid c.$blueMunsell;

        &.actions-row {
          border-top: 0;
        }

        &.content-row {
          border-bottom: 0;
        }
      }
    }
  }
}
