noscript {
  p {
    background-color: $slightWhite;
    border: 2px dashed $orange;
    color: $raisinBlack;
    @include font-size('xxl');
    font-weight: bold;
    margin: 2rem;
    padding: 2rem;
  }

  a {
    text-decoration: underline;
  }
}
