<div class='weeklylink'>
  {{t 'general.view'}}:
  {{#link-to
    'weeklyevents'
    (query-params expanded=expanded)
  }}
    {{t 'general.lastNextAllWeeks'}}
  {{/link-to}}
</div>
{{week-glance
  collapsible=false
  collapsed=false
  showFullTitle=true
  year=year
  week=week
}}
