<div class="weeklylink" data-test-weekly-link>
  {{t "general.view"}}:
  {{#link-to "weeklyevents" (query-params expanded=expanded)}}
    {{t "general.allWeeks"}}
  {{/link-to}}
</div>

{{week-glance
  collapsed=false
  collapsible=false
  showFullTitle=true
  week=week
  year=year}}
