{{#if @value}}
  <button class="collapse-button" onclick={{@action}}>
    <FaIcon @icon="minus" />
  </button>
{{else}}
  <button class="expand-button" onclick={{@action}}>
    <FaIcon @icon="plus" />
  </button>
{{/if}}
