<p>{{instructions}}</p>
<p>
  <span>
    {{#copy-button clipboardText=url success=(perform textCopied)}}
      {{fa-icon 'copy'}} {{t 'general.copyIcsFeedUrl'}}
    {{/copy-button}}
    {{#if showCopySuccessMessage}}
      <span class='yes'>{{t 'general.copiedSuccessfully'}}</span>
    {{/if}}
  </span>
</p>
