{{#if events.length}}
  <div class="ilios-calendar-pre-work-events">
    <h4>{{t "general.preWork"}}</h4>
    <ul>
      {{#each events as |event|}}
        <IliosCalendarPreWorkEvent @event={{event}} />
      {{/each}}
    </ul>
  </div>
{{/if}}
