{{#if this.events.length}}
  <div class="ilios-calendar-multiday-events">
    <h4>
      {{t "general.multidayEvents"}}
    </h4>
    <ul>
      {{#each this.events as |event|}}
        <IliosCalendarMultidayEvent
          @isEventSelectable={{this.areEventsSelectable}}
          @selectEvent={{this.selectEvent}}
          @event={{event}}
        />
      {{/each}}
    </ul>
  </div>
{{/if}}

