{{#el-daily-calendar date=date events=singleDayEvents as |hours|}}
  <div class="row week-titles">
    <div class="cell">
    </div>
    <div class="cell title">
      {{moment-format date "dddd, MMMM Do YYYY"}}
    </div>
  </div>
  <div class="week">
    <ul class="week-hours">
      {{#each hours as |hour|}}
        <li class="week-hour">{{hour.formattedHour}}</li>
      {{/each}}
    </ul>

    <ul class="week-day-full">
      <li class="event-column">
        {{#each hours as |hour|}}
          {{#each hour.events as |event|}}
            {{ilios-calendar-event
              event=event
              selectEvent=(action selectEvent event)
              isDay=true
            }}
          {{/each}}
        {{/each}}
      </li>
      {{! template-lint-disable unused-block-params }}
      {{#each hours as |empty|}}
        <li class="day-hour">
          <div class="day-half-hour"></div>
        </li>
      {{/each}}
    </ul>
  </div>
{{/el-daily-calendar}}

{{ilios-calendar-multiday-events
  multidayEvents=multidayEvents
  events=multiDayEventsList
  selectEvent=(action selectEvent event)
}}
