<div class="new-offering-title">{{t "general.newOffering"}}</div>

<div class="choose-offering-type">
  {{click-choice-buttons
    buttonContent1=(t "general.smallGroups")
    buttonContent2=(t "general.offering")
    firstChoicePicked=smallGroupMode
    toggle=(action (mut smallGroupMode))
  }}
</div>

{{offering-form
  showRoom=(not smallGroupMode)
  showMakeRecurring=true
  showInstructors=(not smallGroupMode)
  cohorts=cohorts
  courseStartDate=courseStartDate
  courseEndDate=courseEndDate
  close=close
  save=(action "save")
  smallGroupMode=smallGroupMode
  session=session
}}
