<input
  class="search-input"
  type="search"
  value={{this.value}}
  oninput={{action "update" value="target.value"}}
  placeholder={{this.placeholder}}
>
<span
  class="search-icon"
  onclick={{this.pipe-action (action "focus") (perform this.searchTask)}}
  role="button"
>
  <FaIcon @icon="search" />
</span>

