{{#if this.term.description.length}}
  {{#attach-tooltip lazyRender=true animation="shift"}}
    {{this.term.description}}
  {{/attach-tooltip}}
{{/if}}
{{this.term.title}}
<span class="actions">
  {{#if this.isSelected}}
    <FaIcon @icon="times" />
  {{else}}
    <FaIcon @icon="plus" class="add" />
  {{/if}}
</span>

