{{#if term.description.length}}
  <AttachTooltip @lazy-render={{true}} @animation="shift">
    {{term.description}}
  </AttachTooltip>
{{/if}}
{{term.title}}
<span class="actions">
  {{#if isSelected}}
    <FaIcon @icon="times" />
  {{else}}
    <FaIcon @icon="plus" class="add" />
  {{/if}}
</span>

