<ModalDialog @translucentOverlay={{true}} @animatable={{false}}>
  <PulseLoader />
  <h2 class="page-title">
    {{t "general.waitSaving"}}
  </h2>
  {{#if this.showProgress}}
    <ProgressBar @percentage={{this.progress}} />
  {{/if}}
</ModalDialog>

