{{#modal-dialog
  translucentOverlay=true
  animatable=false
}}
  {{pulse-loader}}
  <h2 class="page-title">{{t "general.waitSaving"}}</h2>

  {{#if showProgress}}
    {{progress-bar percentage=progress}}
  {{/if}}
{{/modal-dialog}}
