@use "../ilios-common/colors" as c;
@use "../ilios-common/constants";
@use "../ilios-common/mixins" as m;

.application-wrapper {
  display: grid;
  grid-template-areas:
    "logo header"
    "main main"
    "footer footer";
  grid-template-rows: 42px auto 20px;
  height: 100vh;
  width: 100%;
  background-color: var(--white);

  & > .ilios-logo {
    grid-area: logo;
  }

  & > header {
    grid-area: header;
  }

  & > nav {
    display: none;
  }

  & > main {
    background-color: var(--white);
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }

  &.show-navigation {
    grid-template-areas:
      "logo header"
      "nav nav"
      "main main"
      "footer footer";
    grid-template-rows: auto auto 1fr 20px;
    grid-template-columns:
      min(calc(100vw * constants.$golden-ratio-small), 125px)
      minmax(calc(100vw * constants.$golden-ratio-large), auto);

    & > header {
      @include m.for-tablet-and-up {
        display: block;
      }

      & > .tools {
        padding: 0.25rem 0 0;

        @include m.for-phone-and-up {
          padding: 0.4rem 0;
        }

        @include m.for-tablet-and-up {
          grid-template-areas: "search locale user guide";
        }

        @include m.for-laptop-and-up {
          padding: 6.4px 0;
        }
      }
    }

    @include m.for-tablet-and-up {
      grid-template-rows: 42px auto 1fr 20px;
    }

    @include m.for-laptop-and-up {
      grid-template-areas:
        "logo header"
        "logo main"
        "nav main"
        "footer footer";
      grid-template-columns: auto 1fr;
      grid-template-rows:
        42px calc(42px * constants.$golden-ratio-small)
        auto 20px;
    }

    @include m.for-desktop-and-up {
      grid-template-areas:
        "logo header  header"
        "logo    main main"
        "nav    main main"
        "footer footer  footer";
      grid-template-columns: auto 1fr 1fr;
      grid-template-rows:
        42px calc(42px * constants.$golden-ratio-large)
        auto 20px;
    }

    & > nav {
      display: grid;
      grid-area: nav;
      @include m.for-laptop-and-up {
        display: block;
        z-index: 0;
      }
    }
  }
}
