@use "../ilios-common/colors" as c;
@use "../ilios-common/mixins" as m;

noscript {
  p {
    background-color: var(--slight-white);
    border: 2px dashed var(--orange);
    color: var(--raisin-black);
    @include m.font-size("xxl");
    font-weight: bold;
    margin: 2rem;
    padding: 2rem;
  }

  a {
    text-decoration: underline;
  }
}
