@use "../ilios-common/mixins" as m;

noscript {
  p {
    background-color: var(--white);
    border: 2px dashed var(--orange);
    color: var(--black);
    font-weight: 600;
    margin: 2rem;
    padding: 2rem;
  }

  a {
    text-decoration: underline;
  }
}
