@mixin ilios-list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;

  ul,
  ol {
    margin-left: 1em;
  }
}
@mixin ilios-static-list() {
  @include ilios-list-reset;
  background-color: $white;
  border: 1px solid $input-box-grey;
  border-radius: $base-border-radius;
  padding: 1em 2em;
  width: 80%;

  li {
    font-weight: bold;
  }

  ul {
    margin-left: 1em;

    li {
      font-weight: normal;
    }
  }
}

@mixin ilios-tag-list() {
  @include ilios-list-reset;

  display: flex;
  flex-wrap: wrap;

  li {
    background-color: $header-grey;
    border-radius: 4px;
    margin-right: .3em;
    margin-top: 10px;
    padding: .2em .4em .2em .6em;
    vertical-align: middle;
  }
}

@mixin ilios-browser-defaults {
  ul {
    list-style-position: inside;
    list-style-type: disc;
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  ul ul,
  ol ul {
    list-style-position: inside;
    list-style-type: circle;
    margin-left: 15px;
  }

  ol ol,
  ul ol {
    list-style-position: inside;
    list-style-type: lower-latin;
    margin-left: 15px;
  }

  p {
    margin: 0;
  }
}

@mixin ilios-selectable-list {
  padding: .5em 1em .5em .5em;

  ul {
    background-color: transparent;
    border: 0;
    height: auto;
    margin-left: 2em;
    overflow-y: visible;
    padding: 0;
    width: auto;
  }

  li {
    color: $base-link-color;
    cursor: pointer;

    &.static {
      color: $base-font-color;
      cursor: arrow;
    }

    &.disabled {
      color: lighten($base-font-color, 40);
      cursor: arrow;
    }
  }
}

@mixin ilios-removable-list {
  @include ilios-tag-list;

  li {
    cursor: pointer;
    display: flex;

    .remove {
      margin-left: .5em;
    }
  }
}
