@mixin ilios-button () {
  appearance: none;
  background-color: $ilios-blue;
  border: 0;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: .85rem;
  padding: .3em 1em;
  vertical-align: middle;
  white-space: nowrap;
}
