@mixin ilios-heading () {
  color: $raisinBlack;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@mixin ilios-heading-h1() {
  @include ilios-heading;
  @include font-size('xxxl');
}

@mixin ilios-heading-h2() {
  @include ilios-heading;
  @include font-size('xxl');
}

@mixin ilios-heading-h3() {
  @include ilios-heading;
  @include font-size('xl');
}

@mixin ilios-heading-h4() {
  @include ilios-heading;
  @include font-size('large');
}

@mixin ilios-heading-h5() {
  @include ilios-heading;
  @include font-size('medium');
}

@mixin ilios-heading-h6() {
  @include ilios-heading;
  @include font-size('base');
}
