@mixin ilios-heading () {
  color: $header-blue;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@mixin ilios-heading-h1() {
  @include ilios-heading;
  font-size: 2.25rem;
}

@mixin ilios-heading-h2() {
  @include ilios-heading;
  font-size: 2rem;
}

@mixin ilios-heading-h3() {
  @include ilios-heading;
  font-size: 1.75rem;
}

@mixin ilios-heading-h4() {
  @include ilios-heading;
  font-size: 1.5rem;
}

@mixin ilios-heading-h5() {
  @include ilios-heading;
  font-size: 1.25rem;
}

@mixin ilios-heading-h6() {
  @include ilios-heading;
  font-size: 1rem;
}
