@mixin ilios-button () {
  appearance: none;
  background-color: $dark-blue;
  border: 0;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: .3em 1em;
  vertical-align: middle;
  white-space: nowrap;

  @include font-size('base');
  //at small sizes scale to keep button text in the button
  @include for-phone-only {
    /* stylelint-disable property-disallowed-list */
    font-size: 3vw;
  }

}

@mixin ilios-button-reset {
  padding: 0;
  border: 0;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  white-space: normal;
}

@mixin ilios-link-button () {
  @include ilios-button-reset;
  color: $base-link-color;
}
