@use "sass:color";

@mixin ilios-table-structure () {
  border-collapse: collapse;
  margin: .7rem 0;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    border: 0;
  }

  th,
  td {
    overflow-wrap: break-word;
    &.text-left,
    &.align-left {
      text-align: left;
    }

    &.text-center,
    &.align-center {
      text-align: center;
    }

    &.text-right,
    &.align-right {
      text-align: right;
    }

    &.text-top {
      vertical-align: top;
    }

    &.text-middle {
      vertical-align: middle;
    }

    &.text-bottom {
      vertical-align: bottom;
    }
  }

  tr,
  td,
  th {
    padding: 1em 0;
    vertical-align: middle;
  }

  &.condensed {
    @include font-size('small');

    tr,
    td,
    th {
      margin: 0;
      padding: 0;
    }
  }

  .hide-from-small-screen {
    display: none;

    @include for-laptop-and-up {
      display: table-cell;
    }
  }

  .hide-from-large-screen {
    display: none;

    @include for-smaller-than-laptop {
      display: table-cell;
    }
  }
}


@mixin ilios-table-colors () {
  thead {
    background-color: $slightWhite;
  }

  th {
    border-bottom: 1px solid color.adjust($culturedGrey, $lightness: -15%);
  }
}

@mixin ilios-removable-table () {
  tbody {
    .confirm-removal {
      background-color: $lavenderBlush;

      .confirm-message {
        color: $crimson;
        font-weight: bold;
        padding-left: 8em;
        padding-right: 8em;
        text-align: center;
        width: 100%;
      }

      .confirm-buttons {
        padding-bottom: 1.5em;
        padding-top: 1.1em;
      }


      &:hover {
        background-color: $lavenderBlush;
      }

      .remove {
        background-color: $white;
        color: $crimson;

        &:hover {
          background-color: $crimson;
          color: $white;
        }
      }
    }
  }
}

@mixin ilios-zebra-table () {
  tbody tr:nth-child(even) {
    background-color: color.adjust($culturedGrey, $lightness: 4%);
  }
}
