@use "sass:color";

@mixin ilios-link () {
  color: $blueMunsell;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  &:visited {
    color: $blueMunsell;
  }

  &:hover,
  &:active,
  &:focus {
    color: color.adjust($blueMunsell, $lightness: -15%);
    outline: thin dotted;
    text-decoration: underline;
  }

  &:hover {
    outline: none;
  }
}
