@mixin loading-box () {
  animation: fadein;
  background-color: $culturedGrey;
  border: 1px dotted $davysGrey;
  transition: opacity 2s ease-out;

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    40% {
      opacity: .3;
    }

    100% {
      opacity: 1;
    }
  }
}
