@use "../colors" as c;

@mixin loading-box () {
  animation: fadein;
  background-color: c.$culturedGrey;
  border: 1px dotted c.$davysGrey;
  transition: opacity 2s ease-out;

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    40% {
      opacity: .3;
    }

    100% {
      opacity: 1;
    }
  }
}
