@use "sass:color";

@mixin user-search-results () {

  background: $white;
  border: 1px solid $slightWhite;
  border-radius: 3px;
  box-shadow: 0 2px 2px color.adjust($black, $alpha: -.8);
  color: $raisinBlack;
  max-height: 23rem;
  overflow-y: scroll;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 100;

  &.hidden {
    display: none;
  }

  li {
    border-bottom: 1px solid $culturedGrey;
    color: $blueMunsell;
    display: block;
    padding: .1rem;
    width: 100%;

    &.inactive {
      color: color.adjust($culturedGrey, $lightness: -20%);
      font-style: italic;
    }

    &.summary {
      color: $russianGreen;
    }

    a,
    &.clickable {
      &:hover {
        background-color: color.adjust($blueMunsell, $lightness: 50%);
      }
    }

    .name,
    .email {
      display: block;
      width: 100%;

      @include for-laptop-and-up {
        display: inline;
      }
    }

    .name i {
      @include font-size('small');
    }

    .email {
      color: $davysGrey;
      font-style: italic;
    }
  }


}
