@use "../../mixins" as m;

.dashboard-materials {
  .title {
    @include m.ilios-heading-h3;
    margin-top: 0.5rem;
    text-align: center;
  }
  .dashboard-materials-content {
    padding: 0 0 1rem;

    .header {
      margin: 0 1em 1em 0;
    }

    .material-list {
      border-bottom: 1px dotted var(--orange);
      display: grid;
      margin-bottom: 2rem;
      padding-bottom: 1rem;

      @include m.for-tablet-and-up {
        grid-template-columns: 1fr 1fr;
      }
    }

    .course-filter,
    .filter {
      margin-bottom: 1rem;
      margin-top: 1rem;

      select {
        max-width: 91vw;

        @include m.for-tablet-and-up {
          max-width: none;
        }
      }
    }

    .filter input {
      width: 100%;
    }

    .lm-type-icon {
      color: var(--grey);
    }

    .timed-release-info {
      @include m.font-size("small");
    }

    table {
      @include m.ilios-table-structure;
      @include m.ilios-table-colors;
      grid-column: 1 / -1;

      .no-results {
        text-align: center;
      }
    }

    .fa-spinner.orange {
      color: var(--orange);
    }

    .paginator {
      grid-column: 1 / -1;
      text-align: right;
    }
  }
}
