@use "../../constants";
@use "../../mixins" as m;

.dashboard-navigation {
  border-bottom: 1px solid light-dark(var(--lightest-grey), var(--grey));
  margin: 0.5rem 0 0 0.5rem;

  ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 0 calc(constants.$golden-ratio-small * 0.5rem) 0;
    padding: 0;

    li {
      margin: 0;

      &:nth-of-type(3) {
        align-items: center;
        display: flex;
        gap: 5px;
      }

      .ilios-calendar-ics-feed {
        background-color: light-dark(transparent, var(--white));
        text-align: center;
        width: 90%;

        .highlight {
          align-items: center;
          display: flex;
          color: light-dark(var(--orange), var(--dark-orange));
          @include m.font-size("large");
          // exact height/width needed for dark mode white bg to create inner details
          height: 14px;
          width: 16px;

          @include m.for-phone-only {
            @include m.font-size("medium");
          }
        }
      }
    }

    @include m.for-tablet-and-up {
      justify-content: flex-start;

      li {
        margin-right: 3em;

        &:nth-of-type(3) {
          margin-right: 0.5em;
        }
      }
    }
  }

  a {
    @include m.ilios-button {
      padding: 0.25rem 0.5rem;
    }

    &:active,
    &:hover,
    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      background-color: var(--light-blue);
    }

    &.active {
      background-color: light-dark(var(--green), var(--green));
      color: light-dark(var(--white), var(--white));

      &:hover {
        background-color: var(--light-green);
      }
    }
  }
}
