<div data-test-reports-subject-instructor-group>
  {{#if this.finishedLoading}}
    <ul class="report-results" data-test-results>
      {{#each this.data as |title|}}
        <li>
          {{title}}
        </li>
      {{else}}
        <li>{{t "general.none"}}</li>
      {{/each}}
    </ul>
  {{else}}
    <LoadingSpinner />
  {{/if}}
</div>
