@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.reports-new-subject {
  background-color: c.$slightWhite;
  border: 1px solid c.$culturedGrey;
  margin: 0.5rem 0;
  padding: 1rem 1rem 3rem;

  .title {
    @include m.ilios-heading-h5;
    margin-bottom: 0.5rem;
  }

  .new-subject-content {
    @include m.ilios-form-error;
    p {
      display: grid;
      grid-gap: 0.25rem;
      grid-template-columns: 1fr 4fr 0.5fr;

      label {
        @include m.ilios-label;
        text-align: right;
      }

      select,
      input {
        width: 100%;
        grid-column: 2 / span 2;
      }

      .validation-error-message {
        grid-column: 1 / -1;
      }

      .mesh-search {
        label {
          display: none;
        }
      }
    }

    .new-subject-search {
      p {
        input {
          grid-column: 2;
        }
        button {
          grid-column: 3;
        }
        margin-bottom: 0;
      }

      .results {
        margin-top: 0.25rem;
        @include m.font-size("base");
        div {
          grid-column: 2;
        }
        ol {
          @include m.ilios-list-reset;
          padding-left: 0.5rem;

          button {
            @include m.ilios-button-reset;
            text-align: left;
          }
        }
      }
    }

    .selected-instructor,
    .selected-mesh-term {
      @include m.ilios-tag-list;
      .remove {
        margin-left: 0.5rem;
      }
    }

    .term-title {
      font-weight: bold;
    }

    .term-details {
      font-style: italic;
    }

    .input-buttons {
      margin-top: 0.5rem;
      float: right;
    }
  }
}
