@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.reports-new-subject {
  background-color: c.$slightWhite;
  border: 1px solid c.$culturedGrey;
  margin: .5rem 0;
  padding: 1rem 1rem 3rem;

  .title {
    @include m.ilios-heading-h5;
    margin-bottom: .5rem;
  }

  .new-subject-content {
    @include m.ilios-form-error;
    p {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: 1fr 4fr;

      label {
        @include m.ilios-label;
        text-align: right;
      }

      select, input {
        width: 100%;
      }

      .validation-error-message {
        grid-column: 1 / -1;
      }

      .mesh-search {
        label {
          display: none;
        }
      }
    }

    .selected-instructor,
    .selected-mesh-term {
      @include m.ilios-tag-list;
      .remove {
        margin-left: .5rem;
      }
    }

    .term-title {
      font-weight: bold;
    }

    .term-details {
      font-style: italic;
    }

    .input-buttons {
      float: right;
    }
  }
}
