@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

.reports-subjects {
  @include cm.main-section;

  .header {
    @include m.main-list-box-header;

    h2 {
      @include cm.ilios-heading;
    }

    .title {
      @include m.main-list-box-header-title;
    }
  }

  .content-container {
    margin-left: 1rem;

    .saved-reports {
      @include cm.ilios-list-reset;
      margin: .5rem 0;

      li {
        display: flex;
        justify-content: space-between;
      }
    }

    .fa-trash {
      @include cm.icon;
    }
  }
}
