@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

.reports-subject {
  @include cm.main-section;

  .back-to-reports {
    margin-left: 1rem;
  }

  .header {
    @include m.main-list-box-header;

    h2 {
      @include cm.ilios-heading;
    }

    .title {
      @include m.main-list-box-header-title;
    }
  }

  .content-container {
    margin-left: 1rem;

    .years-filter {
      margin: .5rem 0 1rem;
      padding-right: .5rem;
      text-align: right;
      width: 100%;
    }

    .report-results {
      @include cm.ilios-list-reset;
    }
  }
}
