.reports-subject {
  @include main-section;

  .header {
    @include main-list-box-header;

    h2 {
      @include ilios-heading;
    }

    .title {
      @include main-list-box-header-title;
    }
  }

  .content-container {
    margin-left: 1rem;

    .saved-reports {
      @include ilios-list-reset;
      margin: .5rem 0;

      li {
        display: flex;
        justify-content: space-between;

        button {
          @include ilios-link-button;
          font-weight: 600;
          margin-right: .5rem;
          text-align: left;
        }
      }
    }

    .years-filter {
      margin: .5rem 0 1rem;
      padding-right: .5rem;
      text-align: right;
      width: 100%;
    }

    .fa-trash {
      @include icon;
    }

    .report-title {
      padding-left: 1rem;
    }

    .report-results {
      @include ilios-list-reset;
    }
  }
}
