@use "../../mixins" as m;

.course-visualize-instructor {
  @include m.for-laptop-and-up {
    .visualizations {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
  }
}
