@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

@use "sass:color";

.learner-group-bulk-assignment {
  border-bottom: 1px solid c.$orange;
  margin-bottom: 2rem;
  padding: 1rem;

  .learner-group-upload-data {
    .loading-file {
      padding: 1rem;
      text-align: center;
      width: 100%;

      i {
        color: c.$blueMunsell;
        @include m.font-size('xxl');
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }

    .issue {
      color: c.$davysGrey;
      margin-left: 1rem;
    }
  }

  .group-matcher {
    border: 1px solid c.$davysGrey;

    th:nth-child(1),
    td:nth-child(1) {
      width: 60%;

      span {
        padding-right: 2rem;
      }
    }

    .learner-group-bulk-group-matcher {
      border: 1px solid c.$davysGrey;

      select {
        width: 100%;
      }

      &.matched {
        background-color: color.adjust(c.$fernGreen, $lightness: 15%);
      }

      &.not-matched {
        background-color: color.adjust(c.$gold, $lightness: 15%);
      }
    }
  }

  table {
    @include m.ilios-table-structure;
    @include m.ilios-table-colors;
  }
}
