.learner-group-header {
  .header-bar {
    border-bottom: 1px solid $culturedGrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc($golden-ratio-large * 1rem) 0 calc($golden-ratio-small * 1rem) 0;
    margin: 0 .8rem;

    @include for-tablet-and-up {
      flex-direction: row;
    }

    h2 {
      @include ilios-heading-h4;
    }

    .title {
      @include ilios-heading-h4;
      flex-grow: 2;

      .is-editing,
      input {
        width: 90%;
      }
    }

    .title,
    .info {
      @include text-align-bottom;
    }
  }
}
