@use "../../ilios-common/mixins" as m;

.learner-group-instructor-manager {
  @include m.detail-container(var(--orange));
  padding-top: 0;

  .detail-header {
    @include m.detail-container-header;
    align-items: baseline;
    border-top: 1px dotted var(--orange);
    padding-top: 0.5rem;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      flex-grow: 1;
      @include m.detail-container-actions;

      .user-search {
        flex-grow: 1;
        padding-left: 1rem;
        padding-right: 1rem;

        input {
          width: 100%;
        }
      }

      // copied from big-save-cancel-buttons.scss component style
      // this is one loose instance that could not be converted...yet
      &.bigsave {
        background-color: light-dark(var(--green), var(--green));
        color: light-dark(var(--white), var(--white));
        margin-right: 0.5em;

        &:hover {
          background-color: light-dark(var(--light-green), var(--light-green));
        }

        &:disabled {
          background-color: light-dark(var(--grey), var(--grey));
          cursor: default;

          &:hover {
            background-color: light-dark(var(--grey), var(--grey));
          }
        }
      }

      &.bigcancel {
        background-color: light-dark(var(--red), var(--red));
        color: light-dark(var(--white), var(--white));

        &:hover {
          background-color: light-dark(var(--light-red), var(--light-red));
        }

        &:disabled {
          background-color: light-dark(var(--grey), var(--grey));
          cursor: default;

          &:hover {
            background-color: light-dark(var(--grey), var(--grey));
          }
        }
      }
    }
  }

  .detail-content {
    h4 {
      @include m.ilios-heading-h5;
      padding-top: 1rem;
    }

    .removable-instructors {
      @include m.ilios-removable-list;
    }

    .removable-instructor-group {
      & > span {
        background-color: light-dark(
          var(--lightest-grey),
          var(--lightest-grey)
        );
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        padding: 0.2rem 0.4rem 0.2rem 0.6rem;
        vertical-align: middle;

        .fa-users {
          margin-right: 0.5rem;
        }
        .remove {
          margin-left: 0.5rem;
        }
      }
      margin: 1rem 0;
    }
  }
}
