@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.new-learner-group {
  border: 1px solid c.$culturedGrey;
  margin: .5rem;
  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }

  .multi-mode-chooser {
    align-items: baseline;
    display: flex;
    margin-left: .5rem;


    label {
      @include m.ilios-label;
      margin-right: .5rem;
    }
  }

  .form {
    @include m.ilios-form;

    .item {
      @include m.ilios-form-item;
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
