@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

@use "sass:color";

.learner-group-root {
  @include cm.main-section;

  .learner-group-overview {
    @include cm.ilios-overview(c.$orange);

    .block {
      @include cm.ilios-overview-block;

      &.associatedcourses {
        align-items: flex-start;
        margin-bottom: .5rem;
        margin-top: .3rem;

        label {
          white-space: nowrap;
        }
        ul {
          @include cm.ilios-tag-list;

          li {
            margin-top: 0;
          }
        }
      }

      > span {
        flex-grow: 1;
      }

      input {
        width: 100%;
      }
    }

    .learner-group-overview-actions {
      @include cm.detail-container-header;
      margin-top: .25rem;
      padding-top: .5rem;

      .title {
        @include cm.detail-container-title;
      }

      .actions {
        @include cm.for-phone-and-up {
          .toggle-buttons {
            display: inline;
          }
        }
      }
    }
  }

  .cohortmembers {
    .cohortmembers-loading {
      display: block;
      @include cm.font-size('xxl');
      margin: auto;
      text-align: center;
    }
  }

  .subgroups {
    @include m.main-list-box;

    .header {
      @include m.main-list-box-header;

      h3 {
        @include cm.ilios-heading-h3;
      }

      .title {
        @include m.main-list-box-header-title;
      }

      .actions {
        @include m.main-list-box-header-actions;
      }
    }

    .list {
      @include m.main-list-box-table;

      .confirm-copy,
      .confirm-copy:nth-child(even),
      .confirm-copy:nth-child(odd)
      {
        background-color: color.adjust(c.$blueMunsell, $lightness: 60%);
        border: 2px solid c.$blueMunsell;

        &.actions-row {
          border-top: 0;
        }

        &.content-row {
          border-bottom: 0;
        }
      }
    }
  }
}
