<label
  data-test-filter-checkbox
  data-test-target
  data-test-checked={{@checked}}
>
  <input
    type="checkbox"
    checked={{@checked}}
    {{on "click" (if @checked @remove @add)}}
  >
  {{yield}}
</label>
