.charts {
  &.tooltip {
    background: $background-grey;
    border: 1px solid $dark-grey;
    border-radius: 15px;
    box-shadow: 4px 4px 12px $dark-grey;
    color: $text-grey;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 15px;
    opacity: .9;
    padding: 10px;
    width: 40%;
  }
}
