.chart-container {
  padding: 15px 30px;

  svg {
    height: 420px;
    padding: 20px 40px 0;
    width: 400px;

    .line {
      fill: none;
      stroke: $switch-blue;
      stroke-width: 2px;
     }

    text {
      font-size: 10px;
    }
  }
}

.charts {
  &.tooltip {
    background: $background-grey;
    border: 1px solid $dark-grey;
    border-radius: 15px;
    box-shadow: 4px 4px 12px $dark-grey;
    color: $text-grey;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    max-height: 150px;
    opacity: .9;
    padding: 10px;
    position: absolute;
    width: 380px;
    }

  .tooltip-header {
    // border-bottom: 1px solid $dark-grey;
    font-size: $h6-font-size;
    line-height: $base-line-height;

    .tooltip-title {
      font-weight: bold;
    }

    .tooltip-attr {
      font-style: italic;
      left: 340px;
      position: absolute;
      top: 26px;
    }
  }

  .tooltip-content {
    font-size: .9 * $base-font-size;
    margin: 10px 0 0;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
}
