.click-choice-buttons {
  button {
    background-color: $light-grey;
    border: 1px outset $dark-grey;
    color: $text-grey;

    &.active {
      background-color: $ilios-blue;
      border: 1px inset $ilios-blue;
      color: $white;
    }
  }
}
