.course-objective-manager {
  .course-objective-title {
    margin-bottom: 1em;
  }

  label {
    font-size: .85em;

    .choose-cohort-title {
      font-weight: bold;
    }
  }

  .choose-display-mode {
    @include fill-parent;
    @include clearfix;
    margin: 1em 0;
    text-align: center;

    .click-choice-buttons {
      margin: auto;
      width: 340px;
    }

    .first-button {
      width: 200px;
    }
  }

  .parent-picker {
    .details {
      font-size: smaller;
    }
  }
}
