.curriculum-inventory-report-overview {
  @include ilios-overview($ilios-orange);
  @include fill-parent;
  border-bottom: 1px dotted $ilios-orange;
  display: block;

  .title {
    @include ilios-overview-title;
  }

  .block {
    @include ilios-overview-block;
  }

  .curriculum-inventory-report-overview-content {
    @include ilios-overview-content;
  }

  .description {
    @include span-columns(10);
    margin-bottom: 2em;
  }
}
