.curriculum-inventory-sequence-block-min-max-editor {
  @include ilios-form;
  @include fill-parent;
  @include clearfix;
  clear: both;
  display: block;
  margin-top: 2em;
  padding: 2em 0;


  .item {
    @include ilios-form-item;

    &.last {
      @include ilios-form-last-item;
    }
  }

  .buttons {
    @include ilios-form-buttons;
  }
}
