.curriculum-inventory-report-rollover {
  h3 {
    @include ilios-heading-h3;
    margin-bottom: 1em;
  }

  .rollover-form {
    @include ilios-form;
    @include fill-parent;
    border: 1px solid $ilios-blue;
    display: block;
    margin-top: 1em;
    padding: 1em;

    .item {
      @include ilios-form-item;
    }

    .buttons {
      @include ilios-form-buttons;
    }

    .description {
      @include fill-parent;
      margin-bottom: 4em;
    }

    .years {
      select {
        display: block;
      }
    }
  }

  .rollover-summary {
    font-weight: 400;
    margin: 0 1em 2em;

    @include media($large-screen) {
      padding: .5em 6em 0 4em;
    }
  }
}
