.curriculum-inventory-sequence-block-overview {
  @include ilios-overview($ilios-orange);
  @include fill-parent;
  border-bottom: 1px dotted $ilios-orange;
  display: block;

  .academic-level {
    padding-top: .5em;
  }

  .block {
    @include ilios-overview-block;
  }

  .course {
    @include span-columns(10);
    .details {
      display: block;
      font-size: smaller;
      padding-bottom: 2em;
    }
  }

  .curriculum-inventory-sequence-block-overview-content {
    @include ilios-overview-content;
  }

  .description {
    @include span-columns(10);
    margin-bottom: 2em;
  }

  .duration {
    @include span-columns(10);
  }

  .selective {
    font-style: italic;
    padding-top: .5em;
    @include span-columns(10);
  }

  .title {
    @include ilios-overview-title;
  }
}
