.detail-learnergroups {
  @include detail-container($text-blue);

  .title {
    @include detail-container-title;
  }

  .actions {
    @include detail-container-actions;
  }

  .detail-learnergroups-content {
    @include detail-container-content;
  }

  .selected-learner-groups {
    @include span-columns(12);

    ul {
      @include fill-parent;
      @include ilios-list-badges();

    }
  }

  .available-learner-groups {
    @include span-columns(12);
    margin-top: 1em;

    h3 {
      @include span-columns(6);
      margin: 0;
      padding: 0;
    }

    .search-box {
      @include span-columns(4);
      @include shift(2);
      @include omega();
    }

    .cohort-learner-groups {
      @include span-columns(12);

      border: 1px solid $ilios-blue;
      padding: 1em;

      @include media($large-screen) {
        @include span-columns(6);
        @include omega(2n);
      }

      .cohort-title {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    .tree-groups-list {
      @include ilios-list-tree();
    }

  }

  .learnergroups-list {
    fieldset {
      border: 1px solid $ilios-blue;
      border-radius: 10px;
      margin-top: 1em;

      legend {
        font-weight: bold;
      }
    }

    ul {
      @include ilios-list-badges();
    }
  }
}
