.detail-objectives {
  @include detail-container($ilios-orange);

  .title {
    @include detail-container-title;
  }

  .detail-objectives-actions {
    @include detail-container-actions;

    .expand-collapse-button {
      display: inline;
      margin-left: 1em;

      button {
        vertical-align: top;
      }
    }
  }

  .detail-objectives-content {
    @include detail-container-content;
  }

  .new-objective-title {
    font-weight: bold;
    margin-left: 3em;
    text-align: left;
  }
}
