.ilios-chart-tooltip {
  background: $background-grey;
  border: 1px solid $dark-grey;
  border-radius: 15px;
  box-shadow: 4px 4px 12px $dark-grey;
  color: $text-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  max-height: 150px;
  opacity: .9;
  overflow: auto;
  padding: 10px;
  position: absolute;
  width: 380px;

  .header {
    border-bottom: 1px solid $dark-grey;
    font-size: $h6-font-size;
    line-height: $base-line-height;

    .title {
      font-weight: 500;
    }

    .attr {
      font-style: italic;
      left: 340px;
      position: absolute;
      top: 26px;
    }
  }

  .content {
    font-size: .9 * $base-font-size;
    margin: 10px 0 0;
  }
}
