.learnergroup-bulk-assignment {
  border-bottom: 1px solid $ilios-orange;
  margin-bottom: 2em;
  padding: 1em;

  .learnergroup-upload-data {
    .loading-file {
      padding: 1em;
      text-align: center;
      width: 100%;

      i {
        @include ilios-heading-h1;
      }
    }
  }

  .group-matcher {
    border: 1px solid $dark-grey;

    th:nth-child(1),
    td:nth-child(1) {
      width: 60%;

      span {
        padding-right: 2em;
      }
    }

    .learnergroup-bulk-group-matcher {
      border: 1px solid $dark-grey;

      select {
        width: 100%;
      }

      &.matched {
        background-color: lighten($ilios-green, 15%);
      }

      &.not-matched {
        background-color: lighten($ilios-yellow, 15%);
      }
    }
  }
}
