.learnergroup-summary {
  .learnergroup-overview {
    @include ilios-overview($ilios-orange);
    @include fill-parent;
    border-bottom: 1px dotted $ilios-orange;
    display: block;

    .learnergroup-overview-actions {
      @include fill-parent;
      text-align: right;
    }

    .block {
      @include fill-parent;
      display: block;
      min-height: 2em;
    }

    .learnergroup-overview-content {
      @include ilios-overview-content;
    }
  }

  .cohortmembers {
    .cohortmembers-loading {
      display: block;
      font-size: $h1-font-size;
      margin: auto;
      text-align: center;
    }
  }
}
