.learnergroup-header {
  .header-bar {
    @include fill-parent;
    background-color: $header-grey;
    padding: .8em;

    @include media($large-screen) {
      @include span-columns(12);
    }

    .title {
      @include fill-parent;

      @include media($large-screen) {
        @include span-columns(8 of 12);
      }

      h2 {
        @include ilios-heading-h4;
      }
    }

    .info {
      @include fill-parent;
      text-align: right;

      @include media($large-screen) {
        @include span-columns(3 of 12);
        @include shift(1);
        @include omega;
      }
    }
  }
}
