.new-curriculum-inventory-sequence-block {
  @include ilios-form;
  @include fill-parent;
  @include clearfix;
  clear: both;
  display: block;
  margin-top: 2em;

  .item {
    @include ilios-form-item;

    &.last {
      @include ilios-form-last-item;
    }
  }

  .description {
    @include fill-parent;
    min-height: 10em;
  }

  .academic-level, .duration, .order-in-sequence {
    @include fill-parent;
    label {
      display: block;
    }
    input, select {
      width: 5em;
    }
  }

  .clear-dates {
    @include fill-parent;
  }

  .buttons {
    @include ilios-form-buttons;
  }
}
