.new-user {
  .new-user-form {
    @include ilios-form;
    @include fill-parent;
    display: block;

    .click-choice-buttons {
      @include fill-parent;
      @include clearfix;
      display: block;
      margin-bottom: .5em;
      min-height: 1em;
    }

    .item {
      @include ilios-form-item;

      &.last {
        @include ilios-form-last-item;
      }
    }

    .buttons {
      @include ilios-form-buttons;
    }
  }
}
