.program-overview {
  @include ilios-overview($header-grey);
  background: $background-grey;
  border: 1px dotted $header-grey;
  padding: 0 2em 1em;

  h2 {
    @include ilios-overview-title;
  }

  .program-overview-content {
    @include ilios-overview-content;
  }
}
