.school-vocabulary-term-manager {

  .form {
    @include ilios-form;
    @include fill-parent;
    display: block;

    .item {
      @include ilios-form-item;
      @include media($large-screen) {
        @include fill-parent;
      }

      label {
        @include fill-parent;
        display: block;
      }

      &.is-active {
        height: 5em;
      }

      &.term-description {
        height: 6em;
      }
    }
  }
}
