.school-session-type-form {
  .form {
    @include ilios-form;
    @include fill-parent;
    display: block;
    width: 80%;

    .item {
      @include ilios-form-item;
      @include media($large-screen) {
        @include fill-parent;
      }
      height: 4em;

      label {
        @include fill-parent;
        display: block;
      }
    }

    .calendar-color {
      input {
        width: 3em;
      }

      .box {
        border: 1px solid $black;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
      }

    }



    .buttons {
      @include ilios-form-buttons;
      padding-top: 2em;
    }
  }
}
