.user-profile {
  @include fill-parent;
  @include admin-blocks;

  padding: 1em;

  h1 {
    @include ilios-heading-h1;
    text-align: center;
  }

  .small-component,
  .large-component {
    font-size: $base-font-size;
  }

  .user-roles {
    text-align: center;

    .user-is-student {
      color: $ilios-green;
    }
  }

  label {
    @include ilios-label;
  }
}

.user-profile-bio {
  @include ilios-form;
}

.user-profile-roles {
  @include ilios-form;
  @include omega(2n);

  hr {
    border-top: .5px solid $text-grey;
  }
}

.user-profile-cohorts {
  p {
    margin-bottom: 2em;
  }

  h4 {
    @include ilios-heading;
    font-size: 1.1 * $base-font-size;
    font-weight: bold;
  }

  ul {
    @include fill-parent;
  }

  .select-available-cohort {
    h4 {
      float: left;
    }

    ul {
      clear: both;
      padding-top: .75em;
    }

    .schoolsfilter {
      float: left;
      margin-left: 3em;
    }
  }
}

.user-profile-learnergroups {
  p {
    margin-bottom: 2em;
  }

  h4 {
    @include ilios-heading;
    font-size: 1.1 * $base-font-size;
    font-weight: bold;
  }

  ul {
    @include fill-parent;
  }
}
