.user-profile {
  @include admin-blocks;

  h1 {
    @include ilios-heading-h1;
    text-align: center;
  }

  .user-roles {
    text-align: center;

    .user-is-student {
      color: $ilios-green;
    }
  }

  label {
    @include ilios-label;
  }
}

.user-profile-bio {
  @include ilios-form;
}
