.liquid-container {
  overflow: visible;
}

.visualizer-course-objectives {
  .zero-hours {
    p {
      margin-top: .5em;
    }

    h4 {
      @include ilios-heading-h4;
    }

    li {
      list-style-type: disc;
      margin-left: 1em;
      padding-bottom: .5em;

      p {
        margin: 0;
      }
    }
  }

  .with-hours {
    p {
      margin-top: .5em;
    }

    @include media($small-screen) {
      .meh-o {
        font-size: 15rem;
      }
    }

    @include media($medium-screen) {
      .meh-o {
        font-size: 25rem;
      }
    }

    @include media($large-screen) {
      .meh-o {
        font-size: 30rem;
      }
    }
  }

  &.not-icon {
    .simple-chart {
      @include fill-parent;
      @include media($large-screen) {
        @include span-columns(5);
      }
    }

    .zero-hours,
    .with-hours {
      @include fill-parent;
      @include media($large-screen) {
        @include span-columns(6);
      }
    }
  }
}
