@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

@use "sass:color";

.learner-group-bulk-assignment {
  border-bottom: 1px solid var(--orange);
  margin-bottom: 2rem;
  padding: 1rem;

  .learner-group-upload-data {
    .loading-file {
      padding: 1rem;
      text-align: center;
      width: 100%;

      i {
        color: var(--blue-munsell);
        @include m.font-size("xxl");
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }

    .issue {
      color: var(--davys-grey);
      margin-left: 1rem;
    }
  }

  .group-matcher {
    border: 1px solid var(--davys-grey);

    th:nth-child(1),
    td:nth-child(1) {
      width: 60%;

      span {
        padding-right: 2rem;
      }
    }

    .learner-group-bulk-group-matcher {
      border: 1px solid var(--davys-grey);

      select {
        width: 100%;
      }

      &.matched {
        background-color: hsl(from var(--fern-green) h s calc(l + 15));
      }

      &.not-matched {
        background-color: hsl(from var(--gold) h s calc(l + 15));
      }
    }
  }

  .bulk-finalize-users {
    h2 {
      @include m.ilios-heading-h4;
      margin-top: 1rem;
    }
  }

  table {
    @include m.ilios-table-structure;
    @include m.ilios-table-colors;
  }
}
