@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.learner-group-cohort-user-manager {
  @include m.detail-container(var(--blue));
  border-bottom: 0;
  border-top: 1px dotted var(--orange);
  padding: 0.5em 0;

  .learner-group-cohort-user-manager-header {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      input {
        @include m.ilios-input;
        width: 15rem;
      }
    }
  }

  .learner-group-cohort-user-manager-content {
    @include m.detail-container-content;
    padding: 0;

    .list {
      max-height: 360px;
      overflow: auto;
      @include m.main-list-box-table;

      .checks {
        width: 1.5rem;
      }
    }
  }

  .inline-button {
    @include m.ilios-button-reset;
    text-align: left;
    width: 100%;
  }
}
