@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.learner-group-course-associations {
  border-top: 1px dotted (var(--orange));
  @include m.detail-container-content;

  .header {
    @include m.detail-container-header;

    .title {
      @include m.collapsed-container-title;
    }
  }

  .content {
    @include m.main-list-box-table;

    &.hidden {
      display: none;
    }

    .sessions-list {
      @include m.ilios-list-reset;
    }

    table {
      margin-bottom: 0;

      tbody {
        td {
          vertical-align: top;
        }
      }
    }
  }
}
