@use "../../ilios-common/mixins" as m;

.learner-group-instructor-manager {
  @include m.detail-container(var(--orange));
  padding-top: 0;

  .detail-header {
    @include m.detail-container-header;
    align-items: baseline;
    border-top: 1px dotted var(--orange);
    padding-top: 0.5rem;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      flex-grow: 1;
      @include m.detail-container-actions;

      .user-search {
        flex-grow: 1;
        padding-left: 1rem;
        padding-right: 1rem;
        input {
          width: 100%;
        }
      }
    }
  }

  .detail-content {
    h4 {
      @include m.ilios-heading-h5;
      padding-top: 1rem;
    }

    .removable-instructors {
      @include m.ilios-removable-list;
    }

    .removable-instructor-group {
      & > span {
        background-color: var(--lightest-grey);
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        padding: 0.2rem 0.4rem 0.2rem 0.6rem;
        vertical-align: middle;

        .fa-users {
          margin-right: 0.5rem;
        }
        .remove {
          margin-left: 0.5rem;
        }
      }
      margin: 1rem 0;
    }
  }
}
