@use "../../ilios-common/mixins" as m;

.new-learner-group {
  background-color: light-dark(var(--white), var(--dark-grey));
  border: 1px solid light-dark(var(--lightest-grey), var(--grey));
  margin: 0.5rem 0;
  padding: 1rem;

  h3 {
    @include m.ilios-heading-h4;
    margin-bottom: 1rem;
  }

  .multi-mode-chooser {
    align-items: baseline;
    display: flex;

    label {
      @include m.ilios-label;
      margin-right: 0.5rem;
    }
  }

  .form {
    @include m.ilios-form;

    .item {
      @include m.ilios-form-item;
    }

    .buttons {
      @include m.ilios-form-buttons;
    }
  }
}
