@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

@use "sass:color";

.learner-group-root {
  @include m.main-section;

  .learner-group-overview {
    @include m.ilios-overview(var(--orange));

    .block {
      @include m.ilios-overview-block;
    }

    .learner-group-overview-actions {
      @include m.detail-container-header;
      margin-top: 0.25rem;
      padding-top: 0.5rem;

      .title {
        @include m.detail-container-title;
      }

      .actions {
        @include m.for-phone-and-up {
          .toggle-buttons {
            display: inline;
          }
        }

        input {
          margin-right: 1rem;
        }
      }
    }

    .learner-group-overview-content {
      border-bottom: 1px dotted var(--orange);
    }
  }

  .cohortmembers {
    .cohortmembers-loading {
      display: block;
      @include m.font-size("xxl");
      margin: auto;
      text-align: center;
    }
  }

  .subgroups {
    @include m.detail-container-content;

    .header {
      @include m.detail-container-header;

      .title {
        @include m.detail-container-title;
      }
    }

    .list {
      @include m.main-list-box-table;

      .confirm-copy,
      .confirm-copy:nth-child(even),
      .confirm-copy:nth-child(odd) {
        background-color: hsl(from var(--blue-munsell) h s calc(l + 60));
        border: 2px solid var(--blue-munsell);

        &.actions-row {
          border-top: 0;
        }

        &.content-row {
          border-bottom: 0;
        }
      }
    }
  }
}
