@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.learner-group-user-manager {
  @include m.detail-container(c.$tealBlue);
  border-bottom: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;

  .title {
    @include m.detail-container-title-style;
  }

  .actions {
    input {
      @include m.ilios-input;
      width: 15rem;
    }
  }

  .learner-group-user-manager-content {
    @include m.detail-container-content;
    grid-column: 1 / -1;

    .list {
      @include m.main-list-box-table;
      @include m.ilios-zebra-table;
      grid-column: 1 / -1;
      max-height: 540px;
      overflow: auto;

      th:nth-child(1) {
        width: 1.5rem;
      }
    }
  }

  .inline-button {
    @include m.ilios-button-reset;
    text-align: left;
    width: 100%;
  }
}
