@use "../../ilios-common/mixins" as m;

.learner-group-user-manager {
  @include m.detail-container(var(--blue));
  border-bottom: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0;

  .title {
    @include m.detail-container-title-style;
  }

  .actions {
    input {
      @include m.ilios-input;
      width: 15rem;
    }
  }

  .learner-group-user-manager-content {
    grid-column: 1 / -1;
    @include m.detail-container-content;
    padding: 0;

    .list {
      grid-column: 1 / -1;
      max-height: 540px;
      overflow: auto;
      @include m.main-list-box-table;

      th:nth-child(1) {
        width: 1.5rem;
      }
    }
  }

  .inline-button {
    @include m.ilios-button-reset;
    text-align: left;
    width: 100%;
  }
}
