@use "../../colors" as c;
@use "../../mixins" as m;

.week-glance-learning-materials {
  ul {
    @include m.ilios-list-reset;
    padding: 0 .25rem;
    margin: 0;

    li {
      margin: .2rem 0;
    }

    &.prework {
      ul {
        margin-left: 1.5rem;
      }
    }

    .fa-external-link-square {
      color: c.$orange;
      @include m.font-size('small');
    }

    .public-notes {
      padding-left: 2em;
    }

    .timed-release-info {
      @include m.font-size('small');
    }

    .week-glance-learning-material-list-item {
      display: flex;
    }
  }
}
