@use "detail-container";
@use "ilios-heading";
@use "media";

@mixin collapsed-container($border-color) {
  @include detail-container.detail-container($border-color);
  display: grid;

  @include media.for-tablet-and-up {
    row-gap: 0.5rem;
    grid-template-columns: 1fr 3fr;
  }
}

@mixin collapsed-container-title() {
  @include ilios-heading.ilios-heading-h5;
}

@mixin collapsed-container-content() {
  @include media.for-laptop-and-up {
    margin: 0;
    padding-top: 0;
  }
}

@mixin collapsed-container-table() {
  table,
  tr {
    margin: 0;
    padding: 0;
  }

  td,
  th {
    margin: 0;
    vertical-align: top;
  }

  thead,
  th {
    background-color: var(--lightest-grey);
    color: var(--black);
  }

  td:first-of-type {
    color: var(--dark-orange);
    font-weight: 600;
  }

  .maybe {
    color: var(--dark-yellow);
  }
}
