@use "ilios-table" as t;

@mixin graph-with-data-table() {
  display: inline-block;
  height: 1rem;
  width: 1rem;

  .data-table {
    grid-column: -1/1;
    padding-top: 2rem;

    .table-actions {
      text-align: right;
    }

    table {
      @include t.ilios-removable-table;

      thead {
        background-color: var(--lightest-grey);
      }

      td {
        vertical-align: top;
      }
    }
  }

  &.not-icon {
    display: grid;
    height: auto;
    width: auto;

    .simple-chart {
      height: 80vh;
    }

    .simple-chart-tooltip {
      .title {
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .no-data {
    text-align: center;
  }
}
