@use "font-size";
@use "media";

@use "sass:color";

@mixin ilios-table-structure() {
  border-collapse: collapse;
  margin: 0.7rem 0;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    border: 0;
  }

  tr,
  td,
  th {
    padding: 0.25rem 0.1rem;
    vertical-align: middle;
  }

  th,
  td {
    overflow-wrap: break-word;

    &.text-left,
    &.align-left {
      text-align: left;
    }

    &.text-center,
    &.align-center {
      text-align: center;
    }

    &.text-right,
    &.align-right {
      text-align: right;
    }

    &.text-top {
      vertical-align: top;
    }

    &.text-middle {
      vertical-align: middle;
    }

    &.text-bottom {
      vertical-align: bottom;
    }
  }

  &.condensed {
    @include font-size.font-size("small");

    tr,
    td,
    th {
      margin: 0;
      padding: 0 0.1rem;
    }
  }

  &.sticky-header {
    position: relative;

    th {
      position: sticky;
      top: 0;
    }
  }
}

@mixin ilios-table-colors($backgroundColor: var(--white)) {
  thead {
    background-color: $backgroundColor;
  }

  th {
    border-bottom: 1px solid var(--lighter-grey);
    background-color: $backgroundColor;
  }
}

@mixin ilios-removable-table() {
  tbody {
    .confirm-removal {
      background-color: var(--lightest-red);

      .confirm-message {
        background-color: var(--lightest-red);
        color: var(--red);
        font-weight: 600;
        padding-bottom: 0;
        padding-top: 0.75em;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
        width: 100%;

        @include media.for-tablet-and-up {
          padding-left: 8em;
          padding-right: 8em;
        }
      }

      .confirm-buttons {
        padding-bottom: 1.1em;
        padding-top: 1.1em;
      }

      .remove {
        background-color: var(--white);
        color: var(--red);

        &:hover {
          background-color: var(--light-red);
          color: var(--white);
        }
      }
    }
  }
}

@mixin ilios-zebra-table() {
  tbody tr:nth-child(even) {
    background-color: var(--super-light-grey);
  }
}
