@use "sass:color";
@use "../colors" as c;

@mixin ilios-link() {
  color: var(--blue);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  &:visited {
    color: var(--blue);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--blue-munsell);
    outline: thin dotted;
    text-decoration: underline;
  }

  &:hover {
    outline: none;
  }
}
