@mixin ilios-list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;

  ul,
  ol {
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
  }
}

@mixin ilios-static-list() {
  @include ilios-list-reset;
  background-color: light-dark(var(--white), var(--black));
  border: 1px solid light-dark(var(--lightest-grey), var(--grey));
  border-radius: 3px;
  padding: 1em;
  width: 80%;

  li {
    font-weight: 600;

    ul,
    ol {
      margin-left: 1em;

      li {
        font-weight: 400;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@mixin ilios-tag-list() {
  @include ilios-list-reset;

  display: flex;
  flex-wrap: wrap;

  li {
    background-color: light-dark(var(--lightest-grey), var(--grey));
    border-radius: 4px;
    margin-bottom: 0;
    margin-right: 0.3em;
    margin-top: 10px;
    padding: 0.2em 0.4em 0.2em 0.6em;
    vertical-align: middle;

    // don't double the padding if there is a button inside with its own padding
    &:has(button) {
      padding: 0;
    }

    button {
      background-color: light-dark(var(--lightest-grey), var(--grey));
      border-radius: 4px;
      // inheriting color avoids the blue link color on grey look
      color: inherit;
      margin: 0;
      padding: 0.2em 0.4em 0.2em 0.6em;

      &:hover {
        background-color: light-dark(
          var(--super-light-grey),
          var(--light-grey)
        );
      }
    }
  }
}

@mixin ilios-selectable-list {
  @include ilios-list-reset;

  ul {
    margin-left: 2em;
  }

  li {
    color: light-dark(var(--blue), var(--bright-blue));
    cursor: pointer;

    &.active,
    &:hover {
      background-color: light-dark(var(--lightest-grey), var(--grey));
    }

    &.static {
      color: light-dark(var(--black), var(--white));
      cursor: default;
    }

    &.disabled {
      color: light-dark(var(--grey), var(--lightest-grey));
      cursor: default;
    }
  }
}

@mixin ilios-removable-list {
  @include ilios-tag-list;

  li {
    cursor: pointer;
  }
}

@mixin ilios-list-tree() {
  @include ilios-list-reset;

  li {
    color: light-dark(var(--black), var(--white));
    margin-left: 20px;

    &.branch {
      font-weight: 600;

      li {
        font-weight: 400;
      }
    }

    &.leaf {
      font-weight: 600;

      li {
        font-style: normal;
      }
    }

    &.disabled {
      color: light-dark(var(--grey), var(--lightest-grey));
    }
  }
}
