@use "../colors" as c;
@use "font-size";
@use "ilios-heading";
@use "ilios-input";
@use "ilios-select";
@use "ilios-table";
@use "media";

@mixin main-list-filters() {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @include media.for-laptop-and-up {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include media.for-desktop-and-up {
    justify-content: flex-start;
  }
}

@mixin main-list-filter() {
  padding: 0 1rem 1rem 0;
  white-space: nowrap;

  @include media.for-laptop-and-up {
    align-content: center;
    padding-bottom: 0;
    width: 25%;
  }

  @include media.for-desktop-and-up {
    margin-right: 2rem;
    width: auto;
  }

  &:last-child {
    padding-right: 0;
  }

  select {
    @include ilios-select.ilios-select;
    width: 90%;
  }

  input {
    @include ilios-input.ilios-input;
    width: 100%;
  }
}

@mixin main-list-box() {
  display: block;
  width: 100%;
}

@mixin main-list-box-header() {
  border-bottom: 1px solid var(--lightest-grey);
  display: flex;
  flex-direction: column;
  padding: 0 0 0.5rem;
  text-align: center;

  @include media.for-laptop-and-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

@mixin main-list-box-header-title {
  @include ilios-heading.ilios-heading-h4;
  @include font-size.text-align-bottom;
  margin-bottom: 0.5rem;
  @include media.for-laptop-and-up {
    margin-bottom: 0;
  }
}

@mixin main-list-box-header-actions {
  @include media.for-laptop-and-up {
    text-align: right;
  }

  @include media.for-phone-only {
    & > * {
      margin-top: 0.25em;
    }
  }
}

@mixin main-list-saved-new() {
  border: 1px solid var(--green);
  margin: 1rem;
  padding: 1rem;
}

@mixin main-list-box-table() {
  clear: both;
  display: block;
  padding: 0;

  &.empty {
    padding: 0;
  }

  table {
    @include ilios-table.ilios-table-structure;
    @include ilios-table.ilios-table-colors;
    @include ilios-table.ilios-removable-table;
    @include ilios-table.ilios-zebra-table;

    thead {
      background-color: var(--lightest-grey);
    }
  }
}

@mixin main-list-loading-table() {
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  animation: shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;

  td {
    color: transparent;
    text-shadow: hsl(from var(--black) h s l / 0.3) 0px 0px 10px;
  }
}
