@use "../colors" as c;
@use "ilios-off-screen";
@use "font-size";

@mixin multi-button {
  display: flex;

  input {
    @include ilios-off-screen.ilios-off-screen;
  }

  label {
    background-color: var(--white);
    color: c.$tealBlue;
    border: 1px solid rgba(c.$black, 0.2);
    display: inline-block;
    @include font-size.font-size("small");
    font-weight: 600;
    min-width: 3em;
    padding: 0.25em 0.5em;
    text-align: center;
    text-shadow: none;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }

  input:checked + label {
    background-color: c.$tealBlue;
    color: var(--white);
  }
}
