@use "font-size";
@use "media";

@mixin multi-button {
  display: flex;

  input {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  label {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--very-transparent-black);
    display: inline-block;
    @include font-size.font-size("base");
    font-weight: 600;
    min-width: 3em;
    padding: 0.25em 0.5em;
    text-align: center;
    text-shadow: none;

    @include media.for-phone-only {
      /* stylelint-disable property-disallowed-list */
      font-size: 3vw;
    }

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }

  input:checked + label {
    background-color: var(--blue);
    color: var(--white);
  }
}
