@use "../colors" as c;
@use "font-size";
@use "ilios-button";
@use "ilios-form";
@use "ilios-heading";
@use "ilios-list";

@use "sass:color";

@mixin objectives() {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

    span {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .expand-collapse-button {
        margin: 0 0.5em;

        &:last-child {
          margin-right: 0;
        }
      }

      .course-visualize-objectives-graph {
        width: 2rem;
        height: 2rem;
      }
    }

    .title {
      @include ilios-heading.ilios-heading-h5;
    }
  }

  .new-objective {
    background-color: var(--white);
    border: 1px solid var(--cultured-grey);
    margin: 0.5rem 0;
    padding: 1rem;

    .title {
      @include ilios-heading.ilios-heading-h5;
      margin-bottom: 0.5em;
    }

    .new-objective-form {
      label {
        font-weight: bold;
        margin: 0.25em;
      }
      .buttons {
        @include ilios-form.ilios-form-buttons;
      }
    }
  }
}

@mixin objective-list() {
  .headers {
    font-weight: bold;
  }
  .grid-row {
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 3fr 1fr;
    grid-template-rows: auto;

    .grid-item {
      border-bottom: 1px solid var(--davys-grey);
      padding: 0.5em 0.25em;

      &:has(.faded) {
        max-height: 245px;
      }
    }

    &:last-of-type {
      .grid-item {
        border-bottom: 0;
      }
    }

    &.is-loading {
      @keyframes shimmer {
        0% {
          background-position: -1000px 0;
        }
        100% {
          background-position: 1000px 0;
        }
      }

      animation: shimmer 2s infinite;
      background: linear-gradient(
        to right,
        #eff1f3 4%,
        #e2e2e2 25%,
        #eff1f3 36%
      );
      background-size: 1000px 100%;

      .grid-item {
        color: transparent;
        text-shadow: hsl(from var(--black) h s l / 0.3) 0px 0px 10px;
      }
    }
  }
  .objective-row {
    transition: background-color 1s ease-out;

    &.highlight-ok {
      transition: none;
      background-color: hsl(from var(--fern-green) h s calc(l + 60));
    }

    &.is-managing {
      border: 2px solid var(--light-blue);
      .grid-item {
        background-color: var(--lightest-blue);
        border: 0;
      }
    }

    .description {
      p {
        @include font-size.font-size("base");
        margin: 0;
      }
      button {
        @include ilios-button.ilios-link-button;
        @include font-size.font-size("base");

        p {
          @include font-size.font-size("base");
        }
      }
    }

    .course-objective-list-item-parents,
    .session-objective-list-item-parents {
      p {
        @include font-size.font-size("base");
        margin: 0;
      }
    }

    &.confirm-removal {
      background-color: var(--lavender-blush);

      .grid-item {
        border: 0;
      }

      .confirm-message {
        color: var(--rosewood);
        grid-column: 1 / -1;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1em;
      }

      .remove {
        background-color: var(--white);
        color: var(--rosewood);

        &:hover {
          background-color: var(--crimson);
          color: white;
        }
      }
    }
  }
  .actions {
    text-align: right;
  }

  .taxonomy-manager {
    margin: 1em 2em;
    grid-column: 1 / -1;
  }
}

@mixin objective-list-item($space) {
  ul {
    @include ilios-list.ilios-list-reset;

    li {
      margin-bottom: $space;

      &:last-of-type {
        margin-bottom: 0;
      }

      button,
      .display-text {
        @include font-size.font-size("base");
      }
    }
  }

  .bigadd {
    background-color: var(--fern-green);
    color: var(--white);
  }

  .bigcancel {
    background-color: var(--crimson);
    color: var(--white);
    margin-left: 0.5em;
  }

  .detail-terms-list {
    // override the generic rule specified in this mixin above,
    li:last-of-type {
      margin-bottom: inherit;
    }
  }
}
