@use "../colors" as c;
@use "font-size";

@mixin sort-manager() {
  .actions {
    display: flex;
    justify-content: flex-end;

    .bigadd {
      background-color: var(--fern-green);
      color: var(--white);
      margin-left: 0.5rem;
    }

    .bigcancel {
      background-color: c.$crimson;
      color: var(--white);
      margin: 0 0.5em;
    }
  }

  .content {
    padding-top: 0.5rem;

    span {
      &.draggable-object-content {
        .fade-text-control {
          background-image: linear-gradient(
            to bottom,
            transparent,
            c.$culturedGrey
          );
        }
      }
    }
  }

  .sortable-items {
    list-style-type: none;
    .item {
      align-items: center;
      background-color: c.$culturedGrey;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      gap: 1em;
      margin: 10px 0.3rem 0 0;
      opacity: 1;
      padding: 1rem;
      vertical-align: middle;

      svg {
        min-width: 16px;
      }

      .fa {
        vertical-align: top;
      }
      .details {
        @include font-size.font-size("small");
      }

      .title {
        display: inline-block;
      }

      .fade-text {
        .display-text {
          p {
            margin: 0;
          }
        }
        button {
          &.expand-text-button {
            background: var(--teal-blue);
            border-radius: 3px;
            color: var(--white);
            padding: 0.3em 1em;
          }
        }
      }

      &.dragging-item {
        opacity: 0.3;
      }
      &.dragged-above {
        border-top: 0.7rem solid var(--orange);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0.3rem 1rem 1rem 1rem;
      }
      &.dragged-below {
        border-bottom: 0.7rem solid var(--orange);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 1rem 1rem 0.3rem 1rem;
      }
      &.dragged-below,
      &.dragged-above {
        &.dragging-item {
          border: none;
          padding: 1rem;
          opacity: 1;
        }
        * {
          pointer-events: none;
        }
      }
    }
  }
}
