@use "sass:color";

@use "../colors" as c;
@use "font-size";
@use "media";

@mixin user-search-results() {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 3px;
  box-shadow: 0 2px 2px var(--very-transparent-black);
  color: var(--black);
  max-height: 23rem;
  overflow-y: scroll;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 100;

  &.hidden {
    display: none;
  }

  li {
    border-bottom: 1px solid var(--lightest-grey);
    color: var(--light-blue);
    display: block;
    padding: 0.1rem;
    width: 100%;

    &.inactive {
      color: var(--light-grey);
      font-style: italic;
    }

    &.summary {
      color: var(--green);
    }

    a,
    &.clickable {
      &:hover {
        background-color: var(--lightest-blue);
      }
    }

    .name,
    .email {
      display: block;
      width: 100%;

      @include media.for-laptop-and-up {
        display: inline;
      }
    }

    .name i {
      @include font-size.font-size("small");
    }

    .email {
      color: var(--grey);
      font-style: italic;
    }
  }
}
