.course-manage-objective-parents {
  .objective-title {
    @include ilios-browser-defaults;
    background-color: $background-grey;
    margin-bottom: 1rem;
    padding: .5rem;
  }

  .parent-picker {
    @include ilios-list-reset;
    height: auto;
    line-height: 1.3rem;

    .competency-title {
      font-weight: bold;
      margin: .5rem 0 0 .5rem;
      padding: 0;

      &.selected {
        color: $ilios-green;
      }
    }

    li {
      margin: 0;
      padding: 0;

      ul {
        padding-left: .5rem;

        .selected {
          color: $ilios-green;
        }
      }
    }
  }

  .no-cohorts {
    color: $warning-color;
    font-weight: bold;
  }
}
