.course-manage-objective-parents {
  margin: 1em 2em;
  grid-column: 1 / -1;

  .parent-picker {
    @include ilios-list-reset;
    height: auto;

    .competency {
      border-left: 10px solid transparent;

      .competency-title {
        margin: .5rem 0 0 .5rem;
        padding: 0;
      }
      &.selected {
        border-left: 10px solid $orange;

        .competency-title {
          color: $russion-green;
          font-weight: bold;
        }
      }
    }

    li {
      margin: 0;
      padding: 0;

      ul {
        padding-left: .5rem;

        .selected {
          font-weight: bold;
        }
      }
    }
  }

  .no-cohorts {
    color: $gold;
    font-weight: bold;
  }
}
