.course-objectives {
  @include detail-container($ilios-orange);
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;

    span {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .expand-collapse-button {
        margin: 0 .5em;
      }

      .visualizer-course-objectives  {
        width: 2rem;
        height: 2rem;
      }
    }

    .title {
      @include ilios-heading-h5;
      button {
        @include ilios-button-reset;
      }

      &.collapsible {
        button::after {
          content: '\25BC';
        }
      }
    }
  }

  .new-objective {
    border: 1px solid $header-grey;
    margin: 1rem;
    padding: .5rem;

    .title {
      margin-bottom: .25em;
    }

    .new-objective-form {
      margin-left: .5em;

      label {
        font-weight: bold;
        margin: .25em;
      }
      .buttons {
        @include ilios-form-buttons;
      }
    }
  }
}
