.course-objective-list-item-descriptors {
  ul {
    @include ilios-list-reset;

    li {
      margin-bottom: .25em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .link-button {
    @include ilios-link-button;
    text-align: left;
  }
  .bigadd {
    background-color: $ilios-green;
    color: $white;
  }

  .bigcancel {
    background-color: $ilios-red;
    color: $white;
    margin-left: .5em;
  }
}
