.course-objective-list-item-parents {
  ul {
    @include ilios-list-reset;
  }

  .link-button {
    @include ilios-link-button;
  }

  .bigadd {
    background-color: $ilios-green;
    color: $white;
  }

  .bigcancel {
    background-color: $ilios-red;
    color: $white;
    margin-left: .5em;
  }
}
