@use "../../ilios-common/mixins" as m;

@use "sass:color";

.learner-groups-root {
  .filters {
    @include m.main-list-filters;

    .filter {
      @include m.main-list-filter;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .new .saved-result {
    @include m.main-list-saved-new;
  }

  .main-list {
    @include m.main-list-box;

    .header {
      @include m.main-list-box-header;

      h2 {
        @include m.ilios-heading;
      }

      .title {
        @include m.main-list-box-header-title;
      }

      .actions {
        @include m.main-list-box-header-actions;
      }
    }

    .list {
      @include m.main-list-box-table;

      .confirm-copy,
      .confirm-copy:nth-child(even),
      .confirm-copy:nth-child(odd) {
        background-color: var(--lightest-blue);
        border: 2px solid var(--light-blue);

        &.actions-row {
          border-top: 0;
        }

        &.content-row {
          border-bottom: 0;
        }
      }
    }
  }
}
