@use "../../ilios-common/mixins" as m;

.program-year-list {
  .program-years {
    @include m.main-list-box;

    .header {
      @include m.main-list-box-header;

      h2 {
        @include m.ilios-heading;
      }

      .title {
        @include m.main-list-box-header-title;
        /* stylelint-disable-next-line property-disallowed-list */
        line-height: unset;
      }

      .actions {
        @include m.main-list-box-header-actions;
      }
    }
  }

  .list {
    @include m.main-list-box-table;

    .default-message {
      display: inline-block;
      padding: 1em 0;
    }
  }

  .new .saved-result {
    @include m.main-list-saved-new;
  }
}
