@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.program-year-manage-objective-competency {
  margin: 1em 2em;
  grid-column: 1 / -1;

  .parent-picker {
    @include m.ilios-list-reset;
    height: auto;

    .domain {
      border-left: 10px solid var(--white);

      .domain-title {
        margin: 0.5rem 0 0 0.5rem;
        padding: 0;
      }
      &.selected {
        border-left: 10px solid var(--orange);

        .domain-title {
          color: var(--green);
          font-weight: 600;
        }
      }
    }

    li {
      margin: 0;
      padding: 0;

      ul {
        padding-left: 0.5rem;

        .selected {
          font-weight: 600;
        }
      }
    }
  }

  .no-cohorts {
    color: var(--dark-yellow);
    font-weight: 600;
  }
}
