@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.new-program-year {
  background-color: var(--white);
  border: 1px solid var(--lightest-grey);
  margin: 0.5rem 0;
  padding: 1rem;

  h3 {
    @include m.ilios-heading-h4;
    margin-bottom: 1rem;
  }

  & > div {
    @include m.ilios-form;
  }

  .item {
    @include m.ilios-form-item;
  }

  .buttons {
    @include m.ilios-form-buttons;
  }
}
