@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.program-year-objective-list {
  @include m.objective-list;

  .headers {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .grid-row {
    grid-template-columns: 1fr 10fr 6fr 6fr 6fr 1fr;

    .expand-row {
      @include m.ilios-button-reset;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid var(--grey);
      padding: 0.5em 0.25em;
    }
  }

  .objective-row {
    &.is-inactive {
      .grid-item {
        background-color: var(--lightest-red);
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      button {
        @include m.ilios-button-reset;
        height: 1rem;
        width: 1rem;

        &.active {
          color: var(--light-blue);
        }
      }

      & > * {
        margin-left: 0.5em;
      }
    }
  }
}
