@use "../../ilios-common/mixins" as m;

.program-year-objective-list-item-expanded {
  margin: 1em 2em;
  grid-column: 1 / -1;

  table {
    @include m.ilios-table-structure;

    thead {
      background-color: var(--lightest-grey);
    }

    tbody tr {
      &:nth-of-type(even) {
        background-color: var(--lightest-grey);
      }

      ul {
        @include m.ilios-list-reset;

        p {
          margin: 0;
        }

        li {
          border-top: 1px solid var(--grey);
          padding-top: 1rem;
        }

        li:nth-of-type(1) {
          border: 0;
          padding: 0;
        }
      }
    }
  }
}
