<div class="admin-container">
  {{global-search}}

  <section class='admin-dashboard fullwidth'>
    <div class='admin-dashboard-toolbar'>
      <div class='admin-dashboard-manage-users'>
        {{#link-to 'users'}}
          <button class="manage-users">{{t 'user.manageUsers'}}</button>
        {{/link-to}}
      </div>
    </div>
  </section>
</div>
