{{global-search}}
<section class='admin-dashboard fullwidth'>
  <div class='admin-dashboard-toolbar'>
    <div class='admin-dashboard-manage-users'>
      {{#link-to 'users'}}
        <button>{{t 'user.manageUsers'}}</button>
      {{/link-to}}
    </div>
  </div>
</section>
