{{#if showHeader}}
  {{ilios-header userName=currentUser.model.fullName title=pageTitle}}
{{/if}}
{{#if showNavigation}}
  {{ilios-navigation}}
{{/if}}
<div id='site-container'>
  {{liquid-outlet}}
</div>

{{outlet 'fullscreen'}}
