<section id='course-details' class='full-width'>
  {{ilios-course-details
    course=model
    availableTopics=availableTopics
    programs=programs
    collapsed=collapsed
    collapsedState='collapsedState'
  }}
</section>
