{{#link-to 'course' course}}{{t 'general.backToTitle' titleBinding=course.title}}{{/link-to}}
<div class='detail-view'>
  {{course-header course=course}}
  {{course-overview course=course}}
  {{objective-manager
    objective=objective
    objectiveGroups=objectiveGroups
    addParent='addParent'
    removeParent='removeParent'
  }}
</div>
