{{#link-to 'course' course}}{{t 'general.backToTitle' titleBinding=course.title}}{{/link-to}}
<div class='detail-view'>
  {{course-header course=course editable=false}}
  {{course-overview course=course editable=false}}
  {{objective-manager
    objective=objective
    objectiveGroups=objectiveGroups
    addParent='addParent'
    removeParent='removeParent'
    objectiveTitle=objectiveTitle
    parentTitle=objectiveParentTitle
    groupTitle=groupTitle
    missingGroupMessage=missingCohortMessage
  }}
</div>
