{{#if showBackToCourseListLink}}
  <div class="backtolink">{{#link-to 'courses'}}{{t 'courses.backToCourses'}}{{/link-to}}</div>
{{/if}}
<section id='course-details' class='full-width course-details'>
  {{ilios-course-details
    course=model
    availableTopics=availableTopics
    programs=programs
    collapsed=collapsed
    collapsedState='collapsedState'
  }}
  {{liquid-outlet}}
</section>
