<div class="backtolink">
  {{#link-to "curriculumInventoryReports"}}{{t "general.backToReports"}}{{/link-to}}
</div>

{{curriculum-inventory-report-details
  report=model
  canUpdate=canUpdate
  leadershipDetails=leadershipDetails
  setLeadershipDetails=(action (mut leadershipDetails))
  manageLeadership=manageLeadership
  setManageLeadership=(action (mut manageLeadership))
}}
{{focusing-outlet}}
