<div class="backtolink">
  {{#link-to 'curriculumInventoryReports'}}{{t 'curriculumInventory.backToReports'}}{{/link-to}}
</div>
<section class='full-width curriculum-inventory-report'>
  {{curriculum-inventory-report-details report=model}}
  <div class='list'>
    {{#if (is-fulfilled model.topLevelSequenceBlocks)}}
      {{curriculum-inventory-sequence-block-list
        report=model
        remove='removeSequenceBlock'
        sequenceBlocks=(await model.topLevelSequenceBlocks)
      }}
    {{/if}}
  </div>
</section>
