<section class='halfwidth'>
<h3>{{t "programs.programYear.competencies.selected"}}</h3>
<ul>
  {{#each}}
    {{render 'competency/selected' this}}
  {{/each}}
</ul>
</section>
<section class='halfwidth'>
<h3>{{t "programs.programYear.competencies.available"}}</h3>
<ul>
  {{#each}}
    {{render 'competency/all' this}}
  {{/each}}
</ul>
</section>
