<section class='halfwidth'>
  <ul>
    {{#each}}
      <li>
        {{#link-to 'programyearobjectives.objective' this}}
          {{title}}
        {{/link-to}}
        ({{this.competency.title}})
      </li>
    {{/each}}
  </ul>
  <hr />
  {{#link-to 'programyearobjectives.new'}}New Objective{{/link-to}}
</section>
<section class='halfwidth'>
  {{outlet}}
</section>
