<section class='halfwidth'>
<h3>Selected Competencies</h3>
<ul>
  {{#each}}
    {{render 'competency/selected' this}}
  {{/each}}
</ul>
</section>
<section class='halfwidth'>
<h3>Available Competencies</h3>
<ul>
  {{#each}}
    {{render 'competency/all' this}}
  {{/each}}
</ul>
</section>
