<div class="backtolink">
  {{#if (is-fulfilled model.program)}}
    {{#link-to 'program' (await model.program)}}
      {{t 'general.backToProgramYears'}}
    {{/link-to}}
  {{/if}}
</div>
<div class='detail-view programyear-detail-view'>
  <div class='detail-view-main-title'>
    {{programyear-header programYear=model}}
  </div>
  <div class='detail-view-details'>
    {{programyear-overview programYear=model}}
    {{outlet}}
  </div>
</div>
