<section class='fullwidth'>
  <table class="grid-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Competency</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
        {{render 'objective' this}}
      {{/each}}
    </tbody>
  </table>
  <button {{action 'createNew'}}>New Objective</button>
</section>
