<div class="dashboard-blocks">
  <DashboardMyreports
      data-test-myreports
      @selectedReport={{this.selectedReport}}
      @selectedYear={{this.reportYear}}
      @onReportSelect={{set this.report}}
      @onReportYearSelect={{set this.reportYear}}
  />
</div>
