{{title (t "general.curriculumInventoryReports")}}
<div class="backtolink">
  {{#link-to "curriculumInventoryReport" model}}{{t "general.backToReport"}}{{/link-to}}
</div>
{{curriculum-inventory-verification-preview-header report=model}}
{{curriculum-inventory-verification-preview report=model}}