@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.program-year-competencies {
  @include m.detail-container(c.$orange);

  .header {
    @include m.detail-container-header;

    .title {
      @include m.detail-container-title;
    }

    .actions {
      @include m.detail-container-actions;
    }
  }

  .content {
    @include m.detail-container-content;
  }

  .competency-list,
  .managed-competency-list {
    @include m.ilios-list-tree;
    border: 1px solid c.$culturedGrey;
    border-radius: 3px;
    margin: 2rem;

    li {

      .active {
        font-weight: bold;
      }

      li {
        font-weight: bold;
      }
    }

    ul {
      margin-left: 1rem;
    }
  }
}
