@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.program-year-manage-objective-competency {
  margin: 1em 2em;
  grid-column: 1 / -1;

  .parent-picker {
    @include m.ilios-list-reset;
    height: auto;

    .domain {
      border-left: 10px solid c.$slightWhite;

      .domain-title {
        margin: .5rem 0 0 .5rem;
        padding: 0;
      }
      &.selected {
        border-left: 10px solid c.$orange;

        .domain-title {
          color: c.$fernGreen;
          font-weight: bold;
        }
      }
    }

    li {
      margin: 0;
      padding: 0;

      ul {
        padding-left: .5rem;

        .selected {
          font-weight: bold;
        }
      }
    }
  }

  .no-cohorts {
    color: c.$gold;
    font-weight: bold;
  }
}
