@use "../../ilios-common/mixins" as m;

.new-program-year {
  background-color: light-dark(var(--white), var(--dark-grey));
  border: 1px solid light-dark(var(--lightest-grey), var(--grey));
  margin: 0.5rem 0;
  padding: 1rem;

  h3 {
    @include m.ilios-heading-h4;
    margin-bottom: 1rem;
  }

  & > div {
    @include m.ilios-form;
  }

  .item {
    @include m.ilios-form-item;
  }

  .buttons {
    @include m.ilios-form-buttons;

    button:disabled {
      background-color: light-dark(var(--grey), var(--grey));
      border-color: light-dark(var(--grey), var(--grey));
      color: light-dark(var(--white), var(--white));
      cursor: default;
    }
  }
}
