@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.program-year-objective-list-item-expanded {
  @include m.ilios-table-structure;
  margin: 1em 0;
  grid-column: 1 / -1;

  thead {
    background-color: c.$culturedGrey;
  }

  tbody tr {
    &:nth-of-type(even) {
      background-color: c.$culturedGrey;
    }
    ul {
      @include m.ilios-list-reset;

      p {
        margin: 0;
      }

      li {
        border-top: 1px solid c.$davysGrey;
        padding-top: 1rem;
      }

      li:nth-of-type(1) {
        border: 0;
        padding: 0
      }
    }
  }
}
