.program-year-objective-list {
  @include objective-list;
  .grid-row {
    grid-template-columns: 1fr 10fr 6fr 6fr 1fr;

    .expand-row {
      @include ilios-button-reset;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid $dark-grey;
      padding: .5em .25em;
    }
  }
}
