.program-year-objective-list {
  @include objective-list;
  .grid-row {
    grid-template-columns: 1fr 10fr 6fr 6fr 6fr 1fr;

    .expand-row {
      @include ilios-button-reset;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid $davysGrey;
      padding: .5em .25em;
    }
  }

  .objective-row {

    &.is-inactive {
      .grid-item {
        background-color: $culturedGrey;
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      button {
        @include ilios-button-reset;
        height: 1rem;
        width: 1rem;

        &.active {
          color: $blueMunsell;
        }
      }

      & > *{
        margin-left: .5em;
      }
    }
  }
}
