@use "../../ilios-common/colors" as c;
@use "../../ilios-common/mixins" as m;

.program-year-objective-list {
  @include m.objective-list;
  .grid-row {
    grid-template-columns: 1fr 10fr 6fr 6fr 6fr 1fr;

    .expand-row {
      @include m.ilios-button-reset;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid c.$davysGrey;
      padding: .5em .25em;
    }
  }

  .objective-row {

    &.is-inactive {
      .grid-item {
        background-color: c.$culturedGrey;
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      button {
        @include m.ilios-button-reset;
        height: 1rem;
        width: 1rem;

        &.active {
          color: c.$blueMunsell;
        }
      }

      & > *{
        margin-left: .5em;
      }
    }
  }
}
