@use "../../ilios-common/mixins" as cm;
@use "../../mixins" as m;

.assign-students-manager {
  @include m.main-list-box;

  .header {
    @include m.main-list-box-header;

    h2 {
      @include cm.ilios-heading;
    }

    .title {
      @include m.main-list-box-header-title;
    }
  }

  .form {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    @include cm.for-laptop-and-up {
      flex-direction: row;
    }

    label {
      @include cm.ilios-label;
      margin-right: 0.5rem;
    }

    .done {
      margin-left: 0.3rem;
    }

    .no-cohorts {
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  .list {
    @include m.main-list-box-table;
  }
}
