<section id='select-school' class='full-wdith'>
  <ul>
    {{#each school in content}}
      <li>{{#link-to 'programsschool' school}}{{school.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
</section>
