{{#link-to 'programs.new'}}Add New Program{{/link-to}}
<table class="grid-table">
  <thead>
    <tr>
      <th>Program Title</th>
      <th>Short Title</th>
      <th>Duration</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'program' this.id}}{{title}}{{/link-to}}</td>
        <td>{{shortTitle}}</td>
        <td>{{duration}} years</td>
        <td>{{nicePublished}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
